Repository elastic/detection-rules, pull requests merged in 2020-10, with the labels that each got.

#351 [Rule Tuning] Add extended lookback for all endpoint rules to account for ingest delays
  rules/cross-platform/impact_hosts_file_modified.toml
  rules/linux/linux_mknod_activity.toml
  rules/macos/credential_access_kerberosdump_kcc.toml
  rules/macos/exfiltration_compress_credentials_keychains.toml
  rules/macos/lateral_movement_remote_ssh_login_enabled.toml
  rules/windows/command_and_control_teamviewer_remote_file_copy.toml
  rules/windows/credential_access_domain_backup_dpapi_private_keys.toml
  rules/windows/credential_access_iis_apppoolsa_pwd_appcmd.toml
  rules/windows/credential_access_iis_connectionstrings_dumping.toml
  rules/windows/credential_access_mimikatz_memssp_default_logs.toml
  rules/windows/defense_evasion_code_injection_conhost.toml
  rules/windows/defense_evasion_execution_suspicious_psexesvc.toml
  rules/windows/defense_evasion_iis_httplogging_disabled.toml
  rules/windows/defense_evasion_masquerading_as_elastic_endpoint_process.toml
  rules/windows/defense_evasion_masquerading_renamed_autoit.toml
  rules/windows/defense_evasion_masquerading_suspicious_werfault_childproc.toml
  rules/windows/defense_evasion_masquerading_werfault.toml
  rules/windows/defense_evasion_suspicious_managedcode_host_process.toml
  rules/windows/defense_evasion_suspicious_zoom_child_process.toml
  rules/windows/defense_evasion_system_critical_proc_abnormal_file_activity.toml
  rules/windows/defense_evasion_unusual_system_vp_child_program.toml
  rules/windows/execution_command_shell_started_by_unusual_process.toml
  rules/windows/execution_suspicious_dotnet_compiler_parent_process.toml
  rules/windows/execution_via_hidden_shell_conhost.toml
  rules/windows/execution_via_xp_cmdshell_mssql_stored_procedure.toml
  rules/windows/lateral_movement_gpo_schtask_service_creation.toml
  rules/windows/persistence_via_telemetrycontroller_scheduledtask_hijack.toml
  rules/windows/persistence_via_update_orchestrator_service_hijack.toml
  rules/windows/privilege_escalation_printspooler_service_suspicious_file.toml
  rules/windows/privilege_escalation_printspooler_suspicious_spl_file.toml
  rules/windows/privilege_escalation_uac_bypass_diskcleanup_hijack.toml
Labels: Rule: Tuning, v7.10.0

#304 [New Rule] Initial converted EQL rules
  detection_rules/ecs.py
  detection_rules/rule.py
  detection_rules/rule_formatter.py
  detection_rules/schemas/base.py
  rules/windows/c2_installutil_beacon.toml
  rules/windows/c2_msbuild_beacon_sequence.toml
  rules/windows/c2_mshta_beacon.toml
  rules/windows/c2_msxsl_beacon.toml
  rules/windows/c2_network_connection_from_windows_binary.toml
  rules/windows/c2_reg_beacon.toml
  rules/windows/c2_rundll32_sequence.toml
  rules/windows/escalation_uac_sdclt.toml
  rules/windows/evasion_rundll32_no_arguments.toml
  rules/windows/evasion_suspicious_scrobj_load.toml
  rules/windows/evasion_suspicious_wmi_script.toml
  rules/windows/execution_downloaded_shortcut_files.toml
  rules/windows/execution_downloaded_url_file.toml
  rules/windows/execution_ms_office_written_file.toml
  rules/windows/execution_pdf_written_file.toml
  rules/windows/execution_wpad_exploitation.toml
  rules/windows/lateral_movement_cmd_service.toml
  rules/windows/persistence_app_compat_shim.toml
  tests/test_toml_formatter.py
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.10.0

#292 [New Rule] Zoom Meeting with no Passcode
  rules/cross-platform/initial_access_zoom_meeting_with_no_passcode.toml
Labels: Domain: Cloud, Rule: New, v7.10.0

#355 [Rule Tuning][SECURITY_SOLUTION] rename Endpoint security
  rules/promotions/elastic_endpoint.toml
  rules/promotions/endpoint_adversary_behavior_detected.toml
  rules/promotions/endpoint_cred_dumping_detected.toml
  rules/promotions/endpoint_cred_dumping_prevented.toml
  rules/promotions/endpoint_cred_manipulation_detected.toml
  rules/promotions/endpoint_cred_manipulation_prevented.toml
  rules/promotions/endpoint_exploit_detected.toml
  rules/promotions/endpoint_exploit_prevented.toml
  rules/promotions/endpoint_malware_detected.toml
  rules/promotions/endpoint_malware_prevented.toml
  rules/promotions/endpoint_permission_theft_detected.toml
  rules/promotions/endpoint_permission_theft_prevented.toml
  rules/promotions/endpoint_process_injection_detected.toml
  rules/promotions/endpoint_process_injection_prevented.toml
  rules/promotions/endpoint_ransomware_detected.toml
  rules/promotions/endpoint_ransomware_prevented.toml
  rules/windows/defense_evasion_masquerading_as_elastic_endpoint_process.toml
Labels: Rule: Tuning, v7.10.0

#356 Re-organize commands under more specific click groups
  .github/workflows/pythonpackage.yml
  CLI.md
  Makefile
  README.md
  detection_rules/__init__.py
  detection_rules/devtools.py
  detection_rules/eswrap.py
  detection_rules/kbwrap.py
  detection_rules/main.py
  detection_rules/misc.py
  detection_rules/rule_loader.py
  detection_rules/utils.py
  kibana/connector.py
Labels: cli, enhancement, python

#359 Add unit tests for rule tags
  rules/macos/credential_access_kerberosdump_kcc.toml
  rules/macos/exfiltration_compress_credentials_keychains.toml
  rules/macos/lateral_movement_remote_ssh_login_enabled.toml
  rules/network/discovery_post_exploitation_public_ip_reconnaissance.toml
  rules/promotions/external_alerts.toml
  tests/test_all_rules.py
Labels: python, test-suite

#251 kibana-upload --space option
  detection_rules/kbwrap.py
  kibana/connector.py
Labels: cli, community

#398 Add test for tactic in rule filename
  rules/aws/credential_access_root_console_failure_brute_force.toml
  rules/azure/persistence_azure_conditional_access_policy_modified.toml
  rules/azure/persistence_azure_privileged_identity_management_role_modified.toml
  rules/azure/persistence_mfa_disabled_for_azure_user.toml
  rules/macos/credential_access_compress_credentials_keychains.toml
  rules/okta/defense_evasion_suspicious_okta_user_password_reset_or_unlock_attempts.toml
  rules/windows/defense_evasion_dotnet_compiler_parent_process.toml
  rules/windows/defense_evasion_installutil_beacon.toml
  rules/windows/defense_evasion_msbuild_beacon_sequence.toml
  rules/windows/defense_evasion_mshta_beacon.toml
  rules/windows/defense_evasion_msxsl_beacon.toml
  rules/windows/defense_evasion_network_connection_from_windows_binary.toml
  rules/windows/defense_evasion_reg_beacon.toml
  rules/windows/defense_evasion_rundll32_no_arguments.toml
  rules/windows/defense_evasion_rundll32_sequence.toml
  rules/windows/defense_evasion_suspicious_scrobj_load.toml
  rules/windows/defense_evasion_suspicious_wmi_script.toml
  rules/windows/execution_suspicious_psexesvc.toml
  rules/windows/persistence_gpo_schtask_service_creation.toml
  rules/windows/privilege_escalation_uac_sdclt.toml
  tests/test_all_rules.py
Labels: python, test-suite

#364 [Rule Tuning] Update winlogbeat rules using process.pe.original_file_name or process.code_signature.*
  rules/windows/command_and_control_remote_file_copy_desktopimgdownldr.toml
  rules/windows/command_and_control_remote_file_copy_mpcmdrun.toml
  rules/windows/credential_access_iis_apppoolsa_pwd_appcmd.toml
  rules/windows/credential_access_iis_connectionstrings_dumping.toml
  rules/windows/defense_evasion_execution_suspicious_explorer_winword.toml
  rules/windows/defense_evasion_iis_httplogging_disabled.toml
  rules/windows/defense_evasion_masquerading_renamed_autoit.toml
  rules/windows/defense_evasion_rundll32_no_arguments.toml
  rules/windows/defense_evasion_rundll32_sequence.toml
  rules/windows/defense_evasion_suspicious_scrobj_load.toml
  rules/windows/defense_evasion_suspicious_wmi_script.toml
  rules/windows/execution_suspicious_psexesvc.toml
  rules/windows/lateral_movement_cmd_service.toml
  rules/windows/privilege_escalation_uac_sdclt.toml
Labels: Domain: Endpoint, Rule: Tuning, v7.10.0

#399 [Rule Tuning] Update EQL rules for 7.10
  detection_rules/rule.py
  requirements.txt
  rules/windows/defense_evasion_installutil_beacon.toml
  rules/windows/defense_evasion_msbuild_beacon_sequence.toml
  rules/windows/defense_evasion_mshta_beacon.toml
  rules/windows/defense_evasion_msxsl_beacon.toml
  rules/windows/defense_evasion_network_connection_from_windows_binary.toml
  rules/windows/defense_evasion_reg_beacon.toml
  rules/windows/defense_evasion_rundll32_no_arguments.toml
  rules/windows/defense_evasion_rundll32_sequence.toml
  rules/windows/defense_evasion_suspicious_scrobj_load.toml
  rules/windows/defense_evasion_suspicious_wmi_script.toml
  rules/windows/execution_ms_office_written_file.toml
  rules/windows/execution_pdf_written_file.toml
  rules/windows/execution_wpad_exploitation.toml
  rules/windows/lateral_movement_cmd_service.toml
  rules/windows/persistence_app_compat_shim.toml
  rules/windows/privilege_escalation_uac_sdclt.toml
Labels: OS: Windows, Rule: Tuning, v7.10.0

#400 [Rule Tuning] Minor Rule Tweaks for 7.10
  detection_rules/packaging.py
  rules/ml/ml_linux_anomalous_metadata_process.toml
  rules/network/command_and_control_ftp_file_transfer_protocol_activity_to_the_internet.toml
  rules/network/command_and_control_irc_internet_relay_chat_protocol_activity_to_the_internet.toml
  rules/network/command_and_control_nat_traversal_port_activity.toml
  rules/network/command_and_control_port_26_activity.toml
  rules/network/command_and_control_port_8000_activity_to_the_internet.toml
  rules/network/command_and_control_pptp_point_to_point_tunneling_protocol_activity.toml
  rules/network/command_and_control_proxy_port_activity_to_the_internet.toml
  rules/network/command_and_control_rdp_remote_desktop_protocol_from_the_internet.toml
  rules/network/command_and_control_smtp_to_the_internet.toml
  rules/network/command_and_control_sql_server_port_activity_to_the_internet.toml
  rules/network/command_and_control_ssh_secure_shell_from_the_internet.toml
  rules/network/command_and_control_ssh_secure_shell_to_the_internet.toml
  rules/network/command_and_control_telnet_port_activity.toml
  rules/network/command_and_control_tor_activity_to_the_internet.toml
  rules/network/command_and_control_vnc_virtual_network_computing_from_the_internet.toml
  rules/network/command_and_control_vnc_virtual_network_computing_to_the_internet.toml
  rules/network/initial_access_rdp_remote_desktop_protocol_to_the_internet.toml
  rules/network/initial_access_rpc_remote_procedure_call_from_the_internet.toml
  rules/network/initial_access_rpc_remote_procedure_call_to_the_internet.toml
  rules/network/initial_access_smb_windows_file_sharing_activity_to_the_internet.toml
  rules/windows/defense_evasion_execution_via_trusted_developer_utilities.toml
  rules/windows/defense_evasion_via_filter_manager.toml
  rules/windows/discovery_process_discovery_via_tasklist_command.toml
  rules/windows/discovery_whoami_command_activity.toml
  rules/windows/execution_unusual_dns_service_children.toml
  rules/windows/execution_unusual_dns_service_file_writes.toml
  rules/windows/execution_via_compiled_html_file.toml
  rules/windows/persistence_priv_escalation_via_accessibility_features.toml
  rules/windows/persistence_via_application_shimming.toml
  tests/test_all_rules.py
Labels: Rule: Tuning, v7.10.0

#404 [Bug] Fix Kibana connector to work with 7.10
  kibana/connector.py
Labels: bug, cli, python

#425 Fix kibana upload command
  detection_rules/kbwrap.py
Labels: bug

#426 Remove connection type from endpoint network rules
  rules/linux/lateral_movement_telnet_network_activity_external.toml
  rules/linux/lateral_movement_telnet_network_activity_internal.toml
  rules/linux/linux_netcat_network_connection.toml
  rules/windows/command_and_control_certutil_network_connection.toml
  rules/windows/defense_evasion_installutil_beacon.toml
  rules/windows/defense_evasion_misc_lolbin_connecting_to_the_internet.toml
  rules/windows/defense_evasion_msxsl_beacon.toml
  rules/windows/defense_evasion_network_connection_from_windows_binary.toml
  rules/windows/defense_evasion_reg_beacon.toml
  rules/windows/defense_evasion_rundll32_no_arguments.toml
  rules/windows/defense_evasion_rundll32_sequence.toml
  rules/windows/execution_command_prompt_connecting_to_the_internet.toml
  rules/windows/execution_html_help_executable_program_connecting_to_the_internet.toml
  rules/windows/execution_msbuild_making_network_connections.toml
  rules/windows/execution_mshta_making_network_connections.toml
  rules/windows/execution_msxsl_network.toml
  rules/windows/execution_psexec_lateral_movement_command.toml
  rules/windows/execution_register_server_program_connecting_to_the_internet.toml
  rules/windows/execution_unusual_network_connection_via_rundll32.toml
  rules/windows/execution_unusual_process_network_connection.toml
  rules/windows/execution_wpad_exploitation.toml
  rules/windows/lateral_movement_cmd_service.toml
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
Labels: Domain: Endpoint, Domain: Network, Rule: Tuning, v7.10.0

#427 [Rule Tuning] Zoom Meeting with no Passcode to production
  etc/non-ecs-schema.json
  rules/cross-platform/initial_access_zoom_meeting_with_no_passcode.toml
Labels: Domain: Cloud, Rule: Tuning, v7.10.0

#431 [Rule Tuning] Use cidrMatch for eql rules checking multiple IPs
  detection_rules/rule.py
  rules/linux/lateral_movement_telnet_network_activity_external.toml
  rules/linux/lateral_movement_telnet_network_activity_internal.toml
  rules/windows/command_and_control_certutil_network_connection.toml
  rules/windows/defense_evasion_misc_lolbin_connecting_to_the_internet.toml
  rules/windows/execution_command_prompt_connecting_to_the_internet.toml
  rules/windows/execution_html_help_executable_program_connecting_to_the_internet.toml
  rules/windows/execution_msbuild_making_network_connections.toml
  rules/windows/execution_msxsl_network.toml
  rules/windows/execution_register_server_program_connecting_to_the_internet.toml
  rules/windows/execution_unusual_network_connection_via_rundll32.toml
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
Labels: Domain: Endpoint, Domain: Network, Rule: Tuning, v7.10.0

#436 [Rule Tuning] Remove duplicate rules after EQL conversion
  rules/windows/defense_evasion_msbuild_beacon_sequence.toml
  rules/windows/defense_evasion_msxsl_beacon.toml
  rules/windows/defense_evasion_reg_beacon.toml
  rules/windows/defense_evasion_rundll32_sequence.toml
  rules/windows/execution_mshta_making_network_connections.toml
  rules/windows/execution_wpad_exploitation.toml
  rules/windows/privilege_escalation_uac_sdclt.toml
Labels: Rule: Tuning, v7.10.0
