Repository elastic/detection-rules, pull requests merged in 2020-11, with the labels that each got.

#520 Link to the Elastic contributor program
  CONTRIBUTING.md
Labels: community, documentation

#530 [New Rule] Google Workspace API Access Granted via Domain-Wide Delegation of Authority
  rules/google-workspace/persistence_google_workspace_api_access_granted_via_domain_wide_delegation_of_authority.toml
Labels: Domain: Cloud, Platform: Google Workspace, Rule: New, v7.11.0

#495 [New Rule] Attempt to Modify an Okta Application
  rules/okta/okta_attempt_to_modify_okta_application.toml
Labels: Domain: Cloud, Platform: Okta, Rule: New, v7.11.0

#496 [New Rule] Attempt to Deactivate an Okta Application
  rules/okta/okta_attempt_to_deactivate_okta_application.toml
Labels: Domain: Cloud, Platform: Okta, Rule: New, v7.11.0

#497 [New Rule] Attempt to Delete an Okta Application
  rules/okta/okta_attempt_to_delete_okta_application.toml
Labels: Domain: Cloud, Platform: Okta, Rule: New, v7.11.0

#389 [New Rule] Suspicious Cmd Execution via WMI
  rules/windows/lateral_movement_suspicious_cmd_wmi.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#450 [New Rule] UAC Bypass via Elevated COM IEinstall
  rules/windows/privilege_escalation_uac_bypass_com_ieinstal.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#387 [New Rule] Security Software Discovery using WMIC
  rules/windows/discovery_security_software_wmic.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#374 [New Rule] Potential Remote Desktop Tunneling Detected
  rules/windows/lateral_movement_rdp_tunnel_plink.toml
Labels: OS: Windows, Rule: New, v7.11.0

#536 [New Rule] Suspicious Execution - Short Program Name
  rules/windows/execution_suspicious_short_program_name.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#540 [New Rule] Prompt for Credentials with OSASCRIPT
  rules/macos/credential_access_promt_for_pwd_via_osascript.toml
Labels: Domain: Endpoint, OS: macOS, Rule: New, v7.11.0

#485 Add test commands to search and survey rule hits
  CLI.md
  detection_rules/devtools.py
  detection_rules/eswrap.py
  detection_rules/kbwrap.py
  detection_rules/misc.py
  detection_rules/utils.py
  kibana/connector.py
  requirements.txt
  tests/test_utils.py
Labels: cli, enhancement, python, test-suite

#463 [New Rule] Timestomping using Touch Command
  rules/linux/defense_evasion_timestomp_touch.toml
Labels: Domain: Endpoint, OS: Linux, OS: macOS, Rule: New, v7.11.0

#489 [New Rule] Administrator Role Assigned to Okta User
  rules/okta/persistence_administrator_role_assigned_to_okta_user.toml
Labels: Domain: Cloud, Platform: Okta, Rule: New, v7.11.0

#552 [New Rule] Google Workspace Password Policy Modified
  rules/google-workspace/google_workspace_policy_modified.toml
Labels: Domain: Cloud, Platform: Google Workspace, Rule: New, v7.11.0

#553 [New Rule] MFA Disabled for Google Workspace Organization
  rules/google-workspace/mfa_disabled_for_google_workspace_organization.toml
Labels: Domain: Cloud, Platform: Google Workspace, Rule: New, v7.11.0

#554 [New Rule] Google Workspace Admin Role Assigned to a User
  rules/google-workspace/persistence_google_workspace_admin_role_assigned_to_user.toml
Labels: Domain: Cloud, Platform: Google Workspace, Rule: New, v7.11.0

#555 [New Rule] Google Workspace Custom Admin Role Created
  rules/google-workspace/persistence_google_workspace_custom_admin_role_created.toml
Labels: Domain: Cloud, Platform: Google Workspace, Rule: New, v7.11.0

#556 [New Rule] Google Workspace Role Modified
  rules/google-workspace/persistence_google_workspace_role_modified.toml
Labels: Domain: Cloud, Platform: Google Workspace, Rule: New, v7.11.0

#561 [New Rule] Google Workspace Admin Role Deletion
  rules/google-workspace/google_workspace_admin_role_deletion.toml
Labels: Domain: Cloud, Platform: Google Workspace, Rule: New, v7.11.0

#562 [New Rule] Domain Added to Google Workspace Trusted Domains
  rules/google-workspace/domain_added_to_google_workspace_trusted_domains.toml
Labels: Domain: Cloud, Platform: Google Workspace, Rule: New, v7.11.0

#563 [New Rule] Google Workspace MFA Enforcement Disabled
  rules/google-workspace/google_workspace_mfa_enforcement_disabled.toml
Labels: Domain: Cloud, Platform: Google Workspace, Rule: New, v7.11.0

#564 [New Rule] Application Added to Google Workspace Domain
  rules/google-workspace/application_added_to_google_workspace_domain.toml
Labels: Domain: Cloud, Platform: Google Workspace, Rule: New, v7.11.0

#381 [New Rule] Persistence via MS Office Addins
  rules/windows/persistence_ms_office_addins_file.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#383 [New Rule] UAC Bypass via ICMLuaUtil Elevated COM interface
  rules/windows/privilege_escalation_uac_bypass_com_interface_icmluautil.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#376 [New Rule] UAC Bypass via Windows Firewall Snap-in Hijack
  rules/windows/privilege_escalation_uac_bypass_winfw_mmc_hijack.toml
Labels: OS: Windows, Rule: New, v7.11.0

#448 [New Rule] Kerberos Traffic from Unusual Process
  rules/windows/credential_access_kerberoasting_unusual_process.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#476 [New Rule] Connection to Commonly Abused Web Services
  rules/windows/command_and_control_common_webservices.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, convert-eql, v7.11.0

#588 [New Rule] Suspicious RDP ActiveX Client Loaded
  rules/windows/lateral_movement_suspicious_rdp_client_imageload.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#566 [New-Rule] Suspicious Task Scheduler Image Load from MS Office
  rules/windows/persistence_suspicious_image_load_scheduled_task_ms_office.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#551 [New-Rule] Suspicious WMI Image Load from MS Office
  rules/windows/execution_suspicious_image_load_wmi_ms_office.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#625 Bump EQL dependency to 0.9.6
  requirements.txt
Labels: convert-eql, kql-to-eql

#577 [New Rule] O365 Exchange Safe Link Policy Disabled
  rules/o365/initial_access_o365_exchange_safelinks_disabled.toml
Labels: Domain: Cloud, Platform: Office 365, Rule: New, v7.11.0

#579 [New Rule] O365 Exchange Transport Rule Creation
  rules/o365/exfiltration_o365_exchange_transport_rule_creation.toml
Labels: Domain: Cloud, Platform: Office 365, Rule: New, v7.11.0

#585 [New Rule] O365 Exchange Anti-Phish Policy Deletion
  rules/o365/initial_access_o365_exchange_anti_phish_policy_deletion.toml
Labels: Domain: Cloud, Platform: Office 365, Rule: New, v7.11.0

#586 [New Rule] O365 Exchange Anti-Phish Rule Modification
  rules/o365/initial_access_o365_exchange_anti_phish_rule_mod.toml
Labels: Domain: Cloud, Platform: Office 365, Rule: New, v7.11.0

#589 [New Rule] O365 Exchange Malware Filter Policy Deletion
  rules/o365/defense_evasion_o365_exchange_malware_filter_policy_deletion.toml
Labels: Domain: Cloud, Platform: Office 365, Rule: New, v7.11.0

#592 [New Rule] O365 Exchange Transport Rule Modification
  rules/o365/exfiltration_o365_exchange_transport_rule_mod.toml
Labels: Domain: Cloud, Platform: Office 365, Rule: New, v7.11.0

#593 [New Rule] O365 Exchange Safe Attachment Rule Disabled
  rules/o365/defense_evasion_o365_exchange_safe_attach_rule_disabled.toml
Labels: Domain: Cloud, Platform: Office 365, Rule: New, v7.11.0

#472 [Rule Tuning] Unusual File Modification by dns.exe
  rules/windows/execution_unusual_dns_service_file_writes.toml
Labels: Domain: Network, Rule: Tuning, v7.11.0

#422 [New Rule] UAC Bypass via Elevated COM Interface - IEditionUpgradeManager
  rules/windows/privilege_escalation_uac_bypass_com_clipup.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#611 [New Rule] Persistence via Microsoft Outlook VBA
  rules/windows/persistence_ms_outlook_vba_template.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#391 [New Rule] Command shell activity started via rundll32
  rules/windows/execution_command_shell_via_rundll32.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#645 [New Rule] Potential Command and Control via IEXPLORE
  rules/windows/command_and_control_iexplore_via_com.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#424 [New Rule] Execution via local SxS Shared Module
  rules/windows/execution_shared_modules_local_sxs_dll.toml
Labels: Domain: Endpoint, Rule: New, v7.11.0

#430 [New Rule] Suspicious Explorer Child Process
  rules/windows/execution_via_explorer_suspicious_child_parent_args.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0
