Repository elastic/detection-rules, pull requests merged in 2020-12, with the labels that each got.

#457 [New Rule] WebServer Access Logs Deleted
  rules/cross-platform/defense_evasion_deleting_websvr_access_logs.toml
Labels: Domain: Endpoint, OS: Linux, OS: Windows, Rule: New, v7.11.0

#576 [Rule Tuning] Update IP Address Ranges in Multiple Rules
  rules/network/command_and_control_dns_directly_to_the_internet.toml
  rules/network/command_and_control_ftp_file_transfer_protocol_activity_to_the_internet.toml
  rules/network/command_and_control_irc_internet_relay_chat_protocol_activity_to_the_internet.toml
  rules/network/command_and_control_port_8000_activity_to_the_internet.toml
  rules/network/command_and_control_proxy_port_activity_to_the_internet.toml
  rules/network/command_and_control_rdp_remote_desktop_protocol_from_the_internet.toml
  rules/network/command_and_control_smtp_to_the_internet.toml
  rules/network/command_and_control_sql_server_port_activity_to_the_internet.toml
  rules/network/command_and_control_ssh_secure_shell_from_the_internet.toml
  rules/network/command_and_control_ssh_secure_shell_to_the_internet.toml
  rules/network/command_and_control_tor_activity_to_the_internet.toml
  rules/network/command_and_control_vnc_virtual_network_computing_from_the_internet.toml
  rules/network/command_and_control_vnc_virtual_network_computing_to_the_internet.toml
  rules/network/initial_access_rdp_remote_desktop_protocol_to_the_internet.toml
  rules/network/initial_access_rpc_remote_procedure_call_from_the_internet.toml
  rules/network/initial_access_rpc_remote_procedure_call_to_the_internet.toml
  rules/network/initial_access_smb_windows_file_sharing_activity_to_the_internet.toml
Labels: Domain: Network, Rule: Tuning, v7.11.0

#361 [FR] Add experimental ML DGA CLI support
  detection_rules/devtools.py
  detection_rules/eswrap.py
  detection_rules/misc.py
  detection_rules/rule.py
  detection_rules/rule_loader.py
  detection_rules/schemas/base.py
  docs/ML_DGA.md
  requirements-dev.txt
Labels: ML, cli, dev, experimental, python

#669 [Rule Tuning] Rebrand Office 365 to Microsoft 365
  rules/microsoft-365/defense_evasion_microsoft_365_exchange_malware_filter_policy_deletion.toml
  rules/microsoft-365/defense_evasion_microsoft_365_exchange_malware_filter_rule_mod.toml
  rules/microsoft-365/defense_evasion_microsoft_365_exchange_safe_attach_rule_disabled.toml
  rules/microsoft-365/exfiltration_microsoft_365_exchange_transport_rule_creation.toml
  rules/microsoft-365/exfiltration_microsoft_365_exchange_transport_rule_mod.toml
  rules/microsoft-365/initial_access_microsoft_365_exchange_anti_phish_policy_deletion.toml
  rules/microsoft-365/initial_access_microsoft_365_exchange_anti_phish_rule_mod.toml
  rules/microsoft-365/initial_access_microsoft_365_exchange_safelinks_disabled.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: Tuning, v7.11.0

#599 [New Rule] Microsoft 365 Exchange Management Group Role Assignment
  rules/microsoft-365/persistence_microsoft_365_exchange_management_role_assignment.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: New, v7.11.0

#600 [New Rule] Microsoft 365 Exchange DLP Policy Removed
  rules/microsoft-365/defense_evasion_microsoft_365_exchange_dlp_policy_removed.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: New, v7.11.0

#607 [New Rule] Credential Acquisition via Registry Hive Dumping
  rules/windows/credential_access_dump_registry_hives.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, convert-eql, v7.11.0

#393 [Rule Tuning] Clearing or Disabling Windows Event Logs
  rules/windows/defense_evasion_clearing_windows_event_logs.toml
Labels: OS: Windows, Rule: Tuning, v7.11.0

#517 [New Rule] Lateral Executable Transfer Over SMB
  rules/windows/lateral_movement_executable_tool_transfer_smb.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#455 [New Rule] Remote Execution via File Shares
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#663 [New Rule] Lateral Movement via Startup Folder
  rules/windows/lateral_movement_via_startup_folder_rdp_smb.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#368 [New Rule] Remote Desktop Enabled in Windows Firewall
  rules/windows/defense_evasion_enable_inbound_rdp_with_netsh.toml
Labels: OS: Windows, Rule: New, v7.11.0

#667 [Rule Tuning] Remove usage of winlog.event_data.OriginalFileName
  rules/windows/command_and_control_remote_file_copy_desktopimgdownldr.toml
  rules/windows/command_and_control_remote_file_copy_mpcmdrun.toml
  rules/windows/credential_access_credential_dumping_msbuild.toml
  rules/windows/credential_access_iis_apppoolsa_pwd_appcmd.toml
  rules/windows/credential_access_iis_connectionstrings_dumping.toml
  rules/windows/defense_evasion_execution_msbuild_started_renamed.toml
  rules/windows/defense_evasion_execution_suspicious_explorer_winword.toml
  rules/windows/defense_evasion_iis_httplogging_disabled.toml
  rules/windows/defense_evasion_masquerading_renamed_autoit.toml
  rules/windows/execution_suspicious_psexesvc.toml
Labels: Domain: Endpoint, Rule: Tuning, v7.11.0

#653 [Rule Tuning] Process Potentially Masquerading as WerFault
  rules/windows/defense_evasion_masquerading_werfault.toml
Labels: Domain: Endpoint, OS: Windows, Rule: Tuning, kql-to-eql, v7.11.0

#416 [New Rule] UAC Bypass via privileged IFileOperation
  rules/windows/privilege_escalation_uac_bypass_dll_sideloading.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New

#655 [Rule Tuning] Persistence via TelemetryController Scheduled Task Hijack
  rules/windows/persistence_via_telemetrycontroller_scheduledtask_hijack.toml
Labels: Rule: Tuning, v7.11.0

#649 [New Rule] Scheduled Task Created by a Windows Script
  rules/windows/persistence_local_scheduled_task_scripting.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#559 [New Rule] Suspicious PowerShell Engine ImageLoad
  rules/windows/defense_evasion_suspicious_powershell_imgload.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, convert-eql, v7.11.0

#605 [New Rule] Privilege Escalation via Named Pipe Impersonation
  rules/windows/privilege_escalation_named_pipe_impersonation.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#603 [New Rule] Suspicious Service ImagePath Created
  rules/windows/persistence_suspicious_service_created_registry.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#538 [New Rule] Potential SSH Bruteforce Detected
  rules/macos/credential_access_potential_ssh_bruteforce.toml
Labels: Domain: Endpoint, OS: macOS, Rule: New, v7.11.0

#486 [New Rule] Incoming DCOM Lateral Movement with ShellBrowserWindow or ShellWindow
  rules/windows/lateral_movement_dcom_shellwindow_shellbrowserwindow.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#662 [New Rule] Attempts to Brute Force a Microsoft 365 User Account
  rules/microsoft-365/credential_access_microsoft_365_brute_force_user_account_attempt.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: New, v7.11.0

#459 [New Rule ] Incoming DCOM Lateral Movement with MSHTA
  rules/windows/lateral_movement_dcom_hta.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#446 [New Rule] Peripheral Device Discovery
  rules/windows/discovery_peripheral_device.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#418 [New Rule] Potential ProcessHerpaderping Detected
  rules/windows/defense_evasion_potential_processherpaderping.toml
Labels: Domain: Endpoint, Rule: New, v7.11.0

#522 [New Rule] Potential DNS Tunneling with Nslookup
  rules/windows/command_and_control_dns_tunneling_nslookup.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#616 [New Rule] Incoming Execution with WinRM Remote Shell
  rules/windows/lateral_movement_incoming_winrm_shell_execution.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#542 [New Rule] Remotely Started Services
  rules/windows/lateral_movement_remote_services.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, convert-eql, v7.11.0

#687 [New Rule] Shell Execution via Apple Scripting
  rules/macos/execution_shell_execution_via_apple_scripting.toml
Labels: Domain: Endpoint, OS: macOS, Rule: New, v7.11.0

#685 [New Rule] Persistence via Folder Action Script
  rules/macos/persistence_folder_action_scripts_runtime.toml
Labels: Domain: Endpoint, OS: macOS, Rule: New, v7.11.0

#689 [New Rule] Execution with Explicit Credentials via Apple Scripting
  rules/macos/privilege_escalation_explicit_creds_via_apple_scripting.toml
Labels: OS: macOS, Rule: New, v7.11.0

#693 [Rule Tuning] Unusual Network Connection via RunDLL32
  rules/windows/defense_evasion_rundll32_sequence.toml
  rules/windows/execution_unusual_network_connection_via_rundll32.toml
Labels: Rule: Tuning, v7.11.0

#683 [New Rule] Persistence via Login and/or Logout Hooks
  rules/macos/persistence_login_logout_hooks_defaults.toml
Labels: OS: macOS, Rule: New, v7.11.0

#681 [New Rule] Apple Script Execution followed by Network Connection
  rules/macos/execution_scripting_osascript_exec_followed_by_netcon.toml
Labels: OS: macOS, Rule: New, v7.11.0

#674 [New Rule] Attempt to Remove File Quarantine Attribute
  rules/macos/defense_evasion_attempt_del_quarantine_attrib.toml
Labels: OS: macOS, Rule: New, convert-eql, v7.11.0

#647 [New Rule] Remote File Download via Scripting
  rules/windows/command_and_control_remote_file_copy_scripts.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#651 [New Rule] Persistence with Startup Folder by Unsigned Process
  rules/windows/persistence_startup_folder_file_written_by_unsigned_process.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#546 [Rule Tuning] Potential Modification of Accessibility Binaries
  rules/windows/persistence_priv_escalation_via_accessibility_features.toml
Labels: Domain: Endpoint, OS: Windows, Rule: Tuning, kql-to-eql, v7.11.0

#641 [New Rule] Suspicious PrintSpooler Point and Print DLL
  rules/windows/privilege_escalation_printspooler_registry_copyfiles.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#411 [New Rule] UAC Bypass via Mocking Windir
  rules/windows/privilege_escalation_uac_bypass_mock_windir.toml
Labels: OS: Windows, Rule: New, v7.11.0

#698 [New Rule] LaunchDaemon Creation or Modification followed by Loading
  rules/macos/persistence_creation_modif_launch_deamon_sequence.toml
Labels: OS: macOS, Rule: New, v7.11.0

#474 [New Rule] Remote File Copy to a Hidden Share
  rules/windows/lateral_movement_remote_file_copy_hidden_share.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#435 [New Rule] Execution from unusual directory - CommandLine
  rules/windows/execution_from_unusual_path_cmdline.toml
Labels: Domain: Endpoint, Rule: New, v7.11.0

#478 [New Rule] Connection to Commonly Abused Free SSL Certificate Providers
  rules/windows/command_and_control_encrypted_channel_freesslcert.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#488 [New Rule] Incoming DCOM Lateral Movement with MMC
  rules/windows/lateral_movement_dcom_mmc20.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, convert-eql, v7.11.0

#638 [New Rule] Privilege Escalation via Windir Environment Variable
  rules/windows/privilege_escalation_rogue_windir_environment_var.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#524 [New Rule] Execution from TSClient Mountpoint
  rules/windows/lateral_movement_execution_from_tsclient_mup.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#632 [New Rule] Enable RDP Through Registry
  rules/windows/lateral_movement_rdp_enabled_registry.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, convert-eql, v7.11.0

#499 [Rule Tuning] UAC Bypass via DiskCleanup Scheduled Task Hijack
  rules/windows/privilege_escalation_uac_bypass_diskcleanup_hijack.toml
Labels: Domain: Endpoint, OS: Windows, Rule: Tuning, kql-to-eql, v7.11.0

#534 [New Rule] Persistence via Hidden Run Key ValName
  rules/windows/persistence_via_hidden_run_key_valuename.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#598 [New Rule] Remote Scheduled Task Creation
  rules/windows/lateral_movement_scheduled_task_target.toml
Labels: OS: Windows, Rule: New, v7.11.0

#444 [New Rule] Mounting Hidden or WebDav Remote Shares
  rules/windows/lateral_movement_mount_hidden_or_webdav_share_net.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#609 [New Rule] Scheduled Jobs AT Protocol Enabled
  rules/windows/defense_evasion_scheduledjobs_at_protocol_enabled.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#622 [New Rule] NTDS or SAM Database File Copied
  rules/windows/credential_access_copy_ntds_sam_volshadowcp_cmdline.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#532 [New Rule] WMI Incoming Lateral Movement
  rules/windows/lateral_movement_incoming_wmi.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, convert-eql, v7.11.0

#527 [New Rule] Potential SharpRdp Detected
  rules/windows/lateral_movement_rdp_sharprdp_target.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#581 [New Rule] Program Files Directory Masquerading
  rules/windows/defense_evasion_masquerading_trusted_directory.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#550 [New Rule] Image File Execution Options Injection
  rules/windows/persistence_evasion_registry_ifeo_injection.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, convert-eql, v7.11.0

#624 [New Rule] Incoming Execution via PowerShell Remoting
  rules/windows/lateral_movement_powershell_remoting_target.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, convert-eql, v7.11.0

#584 [New Rule] Suspicious Execution via Scheduled Task
  rules/windows/persistence_suspicious_scheduled_task_runtime.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#618 [New Rule] Lsass Memory Dump Created
  rules/windows/credential_access_lsass_memdump_file_created.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#502 [Rule Tuning] Suspicious Process Execution via Renamed PsExec Executable
  rules/windows/execution_suspicious_psexesvc.toml
Labels: Domain: Endpoint, Rule: Tuning, kql-to-eql, v7.11.0

#630 [New Rule] New Port Forwarding Rule Added
  rules/windows/defense_evasion_port_forwarding_added_registry.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#461 [New Rule] Linux System Log Files Deleted
  rules/linux/defense_evasion_log_files_deleted.toml
Labels: Domain: Endpoint, OS: Linux, Rule: New, v7.11.0

#620 [New Rule] Potential Credential Access with LolBas
  rules/windows/credential_access_cmdline_dump_tool.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#433 [New Rule] - Execution from Unusual Directory
  rules/windows/defense_evasion_dotnet_compiler_parent_process.toml
  rules/windows/execution_from_unusual_directory.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#366 [New Rule] Lolbas ImageLoad via Windows Update Client
  rules/windows/defense_evasion_execution_lolbas_wuauclt.toml
Labels: OS: Windows, Rule: New, v7.11.0

#696 [New Rule] Launch Agent Creation or Modification followed by Loading
  rules/macos/persistence_creation_change_launch_agents_file.toml
Labels: OS: macOS, Rule: New, convert-eql, v7.11.0

#643 [New Rule] Windows Script Executing a Process via WMI
  rules/windows/execution_scripts_process_started_via_wmi.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#573 [New Rule] Convert Endgame EQL Rules to ECS EQL for Persistence Part I
  rules/windows/persistence_appcertdlls_registry.toml
  rules/windows/persistence_appinitdlls_registry.toml
  rules/windows/persistence_registry_uncommon.toml
  rules/windows/persistence_run_key_and_startup_broad.toml
  rules/windows/persistence_runtime_run_key_startup_susp_procs.toml
  rules/windows/persistence_services_registry.toml
  rules/windows/persistence_startup_folder_file_written_by_suspicious_process.toml
  rules/windows/persistence_startup_folder_scripts.toml
  rules/windows/persistence_suspicious_com_hijack_registry.toml
  rules/windows/persistence_via_lsa_security_support_provider_registry.toml
Labels: OS: Windows, Rule: New, convert-eql, v7.11.0

#636 [New Rule] Encoded Executable Stored in the Registry
  rules/windows/defense_evasion_hide_encoded_executable_registry.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#414 [Rule Tuning] Convert to EQL 5 existing rules
  rules/windows/credential_access_iis_apppoolsa_pwd_appcmd.toml
  rules/windows/credential_access_iis_connectionstrings_dumping.toml
  rules/windows/defense_evasion_masquerading_renamed_autoit.toml
  rules/windows/defense_evasion_rundll32_no_arguments.toml
  rules/windows/defense_evasion_sdelete_like_filename_rename.toml
  rules/windows/defense_evasion_suspicious_zoom_child_process.toml
Labels: Domain: Endpoint, Rule: Tuning, kql-to-eql, v7.11.0

#660 [New Rule] Remote File Download via Powershell
  rules/windows/command_and_control_remote_file_copy_powershell.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New

#482 [New Rule] Process Termination Followed by Deletion
  rules/windows/defense_evasion_process_termination_followed_by_deletion.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#509 [Rule Tuning] Suspicious Endpoint Security Parent Process
  rules/windows/defense_evasion_masquerading_as_elastic_endpoint_process.toml
Labels: Domain: Endpoint, Rule: Tuning, kql-to-eql, v7.11.0

#578 [New Rule] Microsoft 365 Exchange DKIM Signing Configuration Disabled
  detection_rules/beats.py
  kql/parser.py
  rules/microsoft-365/microsoft_365_exchange_dkim_signing_config_disabled.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: New, v7.11.0

#601 [New Rule] Microsoft 365 Teams Guest Access Enabled
  rules/microsoft-365/persistence_microsoft_365_teams_guest_access_enabled.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: New, v7.11.0

#661 [New Rule] Microsoft 365 Teams External Access Enabled
  rules/microsoft-365/persistence_microsoft_365_teams_external_access_enabled.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: New, v7.11.0

#337 Add ATT&CK subtechniques to the schema
  detection_rules/schemas/__init__.py
  detection_rules/schemas/v7_11.py
  detection_rules/schemas/v7_8.py
  tests/test_schemas.py
Labels: enhancement, metadata, python

#704 [Bug] Allow duplicative queries across different rule types
  detection_rules/rule_loader.py
Labels: bug, python

#665 [New Rule] Potential Password Spraying of Microsoft 365 User Accounts
  rules/microsoft-365/credential_access_microsoft_365_potential_password_spraying_attack.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: New, v7.11.0

#691 Add support to validate against dev ECS and beats schemas
  detection_rules/beats.py
  detection_rules/schemas/base.py
  etc/beats_schemas/master.json.gz
Labels: beats, ecs, python

#657 [New Rule] Microsoft 365 Teams Custom Application Interaction Allowed
  etc/non-ecs-schema.json
  rules/microsoft-365/microsoft_365_teams_custom_app_interaction_allowed.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: New, v7.11.0

#702 [New Rule] Conversions of some APT-29 Endgame rules
  rules/windows/defense_evasion_unusual_dir_ads.toml
  rules/windows/discovery_admin_recon.toml
  rules/windows/discovery_file_dir_discovery.toml
  rules/windows/discovery_net_view.toml
  rules/windows/discovery_query_registry_via_reg.toml
  rules/windows/discovery_remote_system_discovery_commands_windows.toml
  rules/windows/exfiltration_winrar_encryption.toml
  rules/windows/persistence_via_windows_management_instrumentation_event_subscription.toml
Labels: Domain: Endpoint, Rule: New, convert-eql, v7.11.0

#575 [Rule Tuning] Possible Consent Grant Attack via Azure-Registered Application
  rules/azure/initial_access_consent_grant_attack_via_azure_registered_application.toml
Labels: Domain: Cloud, Platform: Azure, Platform: Microsoft 365, Rule: Tuning, v7.11.0

#614 Add ATT&CK sub-technique support to CLI
  detection_rules/attack.py
  detection_rules/docs.py
  detection_rules/rule.py
  detection_rules/schemas/v7_11.py
  detection_rules/schemas/v7_8.py
  rules/aws/execution_via_system_manager.toml
  rules/linux/defense_evasion_base16_or_base32_encoding_or_decoding_activity.toml
  rules/linux/defense_evasion_base64_encoding_or_decoding_activity.toml
  rules/linux/defense_evasion_hex_encoding_or_decoding_activity.toml
  rules/network/command_and_control_tor_activity_to_the_internet.toml
  rules/windows/defense_evasion_suspicious_zoom_child_process.toml
  rules/windows/execution_command_shell_started_by_powershell.toml
  rules/windows/execution_command_shell_via_rundll32.toml
  rules/windows/execution_scripts_process_started_via_wmi.toml
  tests/test_all_rules.py
Labels: cli, python, test-suite

#676 [Rule Tuning] Unusual Parent-Child Relationship and Suspicious MS Office Child Process
  rules/windows/execution_suspicious_ms_office_child_process.toml
  rules/windows/privilege_escalation_unusual_parentchild_relationship.toml
Labels: Domain: Endpoint, OS: Windows, Rule: Tuning, kql-to-eql, v7.11.0

#672 [New Rule] High Number of Process and/or Services Termination
  rules/windows/defense_evasion_stop_process_service_threshold.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#358 [New Rule] Default Cobalt Strike Team Server Certificate
  rules/network/command_and_control_cobalt_strike_default_teamserver_cert.toml
Labels: Domain: Network, Rule: New, v7.11.0

#700 [New Rule] Detects Mimikatz via Invoke-Mimikatz
  rules/windows/credential_access_mimikatz_powershell_module.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#395 AdFind Command Activity
  rules/windows/discovery_adfind_command_activity.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.11.0

#707 [Docs] Update ML_DGA.md
  detection_rules/eswrap.py
  docs/ML_DGA.md
Labels: documentation

#711 Auth to Kibana connector using an existing cookie
  detection_rules/kbwrap.py
  detection_rules/misc.py
  kibana/connector.py
Labels: cli, python

#710 [Rule Tuning] Replace line comments with block comments
  rules/windows/persistence_startup_folder_scripts.toml
Labels: Rule: Tuning, v7.11.0

#716 [New Rule] Azure Application Credential Modification
  rules/azure/defense_evasion_azure_application_credential_modification.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.11.0

#717 [New Rule] Azure Service Principal Addition
  rules/azure/defense_evasion_azure_service_principal_addition.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.11.0

#718 [New Rule] Azure Active Directory PowerShell Sign-in
  rules/azure/initial_access_azure_active_directory_powershell_signin.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.11.0

#725 [New Rule] Outbound Scheduled Tasks Activity via PowerShell
  rules/windows/lateral_movement_scheduled_task_powershell_source.toml
Labels: OS: Windows, Rule: New

#722 [New Rule] APT Solarwinds Backdoor Behavior - 5 rules
  rules/windows/collection_email_powershell_exchange_mailbox.toml
  rules/windows/collection_persistence_powershell_exch_mailbox_activesync_add_device.toml
  rules/windows/defense_evasion_solarwinds_backdoor_service_disabled_via_registry.toml
  rules/windows/execution_apt_solarwinds_backdoor_child_cmd_powershell.toml
  rules/windows/execution_apt_solarwinds_backdoor_unusual_child_processes.toml
Labels: OS: Windows, Rule: New, v7.11.0

#723 [New Rule] SUNBURST Command and Control Activity Detected
  rules/windows/command_and_control_sunburst_c2_activity_detected.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New

#728 Remove duplicate PR job
  .github/workflows/pythonpackage.yml
Labels: test-suite

#727 Make threat.technique optional
  detection_rules/attack.py
  detection_rules/rule.py
  detection_rules/schemas/v7_11.py
Labels: v7.11.0

#736 [Bug] Fix 7.11 -> 7.10 ATT&CK downgrade logic for optional techiques
  detection_rules/schemas/v7_11.py
  tests/test_schemas.py
Labels: bug, python

#739 Add flattened subtechniques to rule-search
  detection_rules/main.py
Labels: cli, python, v7.11.0

#750 Update ML-DGA docs
  detection_rules/devtools.py
  docs/ML_DGA.md
Labels: cli, documentation, python
