Repository elastic/detection-rules, pull requests merged in 2020-08, with the labels that each got.

#99 [Rule Tuning] Update Tags for Cloud Rules
  detection_rules/rule_formatter.py
  rules/aws/collection_cloudtrail_logging_created.toml
  rules/aws/credential_access_aws_iam_assume_role_brute_force.toml
  rules/aws/credential_access_iam_user_addition_to_group.toml
  rules/aws/credential_access_secretsmanager_getsecretvalue.toml
  rules/aws/defense_evasion_cloudtrail_logging_deleted.toml
  rules/aws/defense_evasion_cloudtrail_logging_suspended.toml
  rules/aws/defense_evasion_cloudwatch_alarm_deletion.toml
  rules/aws/defense_evasion_config_service_rule_deletion.toml
  rules/aws/defense_evasion_configuration_recorder_stopped.toml
  rules/aws/defense_evasion_ec2_flow_log_deletion.toml
  rules/aws/defense_evasion_ec2_network_acl_deletion.toml
  rules/aws/defense_evasion_guardduty_detector_deletion.toml
  rules/aws/defense_evasion_s3_bucket_configuration_deletion.toml
  rules/aws/defense_evasion_waf_acl_deletion.toml
  rules/aws/defense_evasion_waf_rule_or_rule_group_deletion.toml
  rules/aws/execution_via_system_manager.toml
  rules/aws/exfiltration_ec2_snapshot_change_activity.toml
  rules/aws/impact_cloudtrail_logging_updated.toml
  rules/aws/impact_cloudwatch_log_group_deletion.toml
  rules/aws/impact_cloudwatch_log_stream_deletion.toml
  rules/aws/impact_ec2_disable_ebs_encryption.toml
  rules/aws/impact_iam_deactivate_mfa_device.toml
  rules/aws/impact_iam_group_deletion.toml
  rules/aws/impact_rds_cluster_deletion.toml
  rules/aws/impact_rds_instance_cluster_stoppage.toml
  rules/aws/initial_access_console_login_root.toml
  rules/aws/initial_access_password_recovery.toml
  rules/aws/persistence_ec2_network_acl_creation.toml
  rules/aws/persistence_iam_group_creation.toml
  rules/aws/persistence_rds_cluster_creation.toml
  rules/aws/privilege_escalation_root_login_without_mfa.toml
  rules/aws/privilege_escalation_updateassumerolepolicy.toml
  rules/okta/credential_access_attempted_bypass_of_okta_mfa.toml
  rules/okta/credential_access_okta_brute_force_or_password_spraying.toml
  rules/okta/impact_attempt_to_revoke_okta_api_token.toml
  rules/okta/impact_possible_okta_dos_attack.toml
  rules/okta/initial_access_suspicious_activity_reported_by_okta_user.toml
  rules/okta/okta_attempt_to_deactivate_okta_mfa_rule.toml
  rules/okta/okta_attempt_to_delete_okta_policy.toml
  rules/okta/okta_attempt_to_modify_okta_mfa_rule.toml
  rules/okta/okta_attempt_to_modify_okta_network_zone.toml
  rules/okta/okta_attempt_to_modify_okta_policy.toml
  rules/okta/okta_attempt_to_modify_or_delete_application_sign_on_policy.toml
  rules/okta/okta_threat_detected_by_okta_threatinsight.toml
  rules/okta/persistence_administrator_privileges_assigned_to_okta_group.toml
  rules/okta/persistence_attempt_to_create_okta_api_token.toml
  rules/okta/persistence_attempt_to_deactivate_mfa_for_okta_user_account.toml
  rules/okta/persistence_attempt_to_deactivate_okta_policy.toml
  rules/okta/persistence_attempt_to_reset_mfa_factors_for_okta_user_account.toml
Labels: Domain: Cloud, Platform: AWS, Platform: Okta, Rule: Tuning, v7.9

#156 Refresh ECS master and add beats v7.8.1 schemas
  etc/beats_schemas/v7.8.1.json
  etc/ecs_schemas/master_2.0.0.dev/ecs_flat.json
Labels: ecs, test-suite

#130 Expand documentation on CLI and workflows
  CLI.md
  README.md
  detection_rules/eswrap.py
  detection_rules/main.py
Labels: cli, documentation

#219 Add help wanted label to contrib
  CONTRIBUTING.md
Labels: documentation

#207 Lock rule versions for 7.9
  etc/version.lock.json
Labels: v7.9.1
