Repository elastic/detection-rules, pull requests merged in 2020-09, with the labels that each got.

#216 Fix kibana-upload and remove cumbersome dataclasses
  detection_rules/eswrap.py
  kibana/resources.py
  requirements.txt
  tests/test_schemas.py
Labels: bug, python

#177 [New Rule] Azure Automation Account Created
  rules/azure/persistence_azure_automation_account_created.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#178 [New Rule] Azure Automation Runbook Created or Modified
  rules/azure/persistence_azure_automation_runbook_created_or_modified.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#179 [New Rule] Azure Automation Webhook Created
  rules/azure/persistence_azure_automation_webhook_created.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#186 [New Rule] Attempts to Brute Force an Okta User Account
  rules/okta/credential_access_attempts_to_brute_force_okta_user_account.toml
Labels: Domain: Cloud, Platform: Okta, Rule: New, v7.10.0

#191 [New Rule] User Added as Owner for Azure Application
  rules/azure/persistence_user_added_as_owner_for_azure_application.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#194 [New Rule] User Added as Owner for Azure Service Principal
  rules/azure/defense_evasion_user_added_as_owner_for_azure_application.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#195 [New Rule] Multi-Factor Authentication Disabled for an Azure User
  rules/azure/defense_evasion_mfa_disabled_for_azure_user.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#235 [New Rule] Azure Automation Runbook Deleted
  rules/azure/impact_azure_automation_runbook_deleted.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#238 [New Rule] Azure Privileged Identity Management Role Modified
  rules/azure/defense_evasion_azure_privileged_identity_management_role_modified.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#158 [New Rule] Azure Resource Group Deletion
  rules/azure/impact_resource_group_deletion.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#155 [New Rule] Azure Command Execution on Virtual Machine
  rules/azure/execution_command_virtual_machine.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#157 [New Rule] Azure Diagnostic Settings Deletion
  rules/azure/azure_diagnostic_settings_deletion.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#169 [New Rule] Azure Firewall Policy Deletion
  rules/azure/defense_evasion_firewall_policy_deletion.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#173 [New Rule] Azure Event Hub Authorization Rule Created or Updated
  rules/azure/collection_update_event_hub_auth_rule.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#170 [New Rule] Azure Event Hub Deletion
  rules/azure/defense_evasion_event_hub_deletion.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#258 [Rule Tuning] User Added as Owner for Azure Service Principal
  rules/azure/persistence_user_added_as_owner_for_azure_service_principal.toml
Labels: Domain: Cloud, Platform: Azure, Rule: Tuning, v7.10.0

#187 [New Rule] High Number of Okta User Password Reset or Unlock Attempts
  rules/okta/credential_access_suspicious_okta_user_password_reset_or_unlock_attempts.toml
Labels: Domain: Cloud, Platform: Okta, Rule: New, v7.10.0

#192 [New Rule] Azure Blob Container Access Level Modification
  rules/azure/discovery_blob_container_access_mod.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#229 [Rule Tuning] AWS Root Login Without MFA
  rules/aws/privilege_escalation_root_login_without_mfa.toml
Labels: Domain: Cloud, Platform: AWS, Rule: Tuning, v7.10.0

#230 [New Rule] Azure Key Vault Modified
  rules/azure/credential_access_key_vault_modified.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#231 [New Rule] Azure External Guest User Invitation
  rules/azure/initial_access_external_guest_user_invite.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#232 [New Rule] Azure Network Watcher Deletion
  rules/azure/defense_evasion_network_watcher_deletion.toml
Labels: Domain: Cloud, Platform: AWS, Rule: New, v7.10.0

#188 [New Rule] Azure Storage Account Key Regenerated
  rules/azure/credential_access_storage_account_key_regenerated.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#295 [Rule Tuning] Update Okta rules to include Agent index pattern
  rules/okta/credential_access_attempted_bypass_of_okta_mfa.toml
  rules/okta/credential_access_attempts_to_brute_force_okta_user_account.toml
  rules/okta/credential_access_okta_brute_force_or_password_spraying.toml
  rules/okta/credential_access_suspicious_okta_user_password_reset_or_unlock_attempts.toml
  rules/okta/impact_attempt_to_revoke_okta_api_token.toml
  rules/okta/impact_possible_okta_dos_attack.toml
  rules/okta/initial_access_suspicious_activity_reported_by_okta_user.toml
  rules/okta/okta_attempt_to_deactivate_okta_mfa_rule.toml
  rules/okta/okta_attempt_to_delete_okta_policy.toml
  rules/okta/okta_attempt_to_modify_okta_mfa_rule.toml
  rules/okta/okta_attempt_to_modify_okta_network_zone.toml
  rules/okta/okta_attempt_to_modify_okta_policy.toml
  rules/okta/okta_attempt_to_modify_or_delete_application_sign_on_policy.toml
  rules/okta/okta_threat_detected_by_okta_threatinsight.toml
  rules/okta/persistence_administrator_privileges_assigned_to_okta_group.toml
  rules/okta/persistence_attempt_to_create_okta_api_token.toml
  rules/okta/persistence_attempt_to_deactivate_mfa_for_okta_user_account.toml
  rules/okta/persistence_attempt_to_deactivate_okta_policy.toml
  rules/okta/persistence_attempt_to_reset_mfa_factors_for_okta_user_account.toml
Labels: Domain: Cloud, Platform: Okta, Rule: Tuning, v7.10.0

#297 Add EQL rules and schema validation
  detection_rules/beats.py
  detection_rules/ecs.py
  detection_rules/misc.py
  detection_rules/rule.py
  detection_rules/rule_loader.py
  detection_rules/schemas/__init__.py
  detection_rules/schemas/v7_10.py
  detection_rules/schemas/v7_8.py
  detection_rules/schemas/v7_9.py
  tests/test_schemas.py
Labels: enhancement, python, test-suite

#280 Change the way we get environment variables
  detection_rules/eswrap.py
  detection_rules/misc.py
Labels: cli, python

#256 [Rule Tuning] Update AWS rules to account for Agent index
  rules/aws/collection_cloudtrail_logging_created.toml
  rules/aws/credential_access_aws_iam_assume_role_brute_force.toml
  rules/aws/credential_access_iam_user_addition_to_group.toml
  rules/aws/credential_access_secretsmanager_getsecretvalue.toml
  rules/aws/defense_evasion_cloudtrail_logging_deleted.toml
  rules/aws/defense_evasion_cloudtrail_logging_suspended.toml
  rules/aws/defense_evasion_cloudwatch_alarm_deletion.toml
  rules/aws/defense_evasion_config_service_rule_deletion.toml
  rules/aws/defense_evasion_configuration_recorder_stopped.toml
  rules/aws/defense_evasion_ec2_flow_log_deletion.toml
  rules/aws/defense_evasion_ec2_network_acl_deletion.toml
  rules/aws/defense_evasion_guardduty_detector_deletion.toml
  rules/aws/defense_evasion_s3_bucket_configuration_deletion.toml
  rules/aws/defense_evasion_waf_acl_deletion.toml
  rules/aws/defense_evasion_waf_rule_or_rule_group_deletion.toml
  rules/aws/execution_via_system_manager.toml
  rules/aws/exfiltration_ec2_snapshot_change_activity.toml
  rules/aws/impact_cloudtrail_logging_updated.toml
  rules/aws/impact_cloudwatch_log_group_deletion.toml
  rules/aws/impact_cloudwatch_log_stream_deletion.toml
  rules/aws/impact_ec2_disable_ebs_encryption.toml
  rules/aws/impact_iam_deactivate_mfa_device.toml
  rules/aws/impact_iam_group_deletion.toml
  rules/aws/impact_rds_cluster_deletion.toml
  rules/aws/impact_rds_instance_cluster_stoppage.toml
  rules/aws/initial_access_console_login_root.toml
  rules/aws/initial_access_password_recovery.toml
  rules/aws/persistence_ec2_network_acl_creation.toml
  rules/aws/persistence_iam_group_creation.toml
  rules/aws/persistence_rds_cluster_creation.toml
  rules/aws/privilege_escalation_root_login_without_mfa.toml
  rules/aws/privilege_escalation_updateassumerolepolicy.toml
Labels: Domain: Cloud, Platform: AWS, Rule: Tuning, v7.10.0

#123 [Rule Tuning] - Tuning of 3 Existing Windows Rules
  rules/windows/discovery_net_command_system_account.toml
  rules/windows/execution_register_server_program_connecting_to_the_internet.toml
  rules/windows/persistence_priv_escalation_via_accessibility_features.toml
Labels: OS: Windows, Rule: Tuning, v7.10.0

#132 [New Rule] Execution via xp_cmdshell MSSQL stored procedure
  rules/windows/execution_via_xp_cmdshell_mssql_stored_procedure.toml
Labels: OS: Windows, Rule: New, v7.10.0

#134 [New Rule] - Suspicious PsExec Execution
  rules/windows/defense_evasion_execution_suspicious_psexesvc.toml
Labels: OS: Windows, Rule: New, v7.10.0

#150 [New Rule] - Persistence via TelemetryController Scheduled Task Hijack
  rules/windows/persistence_via_telemetrycontroller_scheduledtask_hijack.toml
Labels: OS: Windows, Rule: New, v7.10.0

#154 [New Rule] - Execution via Hidden Shell
  rules/windows/execution_via_hidden_shell_conhost.toml
Labels: OS: Windows, Rule: New, v7.10.0

#160 [New Rule] UAC Bypass via DiskCleanup Task Hijack
  rules/windows/privilege_escalation_uac_bypass_diskcleanup_hijack.toml
Labels: OS: Windows, Rule: New, v7.10.0

#167 [New Rule] Microsoft IIS Service Account Password Dumped
  rules/windows/credential_access_iis_apppoolsa_pwd_appcmd.toml
Labels: OS: Windows, Rule: New, v7.10.0

#172 [New Rule] Remote SSH Login Enabled
  rules/macos/lateral_movement_remote_ssh_login_enabled.toml
Labels: OS: macOS, Rule: New, v7.10.0

#183 [New Rule] - Executable File Created by a System Critical Process
  rules/windows/defense_evasion_system_critical_proc_abnormal_file_activity.toml
Labels: OS: Windows, Rule: New, v7.10.0

#185 [Rule Tuning] Unusual Parent-Child Relationship
  rules/windows/privilege_escalation_unusual_parentchild_relationship.toml
Labels: OS: Windows, Rule: Tuning, v7.10.0

#204 [New Rule] Suspicious managed code hosting process
  rules/windows/defense_evasion_suspicious_managedcode_host_process.toml
Labels: OS: Windows, Rule: New, v7.10.0

#208 [New Rule] Suspicious .Net Compiler Parent Process
  rules/windows/execution_suspicious_dotnet_compiler_parent_process.toml
Labels: OS: Windows, Rule: New, v7.10.0

#210 [New Rule] Potential Process Masquerading as WerFault
  rules/windows/defense_evasion_masquerading_werfault.toml
Labels: OS: Windows, Rule: New, v7.10.0

#212 [New Rule] Suspicious WerFault Child Process
  rules/windows/defense_evasion_masquerading_suspicious_werfault_childproc.toml
Labels: OS: Windows, Rule: New, v7.10.0

#214 [New Rule] Suspicious Elastic Endpoint Parent Process
  rules/windows/defense_evasion_masquerading_as_elastic_endpoint_process.toml
Labels: OS: Windows, Rule: New, v7.10.0

#226 [New Rule] Code Injection - Suspicious Conhost Child Process
  rules/windows/defense_evasion_code_injection_conhost.toml
Labels: OS: Windows, Rule: New, v7.10.0

#228 [New Rule] Mimikatz Memssp Logs File Detected
  rules/windows/credential_access_mimikatz_memssp_default_logs.toml
Labels: OS: Windows, Rule: New, v7.10.0

#234 [New Rule] Evasion via Renamed AutoIt Scripts Interpreter
  rules/windows/defense_evasion_masquerading_renamed_autoit.toml
Labels: OS: Windows, Rule: New, v7.10.0

#241 [New Rule] Remote File Copy via TeamViewer
  rules/windows/command_and_control_teamviewer_remote_file_copy.toml
Labels: OS: Windows, Rule: New, v7.10.0

#247 [New Rule] Remote File Download via MpCmdRun
  rules/windows/command_and_control_remote_file_copy_mpcmdrun.toml
Labels: OS: Windows, Rule: New, v7.10.0

#237 [New Rule] Azure Conditional Access Policy Modified
  rules/azure/defense_evasion_azure_conditional_access_policy_modified.toml
  rules/azure/initial_access_consent_grant_attack_via_azure_registered_application.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#261 [New Rule] Unusual Linux Process Discovery Activity
  rules/ml/ml_linux_system_process_discovery.toml
Labels: ML, Rule: New, v7.10.0

#257 [New Rule] Anomalous Kernel Module Activity
  rules/ml/ml_linux_anomalous_kernel_module_arguments.toml
Labels: ML, Rule: New, v7.10.0

#267 [New Rule] Unusual Linux System Owner or User Discovery Activity
  rules/ml/ml_linux_system_user_discovery.toml
Labels: ML, Rule: New, v7.10.0

#264 [New Rule] Unusual Linux System Information Discovery Activity
  rules/ml/ml_linux_system_information_discovery.toml
Labels: ML, Rule: New, v7.10.0

#266 [New Rule] Unusual Linux Network Connection Discovery
  rules/ml/ml_linux_system_network_connection_discovery.toml
Labels: ML, Rule: New, v7.10.0

#253 [New Rule] Potential DLL SideLoading via Trusted Microsoft Programs
  rules/windows/defense_evasion_execution_suspicious_explorer_winword.toml
Labels: OS: Windows, Rule: New, v7.10.0

#249 [New Rule] Remote File Download via Desktopimgdownldr Utility
  rules/windows/command_and_control_remote_file_copy_desktopimgdownldr.toml
Labels: OS: Windows, Rule: New, v7.10.0

#181 [New Rule] Unusual System Virtual Process Child Program
  rules/windows/defense_evasion_unusual_system_vp_child_program.toml
Labels: OS: Windows, Rule: New, v7.10.0

#321 [New Rule] Unusual Process Calling the Metadata Service [Linux]
  rules/ml/ml_linux_anomalous_metadata_process.toml
Labels: OS: Linux, Rule: New, v7.10.0

#323 [New Rule] Unusual Process Calling the Metadata Service [Windows]
  rules/ml/ml_windows_anomalous_metadata_process.toml
Labels: OS: Windows, Rule: New, v7.10.0

#296 Collect unique query fields per rule
  detection_rules/main.py
  detection_rules/misc.py
  detection_rules/packaging.py
  detection_rules/rule.py
  etc/packages.yml
Labels: enhancement, python

#265 [New Rule] Unusual Linux System Network Configuration Discovery
  rules/ml/ml_linux_system_network_configuration_discovery.toml
Labels: ML, Rule: New, v7.10.0

#309 [New Rule] GCP IAM Service Account Key Deletion
  rules/gcp/credential_access_gcp_iam_service_account_key_deletion.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#316 [New Rule] GCP IAM Custom Role Creation
  rules/gcp/initial_access_gcp_iam_custom_role_creation.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#317 [New Rule] GCP Logging Sink Modification
  rules/gcp/exfiltration_gcp_logging_sink_modification.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#329 [New Rule] GCP IAM Role Deletion
  rules/gcp/impact_gcp_iam_role_deltion.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#310 [New Rule] GCP Firewall Rule Deleted
  rules/gcp/defense_evasion_gcp_firewall_rule_deleted.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#311 [New Rule] GCP Firewall Rule Modified
  rules/gcp/defense_evasion_gcp_firewall_rule_modified.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#331 [New Rule] GCP Pub/Sub Topic Creation
  rules/gcp/collection_gcp_pub_sub_topic_creation.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#313 [New Rule] GCP Storage Bucket Permissions Modified
  rules/gcp/defense_evasion_gcp_storage_bucket_permissions_modified.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#314 [New Rule] GCP Key Created for Service Account
  rules/gcp/credential_access_gcp_key_created_for_service_account.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#315 [New Rule] GCP Storage Bucket Deleted
  rules/gcp/impact_gcp_storage_bucket_deleted.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#318 [New Rule] GCP Service Account Created
  rules/gcp/persistence_gcp_service_account_created.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#319 [New Rule] GCP Service Account Deleted
  rules/gcp/impact_gcp_service_account_deleted.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#320 [New Rule] GCP Service Account Disabled
  rules/gcp/impact_gcp_service_account_disabled.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#312 [New Rule] GCP Firewall Rule Created
  rules/gcp/defense_evasion_gcp_firewall_rule_created.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#322 [New Rule] GCP Storage Bucket Configuration Modified
  rules/gcp/defense_evasion_gcp_storage_bucket_configuration_modified.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#324 [New Rule] GCP Virtual Private Cloud Route Deleted
  rules/gcp/impact_gcp_virtual_private_cloud_route_deleted.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#325 [New Rule] GCP Virtual Private Cloud Network Deleted
  rules/gcp/impact_gcp_virtual_private_cloud_network_deleted.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#326 [New Rule] GCP Virtual Private Cloud Route Created
  rules/gcp/impact_gcp_virtual_private_cloud_route_created.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#332 [New Rule] GCP Pub/Sub Subscription Creation
  rules/gcp/collection_gcp_pub_sub_subscription_creation.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#335 [Rule Tuning] Update event.category for Azure rules
  rules/azure/collection_update_event_hub_auth_rule.toml
  rules/azure/credential_access_key_vault_modified.toml
  rules/azure/credential_access_storage_account_key_regenerated.toml
  rules/azure/defense_evasion_azure_diagnostic_settings_deletion.toml
  rules/azure/defense_evasion_azure_privileged_identity_management_role_modified.toml
  rules/azure/defense_evasion_event_hub_deletion.toml
  rules/azure/defense_evasion_firewall_policy_deletion.toml
  rules/azure/defense_evasion_mfa_disabled_for_azure_user.toml
  rules/azure/defense_evasion_network_watcher_deletion.toml
  rules/azure/discovery_blob_container_access_mod.toml
  rules/azure/execution_command_virtual_machine.toml
  rules/azure/impact_azure_automation_runbook_deleted.toml
  rules/azure/impact_resource_group_deletion.toml
  rules/azure/initial_access_external_guest_user_invite.toml
  rules/azure/persistence_azure_automation_account_created.toml
  rules/azure/persistence_azure_automation_runbook_created_or_modified.toml
  rules/azure/persistence_azure_automation_webhook_created.toml
  rules/azure/persistence_user_added_as_owner_for_azure_application.toml
  rules/azure/persistence_user_added_as_owner_for_azure_service_principal.toml
Labels: Domain: Cloud, Platform: Azure, Rule: Tuning, v7.10.0

#307 [New Rule] GCP Pub/Sub Topic Deletion
  rules/gcp/defense_evasion_gcp_pub_sub_topic_deletion.toml
  rules/gcp/impact_gcp_iam_role_deletion.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#308 [New Rule] GCP Logging Bucket Deletion
  rules/gcp/defense_evasion_gcp_logging_bucket_deletion.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#334 [New Rule] GCP Pub/Sub Subscription Deletion
  rules/gcp/defense_evasion_gcp_pub_sub_subscription_deletion.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#263 [New Rule] Unusual Sudo Activity
  rules/ml/ml_linux_anomalous_sudo_activity.toml
Labels: ML, Rule: New, blocked, v7.10.0

#306 [New Rule] GCP Logging Sink Deletion
  rules/gcp/defense_evasion_gcp_logging_sink_deletion.toml
Labels: Domain: Cloud, Platform: GCP, Rule: New, v7.10.0

#276 [Rule Tuning] Mknod Process Activity
  rules/linux/linux_mknod_activity.toml
Labels: OS: Linux, Rule: Tuning, v7.10.0

#336 [New Rule] Azure Global Administrator Role Addition to PIM User
  rules/azure/persistence_azure_pim_user_added_global_admin.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, v7.10.0

#328 [New Rule] Unusual User Calling the Metadata Service [Windows]
  rules/ml/ml_windows_anomalous_metadata_user.toml
Labels: OS: Windows, Rule: New, v7.10.0

#327 [New Rule] Unusual User Calling the Metadata Service [Linux]
  rules/ml/ml_linux_anomalous_metadata_user.toml
Labels: ML, OS: Linux, Rule: New, v7.10.0

#88 [New Rule] AWS Management Console Attempted Root Login Brute Force
  rules/aws/initial_access_root_console_failure_brute_force.toml
Labels: Domain: Cloud, Platform: AWS, Rule: New, v7.10.0

#340 Add Tags to Unusual Sudo Activity Rule
  rules/ml/ml_linux_anomalous_sudo_activity.toml
Labels: OS: Linux, Rule: Tuning, v7.10.0

#202 [New Rule] Unusual CommandShell Parent Process
  rules/windows/execution_command_shell_started_by_unusual_process.toml
Labels: OS: Windows, Rule: New, v7.10.0

#148 [New Rule] - Print Spooler PrivEsc - Suspicious SPL File Created
  rules/windows/privilege_escalation_printspooler_suspicious_spl_file.toml
Labels: OS: Windows, Rule: New, v7.10.0

#136 [New Rule] - MacOS Keychains compression
  rules/macos/exfiltration_compress_credentials_keychains.toml
Labels: OS: macOS, Rule: New, v7.10.0

#126 [New Rule] - Creation of a new GPO Scheduled Task or Service
  rules/windows/lateral_movement_gpo_schtask_service_creation.toml
Labels: OS: Windows, Rule: New, v7.10.0

#142 [New Rule] - Defense Evasion IIS HttpLogging Disabled
  rules/windows/defense_evasion_iis_httplogging_disabled.toml
Labels: OS: Windows, Rule: New, v7.10.0

#165 [New Rule] Microsoft IIS Connection Strings Decryption
  rules/windows/credential_access_iis_connectionstrings_dumping.toml
Labels: OS: Windows, Rule: New, v7.10.0

#162 [New Rule] - Potential Secure File Deletion using SDelete utility
  rules/windows/defense_evasion_sdelete_like_filename_rename.toml
Labels: OS: Windows, Rule: New, v7.10.0

#152 [New Rule] - Persistence via Update Orchestrator Service Hijack
  rules/windows/persistence_via_update_orchestrator_service_hijack.toml
Labels: OS: Windows, Rule: New, v7.10.0

#146 [New Rule] PrivEsc - Suspicious PrintSpooler FileCreation Activity
  rules/windows/privilege_escalation_printspooler_service_suspicious_file.toml
Labels: OS: Windows, Rule: New, v7.10.0

#125 [New Rule]- Credential Access - Domain DPAPI Backup key
  rules/windows/credential_access_domain_backup_dpapi_private_keys.toml
Labels: OS: Windows, Rule: New, v7.10.0

#139 [New Rule] Kerberos dump using kcc command
  rules/macos/credential_access_kerberosdump_kcc.toml
Labels: OS: macOS, Rule: New, v7.10.0

#349 [Rule Tuning] Update from event.code to event.category
  rules/windows/defense_evasion_execution_via_trusted_developer_utilities.toml
  rules/windows/defense_evasion_via_filter_manager.toml
  rules/windows/discovery_process_discovery_via_tasklist_command.toml
  rules/windows/discovery_whoami_command_activity.toml
  rules/windows/execution_via_compiled_html_file.toml
  rules/windows/persistence_priv_escalation_via_accessibility_features.toml
  rules/windows/persistence_via_application_shimming.toml
Labels: OS: Windows, Rule: Tuning, v7.10.0

#341 Update package summary extras produced during package generation
  .github/workflows/pythonpackage.yml
  detection_rules/__init__.py
  detection_rules/docs.py
  detection_rules/mappings.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/utils.py
  etc/deprecated_rules.json
  etc/packages.yml
  requirements.txt
  tests/test_packages.py
Labels: documentation

#21 [New Rule] Cobalt Strike Beacon
  rules/network/command_and_control_cobalt_strike_beacon.toml
Labels: Domain: Network, Rule: New, v7.10.0

#23 [New Rule] Halfbaked C2 Beacon
  rules/network/command_and_control_halfbaked_beacon.toml
Labels: Domain: Network, Rule: New, v7.10.0

#25 [New Rule] Hosts File Modified
  rta/hosts_file_modify.py
  rules/cross-platform/impact_hosts_file_modified.toml
Labels: Domain: Endpoint, Rule: New, v7.10.0

#28 [New Rule] Possible FIN7 Command and Control Behavior
  rules/network/command_and_control_fin7_c2_behavior.toml
Labels: Domain: Network, Rule: New, v7.10.0

#30 [New Rule] RAR and PowerShell Downloaded from the Internet
  rules/network/command_and_control_download_rar_powershell_from_internet.toml
Labels: Domain: Network, Rule: New, v7.10.0

#109 [New Rule] Detecting Unsecure Elasticsearch Nodes
  rules/network/initial_access_unsecure_elasticsearch_node.toml
Labels: Domain: Network, Rule: New, v7.10.0

#270 [New Rule] Post Exploitation Public IP Reconnaissance
  rules/network/discovery_post_exploitation_public_ip_reconnaissance.toml
Labels: Domain: Network, OS: Linux, OS: Windows, OS: macOS, Rule: New, v7.10.0

#245 [New Rule] Suspicious Zoom ChildProcess
  rules/windows/defense_evasion_suspicious_zoom_child_process.toml
Labels: OS: Windows, Rule: New, v7.10.0
