Repository elastic/detection-rules, pull requests merged in 2021-04, with the labels that each got.

#1075 Change the asset .type field
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/schemas/definitions.py
  etc/packages.yml
Labels: python

#1063 Add a RuleCollection object instead of a "loader" module
  CLI.md
  detection_rules/cli_utils.py
  detection_rules/devtools.py
  detection_rules/eswrap.py
  detection_rules/kbwrap.py
  detection_rules/main.py
  detection_rules/mappings.py
  detection_rules/mixins.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/rule_loader.py
  tests/base.py
  tests/test_all_rules.py
  tests/test_mappings.py
  tests/test_packages.py
Labels: python

#1070 [Rule Tuning] Potential Command and Control via Internet Explorer
  rules/windows/command_and_control_iexplore_via_com.toml
Labels: OS: Windows, Rule: Tuning, v7.13.0

#1040 [New Rule] Persistence via WMI Standard Registry Provider
  rules/windows/persistence_via_wmi_stdregprov_run_services.toml
Labels: OS: Windows, Rule: New, v7.13.0

#1083 Lock 7.12 rule versions
  detection_rules/devtools.py
  etc/version.lock.json
  rules/promotions/endgame_adversary_behavior_detected.toml
  rules/promotions/endgame_cred_dumping_detected.toml
  rules/promotions/endgame_cred_dumping_prevented.toml
  rules/promotions/endgame_cred_manipulation_detected.toml
  rules/promotions/endgame_cred_manipulation_prevented.toml
  rules/promotions/endgame_exploit_detected.toml
  rules/promotions/endgame_exploit_prevented.toml
  rules/promotions/endgame_malware_detected.toml
  rules/promotions/endgame_malware_prevented.toml
  rules/promotions/endgame_permission_theft_detected.toml
  rules/promotions/endgame_permission_theft_prevented.toml
  rules/promotions/endgame_process_injection_detected.toml
  rules/promotions/endgame_process_injection_prevented.toml
  rules/promotions/endgame_ransomware_detected.toml
  rules/promotions/endgame_ransomware_prevented.toml
Labels: v7.12.0

#1087 Network rules for the 7.13 release
  rules/ml/ml_high_count_network_denies.toml
  rules/ml/ml_high_count_network_events.toml
  rules/ml/ml_rare_destination_country.toml
  rules/ml/ml_spike_in_traffic_to_a_country.toml
Labels: ML, Rule: New, v7.13.0

#1043 [Rule Tuning] Local Scheduled Task Commands
  rules/windows/persistence_local_scheduled_task_commands.toml
  rules/windows/persistence_local_scheduled_task_creation.toml
Labels: OS: Windows, Rule: Tuning, v7.13.0

#1082 Bump version for endpoint promotion rules for 7.12.1
  etc/version.lock.json
  rules/promotions/endgame_adversary_behavior_detected.toml
  rules/promotions/endgame_cred_dumping_detected.toml
  rules/promotions/endgame_cred_dumping_prevented.toml
  rules/promotions/endgame_cred_manipulation_detected.toml
  rules/promotions/endgame_cred_manipulation_prevented.toml
  rules/promotions/endgame_exploit_detected.toml
  rules/promotions/endgame_exploit_prevented.toml
  rules/promotions/endgame_malware_detected.toml
  rules/promotions/endgame_malware_prevented.toml
  rules/promotions/endgame_permission_theft_detected.toml
  rules/promotions/endgame_permission_theft_prevented.toml
  rules/promotions/endgame_process_injection_detected.toml
  rules/promotions/endgame_process_injection_prevented.toml
  rules/promotions/endgame_ransomware_detected.toml
  rules/promotions/endgame_ransomware_prevented.toml
Labels: v7.12.1

#992 [Rule Tuning] Keychain Password Retrieval via Command Line
  rules/macos/credential_access_keychain_pwd_retrieval_security_cmd.toml
Labels: Rule: Tuning, v7.13.0

#1044 [Rule Tuning] Local Service Commands
  rules/windows/lateral_movement_local_service_commands.toml
  rules/windows/lateral_movement_service_control_spawned_script_int.toml
Labels: OS: Windows, Rule: Tuning, v7.13.0

#1046 [Rule Tuning] Enumeration of Users or Groups via Built-in Commands
  rules/macos/discovery_users_domain_built_in_commands.toml
Labels: Rule: Tuning, v7.13.0

#1103 Adjust loopback for Cloudtrail
  rules/ml/ml_cloudtrail_rare_error_code.toml
  rules/ml/ml_cloudtrail_rare_method_by_city.toml
  rules/ml/ml_cloudtrail_rare_method_by_country.toml
  rules/ml/ml_cloudtrail_rare_method_by_user.toml
Labels: Domain: Cloud, Platform: AWS, Rule: Tuning, v7.13.0

#1109 [Rule Tuning] Unusual Network Connection via RunDLL32
  rules/windows/defense_evasion_unusual_network_connection_via_rundll32.toml
Labels: OS: Windows, Rule: Tuning, v7.13.0

#1096 [New Rule] Persistence via BITS Job Notify Cmdline
  rules/windows/persistence_via_bits_job_notify_command.toml
Labels: OS: Windows, Rule: New, v7.13.0

#1035 [Rule Tuning] Suspicious Explorer Child Process
  rules/windows/initial_access_via_explorer_suspicious_child_parent_args.toml
Labels: Rule: Tuning, v7.13.0

#1042 [New Rule] Suspicious Startup Shell Folder Modification
  rules/windows/persistence_evasion_registry_startup_shell_folder_modified.toml
  rules/windows/persistence_run_key_and_startup_broad.toml
Labels: OS: Windows, Rule: New, v7.13.0

#1056 [Rule Tuning] Modification of Standard Authentication Module or Confi…
  rules/cross-platform/persistence_credential_access_modify_auth_module_or_config.toml
Labels: OS: Linux, OS: macOS, Rule: Tuning, v7.13.0

#1058 [New Rule] NullSessionPipe Registry Modification
  rules/windows/lateral_movement_defense_evasion_lanman_nullsessionpipe_modification.toml
Labels: Rule: New, v7.13.0

#1079 [Rule Tuning] Connection to Commonly Abused Web Services
  rules/windows/command_and_control_common_webservices.toml
Labels: Rule: Tuning, v7.13.0

#1098 Update threshold rule schema to disallow empty field string
  detection_rules/schemas/v7_12.py
  etc/version.lock.json
  rules/aws/credential_access_aws_iam_assume_role_brute_force.toml
Labels: Rule: Tuning, python, v7.12.1

#1077 [Rule Tuning] Unusual Persistence via Services Registry
  rules/windows/persistence_services_registry.toml
Labels: Rule: Tuning, v7.13.0

#1038 [New Rule] Persistence via Scheduled Job Creation
  rules/windows/persistence_local_scheduled_job_creation.toml
Labels: OS: Windows, Rule: New, v7.13.0

#1053 [New Rule] Network Logon Providers Registry Modification
  rules/windows/credential_access_persistence_network_logon_provider_modification.toml
Labels: OS: Windows, Rule: New, v7.13.0

#1086 [Rule Tuning] Startup or Run Key Registry Modification
  rules/windows/persistence_run_key_and_startup_broad.toml
Labels: Rule: Tuning, v7.13.0

#1032 [Rule Tuning] Setuid / Setgid Bit Set via chmod
  rules/cross-platform/privilege_escalation_setuid_setgid_bit_set_via_chmod.toml
Labels: Rule: Tuning, v7.13.0

#1061 [Rule Tuning] Update Cloud Rule Syntax
  rules/aws/collection_cloudtrail_logging_created.toml
  rules/aws/credential_access_iam_user_addition_to_group.toml
  rules/aws/defense_evasion_cloudtrail_logging_deleted.toml
  rules/aws/defense_evasion_cloudtrail_logging_suspended.toml
  rules/aws/defense_evasion_cloudwatch_alarm_deletion.toml
  rules/aws/defense_evasion_config_service_rule_deletion.toml
  rules/aws/defense_evasion_configuration_recorder_stopped.toml
  rules/aws/defense_evasion_ec2_flow_log_deletion.toml
  rules/aws/defense_evasion_ec2_network_acl_deletion.toml
  rules/aws/defense_evasion_guardduty_detector_deletion.toml
  rules/aws/defense_evasion_s3_bucket_configuration_deletion.toml
  rules/aws/defense_evasion_waf_acl_deletion.toml
  rules/aws/impact_cloudtrail_logging_updated.toml
  rules/aws/impact_cloudwatch_log_group_deletion.toml
  rules/aws/impact_cloudwatch_log_stream_deletion.toml
  rules/aws/impact_ec2_disable_ebs_encryption.toml
  rules/aws/impact_iam_deactivate_mfa_device.toml
  rules/aws/impact_iam_group_deletion.toml
  rules/aws/impact_rds_cluster_deletion.toml
  rules/aws/impact_rds_instance_cluster_stoppage.toml
  rules/aws/initial_access_console_login_root.toml
  rules/aws/initial_access_password_recovery.toml
  rules/aws/persistence_ec2_network_acl_creation.toml
  rules/aws/persistence_iam_group_creation.toml
  rules/aws/persistence_rds_cluster_creation.toml
  rules/aws/privilege_escalation_root_login_without_mfa.toml
  rules/azure/persistence_azure_automation_webhook_created.toml
  rules/gcp/defense_evasion_gcp_storage_bucket_configuration_modified.toml
  rules/gcp/defense_evasion_gcp_storage_bucket_permissions_modified.toml
  rules/gcp/impact_gcp_storage_bucket_deleted.toml
  rules/gcp/impact_gcp_virtual_private_cloud_route_created.toml
Labels: Domain: Cloud, Rule: Tuning, v7.13.0

#1091 [Rule Tuning] Public IP Reconnaissance Activity
  rules/network/discovery_post_exploitation_public_ip_reconnaissance.toml
  rules/windows/discovery_post_exploitation_external_ip_lookup.toml
Labels: Rule: Tuning, v7.13.0

#1101 [New Rule] Potential Remote Desktop Shadowing Activity
  rules/windows/lateral_movement_evasion_rdp_shadowing.toml
Labels: OS: Windows, Rule: New, v7.13.0

#1068 [New Rule] Microsoft 365 New Inbox Rule Created
  rules/microsoft-365/collection_microsoft_365_new_inbox_rule.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: New, community, v7.13.0

#1108 [Rule Tuning] AWS Config Service Tampering
  rules/aws/defense_evasion_config_service_rule_deletion.toml
Labels: Domain: Cloud, Platform: AWS, Rule: Tuning, v7.13.0

#1081 [Rule Tuning] Windows Suspicious Script Object Execution
  rules/windows/defense_evasion_suspicious_scrobj_load.toml
Labels: Rule: Tuning, v7.13.0

#1026 [Rule Tuning] Microsoft Exchange Server UM Writing Suspicious Files
  rules/windows/initial_access_suspicious_ms_exchange_files.toml
Labels: Rule: Tuning, v7.13.0

#1094 [New Rule] Potential Protocol Tunneling via EarthWorm
  rules/linux/command_and_control_tunneling_via_earthworm.toml
Labels: OS: Linux, Rule: New, v7.13.0

#1118 [Deprecation] Trusted Developer Application Usage
  rules/_deprecated/defense_evasion_execution_via_trusted_developer_utilities.toml
Labels: OS: Windows, Rule: Deprecation, v7.13.0

#1116 [Deprecation] Process Discovery via Tasklist
  rules/_deprecated/discovery_process_discovery_via_tasklist_command.toml
Labels: OS: Windows, Rule: Deprecation, v7.13.0

#1099 Update threshold rule schema to disallow empty field string
  detection_rules/rule.py
  detection_rules/schemas/definitions.py
Labels: Rule: Tuning, python, v7.13.0

#1122 [Deprecation] Deprecate inherently noisy rules based on testing
  rules/_deprecated/command_and_control_ftp_file_transfer_protocol_activity_to_the_internet.toml
  rules/_deprecated/command_and_control_irc_internet_relay_chat_protocol_activity_to_the_internet.toml
  rules/_deprecated/command_and_control_port_8000_activity_to_the_internet.toml
  rules/_deprecated/command_and_control_pptp_point_to_point_tunneling_protocol_activity.toml
  rules/_deprecated/command_and_control_proxy_port_activity_to_the_internet.toml
  rules/_deprecated/command_and_control_smtp_to_the_internet.toml
  rules/_deprecated/command_and_control_sql_server_port_activity_to_the_internet.toml
  rules/_deprecated/command_and_control_ssh_secure_shell_from_the_internet.toml
  rules/_deprecated/command_and_control_ssh_secure_shell_to_the_internet.toml
  rules/_deprecated/command_and_control_tor_activity_to_the_internet.toml
  rules/_deprecated/credential_access_tcpdump_activity.toml
  rules/_deprecated/defense_evasion_base64_encoding_or_decoding_activity.toml
  rules/_deprecated/defense_evasion_hex_encoding_or_decoding_activity.toml
  rules/_deprecated/discovery_query_registry_via_reg.toml
  rules/_deprecated/discovery_whoami_commmand.toml
  rules/_deprecated/execution_command_shell_started_by_powershell.toml
  rules/_deprecated/initial_access_rdp_remote_desktop_protocol_to_the_internet.toml
  rules/_deprecated/linux_mknod_activity.toml
  rules/_deprecated/linux_nmap_activity.toml
  rules/_deprecated/linux_socat_activity.toml
  rules/_deprecated/persistence_cron_jobs_creation_and_runtime.toml
  rules/_deprecated/persistence_kernel_module_activity.toml
Labels: Rule: Deprecation, v7.13.0, v7.14.0

#1136 Separate out query validation from the class hierarchy
  detection_rules/devtools.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/rule_validators.py
  detection_rules/schemas/definitions.py
  tests/test_all_rules.py
  tests/test_mappings.py
Labels: python

#1138 Add threat_match rule type
  detection_rules/rule.py
  detection_rules/schemas/definitions.py
Labels: enhancement, python, v7.13.0

#1139 Add wildcard field support to KQL
  kql/kql2eql.py
  kql/parser.py
  tests/kuery/test_parser.py
Labels: python

#1132 [Rule Tuning] AWS IAM Deactivation of MFA Device
  rules/aws/impact_iam_deactivate_mfa_device.toml
Labels: Domain: Cloud, Platform: AWS, Rule: Tuning, v7.13.0

#1133 [New Rule] Threat intel indicator match rule
  detection_rules/beats.py
  detection_rules/cli_utils.py
  detection_rules/ecs.py
  detection_rules/main.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/schemas/definitions.py
  rules/cross-platform/threat_intel_module_match.toml
  tests/test_all_rules.py
Labels: Domain: Endpoint, Domain: Network, OS: Linux, OS: Windows, OS: macOS, Rule: New, v7.13.0
