Repository elastic/detection-rules, pull requests merged in 2021-06, with the labels that each got.

#1228 [Rule Tuning] Suspicious DLL Loaded for Persistence or Privilege Escalation
  rules/windows/privilege_escalation_persistence_phantom_dll.toml
Labels: OS: Windows, Rule: Tuning, backport: auto, v7.14.0

#1246 Fix create-rule bug
  detection_rules/main.py
  detection_rules/rule.py
  detection_rules/rule_formatter.py
Labels: backport: auto, bug, cli, python

#1218 Refactor experimental ML CLI and code
  .gitignore
  detection_rules/__init__.py
  detection_rules/cli_utils.py
  detection_rules/devtools.py
  detection_rules/eswrap.py
  detection_rules/ghwrap.py
  detection_rules/misc.py
  detection_rules/ml.py
  detection_rules/schemas/definitions.py
  detection_rules/utils.py
  docs/ML_DGA.md
  docs/experimental-machine-learning/DGA.md
  docs/experimental-machine-learning/experimental-detections.md
  docs/experimental-machine-learning/problem-child.md
  docs/experimental-machine-learning/readme.md
Labels: backport: auto, experimental, python

#1253 Update problem-child.md
  docs/experimental-machine-learning/problem-child.md
Labels: backport: auto, documentation

#1256 Lock the versions from 7.13.0
  etc/deprecated_rules.json
  etc/version.lock.json
Labels: backport: auto

#1248 [New Rule] Modification of AmsiEnable Registry Key
  rules/windows/defense_evasion_amsienable_key_mod.toml
Labels: OS: Windows, Rule: New, backport: auto, v7.14.0

#1142 [New Rule] AWS EC2 VM Export Failure
  rules/aws/exfiltration_ec2_vm_export_failure.toml
Labels: Domain: Cloud, Platform: AWS, Rule: New, backport: auto, community, v7.14.0

#1247 Add KQL support for additional ES field types
  kql/eql2kql.py
  kql/parser.py
  tests/kuery/test_parser.py
Labels: backport: auto, bug, kql, python, test-suite

#1244 [Rule Tuning] Component Object Model Hijacking
  rules/windows/persistence_suspicious_com_hijack_registry.toml
Labels: OS: Windows, Rule: Tuning, backport: auto, v7.14.0

#1163 [Rule Tuning] Attempts to brute force a microsoft 365 user account
  rules/microsoft-365/credential_access_microsoft_365_brute_force_user_account_attempt.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: Tuning, backport: auto, community, v7.14.0

#1227 [Rule Tuning] Update network rule address blocks
  rules/linux/lateral_movement_telnet_network_activity_external.toml
  rules/linux/lateral_movement_telnet_network_activity_internal.toml
  rules/macos/execution_installer_spawned_network_event.toml
  rules/macos/execution_scripting_osascript_exec_followed_by_netcon.toml
  rules/network/command_and_control_dns_directly_to_the_internet.toml
  rules/network/command_and_control_download_rar_powershell_from_internet.toml
  rules/network/command_and_control_rdp_remote_desktop_protocol_from_the_internet.toml
  rules/network/command_and_control_vnc_virtual_network_computing_from_the_internet.toml
  rules/network/command_and_control_vnc_virtual_network_computing_to_the_internet.toml
  rules/network/initial_access_rpc_remote_procedure_call_from_the_internet.toml
  rules/network/initial_access_rpc_remote_procedure_call_to_the_internet.toml
  rules/windows/command_and_control_certutil_network_connection.toml
  rules/windows/defense_evasion_misc_lolbin_connecting_to_the_internet.toml
  rules/windows/defense_evasion_msxsl_network.toml
  rules/windows/defense_evasion_unusual_network_connection_via_rundll32.toml
  rules/windows/execution_command_prompt_connecting_to_the_internet.toml
  rules/windows/execution_html_help_executable_program_connecting_to_the_internet.toml
  rules/windows/execution_register_server_program_connecting_to_the_internet.toml
Labels: Rule: Tuning, backport: auto, v7.14.0

#1280 [Fleet] Update template and packaging code for fleet packages
  NOTICE.txt
  detection_rules/packaging.py
  detection_rules/schemas/registry_package.py
  etc/packages.yml
  etc/security-logo-color-64px.svg
Labels: backport: auto, fleet, python

#1254 [Rule Tuning] Updating rules to query both versions of certain unsupervised ML jobs
  rules/ml/ml_linux_anomalous_metadata_process.toml
  rules/ml/ml_linux_anomalous_metadata_user.toml
  rules/ml/ml_linux_anomalous_network_port_activity.toml
  rules/ml/ml_linux_anomalous_process_all_hosts.toml
  rules/ml/ml_linux_anomalous_user_name.toml
  rules/ml/ml_rare_process_by_host_linux.toml
  rules/ml/ml_rare_process_by_host_windows.toml
  rules/ml/ml_windows_anomalous_metadata_process.toml
  rules/ml/ml_windows_anomalous_metadata_user.toml
  rules/ml/ml_windows_anomalous_network_activity.toml
  rules/ml/ml_windows_anomalous_path_activity.toml
  rules/ml/ml_windows_anomalous_process_all_hosts.toml
  rules/ml/ml_windows_anomalous_process_creation.toml
  rules/ml/ml_windows_anomalous_user_name.toml
Labels: ML, Rule: Tuning, backport: auto

#1216 [Rule Tuning] Attempts to Brute Force an Okta User Account
  rules/okta/credential_access_attempts_to_brute_force_okta_user_account.toml
Labels: Domain: Cloud, Platform: Okta, Rule: Tuning, backport: auto, v7.14.0

#1287 [Bug] Fix ML job IDs that used hyphens
  rules/ml/ml_high_count_network_denies.toml
  rules/ml/ml_high_count_network_events.toml
  rules/ml/ml_rare_destination_country.toml
  rules/ml/ml_spike_in_traffic_to_a_country.toml
Labels: ML, backport: auto, bug, v7.13.3, v7.14.0

#1291 Fix rules which were not using v2 license
  rules/ml/ml_high_count_network_denies.toml
  rules/ml/ml_high_count_network_events.toml
  rules/ml/ml_rare_destination_country.toml
  rules/ml/ml_spike_in_traffic_to_a_country.toml
  tests/test_all_rules.py
Labels: Rule: Tuning, backport: auto, v7.13.3, v7.14.0

#1283 [New Rule] Add detection rules for auth ML jobs
  rules/ml/ml_auth_rare_hour_for_a_user_to_logon.toml
  rules/ml/ml_auth_rare_source_ip_for_a_user.toml
  rules/ml/ml_auth_rare_user_logon.toml
  rules/ml/ml_auth_spike_in_failed_logon_events.toml
  rules/ml/ml_auth_spike_in_logon_events.toml
  rules/ml/ml_auth_spike_in_logon_events_from_a_source_ip.toml
Labels: Domain: Endpoint, ML, Rule: New, backport: skip, v7.14.0

#1295 Simplify version locking code and fix 7.13.0 lock
  detection_rules/devtools.py
  detection_rules/packaging.py
  detection_rules/rule.py
  etc/version.lock.json
  tests/test_packages.py
Labels: backport: auto, python

#1296 Fix fleet package generation
  detection_rules/packaging.py
  detection_rules/schemas/registry_package.py
  etc/packages.yml
Labels: backport: auto, fleet, python

#1169 [New Rule] Azure Service Principal Credentials Added
  rules/azure/impact_azure_service_principal_credentials_added.toml
Labels: Rule: New, backport: auto, community, v7.14.0

#1175 [New Rule] EC2 Full Network Packet Capture Detected
  rules/aws/exfiltration_ec2_full_network_packet_capture_detected.toml
Labels: Domain: Cloud, Platform: AWS, Rule: New, backport: auto, community, v7.14.0

#1197 [New Rule] AWS Route 53 Domain Transfer Lock Disabled
  rules/aws/persistence_route_53_domain_transfer_lock_disabled.toml
Labels: Platform: AWS, Rule: New, backport: auto, community, v7.14.0

#1198 [New Rule] AWS Route 53 Domain Transferred to Another Account
  rules/aws/persistence_route_53_domain_transferred_to_another_account.toml
Labels: Platform: AWS, Rule: New, backport: auto, community, v7.14.0

#1225 [Rule Tuning] SMB (Windows File Sharing) Activity to the Internet
  rules/network/initial_access_smb_windows_file_sharing_activity_to_the_internet.toml
Labels: OS: Windows, Rule: Tuning, backport: auto, v7.14.0

#1251 [Rule Tuning] Attempts to Brute Force a Microsoft 365 User Account
  rules/microsoft-365/credential_access_microsoft_365_brute_force_user_account_attempt.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: Tuning, backport: auto, community, v7.14.0

#1255 Switch from process.ppid to process.parent.pid
  rules/macos/execution_shell_execution_via_apple_scripting.toml
  rules/macos/persistence_folder_action_scripts_runtime.toml
Labels: Rule: Tuning, backport: auto, ecs, v7.13.2, v7.14.0

#1164 [Rule Tuning] Potential password spraying of microsoft 365 user accounts
  rules/microsoft-365/credential_access_microsoft_365_potential_password_spraying_attack.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: Tuning, backport: auto, community

#1270 [New Rule] AWS RDS Snapshot Export
  rules/aws/exfiltration_rds_snapshot_export.toml
Labels: Domain: Cloud, Platform: AWS, Rule: New, backport: auto, community, v7.14.0

#1269 [New Rule] AWS RDS Instance Creation
  rules/aws/persistence_rds_instance_creation.toml
Labels: Domain: Cloud, Platform: AWS, Rule: New, backport: auto, community, v7.14.0

#1261 [New Rule] AWS RDS Security Group Deleted
  rules/aws/impact_rds_group_deletion.toml
Labels: Domain: Cloud, Platform: AWS, Rule: New, backport: auto, community, v7.14.0

#1260 [New Rule] AWS RDS Security Group Created
  rules/aws/persistence_rds_group_creation.toml
Labels: Domain: Cloud, Platform: AWS, Rule: New, backport: auto, community, v7.14.0

#1303 Add ECS 1.10.0 and beats 7.13.2 schemas
  etc/beats_schemas/v7.13.2.json.gz
  etc/ecs_schemas/1.10.0/ecs_flat.json.gz
  etc/ecs_schemas/1.10.0/ecs_nested.json.gz
  etc/ecs_schemas/master_2.0.0.dev/ecs_flat.json.gz
Labels: backport: auto, beats, ecs

#1306 Extend metadata with `[metadata.extended]` section
  detection_rules/rule.py
Labels: backport: auto, python

#1173 Add min_stack_version to rule metadata
  detection_rules/beats.py
  detection_rules/cli_utils.py
  detection_rules/ecs.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/rule_validators.py
  detection_rules/schemas/__init__.py
  etc/stack-schema-map.yaml
  tests/test_all_rules.py
  tests/test_schemas.py
Labels: backport: auto, python
