Repository elastic/detection-rules, pull requests merged in 2021-09, with the labels that each got.

#1460 [Bug] RuleTOMLContents.to_dict serialize with proper schema
  detection_rules/rule.py
Labels: bug, python, backport: auto

#1469 [Bug] Community label: use getMembershipForUser
  .github/workflows/community.yml
Labels: backport: auto

#1468 [CI] Notify slack on backport failure
  .github/workflows/backport.yml
Labels: ci/cd, backport: auto

#1454 Add DeprecatedCollection to RuleCollection to bypass validation
  detection_rules/devtools.py
  detection_rules/docs.py
  detection_rules/main.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/rule_loader.py
  detection_rules/version_lock.py
  tests/base.py
  tests/test_all_rules.py
Labels: python, backport: auto

#1470 Revert #1440 new endpoint promotion rule
  rules/integrations/endpoint/elastic_endpoint_security.toml
  rules/integrations/endpoint/elastic_endpoint_security_behavior_protection.toml
Labels: backport: auto, Integration: Endpoint

#1199 Generate detection rule to alert on traffic to typosquatting/homonym domains
  detection_rules/eswrap.py
  detection_rules/kbwrap.py
  detection_rules/main.py
  detection_rules/misc.py
  docs/typosquatting_rule.md
  etc/rule_template_typosquatting_domain.json
Labels: enhancement, cli, python, backport: auto

#1477 [rule-tuning] Suspicious MS Office Child Process
  rules/windows/initial_access_suspicious_ms_office_child_process.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1479 [New Rule] Behavior Rule for CVE-2021-40444 Exploitation
  rules/windows/defense_evasion_execution_control_panel_suspicious_args.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, v7.14.0, backport: auto

#1073 [Bug] CLI Fixes
  detection_rules/devtools.py
  detection_rules/kbwrap.py
  detection_rules/main.py
  detection_rules/misc.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/rule_loader.py
  detection_rules/utils.py
  etc/api_schemas/7.13/7.13.base.json
  etc/api_schemas/7.13/7.13.eql.json
  etc/api_schemas/7.13/7.13.machine_learning.json
  etc/api_schemas/7.13/7.13.query.json
  etc/api_schemas/7.13/7.13.threat_match.json
  etc/api_schemas/7.13/7.13.threshold.json
  etc/api_schemas/7.14/7.14.base.json
  etc/api_schemas/7.14/7.14.eql.json
  etc/api_schemas/7.14/7.14.machine_learning.json
  etc/api_schemas/7.14/7.14.query.json
  etc/api_schemas/7.14/7.14.threat_match.json
  etc/api_schemas/7.14/7.14.threshold.json
  kibana/connector.py
Labels: bug, cli, python, schema, backport: auto

#1484 [Rule tuning] Fix typo in ML rule descriptions
  rules/ml/ml_auth_spike_in_logon_events_from_a_source_ip.toml
Labels: ML, Rule: Tuning, backport: auto

#1481 [rule-tuning] Adding more context with triage/investigation
  rules/cross-platform/threat_intel_module_match.toml
  rules/integrations/aws/ml_cloudtrail_error_message_spike.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_country.toml
  rules/ml/ml_rare_process_by_host_windows.toml
  rules/windows/credential_access_mimikatz_powershell_module.toml
  rules/windows/defense_evasion_defender_exclusion_via_powershell.toml
  rules/windows/discovery_adfind_command_activity.toml
  rules/windows/lateral_movement_dns_server_overflow.toml
  rules/windows/lateral_movement_scheduled_task_target.toml
  rules/windows/persistence_evasion_registry_startup_shell_folder_modified.toml
Labels: documentation, Integration: AWS, Domain: Cloud, ML, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1485 Allow CLI config to be multiple formats
  .gitignore
  detection_rules/misc.py
Labels: cli, python, backport: auto

#1487 [KQL] Add support for date fields in parser
  kql/__init__.py
  kql/parser.py
  tests/kuery/test_parser.py
Labels: python, backport: auto

#1486 [Rule Tuning] Add default timestamp condition for threat_query
  rules/cross-platform/threat_intel_module_match.toml
Labels: Rule: Tuning, backport: auto

#1495 Additional Att&ck Mappings for credential access Rules
  rules/macos/credential_access_kerberosdump_kcc.toml
  rules/macos/lateral_movement_credential_access_kerberos_bifrostconsole.toml
  rules/windows/credential_access_cmdline_dump_tool.toml
  rules/windows/credential_access_copy_ntds_sam_volshadowcp_cmdline.toml
  rules/windows/credential_access_domain_backup_dpapi_private_keys.toml
  rules/windows/credential_access_dump_registry_hives.toml
  rules/windows/credential_access_lsass_memdump_file_created.toml
  rules/windows/credential_access_mimikatz_powershell_module.toml
  rules/windows/credential_access_saved_creds_vaultcmd.toml
Labels: documentation, OS: macOS, OS: Windows, Domain: Endpoint, backport: auto

#1494 [Rule Tuning] Fix typos in rule metadata
  rules/integrations/aws/persistence_ec2_security_group_configuration_change_detection.toml
Labels: Integration: AWS, Domain: Cloud, backport: auto

#1209 [New Rule] Okta User Attempted Unauthorized Access
  rules/okta/initial_access_okta_user_attempted_unauthorized_access.toml
Labels: Rule: New, community, backport: auto

#1213 [New Rule] AWS STS GetSessionToken Abuse
  rules/integrations/aws/privilege_escalation_sts_getsessiontoken_abuse.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, community, backport: auto

#1502 [Rule Tuning] Add system index to Windows Event Logs Cleared
  rules/windows/defense_evasion_clearing_windows_security_logs.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1211 [New Rule] O365 Exchange Suspicious Mailbox Right Delegation
  rules/microsoft-365/persistence_exchange_suspicious_mailbox_right_delegation.toml
Labels: Rule: New, community, backport: auto

#1212 [New Rule] New or Modified Federation Domain
  rules/integrations/o365/persistence_new_or_modified_federation_domain.toml
Labels: Domain: Cloud, Rule: New, community, Integration: Microsoft 365, backport: auto

#1393 [New Rule] Azure Frontdoor Web Application Firewall (WAF) Policy Deleted
  rules/integrations/azure/defense_evasion_frontdoor_firewall_policy_deletion.toml
Labels: Integration: Azure, Domain: Cloud, community, backport: auto

#1504 [New Rule] Potential Lsass Memory Dump via MirrorDump
  etc/non-ecs-schema.json
  rules/windows/credential_access_potential_lsa_memdump_via_mirrordump.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1510 [New Rule] Virtual Machine Fingerprinting via Grep
  rules/cross-platform/discovery_virtual_machine_fingerprinting_grep.toml
Labels: OS: Linux, OS: macOS, Rule: New, backport: auto

#1508 [Rule Tuning] Small update on rule descriptions
  rules/integrations/aws/ml_cloudtrail_error_message_spike.toml
  rules/integrations/aws/ml_cloudtrail_rare_error_code.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_city.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_country.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_user.toml
  rules/integrations/aws/persistence_ec2_security_group_configuration_change_detection.toml
  rules/ml/ml_auth_rare_user_logon.toml
  rules/network/command_and_control_dns_directly_to_the_internet.toml
  rules/network/command_and_control_download_rar_powershell_from_internet.toml
  rules/windows/defense_evasion_whitespace_padding_in_command_line.toml
  rules/windows/persistence_webshell_detection.toml
  rules/windows/privilege_escalation_unusual_parentchild_relationship.toml
Labels: documentation, Integration: AWS, Domain: Cloud, ML, OS: Windows, Domain: Endpoint, backport: auto

#1511 Rename new_or_modified_federation_domain.toml to correspond with tactic
  rules/integrations/o365/privilege_escalation_new_or_modified_federation_domain.toml
Labels: Domain: Cloud, Integration: Microsoft 365, backport: auto
