Repository elastic/detection-rules, pull requests merged in 2021-12, with the labels that each got.

#1621 Adding Beaconing docs
  docs/experimental-machine-learning/beaconing.md
Labels: backport: auto

#1647 [Rule Tuning] Whitespace Padding in Process Command Line - Limit Indexes
  rules/windows/defense_evasion_whitespace_padding_in_command_line.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1651 [Rule Tuning] Switch "Roshal Archive (RAR) or PowerShell File Downloaded from the Internet" to use KQL
  rules/network/command_and_control_download_rar_powershell_from_internet.toml
Labels: Rule: Tuning, backport: auto

#1648 [Rule Tuning] Whitespace Padding in Process Command Line - Re-add index and add min_stack_version
  rules/windows/defense_evasion_whitespace_padding_in_command_line.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1643 Updates Host Risk Score documentation
  docs/experimental-machine-learning/host-risk-score.md
  docs/experimental-machine-learning/images/0a_host_risk_score_card.png
  docs/experimental-machine-learning/images/0b_alert_summary.png
  docs/experimental-machine-learning/images/1_create_deployment.png
  docs/experimental-machine-learning/images/2_edit_configuration.png
  docs/experimental-machine-learning/images/3_edit_user_settings.png
  docs/experimental-machine-learning/images/4_add_flag.png
  docs/experimental-machine-learning/images/5_save_settings.png
  docs/experimental-machine-learning/images/6_confirm_activity_finished.png
Labels: documentation, experimental, backport: auto, v8.0.0, CTI area

#1645 [Rule Tuning] updates from documentation review for 7.16
  rules/integrations/aws/exfiltration_rds_snapshot_restored.toml
  rules/integrations/aws/impact_aws_eventbridge_rule_disabled_or_deleted.toml
  rules/integrations/azure/defense_evasion_kubernetes_events_deleted.toml
  rules/integrations/azure/impact_kubernetes_pod_deleted.toml
  rules/integrations/gcp/impact_gcp_virtual_private_cloud_route_created.toml
  rules/integrations/o365/impact_microsoft_365_mass_download_by_a_single_user.toml
  rules/integrations/o365/impact_microsoft_365_potential_ransomware_activity.toml
  rules/promotions/endgame_ransomware_detected.toml
  rules/promotions/endgame_ransomware_prevented.toml
  rules/windows/collection_posh_audio_capture.toml
  rules/windows/credential_access_potential_lsa_memdump_via_mirrordump.toml
  rules/windows/defense_evasion_dns_over_https_enabled.toml
  rules/windows/defense_evasion_execution_control_panel_suspicious_args.toml
  rules/windows/defense_evasion_suspicious_process_access_direct_syscall.toml
  rules/windows/discovery_posh_suspicious_api_functions.toml
  rules/windows/execution_posh_portable_executable.toml
  rules/windows/impact_backup_file_deletion.toml
Labels: Integration: AWS, Integration: Azure, Domain: Cloud, Rule: Tuning, OS: Windows, Domain: Endpoint, Integration: GCP, Integration: Microsoft 365, backport: auto

#1652 [Rule Tuning] Add reference to the issue in min_stack_comments
  rules/windows/defense_evasion_whitespace_padding_in_command_line.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#1620 [Rule Tuning] Replaces event.code with event.category on PowerShell ScriptBlock Rules
  rules/windows/collection_posh_audio_capture.toml
  rules/windows/credential_access_posh_minidump.toml
  rules/windows/defense_evasion_posh_process_injection.toml
  rules/windows/discovery_posh_suspicious_api_functions.toml
  rules/windows/execution_posh_portable_executable.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1632 [New Rule] Potential LSASS Clone Creation via PssCaptureSnapShot
  rules/windows/credential_access_via_snapshot_lsass_clone_creation.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1544 [New Rule] Privilege Escalation via Rogue Named Pipe Impersonation
  rules/windows/privilege_escalation_via_rogue_named_pipe.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1557 [New Rule] Enumeration of Privileged Local Groups Membership
  rules/windows/discovery_privileged_localgroup_membership.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1644 [Rule Tuning] Powershell Defender Exclusion
  rules/windows/defense_evasion_defender_exclusion_via_powershell.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1559 [New Rule] PowerShell Reflection Assembly Load
  rules/windows/defense_evasion_posh_assembly_load.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1657 [Rule Tuning] Suspicious JAR Child Process
  rules/cross-platform/execution_suspicious_jar_child_process.toml
Labels: Rule: Tuning, backport: auto

#1658 [New Rule] Potential JAVA/JNDI Exploitation Attempt
  execution_suspicious_java_netcon_childproc.toml
Labels: OS: Linux, Rule: New, backport: auto, trending threat

#1661 [Rule tuning] fix name for GCP Kubernetes Rolebindings Created or Pat…
  rules/integrations/gcp/privilege_escalation_gcp_kubernetes_rolebindings_created_or_patched.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: GCP, backport: auto

#1662 [Rule Tuning] Bump max_signals on Endgame Promotion Rules
  rules/promotions/endgame_adversary_behavior_detected.toml
  rules/promotions/endgame_cred_dumping_detected.toml
  rules/promotions/endgame_cred_dumping_prevented.toml
  rules/promotions/endgame_cred_manipulation_detected.toml
  rules/promotions/endgame_cred_manipulation_prevented.toml
  rules/promotions/endgame_exploit_detected.toml
  rules/promotions/endgame_exploit_prevented.toml
  rules/promotions/endgame_malware_detected.toml
  rules/promotions/endgame_malware_prevented.toml
  rules/promotions/endgame_permission_theft_detected.toml
  rules/promotions/endgame_permission_theft_prevented.toml
  rules/promotions/endgame_process_injection_detected.toml
  rules/promotions/endgame_process_injection_prevented.toml
  rules/promotions/endgame_ransomware_detected.toml
  rules/promotions/endgame_ransomware_prevented.toml
Labels: Rule: Tuning, backport: auto

#1580 [New Rules] PowerShell Suspicious Payload Encoded and Compressed
  rules/windows/defense_evasion_posh_compressed.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1581 [New Rule] PowerShell Suspicious Script with Screenshot Capabilities
  rules/windows/collection_posh_screen_grabber.toml
Labels: OS: Linux, Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1671 Changing some naming terminology in the beaconing docs
  docs/experimental-machine-learning/beaconing.md
Labels: backport: auto
