Repository elastic/detection-rules, pull requests merged in 2021-07, with the labels that each got.

#1290 [DOCS] Update branching steps
  CONTRIBUTING.md
Labels: backport: auto, documentation

#1322 [CI] Only upload build artifacts for `push` events
  .github/workflows/pythonpackage.yml
Labels: backport: auto, ci/cd

#1321 Add min_stack_version to 7.14+ only rules
  rules/ml/ml_auth_rare_hour_for_a_user_to_logon.toml
  rules/ml/ml_auth_rare_source_ip_for_a_user.toml
  rules/ml/ml_auth_rare_user_logon.toml
  rules/ml/ml_auth_spike_in_failed_logon_events.toml
  rules/ml/ml_auth_spike_in_logon_events.toml
  rules/ml/ml_auth_spike_in_logon_events_from_a_source_ip.toml
Labels: backport: skip, metadata

#1310 Make "config" in note field consistent
  rules/aws/exfiltration_ec2_vm_export_failure.toml
  tests/test_all_rules.py
Labels: Rule: Tuning, backport: auto, python, test-suite

#1329 [New Rule] Complementary Rules for Recent REvil TTPs
  rules/windows/defense_evasion_disabling_windows_defender_powershell.toml
  rules/windows/defense_evasion_enable_network_discovery_with_netsh.toml
  rules/windows/defense_evasion_execution_windefend_unusual_path.toml
Labels: OS: Windows, Rule: New, backport: auto

#1326 [New Rule] Potential PrintNightmare Exploitation rules
  rules/windows/privilege_escalation_printspooler_malicious_driver_file_changes.toml
  rules/windows/privilege_escalation_printspooler_malicious_registry_modification.toml
  rules/windows/privilege_escalation_printspooler_suspicious_file_deletion.toml
  rules/windows/privilege_escalation_unusual_printspooler_childprocess.toml
Labels: OS: Windows, Rule: New, backport: auto

#1330 Lock versions for Fleet package 0.13.2
  etc/version.lock.json
Labels: backport: auto

#1317 Add command to unstage incompatible rules from git
  detection_rules/devtools.py
  detection_rules/rule_loader.py
Labels: backport: auto, ci/cd, cli, python

#1334 [CI/CD] Create on-demand job to release from Kibana
  .github/workflows/backport.yml
  .github/workflows/release-kibana.yml
  detection_rules/devtools.py
Labels: backport: auto, ci/cd

#1332 [CI] Update backport job to filter out incompatible rules
  .github/workflows/backport.yml
Labels: backport: auto, ci/cd

#1335 [APM] Adds APM data stream 'traces-apm*' to apm rules (#105334)
  rules/apm/apm_403_response_to_a_post.toml
  rules/apm/apm_405_response_method_not_allowed.toml
  rules/apm/apm_null_user_agent.toml
  rules/apm/apm_sqlmap_user_agent.toml
  rules/promotions/external_alerts.toml
  tests/test_all_rules.py
Labels: backport: auto

#1340 [CI] Publish to integrations from on-demand job
  .github/workflows/release-fleet.yml
  .github/workflows/release-kibana.yml
  detection_rules/devtools.py
  detection_rules/packaging.py
  detection_rules/utils.py
Labels: backport: auto, ci/cd

#1341 Add 7.14 to the list of target backport branches
  .github/workflows/backport.yml
Labels: backport: auto, ci/cd, v7.14.0

#1338 [New Rule] Parent Process PID Spoofing
  etc/non-ecs-schema.json
  rules/windows/defense_evasion_parent_process_pid_spoofing.toml
Labels: OS: Windows, Rule: New, backport: auto

#1336 [New Rule] CyberArkPas promotion rules
  rules/cyberark/privilege_escalation_cyberarkpas_error_audit_event_promotion.toml
  rules/cyberark/privilege_escalation_cyberarkpas_recommended_events_to_monitor_promotion.toml
Labels: Platform: CyberArkPas, Rule: New

#1147 [Rule Tuning] External IP Lookup from Non-Browser Process
  rules/windows/discovery_post_exploitation_external_ip_lookup.toml
Labels: Rule: Tuning, backport: auto, community

#1180 [Rule Tuning] Suspicious CertUtil Commands
  rules/windows/defense_evasion_suspicious_certutil_commands.toml
Labels: OS: Windows, Rule: Tuning, backport: auto, community, v7.14.0

#1181 [New Rule] Disable Windows Event and Security Logs
  rules/windows/defense_evasion_disabling_windows_logs.toml
Labels: Rule: New, backport: auto, community

#1215 [New Rule] O365 Excessive SSO Logon Errors
  rules/microsoft-365/credential_access_user_excessive_sso_logon_errors.toml
Labels: Domain: Cloud, Platform: Microsoft 365, Rule: New, backport: auto, community

#1282 [Rule Tuning] Add Filebeat and Auditbeat to Network Rules
  rules/network/command_and_control_cobalt_strike_beacon.toml
  rules/network/command_and_control_cobalt_strike_default_teamserver_cert.toml
  rules/network/command_and_control_dns_directly_to_the_internet.toml
  rules/network/command_and_control_download_rar_powershell_from_internet.toml
  rules/network/command_and_control_fin7_c2_behavior.toml
  rules/network/command_and_control_halfbaked_beacon.toml
  rules/network/command_and_control_nat_traversal_port_activity.toml
  rules/network/command_and_control_port_26_activity.toml
  rules/network/command_and_control_rdp_remote_desktop_protocol_from_the_internet.toml
  rules/network/command_and_control_telnet_port_activity.toml
  rules/network/command_and_control_vnc_virtual_network_computing_from_the_internet.toml
  rules/network/command_and_control_vnc_virtual_network_computing_to_the_internet.toml
  rules/network/initial_access_rpc_remote_procedure_call_from_the_internet.toml
  rules/network/initial_access_rpc_remote_procedure_call_to_the_internet.toml
  rules/network/initial_access_smb_windows_file_sharing_activity_to_the_internet.toml
  rules/network/initial_access_unsecure_elasticsearch_node.toml
Labels: Domain: Network, Rule: Tuning, backport: auto

#1297 [Rule Tuning] Mimikatz powershell module activity detected
  rules/windows/credential_access_mimikatz_powershell_module.toml
Labels: Rule: Tuning, backport: auto, community

#1349 Update cardinality field in schema for threshold rules
  detection_rules/rule.py
  detection_rules/rule_formatter.py
  detection_rules/schemas/__init__.py
  detection_rules/schemas/definitions.py
  etc/api_schemas/7.12/7.12.threshold.json
  etc/api_schemas/7.13/7.13.threshold.json
  etc/api_schemas/7.14/7.14.threshold.json
  etc/api_schemas/master/master.threshold.json
  etc/stack-schema-map.yaml
  requirements.txt
  rules/cross-platform/defense_evasion_agent_spoofing_mismatched_id.toml
  rules/cross-platform/defense_evasion_agent_spoofing_multiple_hosts.toml
  tests/test_schemas.py
Labels: backport: auto, bug, python, schema

#1370 [New Rule] Windows Defender Exclusions Added via PowerShell
  rules/windows/defense_evasion_defender_exclusion_via_powershell.toml
Labels: OS: Windows, Rule: New, backport: auto

#1374 [Rule Tuning] Update Google Workspace rules to use google_workspace event schema
  rules/google-workspace/google_workspace_mfa_enforcement_disabled.toml
  rules/google-workspace/google_workspace_policy_modified.toml
  rules/google-workspace/mfa_disabled_for_google_workspace_organization.toml
Labels: Rule: Tuning, backport: auto, community

#1357 [Rule Tuning] Creation of Hidden Files and Directories
  rules/linux/defense_evasion_hidden_file_dir_tmp.toml
Labels: Rule: Tuning, backport: auto

#1368 [Rule Tuning] Convert unusual extension rule to regex
  rules/windows/defense_evasion_file_creation_mult_extension.toml
Labels: Rule: Tuning, backport: auto

#1377 Fix metadata.extended
  detection_rules/rule.py
Labels: backport: auto, bug

#1362 [Rule Tuning] Update EQL rules with lookback < maxspan
  rules/windows/defense_evasion_mshta_beacon.toml
  rules/windows/defense_evasion_rundll32_no_arguments.toml
  rules/windows/execution_ms_office_written_file.toml
  rules/windows/execution_pdf_written_file.toml
Labels: Rule: Tuning, backport: auto, bug

#1369 [Rule Tuning] Remove \Program Files*\ style wildcards
  rules/windows/credential_access_cmdline_dump_tool.toml
  rules/windows/execution_suspicious_powershell_imgload.toml
  rules/windows/persistence_evasion_registry_ifeo_injection.toml
  rules/windows/privilege_escalation_unusual_printspooler_childprocess.toml
Labels: Rule: Tuning, backport: auto

#1361 Ensure EQL rules with maxspan have a long enough lookback window
  detection_rules/rule.py
  tests/test_all_rules.py
Labels: Rule: Tuning, backport: auto, bug, test-suite

#1383 Update the version lock for 7.14.0 and 0.13.3
  etc/version.lock.json
Labels: backport: auto

#1384 Disable missing rule check for the version lock
  tests/test_all_rules.py
Labels: backport: auto

#1385 Fix kibana_pr for click.Context
  detection_rules/devtools.py
Labels: backport: auto, bug

#1386 [CI] Fix kibana PR command again
  detection_rules/utils.py
Labels: backport: auto, bug, ci/cd, cli

#1387 [CI] Add missing clone for Fleet on-demand job
  .github/workflows/release-fleet.yml
Labels: backport: auto, ci/cd

#1388 [Rule Tuning] Rule description tweaks
  rules/_deprecated/command_and_control_ssh_secure_shell_from_the_internet.toml
  rules/_deprecated/command_and_control_ssh_secure_shell_to_the_internet.toml
  rules/_deprecated/initial_access_rdp_remote_desktop_protocol_to_the_internet.toml
  rules/apm/apm_403_response_to_a_post.toml
  rules/apm/apm_405_response_method_not_allowed.toml
  rules/integrations/o365/credential_access_user_excessive_sso_logon_errors.toml
  rules/network/command_and_control_cobalt_strike_default_teamserver_cert.toml
  rules/network/command_and_control_dns_directly_to_the_internet.toml
  rules/network/command_and_control_rdp_remote_desktop_protocol_from_the_internet.toml
  rules/network/command_and_control_telnet_port_activity.toml
  rules/network/command_and_control_vnc_virtual_network_computing_from_the_internet.toml
  rules/network/command_and_control_vnc_virtual_network_computing_to_the_internet.toml
  rules/network/initial_access_rpc_remote_procedure_call_from_the_internet.toml
  rules/network/initial_access_rpc_remote_procedure_call_to_the_internet.toml
  rules/network/initial_access_smb_windows_file_sharing_activity_to_the_internet.toml
  rules/windows/execution_ms_office_written_file.toml
Labels: Rule: Tuning, backport: auto
