Repository elastic/detection-rules, pull requests merged in 2021-10, with the labels that each got.

#1358 [New Rule] Volume Shadow Copy Deletion via PowerShell
  rules/windows/impact_volume_shadow_copy_deletion_via_powershell.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, community, backport: auto

#1364 [New Rule] AWS ElastiCache Security Group Modified or Deleted
  rules/integrations/aws/defense_evasion_elasticache_security_group_modified_or_deleted.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, community, backport: auto

#1516 [New Rule] Backup Files Deletion
  rules/windows/impact_backup_file_deletion.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#1524 [Rule Tuning] Volume Shadow Copy Deletion or Resized via VssAdmin
  rules/windows/impact_volume_shadow_copy_deletion_or_resized_via_vssadmin.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1514 [Rule Tuning] AWS RDS Snapshot Export and AWS RDS Instance Created
  rules/integrations/aws/exfiltration_rds_snapshot_export.toml
  rules/integrations/aws/persistence_rds_instance_creation.toml
Labels: Integration: AWS, Domain: Cloud, community, backport: auto

#1517 [Rule Tuning] Update file path for 2 integration rules
  rules/integrations/o365/persistence_exchange_suspicious_mailbox_right_delegation.toml
  rules/integrations/okta/initial_access_okta_user_attempted_unauthorized_access.toml
Labels: Domain: Cloud, Integration: Okta, community, Integration: Microsoft 365, backport: auto

#1363 [New Rule] AWS ElastiCache Security Group Created
  rules/integrations/aws/defense_evasion_elasticache_security_group_creation.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, community, backport: auto

#1492 Update defense_evasion_execution_windefend_unusual_path.toml
  rules/windows/defense_evasion_execution_windefend_unusual_path.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#1518 Updating host risk score docs
  docs/experimental-machine-learning/host-risk-score.md
Labels: documentation, backport: auto

#1547 [Rule Tuning] Update network.direction
  rules/windows/command_and_control_remote_file_copy_scripts.toml
  rules/windows/credential_access_kerberoasting_unusual_process.toml
  rules/windows/defense_evasion_installutil_beacon.toml
  rules/windows/defense_evasion_masquerading_werfault.toml
  rules/windows/defense_evasion_msxsl_beacon.toml
  rules/windows/lateral_movement_dcom_hta.toml
  rules/windows/lateral_movement_dcom_mmc20.toml
  rules/windows/lateral_movement_dcom_shellwindow_shellbrowserwindow.toml
  rules/windows/lateral_movement_executable_tool_transfer_smb.toml
  rules/windows/lateral_movement_incoming_winrm_shell_execution.toml
  rules/windows/lateral_movement_incoming_wmi.toml
  rules/windows/lateral_movement_powershell_remoting_target.toml
  rules/windows/lateral_movement_rdp_sharprdp_target.toml
  rules/windows/lateral_movement_remote_services.toml
  rules/windows/lateral_movement_scheduled_task_target.toml
  rules/windows/privilege_escalation_wpad_exploitation.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#1267 [New Rule] GCP Kubernetes Rolebindings Created or Patched
  rules/integrations/gcp/privilege_escalation_gcp_kubernetes_rolebindings_created_or_patched.toml
Labels: Domain: Cloud, Rule: New, community, Integration: GCP, backport: auto

#1348 [New Rule] Microsoft 365 - Mass download by a single user
  rules/integrations/o365/impact_microsoft_365_mass_download_by_a_single_user.toml
Labels: Domain: Cloud, Rule: New, community, Integration: Microsoft 365, backport: auto

#1498 [New Rule] AWS Suspicious SAML Activity
  rules/integrations/aws/privilege_escalation_aws_suspicious_saml_activity.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, community, backport: auto

#1379 [New Rule] DNS-over-HTTPS Enabled by Registry
  rules/windows/defense_evasion_dns_over_https_enabled.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, community, backport: auto

#1573 Add min_stack_comments to metadata schema
  detection_rules/rule.py
  rules/cross-platform/defense_evasion_agent_spoofing_mismatched_id.toml
  rules/cross-platform/defense_evasion_agent_spoofing_multiple_hosts.toml
  rules/integrations/cyberarkpas/privilege_escalation_cyberarkpas_error_audit_event_promotion.toml
  rules/integrations/cyberarkpas/privilege_escalation_cyberarkpas_recommended_events_to_monitor_promotion.toml
  rules/linux/defense_evasion_hidden_file_dir_tmp.toml
  rules/ml/ml_auth_rare_hour_for_a_user_to_logon.toml
  rules/ml/ml_auth_rare_source_ip_for_a_user.toml
  rules/ml/ml_auth_rare_user_logon.toml
  rules/ml/ml_auth_spike_in_failed_logon_events.toml
  rules/ml/ml_auth_spike_in_logon_events.toml
  rules/ml/ml_auth_spike_in_logon_events_from_a_source_ip.toml
  rules/windows/credential_access_cmdline_dump_tool.toml
  rules/windows/defense_evasion_file_creation_mult_extension.toml
  rules/windows/execution_suspicious_powershell_imgload.toml
  rules/windows/persistence_evasion_registry_ifeo_injection.toml
  tests/test_all_rules.py
Labels: Domain: Cloud, OS: Linux, ML, OS: Windows, Domain: Endpoint, python, backport: auto, Integration: CyberArkPas
