Repository elastic/detection-rules, pull requests merged in 2021-05, with the labels that each got.

#1167 Allow ML rules to accept a single or array of job IDs
  detection_rules/rule.py
Labels: python

#1158 Fix rule filenames during packaging
  .gitignore
  detection_rules/devtools.py
  detection_rules/packaging.py
  detection_rules/rule.py
Labels: python

#1174 Add job for 'backport: auto' labeled PRs
  .github/workflows/backport.yml
Labels: backport: auto, ci

#1186 Use @protectionsmachine to push backports
  .github/workflows/backport.yml
Labels: backport: auto, ci

#1187 Disable persist-credentials from checkout job
  .github/workflows/backport.yml
Labels: ci

#1202 [Bug] Update main.py to fix toml-lint
  detection_rules/main.py
Labels: backport: auto, bug, cli

#1084 Port historical schemas to jsonschema
  detection_rules/cli_utils.py
  detection_rules/devtools.py
  detection_rules/main.py
  detection_rules/mixins.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/rule_formatter.py
  detection_rules/schemas/__init__.py
  detection_rules/schemas/base.py
  detection_rules/schemas/definitions.py
  detection_rules/schemas/v7_10.py
  detection_rules/schemas/v7_11.py
  detection_rules/schemas/v7_12.py
  detection_rules/schemas/v7_8.py
  detection_rules/schemas/v7_9.py
  etc/api_schemas/7.10/7.10.base.json
  etc/api_schemas/7.10/7.10.eql.json
  etc/api_schemas/7.10/7.10.machine_learning.json
  etc/api_schemas/7.10/7.10.query.json
  etc/api_schemas/7.10/7.10.saved_query.json
  etc/api_schemas/7.10/7.10.threshold.json
  etc/api_schemas/7.11/7.11.base.json
  etc/api_schemas/7.11/7.11.eql.json
  etc/api_schemas/7.11/7.11.machine_learning.json
  etc/api_schemas/7.11/7.11.query.json
  etc/api_schemas/7.11/7.11.saved_query.json
  etc/api_schemas/7.11/7.11.threshold.json
  etc/api_schemas/7.12/7.12.base.json
  etc/api_schemas/7.12/7.12.eql.json
  etc/api_schemas/7.12/7.12.machine_learning.json
  etc/api_schemas/7.12/7.12.query.json
  etc/api_schemas/7.12/7.12.saved_query.json
  etc/api_schemas/7.12/7.12.threshold.json
  etc/api_schemas/7.13/7.13.base.json
  etc/api_schemas/7.13/7.13.eql.json
  etc/api_schemas/7.13/7.13.machine_learning.json
  etc/api_schemas/7.13/7.13.query.json
  etc/api_schemas/7.13/7.13.threat_match.json
  etc/api_schemas/7.13/7.13.threshold.json
  etc/api_schemas/7.8/7.8.base.json
  etc/api_schemas/7.8/7.8.machine_learning.json
  etc/api_schemas/7.8/7.8.query.json
  etc/api_schemas/7.8/7.8.saved_query.json
  etc/api_schemas/7.9/7.9.base.json
  etc/api_schemas/7.9/7.9.machine_learning.json
  etc/api_schemas/7.9/7.9.query.json
  etc/api_schemas/7.9/7.9.saved_query.json
  etc/api_schemas/7.9/7.9.threshold.json
  etc/api_schemas/master/master.base.json
  etc/api_schemas/master/master.eql.json
  etc/api_schemas/master/master.machine_learning.json
  etc/api_schemas/master/master.query.json
  etc/api_schemas/master/master.threat_match.json
  etc/api_schemas/master/master.threshold.json
  requirements.txt
  tests/test_schemas.py
Labels: backport: auto, python

#1205 [CI] Apply `backport: auto` label on PRs to `main` by default
  .github/workflows/backport.yml
Labels: backport: auto, ci

#1200 [Rule Tuning] High Number of Okta User Password Reset or Unlock Attempts
  rules/okta/defense_evasion_suspicious_okta_user_password_reset_or_unlock_attempts.toml
Labels: Platform: Okta, Rule: Tuning, community, v7.14.0

#1208 Add a command to create a Kibana PR
  detection_rules/devtools.py
  detection_rules/misc.py
  requirements-dev.txt
Labels: backport: auto, cli, enhancement, python

#1230 [New Rule] Suspicious Execution from a Mounted Device
  rules/windows/defense_evasion_suspicious_execution_from_mounted_device.toml
Labels: OS: Windows, Rule: New, backport: auto, v7.14.0

#1232 [New Rule] Unusual Network Connection via DllHost
  rules/windows/defense_evasion_unusual_network_connection_via_dllhost.toml
Labels: OS: Windows, Rule: New, backport: auto, v7.14.0
