Repository elastic/detection-rules, pull requests merged in 2021-02, with the labels that each got.

#901 [New Rule] Potential Port Monitor or Print Processor Registration Abuse
  rules/windows/privilege_escalation_port_monitor_print_pocessor_abuse.toml
Labels: OS: Windows, Rule: New, convert-eql, v7.12.0

#837 [Rule Tuning] Execution from Unusual Directory - Command Line
  rules/windows/execution_from_unusual_path_cmdline.toml
Labels: OS: Windows, Rule: Tuning, v7.12.0

#893 [Rule Tuning] Update file.name to dll.name for Library events
  rules/windows/defense_evasion_suspicious_scrobj_load.toml
  rules/windows/defense_evasion_suspicious_wmi_script.toml
  rules/windows/execution_scheduled_task_powershell_source.toml
  rules/windows/execution_suspicious_image_load_wmi_ms_office.toml
  rules/windows/execution_suspicious_powershell_imgload.toml
  rules/windows/initial_access_scripts_process_started_via_wmi.toml
  rules/windows/lateral_movement_suspicious_rdp_client_imageload.toml
  rules/windows/persistence_local_scheduled_task_scripting.toml
  rules/windows/persistence_suspicious_image_load_scheduled_task_ms_office.toml
  rules/windows/privilege_escalation_wpad_exploitation.toml
Labels: OS: Windows, Rule: Tuning, v7.12.0

#830 [New Rule] Potential Privacy Controls Bypass via Localhost Secure Copy
  rules/macos/defense_evasion_privilege_escalation_privacy_pref_sshd_fulldiskaccess.toml
Labels: OS: macOS, Rule: New, v7.12.0

#873 [Rule Tuning] Sudoers File Modification
  rules/cross-platform/privilege_escalation_sudoers_file_mod.toml
Labels: OS: Linux, OS: macOS, Rule: Tuning, v7.12.0

#869 [New Rule] SoftwareUpdate Preferences Modification
  rules/macos/defense_evasion_apple_softupdates_modification.toml
Labels: OS: macOS, Rule: New, v7.12.0

#898 [New Rule] Potential Persistence via Periodic Tasks
  rules/macos/persistence_periodic_tasks_file_mdofiy.toml
Labels: OS: macOS, Rule: New, v7.12.0

#912 [New Rule] Virtual Private Network Connection Attempt
  rules/macos/lateral_movement_vpn_connection_attempt.toml
Labels: OS: macOS, Rule: New, v7.12.0

#904 [Rule Tuning] Update rules using case sensitive wildcard function
  rules/linux/defense_evasion_deletion_of_bash_command_line_history.toml
  rules/linux/defense_evasion_timestomp_touch.toml
  rules/windows/command_and_control_common_webservices.toml
  rules/windows/command_and_control_iexplore_via_com.toml
  rules/windows/defense_evasion_sdelete_like_filename_rename.toml
  rules/windows/defense_evasion_suspicious_wmi_script.toml
  rules/windows/execution_suspicious_cmd_wmi.toml
  rules/windows/lateral_movement_cmd_service.toml
  rules/windows/lateral_movement_rdp_tunnel_plink.toml
  rules/windows/persistence_app_compat_shim.toml
  rules/windows/persistence_evasion_hidden_local_account_creation.toml
  rules/windows/persistence_ms_office_addins_file.toml
  rules/windows/persistence_ms_outlook_vba_template.toml
  rules/windows/privilege_escalation_uac_bypass_com_clipup.toml
  rules/windows/privilege_escalation_uac_bypass_com_ieinstal.toml
Labels: OS: Linux, OS: Windows, Rule: Tuning, v7.12.0

#875 [Rule Tuning] Setuid Bit Set via chmod and Setgid Bit Set via chmod
  rules/cross-platform/privilege_escalation_setuid_setgid_bit_set_via_chmod.toml
  rules/linux/privilege_escalation_setgid_bit_set_via_chmod.toml
Labels: OS: Linux, OS: macOS, Rule: Tuning, v7.12.0

#789 [New Rule] Access to Browsers Credential Files
  rules/macos/credential_access_access_to_browser_credentials_procargs.toml
Labels: OS: macOS, Rule: New, v7.12.0

#861 [New Rule] Safari Settings Modification using Defaults Command
  rules/macos/defense_evasion_safari_config_change.toml
Labels: OS: macOS, Rule: New, v7.12.0

#834 [New Rule] Potential Office Sandbox Evasion via ZIP File
  rules/macos/defense_evasion_sandboxed_office_app_suspicious_zip_file.toml
Labels: OS: macOS, Rule: New, v7.12.0

#745 [New Rule] Modification of Standard Authentication Module or Configuration
  rules/cross-platform/persistence_credential_access_modify_auth_module_or_config.toml
Labels: OS: Linux, OS: macOS, Rule: New, v7.12.0

#749 [New Rule] Potential OpenSSH Backdoor Logging Activity
  rules/linux/credential_access_ssh_backdoor_log.toml
Labels: OS: Linux, Rule: New, v7.12.0

#767 [New Rule] Suspicious Browser Child Process
  rules/macos/execution_initial_access_suspicious_browser_childproc.toml
Labels: Domain: Endpoint, OS: macOS, Rule: New, v7.12.0

#887 [New Rule] Suspicious JAR Child Process
  rules/cross-platform/execution_suspicious_jar_child_process.toml
Labels: OS: macOS, Rule: New, convert-eql, v7.12.0

#927 [New Rule] Creation or Modification of Root Certificate
  rules/windows/defense_evasion_create_mod_root_certificate.toml
Labels: OS: Windows, Rule: New, v7.12.0

#921 [New Rule] Modification of the Dynamic Linker Preload Shared Object
  rules/linux/privilege_escalation_ld_preload_shared_object_modif.toml
Labels: OS: Linux, Rule: New, v7.12.0

#756 [New Rule] Sensitive Files Compression
  rules/linux/credential_access_collection_sensitive_files.toml
Labels: OS: Linux, Rule: New, v7.12.0

#761 [New Rule] Sublime Plugin or Application Script Modification
  rules/macos/persistence_modification_sublime_app_plugin_or_script.toml
Labels: OS: macOS, Rule: New, v7.12.0

#759 [Rule Tuning] Prompt for Credentials with OSASCRIPT
  rules/macos/credential_access_promt_for_pwd_via_osascript.toml
Labels: OS: macOS, Rule: Tuning, v7.12.0

#765 [New Rule] Potential MacOS Privacy Controls Bypass via TCCDB Modification
  rules/macos/defense_evasion_privacy_controls_tcc_database_modification.toml
Labels: OS: macOS, Rule: New, v7.12.0

#783 [Rule Tuning] Remote SSH Login Enabled via systemsetup Command
  rules/macos/lateral_movement_remote_ssh_login_enabled.toml
Labels: OS: macOS, Rule: Tuning, v7.12.0

#792 [New Rule] Attempt to Enable the Root Account
  rules/macos/persistence_enable_root_account.toml
Labels: OS: macOS, Rule: New, v7.12.0

#801 [New Rule] Creation Attempt of a Hidden Login Item via Apple Script
  rules/macos/persistence_creation_hidden_login_item_osascript.toml
Labels: OS: macOS, Rule: New, v7.12.0

#799 [New Rule] Attempt to Create a Hidden Local Account
  rules/macos/persistence_account_creation_hide_at_logon.toml
Labels: OS: macOS, Rule: New, v7.12.0

#787 [Rule Tuning] Compression of Keychain Credentials Directories
  rules/macos/credential_access_credentials_keychains.toml
Labels: OS: macOS, Rule: Tuning, v7.12.0

#777 [New Rule] Execution with Administrator Privileges via Apple Scripting
  rules/macos/privilege_escalation_applescript_with_admin_privs.toml
Labels: OS: macOS, Rule: New, v7.12.0

#938 [Rule Tuning] Adjust risk scores to align with severity
  rules/macos/defense_evasion_attempt_del_quarantine_attrib.toml
  rules/network/command_and_control_cobalt_strike_default_teamserver_cert.toml
  rules/windows/command_and_control_iexplore_via_com.toml
  rules/windows/command_and_control_remote_file_copy_scripts.toml
  rules/windows/credential_access_kerberoasting_unusual_process.toml
  rules/windows/defense_evasion_masquerading_trusted_directory.toml
  rules/windows/execution_shared_modules_local_sxs_dll.toml
  rules/windows/initial_access_via_explorer_suspicious_child_parent_args.toml
  rules/windows/lateral_movement_powershell_remoting_target.toml
  rules/windows/lateral_movement_rdp_enabled_registry.toml
  rules/windows/persistence_ms_office_addins_file.toml
  rules/windows/persistence_ms_outlook_vba_template.toml
  rules/windows/persistence_suspicious_scheduled_task_runtime.toml
  rules/windows/privilege_escalation_printspooler_registry_copyfiles.toml
  rules/windows/privilege_escalation_printspooler_service_suspicious_file.toml
  rules/windows/privilege_escalation_printspooler_suspicious_spl_file.toml
  rules/windows/privilege_escalation_rogue_windir_environment_var.toml
  rules/windows/privilege_escalation_uac_bypass_com_clipup.toml
  rules/windows/privilege_escalation_uac_bypass_mock_windir.toml
  rules/windows/privilege_escalation_uac_sdclt.toml
  rules/windows/privilege_escalation_wpad_exploitation.toml
Labels: Domain: Network, OS: Windows, Rule: Tuning, v7.12.0

#807 [New Rule] Attempt to Unload Elastic Endpoint Security Kernel Extension
  rules/macos/defense_evasion_unload_endpointsecurity_kext.toml
Labels: OS: macOS, Rule: New, v7.12.0

#811 [New Rule] Keychain Password Retrieval via Commandline
  rules/macos/credential_access_keychain_pwd_retrieval_security_cmd.toml
Labels: OS: macOS, Rule: New, v7.12.0

#843 [New Rule] Lateral Movement via Kerberos using Bifrost Console
  rules/macos/lateral_movement_credential_access_kerberos_bifrostconsole.toml
Labels: OS: macOS, Rule: New, v7.12.0

#845 [New Rule] EggShell Backdoor Execution
  rules/cross-platform/execution_pentest_eggshell_remote_admin_tool.toml
Labels: OS: Linux, OS: macOS, Rule: New, v7.12.0

#823 [New Rule] Suspicious Launchd Hidden Child Process
  rules/macos/persistence_defense_evasion_hidden_launch_agent_deamon_logonitem_process.toml
Labels: OS: macOS, Rule: New, v7.12.0

#850 [New Rule] Attempt to Install Root Certificate
  rules/macos/defense_evasion_install_root_certificate.toml
Labels: OS: macOS, Rule: New, v7.12.0

#821 [New Rule] Potential Reverse Shell Activity via Terminal
  rules/cross-platform/execution_revershell_via_shell_cmd.toml
Labels: OS: Linux, OS: macOS, Rule: New, v7.12.0

#815 [New Rule] Access to SystemKey via Hexdump
  rules/macos/credential_access_systemkey_dumping.toml
Labels: OS: macOS, Rule: New, v7.12.0

#819 [New Rule] Suspicious DLL Loaded for Persistence or Privilege Escalation
  rules/windows/privilege_escalation_persistence_phantom_dll.toml
Labels: OS: Windows, Rule: New, v7.12.0

#735 [New Rule] Finder Sync Plugin Enabled
  rules/macos/persistence_finder_sync_plugin_pluginkit.toml
Labels: Domain: Endpoint, OS: macOS, Rule: New, v7.12.0

#856 [New Rule] Authorization Plugin Modification
  rules/macos/persistence_credential_access_authorization_plugin_creation.toml
Labels: OS: macOS, Rule: New, v7.12.0

#841 [New Rule] Attempt to Disable Gatekeeper
  rules/macos/defense_evasion_attempt_to_disable_gatekeeper.toml
Labels: Domain: Endpoint, OS: macOS, Rule: New, v7.12.0

#639 Add `export-rules` command
  .gitignore
  CLI.md
  detection_rules/kbwrap.py
  detection_rules/main.py
  detection_rules/misc.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/schemas/__init__.py
Labels: cli, python

#670 Add GitHub PR rule loader
  detection_rules/devtools.py
  detection_rules/main.py
  detection_rules/packaging.py
  detection_rules/rule_loader.py
  detection_rules/schemas/base.py
Labels: cli, python

#809 [New Rule] Persistence via KDE AutoStart Script or Desktop File Modif…
  rules/linux/persistence_kde_autostart_modification.toml
Labels: OS: Linux, Rule: New, v7.12.0

#848 [New Rule] Enumeration of Users or Groups using Built-In Commands
  rules/macos/discovery_users_domain_built_in_commands.toml
Labels: OS: macOS, Rule: New, v7.12.0

#858 [New Rule] Persistence via DirectoryService Plugin Modification
  rules/macos/persistence_directory_services_plugins_modification.toml
Labels: OS: macOS, Rule: New, v7.12.0

#769 [New Rule] DefenderControl Activity
  rules/windows/defense_evasion_defender_disabled_via_registry.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, v7.12.0

#880 [New Rule] Suspicious Calendar File Modification
  rules/macos/persistence_suspicious_calendar_modification.toml
Labels: OS: macOS, Rule: New, v7.12.0

#906 [New Rule] Potential Persistence via Atom Init Script Modification
  rules/macos/persistence_via_atom_init_file_modification.toml
Labels: OS: macOS, Rule: New, v7.12.0

#908 [New Rule] Dumping Accounts Hashes using Built-In Commands
  rules/macos/credential_access_dumping_hashes_bi_cmds.toml
Labels: OS: macOS, Rule: New, v7.12.0

#917 [New Rule] Privilege Elevation via Sudoers File Modification
  rules/cross-platform/privilege_escalation_echo_nopasswd_sudoers.toml
Labels: OS: Linux, OS: macOS, Rule: New, v7.12.0

#933 [New Rule] Sudo Heap-based Buffer Overflow Vulnerability Attempt (CVE-2021-3156)
  rules/cross-platform/privilege_escalation_sudo_buffer_overflow.toml
Labels: Domain: Endpoint, OS: Linux, OS: macOS, Rule: New, v7.12.0

#919 [New Rule] Potential Privileges Escalation via Root Crontab File Modi…
  rules/macos/privilege_escalation_root_crontab_filemod.toml
Labels: OS: macOS, Rule: New, v7.12.0

#910 [Rule Tuning] Execution with Explicit Credentials via Scripting
  rules/macos/privilege_escalation_explicit_creds_via_scripting.toml
Labels: OS: macOS, Rule: Tuning, v7.12.0

#914 [New Rule] Attempt to Mount an SMB Share via Command-line
  rules/macos/lateral_movement_mounting_smb_share.toml
Labels: OS: macOS, Rule: New, v7.12.0

#867 [New Rule] Persistence via Cron Tasks
  rules/cross-platform/persistence_cron_jobs_creation_and_runtime.toml
Labels: OS: Linux, OS: macOS, Rule: New, v7.12.0

#781 [Rule Tuning] Attempt to Remove File Quarantine Attribute
  rules/macos/defense_evasion_attempt_del_quarantine_attrib.toml
Labels: OS: macOS, Rule: Tuning, v7.12.0

#886 [New Rule] Suspicious Adobe Acrobat Updates Service Child Process
  rules/macos/privilege_escalation_exploit_adobe_acrobat_updater.toml
Labels: OS: macOS, Rule: New, v7.12.0

#903 [New Rule] Potential LSA Authentication Package Abuse
  rules/windows/privilege_escalation_lsa_auth_package.toml
Labels: OS: Windows, Rule: New, convert-eql, v7.12.0

#892 [New Rule] Disabling User Account Control via Registry
  rules/windows/privilege_escalation_disable_uac_registry.toml
Labels: OS: Windows, Rule: New, v7.12.0

#902 [New Rule] Unusual File Creation - Alternate Data Stream
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
Labels: OS: Windows, Rule: New, convert-eql, v7.12.0

#878 [New Rule] Shell Profile Modification
  rules/cross-platform/persistence_shell_profile_modification.toml
Labels: OS: Linux, OS: macOS, Rule: New, v7.12.0

#852 [New Rule] Suspicious Python Script Execution via the CommandLine
  rules/cross-platform/execution_python_script_in_cmdline.toml
Labels: OS: Linux, OS: Windows, OS: macOS, Rule: New, v7.12.0

#929 [Rule Tuning] Exclude Windows Error Reporting & Printer Driver
  rules/windows/defense_evasion_code_injection_conhost.toml
Labels: OS: Windows, Rule: Tuning, v7.12.0

#939 [Rule Tuning] Persistence via Update Orchestrator Service Hijack
  rules/windows/persistence_via_update_orchestrator_service_hijack.toml
Labels: Rule: Tuning, v7.12.0

#915 [Rule Tuning] Suspicious WerFault Child Process
  rules/windows/defense_evasion_masquerading_suspicious_werfault_childproc.toml
Labels: Rule: Tuning, community, v7.12.0

#33 [New Rule] auditd login anomalies
  rules/linux/initial_access_login_failures.toml
  rules/linux/initial_access_login_location.toml
  rules/linux/initial_access_login_sessions.toml
  rules/linux/initial_access_login_time.toml
Labels: Domain: Endpoint, OS: Linux, Rule: New, v7.12.0

#932 [FR] Index rules from repo to elasticsearch
  .gitignore
  detection_rules/eswrap.py
  detection_rules/main.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/rule_loader.py
  detection_rules/utils.py
  docs/rule_insights.md
  kibana/resources.py
  tests/test_all_rules.py
Labels: cli, enhancement, python

#827 [New Rule] User Added to Privileged Group in Active Directory
  rules/windows/persistence_user_account_added_to_privileged_group_ad.toml
Labels: OS: Windows, Rule: New, community, v7.12.0

#794 Add Rule to Detect User creation via Eventlog
  rules/windows/persistence_user_account_creation_event_logs.toml
Labels: OS: Windows, Rule: New, community, v7.12.0

#941 [Rule Tuning] User Added to Privileged Group in Active Directory
  rules/windows/persistence_user_account_added_to_privileged_group_ad.toml
Labels: OS: Windows, Rule: Tuning, v7.12.0

#942 [Rule Tuning] Feedback from 7.12 Kibana PR
  rules/cross-platform/execution_suspicious_jar_child_process.toml
  rules/cross-platform/privilege_escalation_sudo_buffer_overflow.toml
  rules/linux/defense_evasion_deletion_of_bash_command_line_history.toml
  rules/macos/credential_access_access_to_browser_credentials_procargs.toml
  rules/macos/credential_access_systemkey_dumping.toml
  rules/macos/defense_evasion_install_root_certificate.toml
  rules/macos/persistence_directory_services_plugins_modification.toml
  rules/macos/persistence_modification_sublime_app_plugin_or_script.toml
  rules/macos/privilege_escalation_root_crontab_filemod.toml
  rules/windows/credential_access_dump_registry_hives.toml
  rules/windows/discovery_file_dir_discovery.toml
Labels: Rule: Tuning, v7.12.0

#947 Lock versions for rule changes in v7.11.0
  etc/version.lock.json
Labels: v7.11.0

#952 [CLI] Add repo option to kibana-diff command
  detection_rules/devtools.py
  detection_rules/misc.py
  detection_rules/rule.py
Labels: cli, python

#956 Update issue templates
  .github/ISSUE_TEMPLATE/new_rule.md
  .github/ISSUE_TEMPLATE/release_package.md
  .github/ISSUE_TEMPLATE/rule_deprecation.md
  .github/ISSUE_TEMPLATE/rule_tuning.md
  CONTRIBUTING.md
Labels: documentation

#960 [New Rule] Installer Spawning cURL from macOS Package
  rules/macos/execution_installer_spawned_network_event.toml
Labels: Domain: Endpoint, OS: macOS, Rule: New, v7.12.0
