Repository elastic/detection-rules, pull requests merged in 2021-01, with the labels that each got.

#828 Add empty technique array to rules
  detection_rules/kbwrap.py
  detection_rules/main.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/schemas/v7_8.py
Labels: python

#529 [New Rule] Clearing Windows Security Logs
  rules/windows/defense_evasion_clearing_windows_security_logs.toml
Labels: Domain: Endpoint, OS: Windows, Rule: New, community, v7.12.0

#895 Loosen query DSL filter schema validation
  detection_rules/schemas/v7_8.py
Labels: test-suite

#790 [New Rule] Azure Active Directory High Risk Sign-in
  rules/azure/initial_access_azure_active_directory_high_risk_signin.toml
Labels: Domain: Cloud, Platform: Azure, Rule: New, community, v7.12.0

#881 [New Rule] Executable File Creation with Multiple Extensions
  rules/windows/defense_evasion_file_creation_mult_extension.toml
Labels: OS: Windows, Rule: New, v7.12.0

#882 [New Rule] Enumeration Command Spawned via WMIPrvSE
  rules/windows/execution_enumeration_via_wmiprvse.toml
Labels: OS: Windows, Rule: New, v7.12.0

#883 [New Rule] Modification of WDigest Security Provider
  rules/windows/credential_access_mod_wdigest_security_provider.toml
Labels: OS: Windows, Rule: New, v7.12.0

#884 [New Rule] Searching for Saved Credentials via VaultCmd
  rules/windows/credential_access_saved_creds_vaultcmd.toml
Labels: OS: Windows, Rule: New, v7.12.0

#890 [New Rule] Potential Persistence via Time Provider Modification
  rules/windows/persistence_time_provider_mod.toml
Labels: OS: Windows, Rule: New, v7.12.0

#738 [New Rule] Creation of a Hidden Local User Account
  rules/windows/persistence_evasion_hidden_local_account_creation.toml
Labels: OS: Windows, Rule: New, v7.12.0

#741 [New Rule] Potential Cookies Theft via Browser Debugging
  rules/cross-platform/credential_access_cookies_chromium_browsers_debugging.toml
Labels: OS: Linux, OS: Windows, OS: macOS, Rule: New, v7.12.0

#900 [New Rule] Potential Persistence via Login Hook
  rules/macos/persistence_loginwindow_plist_modification.toml
Labels: OS: macOS, Rule: New, v7.12.0

#733 [New Rule] Persistence via Docker Shortcut Modification
  rules/macos/persistence_docker_shortcuts_plist_modification.toml
Labels: Domain: Endpoint, OS: macOS, Rule: New, v7.12.0

#754 [New Rule] SSH Authorized Keys File Modification
  rules/cross-platform/persistence_ssh_authorized_keys_modification.toml
Labels: OS: Linux, OS: macOS, Rule: New, v7.12.0

#752 [Rule Tuning] Deletion of Bash Command Line History
  rules/linux/defense_evasion_deletion_of_bash_command_line_history.toml
Labels: OS: Linux, Rule: Tuning, v7.12.0

#775 [New Rule] TCC Bypass via Mounted APFS Snapshot Access
  rules/macos/defense_evasion_tcc_bypass_mounted_apfs_access.toml
Labels: Domain: Endpoint, OS: macOS, Rule: New, v7.12.0

#763 [New Rule] Script Execution via Automator Workflows
  rules/macos/execution_script_via_automator_workflows.toml
Labels: OS: macOS, Rule: New, v7.12.0

#743 [New Rule] Security Software Discovery using Grep
  rules/cross-platform/discovery_security_software_grep.toml
Labels: Domain: Endpoint, OS: macOS, Rule: New, v7.12.0

#865 [New Rule] Environment Variable Modification using Launchctl
  rules/macos/defense_evasion_modify_environment_launchctl.toml
Labels: OS: macOS, Rule: New, v7.12.0

#891 [New Rule] SIP Provider Modification
  rules/windows/defense_evasion_sip_provider_mod.toml
Labels: OS: Windows, Rule: New, convert-eql, v7.12.0

#747 [New Rule] Modification of OpenSSH Binaries
  rules/linux/persistence_credential_access_modify_ssh_binaries.toml
Labels: Domain: Endpoint, OS: Linux, Rule: New, v7.12.0

#785 [New Rule] Dumping of Keychain Content via Security Command
  rules/macos/credential_access_dumping_keychain_security.toml
Labels: OS: macOS, Rule: New, v7.12.0

#779 [New Rule] Suspicious MacOS MS Office Child Process
  rules/macos/execution_suspicious_mac_ms_office_child_process.toml
Labels: OS: macOS, Rule: New, v7.12.0

#896 [New Rule] Execution of COM object via Xwizard
  rules/windows/execution_com_object_xwizard.toml
Labels: OS: Windows, Rule: New, v7.12.0

#832 [New Rule] 2 Rules for Persistence via Emond
  rules/macos/persistence_emond_rules_file_creation.toml
  rules/macos/persistence_emond_rules_process_execution.toml
Labels: OS: macOS, Rule: New, v7.12.0

#797 [New Rule] Creation of a Hidden Launch Agent or Daemon
  rules/macos/persistence_evasion_hidden_launch_agent_deamon_creation.toml
Labels: OS: macOS, Rule: New, v7.12.0

#803 [New Rule] Attempt to Add an Account to the Admin Group
  rules/macos/privilege_escalation_local_user_added_to_admin.toml
Labels: OS: macOS, Rule: New, v7.12.0

#817 [New Rule] Execution via Electron Child Process Node.js Module
  rules/macos/execution_defense_evasion_electron_app_childproc_node_js.toml
Labels: OS: macOS, Rule: New, v7.12.0
