Repository elastic/detection-rules, pull requests merged in 2021-11, with the labels that each got.

#1596 [Rule Tuning] Change interval and lookback time for IM rule
  rules/cross-platform/threat_intel_module_match.toml
Labels: backport: auto

#1599 Create host-risk-score.md
  docs/experimental-machine-learning/host-risk-score.md
Labels: backport: auto

#1585 Fix emoji in note section due to Windows path
  rules/cross-platform/impact_hosts_file_modified.toml
Labels: backport: auto

#1601 [Rule Tuning] Rename extrac.exe to extrac32.exe
  rules/windows/defense_evasion_misc_lolbin_connecting_to_the_internet.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#1595 Preserve index on import-rules command
  detection_rules/cli_utils.py
  detection_rules/main.py
Labels: python, backport: auto

#1536 [New Rule] Suspicious Process Access via Direct System Call
  rules/windows/defense_evasion_suspicious_process_access_direct_syscall.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1553 Move version lock code to object for portability
  detection_rules/devtools.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/rule_loader.py
  detection_rules/version_lock.py
  tests/test_all_rules.py
Labels: python, backport: auto

#1612 Test to trigger workflows
  tests/test_toml_formatter.py
Labels: backport: auto

#1614 Bump min_stack_version in version.lock for specific rules
  etc/version.lock.json
Labels: backport: auto

#1582 [New Rule] PowerShell Suspicious Script with Audio Capture Capabilities
  rules/windows/collection_posh_audio_capture.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1482 Update registry data to reflect "ga" for release
  etc/packages.yml
Labels: backport: auto

#1616 [bug] Fix kibana-pr command
  detection_rules/devtools.py
Labels: bug, python, backport: auto

#1618 [bug] Current stack version in deprecation lock missing parens
  detection_rules/version_lock.py
Labels: python, backport: auto

#1533 [New Rule] Potential Credential Access via LSASS Memory Dump
  etc/non-ecs-schema.json
  rules/windows/credential_access_suspicious_lsass_access_memdump.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#1550 [New Rule] Potential LSASS Memory Dump via PssCaptureSnapShot
  rules/windows/credential_access_suspicious_lsass_access_via_snapshot.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1552 [New Rule] Potential Process Injection via PowerShell
  rules/windows/defense_evasion_posh_process_injection.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1564 [Rule Tuning] Suspicious CertUtil Commands
  rules/windows/defense_evasion_suspicious_certutil_commands.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, community, backport: auto

#1561 [New Rule] PowerShell Keylogging Script
  rules/windows/collection_posh_keylogger.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1579 [New Rule] Azure Active Directory High Risk User AtRisk or Confirmed
  rules/integrations/azure/initial_access_azure_active_directory_high_risk_signin_atrisk_or_confirmed.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, community, backport: auto

#1571 [New Rule] Account Password Reset Remotely
  etc/non-ecs-schema.json
  rules/windows/persistence_remote_password_reset.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1569 [New Rule] Potential Credential Access via Renamed COM+ Services DLL
  rules/windows/credential_access_suspicious_comsvcs_imageload.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1491 [Rule Tuning] Component Object Model Hijacking
  rules/windows/persistence_suspicious_com_hijack_registry.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, community, backport: auto

#1565 [New Rule] Windows Firewall Disabled
  rules/windows/defense_evasion_powershell_windows_firewall_disabled.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, community, backport: auto

#1623 [New Rule] Clearing Windows Console History
  rules/windows/defense_evasion_clearing_windows_console_history.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#1576 [New Rule] Azure Kubernetes Rolebindings Created
  rules/integrations/azure/privilege_escalation_azure_kubernetes_rolebinding_created.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, community, backport: auto

#1560 [Rule Tuning] Support ECS 1.11 field for IM rule
  rules/cross-platform/threat_intel_filebeat7x.toml
  rules/cross-platform/threat_intel_filebeat8x.toml
  rules/cross-platform/threat_intel_fleet_integrations.toml
Labels: Rule: Tuning, backport: auto, CTI area

#1639 Updating docs for Host Risk Score and experimental detection rules
  docs/experimental-machine-learning/experimental-detections.md
  docs/experimental-machine-learning/host-risk-score.md
Labels: backport: auto

#1588 [New Rule] Suspicious Process Creation CallTrace
  etc/non-ecs-schema.json
  rules/windows/defense_evasion_suspicious_process_creation_calltrace.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto
