Repository elastic/detection-rules, pull requests merged in 2022-06, with the labels that each got.

#2005 [New Rule] Suspicious Microsoft Diagnostics Wizard Execution
  rules/windows/defense_evasion_proxy_execution_via_msdt.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.3.0

#2012 [Rule Tuning] Add MITRE Details to exisisting hpining activity rule.
  rules/linux/discovery_linux_hping_activity.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2013 Collapse unsupported previous version entries
  detection_rules/devtools.py
  detection_rules/etc/version.lock.json
  detection_rules/mixins.py
  tests/test_gh_workflows.py
  tests/test_version_locking.py
Labels: python, backport: auto

#2016 [Rule Tuning] Whoami Process Activity - Support Event 4688
  rules/windows/discovery_whoami_command_activity.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2017 [Rule Tuning] AdminSDHolder SDProp Exclusion Added
  rules/windows/persistence_sdprop_exclusion_dsheuristics.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2004 [Rule Tuning] M365 - Remove event.outcome condition from Auth Events
  rules/integrations/o365/credential_access_microsoft_365_brute_force_user_account_attempt.toml
  rules/integrations/o365/credential_access_microsoft_365_potential_password_spraying_attack.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto

#2021 [Bug] resolves bug in Rule version methods
  detection_rules/etc/version.lock.json
  detection_rules/main.py
  detection_rules/misc.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/schemas/__init__.py
  detection_rules/schemas/definitions.py
  detection_rules/version_lock.py
  tests/test_schemas.py
  tests/test_version_locking.py
Labels: bug, python, schema, backport: auto

#1979 [New Rule] Kubernetes execution_user_exec_to_pod
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/kubernetes/execution_user_exec_to_pod.toml
Labels: OS: Linux, Rule: New, RTA, backport: auto, v8.3.0, Integration: Kubernetes

#2033 [Rule Tuning] Remote System Discovery Commands
  rules/windows/discovery_remote_system_discovery_commands_windows.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2028 [Rule tuning] existing hpining and strace activity rule.
  rules/linux/privilege_escalation_linux_strace_activity.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2051 Update cli documentation for search-alerts
  CLI.md
  detection_rules/kbwrap.py
  detection_rules/misc.py
Labels: bug, documentation, python, backport: auto, v8.3.0

#2053 Add support for restricted fields
  detection_rules/mixins.py
  detection_rules/rule.py
  detection_rules/schemas/__init__.py
  detection_rules/schemas/stack_compat.py
  tests/test_all_rules.py
Labels: python, schema, backport: auto, v8.3.0

#2055 user risk score docs
  docs/experimental-machine-learning/readme.md
  docs/experimental-machine-learning/user-risk-score.md
Labels: backport: auto

#2046 [Rule Tuning] Enumeration of Privileged Local Groups Membership
  rules/windows/discovery_privileged_localgroup_membership.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2065 [DOCS] Updating user risk score readme
  docs/experimental-machine-learning/user-risk-score.md
Labels: backport: auto
