Repository elastic/detection-rules, pull requests merged in 2022-08, with the labels that each got.

#2203 [Rule Tuning] Potential Remote Credential Access via Registry
  rules/windows/credential_access_remote_sam_secretsdump.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2206 [Rule Tuning] Process Termination followed by Deletion
  rules/windows/defense_evasion_process_termination_followed_by_deletion.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2211 [Rule Tuning] Remotely Started Services via RPC
  rules/windows/lateral_movement_remote_services.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2204 [Rule Tuning] Suspicious Process Access via Direct System Call
  rules/windows/defense_evasion_suspicious_process_access_direct_syscall.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2209 [Deprecated Rule] Potential Privilege Escalation via Local Kerberos R…
  rules/_deprecated/privilege_escalation_krbrelayup_suspicious_logon.toml
Labels: Rule: Deprecation, OS: Windows, backport: auto

#2208 [Rule Tuning] Unusual Service Host Child Process - Childless Service
  rules/windows/privilege_escalation_unusual_svchost_childproc_childless.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2207 [Rule Tuning] Suspicious Process Creation CallTrace
  rules/windows/defense_evasion_suspicious_process_creation_calltrace.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2210 Rule tuning as part of Linux Detection Rules Review
  rules/linux/execution_shell_evasion_linux_binary.toml
Labels: OS: Linux, Rule: Deprecation, Rule: Tuning, Domain: Endpoint, backport: auto

#2217 [Deprecate Rule] File and Directory Discovery
  rules/_deprecated/discovery_file_dir_discovery.toml
Labels: Rule: Deprecation, OS: Windows, backport: auto

#2218 [Deprecate rule] Whitespace Padding in Process Command Line
  rules/_deprecated/defense_evasion_whitespace_padding_in_command_line.toml
Labels: Rule: Deprecation, OS: Windows, Domain: Endpoint, backport: auto

#2213 [Rules Tuning] Diverse Windows Rules - FPs reduction
  detection_rules/etc/non-ecs-schema.json
  rules/windows/credential_access_lsass_memdump_file_created.toml
  rules/windows/credential_access_suspicious_winreg_access_via_sebackup_priv.toml
  rules/windows/defense_evasion_execution_control_panel_suspicious_args.toml
  rules/windows/defense_evasion_file_creation_mult_extension.toml
  rules/windows/defense_evasion_from_unusual_directory.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/execution_from_unusual_path_cmdline.toml
  rules/windows/execution_psexec_lateral_movement_command.toml
  rules/windows/initial_access_suspicious_ms_exchange_process.toml
  rules/windows/lateral_movement_via_startup_folder_rdp_smb.toml
  rules/windows/persistence_remote_password_reset.toml
  rules/windows/privilege_escalation_persistence_phantom_dll.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2215 [Rules Tuning] Add support for Sysmon ImageLoad Events
  rules/windows/credential_access_credential_dumping_msbuild.toml
  rules/windows/defense_evasion_suspicious_wmi_script.toml
  rules/windows/execution_scheduled_task_powershell_source.toml
  rules/windows/execution_suspicious_image_load_wmi_ms_office.toml
  rules/windows/execution_suspicious_powershell_imgload.toml
  rules/windows/initial_access_scripts_process_started_via_wmi.toml
  rules/windows/lateral_movement_suspicious_rdp_client_imageload.toml
  rules/windows/persistence_local_scheduled_task_scripting.toml
  rules/windows/persistence_suspicious_image_load_scheduled_task_ms_office.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2187 [Rule Tuning] Suspicious Calendar File Modification
  rules/macos/persistence_suspicious_calendar_modification.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2190 [Rule Tuning] Execution with Explicit Credentials via Scripting
  rules/macos/privilege_escalation_explicit_creds_via_scripting.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2221 [Deprecation rule] DNS Activity to the Internet
  rules/_deprecated/command_and_control_dns_directly_to_the_internet.toml
Labels: Rule: Deprecation, backport: auto

#2214 [Bug] Opening Issues in this Repo Causes "Run failed: Community - main"
  .github/workflows/community.yml
Labels: python, ci/cd, backport: auto, v8.4.0

#2199 [Rule Tuning] Modification of Boot Configuration
  rules/windows/impact_modification_of_boot_config.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2180 [Rule Tuning] Sublime Plugin or Application Script Modification
  rules/macos/persistence_modification_sublime_app_plugin_or_script.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2177 [Rule Tuning] Potential Persistence via Login Hook
  rules/macos/persistence_loginwindow_plist_modification.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2174 [Rule Tuning] Persistence via Folder Action Script
  rules/macos/persistence_folder_action_scripts_runtime.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2060 add new field `related_integrations` to the post build
  detection_rules/devtools.py
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/integrations.py
  detection_rules/rule.py
  detection_rules/utils.py
Labels: python, backport: auto, v8.4.0

#2234 [Bug] related_integration added to all rule versions
  detection_rules/rule.py
Labels: bug, python, backport: auto, v8.4.0

#2144 [Security Content] 8.4 - Add Investigation Guides - Windows - 2
  rules/_deprecated/defense_evasion_whitespace_padding_in_command_line.toml
  rules/windows/credential_access_suspicious_winreg_access_via_sebackup_priv.toml
  rules/windows/defense_evasion_create_mod_root_certificate.toml
  rules/windows/defense_evasion_suspicious_process_access_direct_syscall.toml
  rules/windows/defense_evasion_unusual_network_connection_via_rundll32.toml
  rules/windows/defense_evasion_unusual_process_network_connection.toml
  rules/windows/initial_access_unusual_dns_service_children.toml
  rules/windows/privilege_escalation_uac_bypass_event_viewer.toml
  rules/windows/privilege_escalation_uac_bypass_mock_windir.toml
  rules/windows/privilege_escalation_uac_bypass_winfw_mmc_hijack.toml
Labels: Rule: Deprecation, OS: Windows, Domain: Endpoint, backport: auto, Security Content, v8.4.0

#2237 Update Branch Checks
  .github/workflows/branch-status-checks.yml
Labels: ci/cd, backport: auto, v8.4.0

#2223 [Rule Tuning] Reduce FPs
  rules/windows/defense_evasion_create_mod_root_certificate.toml
  rules/windows/defense_evasion_defender_disabled_via_registry.toml
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
  rules/windows/execution_apt_solarwinds_backdoor_unusual_child_processes.toml
  rules/windows/execution_command_shell_started_by_svchost.toml
  rules/windows/execution_via_hidden_shell_conhost.toml
  rules/windows/execution_via_xp_cmdshell_mssql_stored_procedure.toml
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
  rules/windows/persistence_via_update_orchestrator_service_hijack.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2235 [Rule Tuning] Suspicious Execution via Scheduled Task
  rules/windows/persistence_suspicious_scheduled_task_runtime.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2224 [Rule Tuning] Whoami Process Activity
  rules/windows/discovery_whoami_command_activity.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2222 [Deprecate Rule] Suspicious Process from Conhost
  rules/_deprecated/defense_evasion_code_injection_conhost.toml
Labels: Rule: Deprecation, OS: Windows, backport: auto

#2248 [Bug] Set typing-inspect requirement to 0.7.1
  requirements.txt
Labels: bug, python, backport: auto, v8.4.0

#2242 [Rule Tuning] Standardizing Risk Score according to Severity
  rules/linux/command_and_control_connection_attempt_by_non_ssh_root_session.toml
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/persistence_chkconfig_service_add.toml
  rules/linux/persistence_dynamic_linker_backup.toml
  rules/linux/persistence_etc_file_creation.toml
  rules/linux/persistence_insmod_kernel_module_load.toml
  rules/macos/execution_installer_package_spawned_network_event.toml
  rules/windows/defense_evasion_installutil_beacon.toml
  rules/windows/defense_evasion_msbuild_beacon_sequence.toml
  rules/windows/defense_evasion_mshta_beacon.toml
  rules/windows/defense_evasion_msxsl_beacon.toml
  rules/windows/defense_evasion_network_connection_from_windows_binary.toml
  rules/windows/defense_evasion_rundll32_no_arguments.toml
  rules/windows/defense_evasion_suspicious_process_creation_calltrace.toml
  rules/windows/defense_evasion_suspicious_wmi_script.toml
  rules/windows/discovery_enumerating_domain_trusts_via_nltest.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/execution_downloaded_url_file.toml
  rules/windows/execution_ms_office_written_file.toml
  rules/windows/lateral_movement_mount_hidden_or_webdav_share_net.toml
  rules/windows/persistence_app_compat_shim.toml
  rules/windows/persistence_evasion_registry_ifeo_injection.toml
  rules/windows/persistence_startup_folder_file_written_by_unsigned_process.toml
Labels: OS: Linux, OS: macOS, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2240 [Rule Tuning] Microsoft 365 Inbox Forwarding Rule Created
  rules/integrations/o365/collection_microsoft_365_new_inbox_rule.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto

#2113 [Rule Tuning] Abnormal Process ID or Lock File Created
  rules/linux/execution_abnormal_process_id_file_created.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#2138 [Rule Tuning] Suspicious Browser Child Process
  rules/macos/execution_initial_access_suspicious_browser_childproc.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2172 [Rule Tuning] Finder Sync Plugin Registered and Enabled
  rules/macos/persistence_finder_sync_plugin_pluginkit.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2192 [Rule Tuning] Suspicious Child Process of Adobe Acrobat Reader Update Service
  rules/macos/privilege_escalation_exploit_adobe_acrobat_updater.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2233 [Rule Tuning] Clearing Windows Event Logs
  rules/windows/defense_evasion_clearing_windows_event_logs.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#2054 [Bug] Integrations-Pr Command (Elastic-Package Linting and Version Adjustments)
  detection_rules/devtools.py
Labels: bug, enhancement, python, backport: auto, v8.4.0

#2254 Add TestRiskScoreMismatch test
  tests/test_all_rules.py
Labels: python, backport: auto

#2262 Add test that newly introduced build-time fields for a min_stack for …
  detection_rules/rule.py
  tests/test_all_rules.py
Labels: python, backport: auto

#2232 [Rule Tuning] SUNBURST Command and Control Activity
  rules/windows/command_and_control_sunburst_c2_activity_detected.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, community, backport: auto

#2267 [New Rule] Application Removed from Blocklist - Google Workspace
  rules/integrations/google_workspace/defense_evasion_application_removed_from_blocklist_in_google_workspace.toml
Labels: Domain: Cloud, Rule: New, Integration: Google Workspace, backport: auto

#2264 [New Rule] User Group Access Modified to Allow External Access
  rules/integrations/google_workspace/persistence_google_workspace_user_group_access_modified_to_allow_external_access.toml
Labels: Domain: Cloud, Rule: New, Integration: Google Workspace, backport: auto, v8.5.0

#2266 [Rule Tuning] Admin Role Assigned to User - Google Workspace
  rules/integrations/google_workspace/persistence_google_workspace_admin_role_assigned_to_user.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Google Workspace, backport: auto, v8.5.0

#2265 [New Rule] Google Drive Ownership Transferred
  rules/integrations/google_workspace/collection_google_drive_ownership_transferred_via_google_workspace.toml
Labels: Domain: Cloud, Rule: New, Integration: Google Workspace, backport: auto, v8.5.0

#2268 [New Rule] Restrictions for Google Marketplace Modified to Allow Any App - Google Workspace
  rules/integrations/google_workspace/defense_evasion_google_workspace_restrictions_for_google_marketplace_changed_to_allow_any_app.toml
Labels: Domain: Cloud, Rule: New, Integration: Google Workspace, backport: auto, v8.5.0
