Repository elastic/detection-rules, pull requests merged in 2022-01, with the labels that each got.

#1675 [New Rule] Shadowcopy via Symlink
  rules/windows/credential_access_symbolic_link_to_shadow_copy_createdcredential_access_symbolic_link_to_shadow_copy_created.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#1575 [New Rule] Microsoft Defender Tampering
  rules/windows/defense_evasion_microsoft_defender_tampering.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, community, backport: auto

#1708 [Rule Tuning] Connection to Commonly Abused Web Services
  rules/windows/command_and_control_common_webservices.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1558 [New Rule] PowerShell PSReflect Script
  rules/windows/execution_posh_psreflect.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1605 [New Rule] Scheduled Task Execution at Scale via GPO
  etc/non-ecs-schema.json
  rules/windows/privilege_escalation_group_policy_scheduled_task.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1680 [Rule Tuning] O365 Excessive Single Sign-On Logon Errors
  rules/integrations/o365/credential_access_user_excessive_sso_logon_errors.toml
Labels: Domain: Cloud, community, Integration: Microsoft 365, backport: auto

#1603 [New Rule] Group Policy Abuse for Privilege Addition
  rules/windows/privilege_escalation_group_policy_privileged_groups.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1666 [New Rule] Azure Suppression Rule Created
  rules/integrations/azure/defense_evasion_suppression_rule_created.toml
Labels: Integration: Azure, Domain: Cloud, backport: auto

#1649 [Rule Tuning] Interactive Terminal Spawned via Python - Python3 and bypasses fix
  rules/linux/execution_python_tty_shell.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#1629 [New Rule] Potential Priivilege Escalation via InstallerFileTakeOver
  rules/windows/privilege_escalation_installertakeover.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1610 [Rule Tuning] Add Investigation Guides, Config/Logging Policy to PowerShell merged rules
  rules/windows/collection_posh_audio_capture.toml
  rules/windows/collection_posh_keylogger.toml
  rules/windows/credential_access_posh_minidump.toml
  rules/windows/defense_evasion_posh_process_injection.toml
  rules/windows/discovery_posh_suspicious_api_functions.toml
  rules/windows/execution_posh_portable_executable.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1607 [New Rule] Startup/Logon Script added to Group Policy Object
  etc/non-ecs-schema.json
  rules/windows/privilege_escalation_group_policy_iniscript.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1722 MacOS Launch Daemon Creation Rule - Query Fix
  rules/macos/persistence_creation_modif_launch_deamon_sequence.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto

#1723 MacOS FolderActionScripts Process List Update
  rules/macos/persistence_folder_action_scripts_runtime.toml
Labels: OS: macOS, Domain: Endpoint, backport: auto

#1669 Add pattern for "name" in rule schema
  detection_rules/rule.py
  detection_rules/schemas/definitions.py
Labels: python, schema, backport: auto

#1703 [Deprecate Rule] Threat Intel Filebeat Module (v7.x) Indicator Match
  rules/_deprecated/threat_intel_filebeat7x.toml
Labels: Rule: Deprecation, backport: skip

#1706 [Rule Tuning] Update Google Workspace rules to remove compatibility with deprecated gsuite integration
  rules/integrations/google_workspace/application_added_to_google_workspace_domain.toml
  rules/integrations/google_workspace/domain_added_to_google_workspace_trusted_domains.toml
  rules/integrations/google_workspace/google_workspace_admin_role_deletion.toml
  rules/integrations/google_workspace/google_workspace_mfa_enforcement_disabled.toml
  rules/integrations/google_workspace/google_workspace_policy_modified.toml
  rules/integrations/google_workspace/mfa_disabled_for_google_workspace_organization.toml
  rules/integrations/google_workspace/persistence_google_workspace_admin_role_assigned_to_user.toml
  rules/integrations/google_workspace/persistence_google_workspace_api_access_granted_via_domain_wide_delegation_of_authority.toml
  rules/integrations/google_workspace/persistence_google_workspace_custom_admin_role_created.toml
  rules/integrations/google_workspace/persistence_google_workspace_role_modified.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Google Workspace, backport: auto

#1700 Prepare for creation of 8.0 branch
  .github/workflows/backport.yml
  .github/workflows/lock-versions.yml
  detection_rules/rule_validators.py
  detection_rules/schemas/__init__.py
  detection_rules/semver.py
  etc/api_schemas/8.0/8.0.base.json
  etc/api_schemas/8.0/8.0.eql.json
  etc/api_schemas/8.0/8.0.machine_learning.json
  etc/api_schemas/8.0/8.0.query.json
  etc/api_schemas/8.0/8.0.threat_match.json
  etc/api_schemas/8.0/8.0.threshold.json
  etc/beats_schemas/v7.16.2.json.gz
  etc/beats_schemas/v8.0.0-rc1.json.gz
  etc/ecs_schemas/master_8.0.0.dev/ecs_flat.json.gz
  etc/ecs_schemas/master_8.2.0.dev/ecs_flat.json.gz
  etc/packages.yml
  etc/stack-schema-map.yaml
Labels: python, schema, backport: auto

#1725 fix bug in yaml parsing for github workflows
  .github/workflows/backport.yml
  etc/packages.yml
Labels: backport: auto

#1731 Revert "[Rule Tuning] Interactive Terminal Spawned via Python - Python3 and bypasses fix"
  rules/linux/execution_python_tty_shell.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#1672 Add pyproject.toml and setup.cfg
  pyproject.toml
  setup.cfg
Labels: python, backport: auto

#1735 Update tests to account for non-backported deprecations
  tests/test_all_rules.py
Labels: backport: auto

#1733 Update base branch in integrations-pr command
  detection_rules/devtools.py
Labels: python, backport: auto

#1567 Autogenerate docs for integration package releases
  detection_rules/devtools.py
  detection_rules/docs.py
  detection_rules/rule.py
  detection_rules/rule_loader.py
  detection_rules/utils.py
Labels: python, backport: auto

#1727 [New Rule] Potential Privilege Escalation via PKEXEC
  rules/linux/privilege_escalation_pkexec_envar_hijack.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, trending threat

#1679 [Rule Tuning] Azure Virtual Network Device Modified or Deleted
  rules/integrations/azure/impact_virtual_network_device_modified.toml
Labels: Integration: Azure, Domain: Cloud, Rule: Tuning, backport: auto

#1683 [Rule Tuning] Microsoft 365 Inbox Forwarding Rule Created
  etc/non-ecs-schema.json
  rules/integrations/o365/collection_microsoft_365_new_inbox_rule.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto

#1687 [Rule Tuning] Fix event.outcome condition on O365 failed logon related rules
  rules/integrations/o365/credential_access_microsoft_365_brute_force_user_account_attempt.toml
  rules/integrations/o365/credential_access_microsoft_365_potential_password_spraying_attack.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto

#1712 [Rule Tuning] Account Password Reset Remotely - Source.ip condition
  rules/windows/persistence_remote_password_reset.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1714 [Rule Tuning] Potential Credential Access via LSASS Memory Dump
  rules/windows/credential_access_suspicious_lsass_access_memdump.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1718 [Rule Tuning] GCP Kubernetes Rolebindings Created or Patched
  rules/integrations/gcp/privilege_escalation_gcp_kubernetes_rolebindings_created_or_patched.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: GCP, backport: auto

#1682 [New Rule] Potential Abuse of Repeated MFA Push Notifications
  rules/integrations/okta/credential_access_mfa_push_brute_force.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, backport: auto

#1686 [New Rule] Global Administrator Role Assigned
  rules/integrations/azure/persistence_azure_global_administrator_role_assigned.toml
  rules/integrations/o365/persistence_microsoft_365_global_administrator_role_assign.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, Integration: Microsoft 365, backport: auto

#1660 [New Rule] Potential Privileged Escalation via SamAccountName Spoofing
  etc/non-ecs-schema.json
  rules/windows/privilege_escalation_samaccountname_spoofing_attack.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, trending threat

#1691 [New Rule] SharePoint Malware File Upload
  rules/integrations/o365/lateral_movement_malware_uploaded_sharepoint.toml
Labels: Domain: Cloud, Rule: New, Integration: Microsoft 365, backport: auto

#1693 [New Rule] OneDrive Malware File Upload
  rules/integrations/o365/lateral_movement_malware_uploaded_onedrive.toml
Labels: Domain: Cloud, Rule: New, Integration: Microsoft 365, backport: auto

#1696 [New Rule] MS Office Macro Security Registry Modifications
  rules/windows/defense_evasion_ms_office_suspicious_regmod.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1699 [New Rule] Email Reported by User as Malware or Phish
  rules/integrations/o365/initial_access_o365_user_reported_phish_malware.toml
Labels: Domain: Cloud, Rule: New, Integration: Microsoft 365, backport: auto

#1715 [New Rule] PowerShell Kerberos Ticket Request
  rules/windows/credential_access_posh_request_ticket.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1713 [Rule Tuning] Change default time query for rounding days
  rules/cross-platform/threat_intel_filebeat8x.toml
  rules/cross-platform/threat_intel_fleet_integrations.toml
Labels: Rule: Tuning, backport: auto

#1717 [New Rule] Kerberos Preauthentication Disabled for User
  rules/windows/credential_access_disable_kerberos_preauth.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto
