Repository elastic/detection-rules, pull requests merged in 2022-03, with the labels that each got.

#1803 [Security Content] Update rules based on docs review
  rules/cross-platform/defense_evasion_agent_spoofing_mismatched_id.toml
  rules/integrations/aws/impact_efs_filesystem_or_mount_deleted.toml
  rules/integrations/aws/ml_cloudtrail_error_message_spike.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_country.toml
  rules/integrations/azure/defense_evasion_kubernetes_events_deleted.toml
  rules/integrations/azure/persistence_azure_global_administrator_role_assigned.toml
  rules/integrations/gcp/defense_evasion_gcp_logging_bucket_deletion.toml
  rules/integrations/o365/collection_microsoft_365_new_inbox_rule.toml
  rules/integrations/o365/exfiltration_microsoft_365_exchange_transport_rule_creation.toml
  rules/integrations/o365/lateral_movement_malware_uploaded_sharepoint.toml
  rules/integrations/o365/microsoft_365_exchange_dkim_signing_config_disabled.toml
  rules/integrations/o365/persistence_microsoft_365_global_administrator_role_assign.toml
  rules/integrations/okta/credential_access_mfa_push_brute_force.toml
  rules/linux/privilege_escalation_pkexec_envar_hijack.toml
  rules/macos/persistence_creation_modif_launch_deamon_sequence.toml
  rules/macos/persistence_folder_action_scripts_runtime.toml
  rules/macos/persistence_screensaver_engine_unexpected_child_process.toml
  rules/ml/ml_rare_process_by_host_windows.toml
  rules/windows/collection_posh_audio_capture.toml
  rules/windows/collection_posh_keylogger.toml
  rules/windows/credential_access_dcsync_replication_rights.toml
  rules/windows/credential_access_persistence_network_logon_provider_modification.toml
  rules/windows/credential_access_posh_minidump.toml
  rules/windows/credential_access_posh_request_ticket.toml
  rules/windows/credential_access_suspicious_lsass_access_via_snapshot.toml
  rules/windows/defense_evasion_amsienable_key_mod.toml
  rules/windows/defense_evasion_defender_exclusion_via_powershell.toml
  rules/windows/defense_evasion_microsoft_defender_tampering.toml
  rules/windows/defense_evasion_ms_office_suspicious_regmod.toml
  rules/windows/defense_evasion_posh_process_injection.toml
  rules/windows/defense_evasion_powershell_windows_firewall_disabled.toml
  rules/windows/discovery_adfind_command_activity.toml
  rules/windows/discovery_net_command_system_account.toml
  rules/windows/discovery_posh_suspicious_api_functions.toml
  rules/windows/execution_posh_portable_executable.toml
  rules/windows/execution_posh_psreflect.toml
  rules/windows/lateral_movement_dcom_hta.toml
  rules/windows/lateral_movement_dns_server_overflow.toml
  rules/windows/lateral_movement_powershell_remoting_target.toml
  rules/windows/persistence_evasion_registry_startup_shell_folder_modified.toml
  rules/windows/persistence_local_scheduled_task_creation.toml
  rules/windows/persistence_registry_uncommon.toml
  rules/windows/persistence_time_provider_mod.toml
  rules/windows/privilege_escalation_group_policy_iniscript.toml
  rules/windows/privilege_escalation_group_policy_privileged_groups.toml
  rules/windows/privilege_escalation_group_policy_scheduled_task.toml
  rules/windows/privilege_escalation_installertakeover.toml
Labels: Integration: AWS, Integration: Azure, Domain: Cloud, OS: Linux, OS: macOS, ML, Integration: Okta, OS: Windows, Domain: Endpoint, Integration: GCP, Integration: Microsoft 365, backport: auto, Security Content

#1779 [New Rule] Registry Hive File Creation via SMB
  etc/non-ecs-schema.json
  rules/windows/credential_access_moving_registry_hive_via_smb.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, Integration: Endpoint, v8.2.0

#1793 Adding a new Rule for env binary shell evasion threat
  rules/linux/defense_evasion_env_binary.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.2.0

#1794 Adding a new Rule for awk binary shell evasion threat
  rules/linux/defense_evasion_awk_binary_shell.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.2.0

#1792 Adding a new Rule for apt binary shell evasion threat
  rules/linux/defense_evasion_apt_binary.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.2.0

#1801 Adding new rule for find shell evasion
  rules/linux/defense_evasion_find_binary.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.2.0

#1807 [Rule Tuning] Update PowerShell script_block queries to avoid partial matches
  rules/windows/collection_posh_audio_capture.toml
  rules/windows/collection_posh_keylogger.toml
  rules/windows/collection_posh_screen_grabber.toml
  rules/windows/defense_evasion_posh_compressed.toml
  rules/windows/execution_posh_psreflect.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1806 [New Rule] Execution control.exe via WorkFolders.exe
  rules/windows/defense_evasion_workfolders_control_execution.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.2.0

#1804 [New Rule] Potential Remote Credential Access via Registry
  etc/non-ecs-schema.json
  rules/windows/credential_access_remote_sam_secretsdump.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto, v8.2.0

#1787 Generate ATT&CK navigator layer files and links
  .github/workflows/pythonpackage.yml
  .github/workflows/release-fleet.yml
  README.md
  detection_rules/__init__.py
  detection_rules/attack.py
  detection_rules/devtools.py
  detection_rules/docs.py
  detection_rules/ghwrap.py
  detection_rules/misc.py
  detection_rules/navigator.py
  detection_rules/packaging.py
  docs/ATT&CK-coverage.md
Labels: python, backport: auto, v8.2.0

#1813 Replace `*` in navigator filenames
  detection_rules/navigator.py
  docs/ATT&CK-coverage.md
Labels: python, backport: auto

#1814 [Github Workflows] Only generate navigator files on push to main
  .github/workflows/pythonpackage.yml
  Makefile
  detection_rules/devtools.py
  detection_rules/packaging.py
Labels: python, backport: auto

#1815 Updating beaconing docs
  docs/experimental-machine-learning/beaconing.md
Labels: backport: auto

#1809 [New Rule] Linux Restricted Shell Breakout via the vi command
  rules/linux/defense_evasion_vi_binary.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.2.0

#1820 nice shell evasion threat
  rules/linux/defense_evasion_nice_binary.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.2.0

#1817 expect shell evasion threat
  rules/linux/defense_evasion_expect_binary.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.2.0

#1823 mysql shell evasion threat
  rules/linux/defense_evasion_mysql_binary.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.2.0

#1824 gcc shell evasion threat
  rules/linux/defense_evasion_gcc_binary.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.2.0

#1795 [New Rule] AdminSDHolder SDProp Exclusion Added
  rules/windows/credential_access_dcsync_replication_rights.toml
  rules/windows/persistence_sdprop_exclusion_dsheuristics.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1845 [Rule Tuning] User Added to Privileged Group in Active Directory
  rules/windows/persistence_user_account_added_to_privileged_group_ad.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1840 [New Rule] c89/c99 shell evasion threat
  rules/linux/execution_c89_c99_binary.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.2.0

#1849 Bump EQL to 0.9.12
  requirements.txt
Labels: backport: auto

#1842 [New Rule] busybox shell evasion threat
  rules/linux/execution_busybox_binary.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.2.0

#1838 [Rule Tuning] Potential Process Injection via PowerShell
  rules/windows/defense_evasion_posh_process_injection.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1852 [Rule Deprecation] Deprecate PrintNightmare Rules
  rules/_deprecated/privilege_escalation_printspooler_malicious_driver_file_changes.toml
  rules/_deprecated/privilege_escalation_printspooler_malicious_registry_modification.toml
Labels: Rule: Deprecation, OS: Windows, Domain: Endpoint, backport: auto

#1853 update beats master branch ref to main
  detection_rules/beats.py
  detection_rules/schemas/__init__.py
  etc/beats_schemas/main.json.gz
  etc/beats_schemas/master.json.gz
  etc/stack-schema-map.yaml
Labels: python, schema, backport: auto, v8.2.0

#1830 [Rule Tuning] Symbolic Link to Shadow Copy Created
  rules/windows/credential_access_symbolic_link_to_shadow_copy_created.toml
  rules/windows/credential_access_symbolic_link_to_shadow_copy_createdcredential_access_symbolic_link_to_shadow_copy_created.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1851 [New Rule] cpulimit shell evasion threat
  rules/linux/execution_cpulimit_binary.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.2.0

#1833 [Rule Tuning] Adding event.provider to AWS WAF Rule or Rule Group Deletion
  rules/integrations/aws/defense_evasion_waf_rule_or_rule_group_deletion.toml
Labels: Integration: AWS, Domain: Cloud, backport: auto

#1867 [New Rule] Okta User Session Impersonation
  rules/integrations/okta/credential_access_user_impersonation_access.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, backport: auto, trending threat

#1783 [New Rule] Suspicious Remote Registry Access via SeBackupPrivilege
  etc/non-ecs-schema.json
  rules/windows/credential_access_suspicious_winreg_access_via_sebackup_priv.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.2.0

#1866 1554 update eql schemas to fail validation on text fields
  detection_rules/rule_validators.py
  kql/kql2eql.py
  tests/kuery/test_kql2eql.py
  tests/test_schemas.py
Labels: python, backport: auto, v8.2.0

#1870 [Bug] Version bump with previous
  detection_rules/version_lock.py
  etc/version.lock.json
Labels: python, backport: auto

#1855 Prevent changes to rule type for locked rules
  detection_rules/rule.py
  detection_rules/version_lock.py
  etc/version.lock.json
  tests/test_all_rules.py
Labels: python, backport: auto, v8.2.0

#1865 vim shell evasion threat
  rules/linux/execution_vi_binary.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, v8.2.0

#1863 flock shell evasion threat
  rules/linux/execution_flock_binary.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.2.0

#1799 [Security Content] Add Investigation Guides
  rules/windows/credential_access_disable_kerberos_preauth.toml
  rules/windows/credential_access_posh_request_ticket.toml
  rules/windows/credential_access_seenabledelegationprivilege_assigned_to_user.toml
  rules/windows/defense_evasion_ms_office_suspicious_regmod.toml
  rules/windows/impact_backup_file_deletion.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, v8.2.0, Security Content

#1880 [Bug] Fix bug in version_lock.py
  detection_rules/version_lock.py
Labels: bug, python, backport: auto, v8.2.0

#1881 [Bug] Add type to deprecated rules in version.lock
  etc/version.lock.json
Labels: bug, backport: auto, v8.2.0

#1887 Add kibana-update and fleet-release templates
  .github/ISSUE_TEMPLATE/integration-oob-updates.md
  .github/ISSUE_TEMPLATE/kibana-updates.md
Labels: backport: auto

#1790 [New Rule] Account configured with never Expiring Password
  rules/windows/persistence_dontexpirepasswd_account.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.2.0

#1889 Adding path as stated in #1812
  rules/macos/credential_access_systemkey_dumping.toml
Labels: OS: macOS, Domain: Endpoint, backport: auto

#1891 Add Jamf Connect exception for macOS users enumeration rule
  rules/macos/discovery_users_domain_built_in_commands.toml
Labels: OS: macOS, Domain: Endpoint, backport: auto

#1893 Description updation across multiple rules
  rules/linux/execution_apt_binary.toml
  rules/linux/execution_awk_binary_shell.toml
  rules/linux/execution_env_binary.toml
  rules/linux/execution_expect_binary.toml
  rules/linux/execution_find_binary.toml
  rules/linux/execution_gcc_binary.toml
  rules/linux/execution_mysql_binary.toml
  rules/linux/execution_nice_binary.toml
  rules/linux/execution_ssh_binary.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, v8.2.0

#1878 Linux Shell Evasion Rule Tuning
  rules/linux/execution_apt_binary.toml
  rules/linux/execution_awk_binary_shell.toml
  rules/linux/execution_busybox_binary.toml
  rules/linux/execution_c89_c99_binary.toml
  rules/linux/execution_cpulimit_binary.toml
  rules/linux/execution_crash_binary.toml
  rules/linux/execution_expect_binary.toml
  rules/linux/execution_find_binary.toml
  rules/linux/execution_gcc_binary.toml
  rules/linux/execution_mysql_binary.toml
  rules/linux/execution_nice_binary.toml
  rules/linux/execution_perl_tty_shell.toml
  rules/linux/execution_python_tty_shell.toml
  rules/linux/execution_ssh_binary.toml
  rules/linux/execution_vi_binary.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, v8.2.0

#1898 temp remove rule to readd with backport
  rules/linux/execution_c89_c99_binary.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#1900 Re-add c89 rules
  rules/linux/execution_c89_c99_binary.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#1822 [Security Content] Add Investigation Guides - 2
  rules/windows/collection_posh_screen_grabber.toml
  rules/windows/collection_winrar_encryption.toml
  rules/windows/command_and_control_certutil_network_connection.toml
  rules/windows/command_and_control_common_webservices.toml
  rules/windows/command_and_control_dns_tunneling_nslookup.toml
  rules/windows/credential_access_mod_wdigest_security_provider.toml
  rules/windows/defense_evasion_amsienable_key_mod.toml
  rules/windows/impact_volume_shadow_copy_deletion_or_resized_via_vssadmin.toml
  rules/windows/impact_volume_shadow_copy_deletion_via_powershell.toml
  rules/windows/impact_volume_shadow_copy_deletion_via_wmic.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, v8.2.0, Security Content

#1805 [Security Content] Adjust Investigation Guides to be less generic
  rules/windows/collection_posh_audio_capture.toml
  rules/windows/collection_posh_keylogger.toml
  rules/windows/credential_access_posh_minidump.toml
  rules/windows/defense_evasion_posh_process_injection.toml
  rules/windows/discovery_posh_suspicious_api_functions.toml
  rules/windows/execution_posh_portable_executable.toml
  rules/windows/execution_posh_psreflect.toml
  rules/windows/privilege_escalation_group_policy_iniscript.toml
  rules/windows/privilege_escalation_group_policy_privileged_groups.toml
  rules/windows/privilege_escalation_group_policy_scheduled_task.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, v8.2.0, Security Content

#1894 [Rule Tuning] Svchost spawning Cmd
  rules/windows/execution_command_shell_started_by_svchost.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto
