Repository elastic/detection-rules, pull requests merged in 2022-02, with the labels that each got.

#1741 [Rule Tuning] O365 Exchange Suspicious Mailbox Right Delegation
  rules/integrations/o365/persistence_exchange_suspicious_mailbox_right_delegation.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto

#1747 [Bug] Fix AttributeError in RuleCollection dupe check
  detection_rules/rule.py
  detection_rules/rule_loader.py
Labels: bug, python, backport: auto

#1743 [New Rule] KRBTGT Delegation Backdoor
  etc/non-ecs-schema.json
  rules/windows/persistence_msds_alloweddelegateto_krbtgt.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1745 [New Rule] AdminSDHolder Backdoor
  etc/non-ecs-schema.json
  rules/windows/persistence_ad_adminsdholder.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1751 [Rule Tuning] Modification of WDigest Security Provider - Sysmon
  rules/windows/credential_access_mod_wdigest_security_provider.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1749 [New Rule] PowerShell Script Block Logging Disabled
  rules/windows/defense_evasion_disable_posh_scriptblocklogging.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1729 [New Rule] Potential Shadow Credentials added to AD Object
  rules/windows/credential_access_shadow_credentials.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1684 [Documentation] Fix O365 Integration name on Rules and Unit Test
  rules/integrations/o365/collection_microsoft_365_new_inbox_rule.toml
  rules/integrations/o365/credential_access_microsoft_365_brute_force_user_account_attempt.toml
  rules/integrations/o365/credential_access_microsoft_365_potential_password_spraying_attack.toml
  rules/integrations/o365/credential_access_user_excessive_sso_logon_errors.toml
  rules/integrations/o365/defense_evasion_microsoft_365_exchange_dlp_policy_removed.toml
  rules/integrations/o365/defense_evasion_microsoft_365_exchange_malware_filter_policy_deletion.toml
  rules/integrations/o365/defense_evasion_microsoft_365_exchange_malware_filter_rule_mod.toml
  rules/integrations/o365/defense_evasion_microsoft_365_exchange_safe_attach_rule_disabled.toml
  rules/integrations/o365/defense_evasion_microsoft_365_mailboxauditbypassassociation.toml
  rules/integrations/o365/exfiltration_microsoft_365_exchange_transport_rule_creation.toml
  rules/integrations/o365/exfiltration_microsoft_365_exchange_transport_rule_mod.toml
  rules/integrations/o365/impact_microsoft_365_mass_download_by_a_single_user.toml
  rules/integrations/o365/impact_microsoft_365_potential_ransomware_activity.toml
  rules/integrations/o365/impact_microsoft_365_unusual_volume_of_file_deletion.toml
  rules/integrations/o365/initial_access_microsoft_365_exchange_anti_phish_policy_deletion.toml
  rules/integrations/o365/initial_access_microsoft_365_exchange_anti_phish_rule_mod.toml
  rules/integrations/o365/initial_access_microsoft_365_exchange_safelinks_disabled.toml
  rules/integrations/o365/initial_access_microsoft_365_impossible_travel_activity.toml
  rules/integrations/o365/initial_access_microsoft_365_user_restricted_from_sending_email.toml
  rules/integrations/o365/initial_access_o365_user_reported_phish_malware.toml
  rules/integrations/o365/lateral_movement_malware_uploaded_onedrive.toml
  rules/integrations/o365/lateral_movement_malware_uploaded_sharepoint.toml
  rules/integrations/o365/microsoft_365_exchange_dkim_signing_config_disabled.toml
  rules/integrations/o365/microsoft_365_teams_custom_app_interaction_allowed.toml
  rules/integrations/o365/persistence_exchange_suspicious_mailbox_right_delegation.toml
  rules/integrations/o365/persistence_microsoft_365_exchange_management_role_assignment.toml
  rules/integrations/o365/persistence_microsoft_365_global_administrator_role_assign.toml
  rules/integrations/o365/persistence_microsoft_365_teams_external_access_enabled.toml
  rules/integrations/o365/persistence_microsoft_365_teams_guest_access_enabled.toml
  rules/integrations/o365/privilege_escalation_new_or_modified_federation_domain.toml
  tests/test_all_rules.py
Labels: documentation, Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto

#1767 [Rule Tuning] Fix IM query
  rules/cross-platform/threat_intel_filebeat8x.toml
Labels: Rule: Tuning, backport: auto

#1757 [Rule Tuning] Volume Shadow Copy Deleted or Resized via VssAdmin - Sysmon
  rules/windows/impact_volume_shadow_copy_deletion_or_resized_via_vssadmin.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1760 [Rule Tuning] Modification of AmsiEnable Registry Key - Sysmon
  rules/windows/defense_evasion_amsienable_key_mod.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1759 [New Rule] Windows Service Installed via an Unusual Client
  etc/non-ecs-schema.json
  rules/windows/privilege_escalation_windows_service_via_unusual_client.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto, trending threat, v8.2.0

#1769 [Rule Tuning] Net command via SYSTEM account
  rules/windows/discovery_net_command_system_account.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1775 [Rule Tuning] Sysmon Registry-based Rules Review & Fixes
  rules/windows/command_and_control_port_forwarding_added_registry.toml
  rules/windows/defense_evasion_defender_disabled_via_registry.toml
  rules/windows/defense_evasion_hide_encoded_executable_registry.toml
  rules/windows/defense_evasion_microsoft_defender_tampering.toml
  rules/windows/defense_evasion_scheduledjobs_at_protocol_enabled.toml
  rules/windows/defense_evasion_sip_provider_mod.toml
  rules/windows/defense_evasion_solarwinds_backdoor_service_disabled_via_registry.toml
  rules/windows/lateral_movement_defense_evasion_lanman_nullsessionpipe_modification.toml
  rules/windows/lateral_movement_rdp_enabled_registry.toml
  rules/windows/lateral_movement_rdp_sharprdp_target.toml
  rules/windows/persistence_appcertdlls_registry.toml
  rules/windows/persistence_evasion_registry_ifeo_injection.toml
  rules/windows/persistence_evasion_registry_startup_shell_folder_modified.toml
  rules/windows/persistence_registry_uncommon.toml
  rules/windows/persistence_run_key_and_startup_broad.toml
  rules/windows/persistence_services_registry.toml
  rules/windows/persistence_suspicious_com_hijack_registry.toml
  rules/windows/persistence_suspicious_service_created_registry.toml
  rules/windows/persistence_time_provider_mod.toml
  rules/windows/persistence_via_hidden_run_key_valuename.toml
  rules/windows/persistence_via_lsa_security_support_provider_registry.toml
  rules/windows/persistence_via_wmi_stdregprov_run_services.toml
  rules/windows/privilege_escalation_disable_uac_registry.toml
  rules/windows/privilege_escalation_port_monitor_print_pocessor_abuse.toml
  rules/windows/privilege_escalation_printspooler_malicious_registry_modification.toml
  rules/windows/privilege_escalation_printspooler_registry_copyfiles.toml
  rules/windows/privilege_escalation_rogue_windir_environment_var.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1772 [Rule Tuning] Sysmon Compatibility - Replace user.id for Integrity fields
  rules/windows/execution_register_server_program_connecting_to_the_internet.toml
  rules/windows/persistence_local_scheduled_task_creation.toml
  rules/windows/privilege_escalation_installertakeover.toml
  rules/windows/privilege_escalation_unusual_printspooler_childprocess.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1763 [New Rule] Potential Credential Access via DCSync
  etc/non-ecs-schema.json
  rules/windows/credential_access_dcsync_replication_rights.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.2.0

#1771 [Rule Tuning] Potential Command and Control via Internet Explorer
  rules/windows/command_and_control_iexplore_via_com.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1773 [Rule Tuning] Remove Windows Integration & Winlogbeat Support - User.id
  rules/windows/command_and_control_common_webservices.toml
  rules/windows/credential_access_persistence_network_logon_provider_modification.toml
  rules/windows/discovery_post_exploitation_external_ip_lookup.toml
  rules/windows/lateral_movement_service_control_spawned_script_int.toml
  rules/windows/privilege_escalation_lsa_auth_package.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1778 [Rule Tuning] Update rules based on docs review
  rules/cross-platform/defense_evasion_agent_spoofing_mismatched_id.toml
  rules/cross-platform/defense_evasion_agent_spoofing_multiple_hosts.toml
  rules/cross-platform/threat_intel_filebeat8x.toml
  rules/cross-platform/threat_intel_fleet_integrations.toml
  rules/integrations/azure/defense_evasion_suppression_rule_created.toml
  rules/integrations/gcp/impact_gcp_virtual_private_cloud_route_created.toml
  rules/integrations/o365/defense_evasion_microsoft_365_mailboxauditbypassassociation.toml
  rules/windows/collection_posh_audio_capture.toml
  rules/windows/collection_posh_keylogger.toml
  rules/windows/collection_posh_screen_grabber.toml
  rules/windows/credential_access_kerberoasting_unusual_process.toml
  rules/windows/credential_access_posh_minidump.toml
  rules/windows/credential_access_suspicious_comsvcs_imageload.toml
  rules/windows/credential_access_suspicious_lsass_access_memdump.toml
  rules/windows/credential_access_suspicious_lsass_access_via_snapshot.toml
  rules/windows/credential_access_symbolic_link_to_shadow_copy_createdcredential_access_symbolic_link_to_shadow_copy_created.toml
  rules/windows/defense_evasion_posh_assembly_load.toml
  rules/windows/defense_evasion_posh_compressed.toml
  rules/windows/defense_evasion_posh_process_injection.toml
  rules/windows/defense_evasion_powershell_windows_firewall_disabled.toml
  rules/windows/discovery_posh_suspicious_api_functions.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/execution_posh_portable_executable.toml
  rules/windows/execution_posh_psreflect.toml
  rules/windows/privilege_escalation_group_policy_iniscript.toml
  rules/windows/privilege_escalation_group_policy_privileged_groups.toml
  rules/windows/privilege_escalation_group_policy_scheduled_task.toml
  rules/windows/privilege_escalation_installertakeover.toml
Labels: Integration: Azure, Domain: Cloud, Rule: Tuning, OS: Windows, Domain: Endpoint, Integration: GCP, Integration: Microsoft 365, backport: auto

#1788 [Rule Tuning] Azure Conditional Access Policy Modified
  rules/integrations/azure/persistence_azure_conditional_access_policy_modified.toml
Labels: Integration: Azure, Domain: Cloud, Rule: Tuning, backport: auto

#1774 [Bug] Fix toml-lint ordering of Mitre metadata #1249
  detection_rules/rule_formatter.py
  etc/test_toml.json
Labels: bug, cli, python, backport: auto

#1784 [New Rule] LSASS Memory Dump
  etc/non-ecs-schema.json
  rules/windows/credential_access_lsass_memdump_handle_access.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.2.0

#1777 Ensure github module is installed before running PR commands
  detection_rules/devtools.py
  detection_rules/ghwrap.py
Labels: python, backport: auto, v8.2.0

#1791 Refresh ATT&CK to v10.1
  detection_rules/attack.py
  etc/attack-v10.1.json.gz
  etc/attack-v9.0.json.gz
Labels: python, backport: auto, v8.2.0

#1716 Updating Host Risk Score docs
  docs/experimental-machine-learning/host-risk-score.md
  docs/experimental-machine-learning/images/0c_host_page_risk_column.png
  docs/experimental-machine-learning/images/0d_host_page_hosts_by_risk_tab.png
  docs/experimental-machine-learning/images/0e_host_details_page_risk_overview.png
  docs/experimental-machine-learning/images/0f_host_details_page_hosts_by_risk_tab.png
Labels: backport: auto
