Repository elastic/detection-rules, pull requests merged in 2022-10, with the labels that each got.

#2337 Kubernetes Rule Tunings for "allowed" activity
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/kubernetes/discovery_suspicious_self_subject_review.toml
  rules/integrations/kubernetes/execution_user_exec_to_pod.toml
  rules/integrations/kubernetes/initial_access_anonymous_request_authorized.toml
  rules/integrations/kubernetes/persistence_exposed_service_created_with_type_nodeport.toml
  rules/integrations/kubernetes/privilege_escalation_pod_created_with_hostipc.toml
  rules/integrations/kubernetes/privilege_escalation_pod_created_with_hostnetwork.toml
  rules/integrations/kubernetes/privilege_escalation_pod_created_with_hostpid.toml
  rules/integrations/kubernetes/privilege_escalation_pod_created_with_sensitive_hostpath_volume.toml
  rules/integrations/kubernetes/privilege_escalation_privileged_pod_created.toml
  rules/integrations/kubernetes/privilege_escalation_suspicious_assignment_of_controller_service_account.toml
Labels: OS: Linux, Rule: Tuning, backport: auto, Integration: Kubernetes, v8.6.0

#2313 [New Rule] Kubernetes Container Created with Excessive Linux Capabilites
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/kubernetes/privilege_escalation_container_created_with_excessive_linux_capabilities.toml
Labels: OS: Linux, Rule: New, backport: auto, Integration: Kubernetes, v8.5.0

#2342 [Rule Tuning] Exclude Elastic Agent from "Potential Process Herpaderping Attempt"
  rules/windows/defense_evasion_potential_processherpaderping.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, v8.6.0

#2347 Update click version
  requirements.txt
Labels: backport: auto

#2349 [Security Content] Add missing "has_guide" tag
  rules/cross-platform/discovery_security_software_grep.toml
  rules/cross-platform/execution_revershell_via_shell_cmd.toml
  rules/cross-platform/execution_suspicious_jar_child_process.toml
  rules/cross-platform/impact_hosts_file_modified.toml
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/execution_linux_netcat_network_connection.toml
  rules/linux/persistence_shell_activity_by_web_server.toml
  rules/windows/defense_evasion_suspicious_process_creation_calltrace.toml
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
  rules/windows/discovery_posh_invoke_sharefinder.toml
  rules/windows/execution_from_unusual_path_cmdline.toml
  rules/windows/execution_via_xp_cmdshell_mssql_stored_procedure.toml
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
  rules/windows/lateral_movement_remote_services.toml
  rules/windows/persistence_run_key_and_startup_broad.toml
  rules/windows/persistence_via_update_orchestrator_service_hijack.toml
  rules/windows/persistence_webshell_detection.toml
  rules/windows/privilege_escalation_disable_uac_registry.toml
  rules/windows/privilege_escalation_persistence_phantom_dll.toml
  rules/windows/privilege_escalation_printspooler_suspicious_spl_file.toml
Labels: OS: Linux, OS: Windows, Domain: Endpoint, backport: auto, Security Content

#2353 [FR] bump eql to v9.15
  requirements.txt
Labels: backport: auto

#2328 add "Windows Azure Linux Agent"'s pid file to list
  rules/linux/execution_abnormal_process_id_file_created.toml
Labels: OS: Linux, Domain: Endpoint, community, backport: auto

#2355 Rule Tuning on Potential Application Shimming via Sdbinst
  rules/windows/persistence_via_application_shimming.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#1946 [FR] Support forked rules with 100 version buffer space
  detection_rules/version_lock.py
Labels: enhancement, python, backport: auto, v8.3.0

#2324 [Guided Onboarding] Sample Rule for SIEM onboarding
  rules/cross-platform/guided_onborading_sample_rule.toml
Labels: Rule: New, backport: auto, v8.5.0

#2341 [Rule Tuning] Kubernetes Rules- Add MITRE technique "Deploy Container"
  rules/integrations/kubernetes/privilege_escalation_pod_created_with_hostipc.toml
  rules/integrations/kubernetes/privilege_escalation_pod_created_with_hostnetwork.toml
  rules/integrations/kubernetes/privilege_escalation_pod_created_with_hostpid.toml
  rules/integrations/kubernetes/privilege_escalation_pod_created_with_sensitive_hostpath_volume.toml
  rules/integrations/kubernetes/privilege_escalation_privileged_pod_created.toml
Labels: OS: Linux, Rule: Tuning, backport: auto, Integration: Kubernetes, v8.5.0

#2257 [FR] Add endgame schema validation to detection-rule query - POC2
  detection_rules/devtools.py
  detection_rules/endgame.py
  detection_rules/etc/endgame_schemas/1.9.0/endgame_ecs_mapping.json.gz
  detection_rules/etc/stack-schema-map.yaml
  detection_rules/rule.py
  detection_rules/rule_validators.py
Labels: enhancement, python, schema, backport: auto, v8.4.0, v8.5.0

#2318 [New Rule] AWS KMS CMK Disabled or Scheduled for Deletion
  rules/integrations/aws/impact_kms_cmk_disabled_or_scheduled_for_deletion.toml
Labels: Integration: AWS, Domain: Cloud, community, backport: auto
