Repository elastic/detection-rules, pull requests merged in 2022-09, with the labels that each got.

#2287 Update RTA common.py for py3
  rta/__init__.py
  rta/__main__.py
  rta/common.py
Labels: RTA, backport: auto

#1923 Cleanup rule survey code
  detection_rules/devtools.py
  detection_rules/ecs.py
  detection_rules/eswrap.py
  detection_rules/kbwrap.py
  detection_rules/mappings.py
  detection_rules/misc.py
  detection_rules/rule.py
  kibana/connector.py
  kibana/resources.py
Labels: bug, python, schema, backport: auto, v8.4.0

#2288 [New Rule] Bitlocker Settings Disabled - Google Workspace
  rules/integrations/google_workspace/defense_evasion_google_workspace_bitlocker_setting_disabled.toml
Labels: Domain: Cloud, Rule: New, Integration: Google Workspace, backport: auto, v8.5.0

#2293 [Bug] Keyerror on rule-survey hits
  detection_rules/eswrap.py
Labels: bug, python, backport: auto, v8.5.0

#2289 [New Rule] User Organizational Unit Changed - Google Workspace
  rules/integrations/google_workspace/persistence_google_workspace_user_organizational_unit_changed.toml
Labels: Domain: Cloud, Rule: New, Integration: Google Workspace, backport: auto, v8.4.0

#2283 [New Rule] Linux rule(s) to detect namespace manipulation,shadow file read
  rules/linux/privilege_escalation_shadow_file_read.toml
  rules/linux/privilege_escalation_unshare_namesapce_manipulation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.5.0

#2303 RTA Deprecation
  rta/deprecated/_linux_discovery_sensitive_files.py
Labels: RTA, backport: auto, v8.4.0

#2276 [New Rule] Full User-Mode Dumps Enabled System-Wide
  rules/windows/credential_access_generic_localdumps.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1908 break out the logic to a script and manual workflow
  .github/workflows/manual-backport.yml
  detection_rules/devtools.py
  detection_rules/etc/commit-and-push.sh
Labels: dev, python, ci/cd, backport: auto

#2272 Add test command to verify version collisions do not occur
  detection_rules/devtools.py
  detection_rules/etc/version.lock.json
  detection_rules/rule.py
  detection_rules/semver.py
  detection_rules/version_lock.py
Labels: python, backport: auto

#2300 [New Rule] Kubernetes Anonymous Request Authorized
  rules/integrations/kubernetes/initial_access_anonymous_request_authorized.toml
Labels: OS: Linux, Rule: New, Integration: Kubernetes, v8.5.0

#2275 [New Rule] Brute Force Detection - Windows
  detection_rules/etc/non-ecs-schema.json
  rules/windows/credential_access_bruteforce_admin_account.toml
  rules/windows/credential_access_bruteforce_multiple_logon_failure_followed_by_success.toml
  rules/windows/credential_access_bruteforce_multiple_logon_failure_same_srcip.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.5.0

#2277 [New Rule] Scheduled Task Creation using winlog
  detection_rules/etc/non-ecs-schema.json
  rules/windows/defense_evasion_persistence_temp_scheduled_task.toml
  rules/windows/lateral_movement_remote_task_creation_winlog.toml
  rules/windows/persistence_scheduled_task_creation_winlog.toml
  rules/windows/persistence_scheduled_task_updated.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.5.0

#2296 [New Rule] Custom Gmail Route Created or Modified - Google Workspace
  rules/integrations/google_workspace/collection_google_workspace_custom_gmail_route_created_or_modified.toml
Labels: Domain: Cloud, Rule: New, Integration: Google Workspace, backport: auto, v8.4.0

#2281 [New Rule] Multiple Vault Web credentials were read
  detection_rules/etc/non-ecs-schema.json
  rules/windows/credential_access_saved_creds_vault_winlog.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.5.0

#2299 [New Rule] Kubernetes Denied Service Account Request
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/kubernetes/discovery_denied_service_account_request.toml
Labels: OS: Linux, Rule: New, Integration: Kubernetes, v8.5.0

#2298 [New Rule] Kubernetes Suspicious Assignment of Controller Service Account
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/kubernetes/privilege_escalation_suspicious_assignment_of_controller_service_account.toml
Labels: OS: Linux, Rule: New, Integration: Kubernetes, v8.5.0

#2295 [Rule Deprecation] Web Application Suspicious Activity: No User Agent
  rules/_deprecated/apm_null_user_agent.toml
Labels: Rule: Deprecation

#2282 [New Rule] Process Creation via Secondary Logon
  detection_rules/etc/non-ecs-schema.json
  rules/windows/privilege_escalation_create_process_as_different_user.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.5.0

#2243 [New Rule] PowerShell Share Enumeration Script
  rules/windows/discovery_posh_invoke_sharefinder.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2246 [New Rule] PowerShell Script with Token Impersonation Capabilities
  rules/windows/privilege_escalation_posh_token_impersonation.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2307 [Bug] Adding Adjustment to Route C of manage_versions.py
  detection_rules/version_lock.py
Labels: bug, python, backport: auto

#2310 [Rule Tuning] Kubernetes - update min_stack for new rules
  rules/integrations/kubernetes/discovery_denied_service_account_request.toml
  rules/integrations/kubernetes/initial_access_anonymous_request_authorized.toml
  rules/integrations/kubernetes/privilege_escalation_suspicious_assignment_of_controller_service_account.toml
Labels: Rule: Tuning, backport: auto, Integration: Kubernetes, v8.5.0

#2312 [Bug] Add ready_for_review to backport activity types
  .github/workflows/backport.yml
Labels: bug, ci/cd, backport: auto, v8.5.0

#2326 Add investigation guides
  rules/linux/credential_access_bruteforce_passowrd_guessing.toml
  rules/linux/credential_access_potential_linux_ssh_bruteforce.toml
  rules/linux/credential_access_potential_linux_ssh_bruteforce_root.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, v8.5.0

#2301 [Rule Tuning] Removed potential typo within rule "persistence_gpo_schtask_service_creation"
  rules/windows/persistence_gpo_schtask_service_creation.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#2314 [Security Content] Add Investigation Guides - 2 - 8.5
  rules/cross-platform/discovery_security_software_grep.toml
  rules/cross-platform/execution_revershell_via_shell_cmd.toml
  rules/cross-platform/impact_hosts_file_modified.toml
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/execution_linux_netcat_network_connection.toml
  rules/linux/persistence_shell_activity_by_web_server.toml
  rules/windows/defense_evasion_suspicious_process_creation_calltrace.toml
  rules/windows/discovery_posh_invoke_sharefinder.toml
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
  rules/windows/privilege_escalation_disable_uac_registry.toml
Labels: OS: Linux, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Security Content, v8.5.0

#2274 [FR] Re-factor Build Integrations Manifest
  detection_rules/devtools.py
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/integrations.py
  detection_rules/rule.py
  tests/test_all_rules.py
Labels: enhancement, python, backport: auto, v8.5.0

#2331 [Bug] Version Comparison Bug in Related Integrations Field at Build Time
  detection_rules/integrations.py
Labels: bug, python, backport: auto
