Repository elastic/detection-rules, pull requests merged in 2022-07, with the labels that each got.

#2010 [New Rule] Domain Trust Enumeration via Nltest
  rules/windows/discovery_enumerating_domain_trusts_via_nltest.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.4.0

#2059 Add new `required_fields` as a build-time restricted field
  detection_rules/rule.py
  detection_rules/rule_validators.py
Labels: python, backport: auto, v8.3.0, v8.4.0

#2077 [Rule Tuning] Potential Reverse Shell Activity via Terminal
  rules/cross-platform/execution_revershell_via_shell_cmd.toml
Labels: OS: Linux, OS: macOS, Rule: Tuning, backport: auto

#2093 [New Rule] Insmod kernel module load
  rules/linux/persistence_insmod_kernel_module_load.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2069 [Security Content] 8.4 - Add Investigation Guides
  rules/windows/credential_access_cmdline_dump_tool.toml
  rules/windows/credential_access_credential_dumping_msbuild.toml
  rules/windows/defense_evasion_execution_msbuild_started_by_office_app.toml
  rules/windows/defense_evasion_system_critical_proc_abnormal_file_activity.toml
  rules/windows/execution_command_shell_started_by_svchost.toml
  rules/windows/execution_psexec_lateral_movement_command.toml
  rules/windows/initial_access_suspicious_ms_office_child_process.toml
  rules/windows/initial_access_suspicious_ms_outlook_child_process.toml
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
  rules/windows/privilege_escalation_unusual_parentchild_relationship.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto, Security Content

#2099 [New Rule] Dynamic Linker Copy
  rules/linux/persistence_dynamic_linker_backup.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2063 [New Rule] Suspicious LSASS Access via MalSecLogon
  rules/windows/credential_access_lsass_handle_via_malseclogon.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, emerging-threat, v8.4.0

#2104 [Security Content] Add Investigation Guides to Cloud Rules - AWS
  rules/integrations/aws/credential_access_secretsmanager_getsecretvalue.toml
  rules/integrations/aws/defense_evasion_config_service_rule_deletion.toml
  rules/integrations/aws/exfiltration_ec2_snapshot_change_activity.toml
  rules/integrations/aws/impact_cloudwatch_log_stream_deletion.toml
  rules/integrations/aws/initial_access_via_system_manager.toml
  rules/integrations/aws/ml_cloudtrail_error_message_spike.toml
  rules/integrations/aws/ml_cloudtrail_rare_error_code.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_city.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_country.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_user.toml
  rules/windows/collection_email_powershell_exchange_mailbox.toml
  rules/windows/command_and_control_certutil_network_connection.toml
  rules/windows/command_and_control_port_forwarding_added_registry.toml
  rules/windows/defense_evasion_defender_disabled_via_registry.toml
  rules/windows/discovery_adfind_command_activity.toml
  rules/windows/discovery_post_exploitation_external_ip_lookup.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
Labels: Integration: AWS, Domain: Cloud, ML, OS: Windows, Domain: Endpoint, backport: auto, Security Content

#2107 [Rule Tuning] GCP Firewall Rules Should Include App Engine
  rules/integrations/gcp/defense_evasion_gcp_firewall_rule_created.toml
  rules/integrations/gcp/defense_evasion_gcp_firewall_rule_deleted.toml
  rules/integrations/gcp/defense_evasion_gcp_firewall_rule_modified.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: GCP, backport: auto

#2105 [Rule Tuning] GCP Integration Rules with googlecloud.audit in Event Dataset
  rules/integrations/gcp/collection_gcp_pub_sub_subscription_creation.toml
  rules/integrations/gcp/collection_gcp_pub_sub_topic_creation.toml
  rules/integrations/gcp/defense_evasion_gcp_logging_bucket_deletion.toml
  rules/integrations/gcp/defense_evasion_gcp_logging_sink_deletion.toml
  rules/integrations/gcp/defense_evasion_gcp_pub_sub_subscription_deletion.toml
  rules/integrations/gcp/defense_evasion_gcp_pub_sub_topic_deletion.toml
  rules/integrations/gcp/defense_evasion_gcp_storage_bucket_configuration_modified.toml
  rules/integrations/gcp/defense_evasion_gcp_storage_bucket_permissions_modified.toml
  rules/integrations/gcp/exfiltration_gcp_logging_sink_modification.toml
  rules/integrations/gcp/impact_gcp_iam_role_deletion.toml
  rules/integrations/gcp/impact_gcp_service_account_deleted.toml
  rules/integrations/gcp/impact_gcp_service_account_disabled.toml
  rules/integrations/gcp/impact_gcp_storage_bucket_deleted.toml
  rules/integrations/gcp/impact_gcp_virtual_private_cloud_network_deleted.toml
  rules/integrations/gcp/impact_gcp_virtual_private_cloud_route_created.toml
  rules/integrations/gcp/impact_gcp_virtual_private_cloud_route_deleted.toml
  rules/integrations/gcp/initial_access_gcp_iam_custom_role_creation.toml
  rules/integrations/gcp/persistence_gcp_iam_service_account_key_deletion.toml
  rules/integrations/gcp/persistence_gcp_key_created_for_service_account.toml
  rules/integrations/gcp/persistence_gcp_service_account_created.toml
  rules/integrations/gcp/privilege_escalation_gcp_kubernetes_rolebindings_created_or_patched.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: GCP, backport: auto

#2068 [New Rule] Suspicious HTML File Creation
  detection_rules/etc/non-ecs-schema.json
  rules/windows/initial_access_evasion_suspicious_htm_file_creation.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.4.0

#2124 [Security Content] Add Investigation Guides - Cloud - 2
  rules/integrations/aws/credential_access_aws_iam_assume_role_brute_force.toml
  rules/integrations/aws/credential_access_iam_user_addition_to_group.toml
  rules/integrations/aws/credential_access_secretsmanager_getsecretvalue.toml
  rules/integrations/aws/defense_evasion_config_service_rule_deletion.toml
  rules/integrations/aws/exfiltration_ec2_snapshot_change_activity.toml
  rules/integrations/aws/impact_cloudwatch_log_stream_deletion.toml
  rules/integrations/aws/impact_iam_deactivate_mfa_device.toml
  rules/integrations/aws/initial_access_via_system_manager.toml
  rules/integrations/aws/ml_cloudtrail_error_message_spike.toml
  rules/integrations/aws/ml_cloudtrail_rare_error_code.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_city.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_country.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_user.toml
  rules/integrations/aws/privilege_escalation_updateassumerolepolicy.toml
  rules/integrations/azure/defense_evasion_azure_service_principal_addition.toml
  rules/integrations/azure/initial_access_azure_active_directory_high_risk_signin.toml
  rules/integrations/azure/initial_access_azure_active_directory_high_risk_signin_atrisk_or_confirmed.toml
  rules/integrations/azure/initial_access_azure_active_directory_powershell_signin.toml
  rules/integrations/azure/initial_access_consent_grant_attack_via_azure_registered_application.toml
  rules/integrations/azure/persistence_azure_privileged_identity_management_role_modified.toml
Labels: Integration: AWS, Integration: Azure, Domain: Cloud, ML, backport: auto, Security Content

#2098 [Rule Tuning] Access of Stored Browser Credentials
  rules/macos/credential_access_access_to_browser_credentials_procargs.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2101 [Rule Tuning] Access to Keychain Credentials Directories
  rules/macos/credential_access_credentials_keychains.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2103 [Rule Tuning] Kerberos Cached Credentials Dumping
  rules/macos/credential_access_kerberosdump_kcc.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2117 [Rule Tuning] Attempt to Remove File Quarantine Attribute
  rules/macos/defense_evasion_attempt_del_quarantine_attrib.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2119 [Rule Tuning] Modification of Environment Variable via Launchctl
  rules/macos/defense_evasion_modify_environment_launchctl.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2121 [Rule Tuning] Potential Privacy Control Bypass via TCCDB Modification
  rules/macos/defense_evasion_privacy_controls_tcc_database_modification.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2136 [Rule Tuning] Enumeration of Users or Groups via Built-in Commands
  rules/macos/discovery_users_domain_built_in_commands.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2129 [Rule Tuning] Remove File Quarantine Attribute
  rules/macos/defense_evasion_attempt_del_quarantine_attrib.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto

#2140 [Rule Tuning] macOS Installer Spawns Network Event
  rules/macos/execution_installer_spawned_network_event.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2142 [Rule Tuning] Suspicious Automator Workflows Execution
  rules/macos/execution_scripting_osascript_exec_followed_by_netcon.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2145 [Rule Tuning] Attempt to Mount SMB Share via Command Line
  rules/macos/lateral_movement_mounting_smb_share.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2147 [Rule Tuning] Remote SSH Login Enabled via systemsetup Command
  rules/macos/lateral_movement_remote_ssh_login_enabled.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2149 [Rule Tuning] Virtual Private Network Connection Attempt
  rules/macos/lateral_movement_vpn_connection_attempt.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2127 [Rule Tuning] TCC Bypass via Mounted APFS Snapshot Access
  rules/macos/defense_evasion_tcc_bypass_mounted_apfs_access.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2134 [Rule Tuning] Attempt to Unload Elastic Endpoint Security Kernel Extension
  rules/macos/defense_evasion_unload_endpointsecurity_kext.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2160 [New Rule] Suspcious Etc File Creation
  rules/linux/persistence_etc_file_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2159 [New Rule] Chkconfig Service Add
  rules/linux/persistence_chkconfig_service_add.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2161 [New Rule] File made Immutable by Chattr
  rules/linux/defense_evasion_chattr_immutable_file.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2163 Rule(s) deprecation as part of Linux Detection Rule Review
  rules/_deprecated/defense_evasion_attempt_to_disable_iptables_or_firewall.toml
  rules/_deprecated/execution_linux_process_started_in_temp_directory.toml
  rules/_deprecated/initial_access_login_failures.toml
  rules/_deprecated/initial_access_login_location.toml
  rules/_deprecated/initial_access_login_sessions.toml
  rules/_deprecated/initial_access_login_time.toml
Labels: Rule: Deprecation, backport: auto, v8.4.0

#2095 use atexist to logout of kibana cleanly
  kibana/connector.py
Labels: bug, python, backport: auto

#2154 [Rule Tuning] LaunchDaemon Creation or Modification and Immediate Loading
  rules/macos/persistence_creation_modif_launch_deamon_sequence.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2156 [Rule Tuning] Authorization Plugin Modification
  rules/macos/persistence_credential_access_authorization_plugin_creation.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2168 [Rule Tuning] Persistence via DirectoryService Plugin Modification
  rules/macos/persistence_directory_services_plugins_modification.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2123 [Rule Tuning] Potential Microsoft Office Sandbox Evasion
  rules/macos/defense_evasion_sandboxed_office_app_suspicious_zip_file.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2132 [Security Content] Add Investigation Guides - Cloud - 3
  rules/integrations/aws/defense_evasion_cloudtrail_logging_deleted.toml
  rules/integrations/aws/defense_evasion_cloudtrail_logging_suspended.toml
  rules/integrations/aws/defense_evasion_cloudwatch_alarm_deletion.toml
  rules/integrations/aws/defense_evasion_ec2_flow_log_deletion.toml
  rules/integrations/aws/impact_cloudtrail_logging_updated.toml
  rules/integrations/aws/impact_cloudwatch_log_group_deletion.toml
  rules/integrations/aws/initial_access_console_login_root.toml
  rules/integrations/aws/privilege_escalation_root_login_without_mfa.toml
  rules/integrations/azure/persistence_mfa_disabled_for_azure_user.toml
  rules/integrations/google_workspace/impact_google_workspace_mfa_enforcement_disabled.toml
Labels: Integration: AWS, Integration: Azure, Domain: Cloud, Rule: Tuning, Integration: Google Workspace, backport: auto, Security Content

#2184 [Rule Tuning] Unexpected Child Process of macOS Screensaver Engine
  rules/macos/persistence_screensaver_engine_unexpected_child_process.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2092 [Rule Tuning] Kubernetes User Exec to Pod
  rules/integrations/kubernetes/execution_user_exec_to_pod.toml
Labels: OS: Linux, Rule: Tuning, backport: auto, v8.4.0, Integration: Kubernetes

#2094 [New Rule] Kubernetes Pod Created with Sensitive hostPath Volume
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/kubernetes/privilege_escalation_pod_created_with_sensitive_hospath_volume.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.4.0, Integration: Kubernetes

#2075 [New Rule] Kubernetes Exposed Service Created With Type NodePort
  rules/integrations/kubernetes/persistence_exposed_service_created_with_type_nodeport.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.4.0, Integration: Kubernetes

#2074 [New Rule] Kubernetes Pod Created With HostIPC
  rules/integrations/kubernetes/privilege_escalation_pod_created_with_hostipc.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.4.0, Integration: Kubernetes

#2072 [New Rule] Kubernetes Pod Created With HostNetwork
  rules/integrations/kubernetes/privilege_escalation_pod_created_with_hostnetwork.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.4.0, Integration: Kubernetes

#2071 [New Rule] Kubernetes Pod Created With HostPID
  rules/integrations/kubernetes/privilege_escalation_pod_created_with_hostpid.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.4.0, Integration: Kubernetes

#2070 [New Rule] Kubernetes Privileged Pod Created
  rules/integrations/kubernetes/privilege_escalation_privileged_pod_created.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.4.0, Integration: Kubernetes

#2067 [New Rule] Kubernetes Suspicious Self-Subject Review
  rules/integrations/kubernetes/discovery_suspicious_self_subject_review.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.4.0, Integration: Kubernetes

#2193 [Rule Tuning] MacOS Installer Package Net Event
  rules/macos/execution_installer_package_spawned_network_event.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto

#2170 Rule tuning as part of Linux Detection Rules Review
  rules/_deprecated/privilege_escalation_linux_strace_activity.toml
  rules/linux/command_and_control_connection_attempt_by_non_ssh_root_session.toml
  rules/linux/credential_access_ssh_backdoor_log.toml
  rules/linux/defense_evasion_hidden_file_dir_tmp.toml
  rules/linux/defense_evasion_log_files_deleted.toml
  rules/linux/execution_process_started_in_shared_memory_directory.toml
  rules/linux/execution_shell_evasion_linux_binary.toml
  rules/linux/persistence_credential_access_modify_ssh_binaries.toml
  rules/linux/persistence_kde_autostart_modification.toml
  rules/linux/persistence_shell_activity_by_web_server.toml
Labels: OS: Linux, Rule: Deprecation, Rule: Tuning, Domain: Endpoint, backport: auto, v8.4.0

#2185 Rule(s) to identify potential mining activities
  rules/linux/impact_process_kill_threshold.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.4.0

#2201 [Rule Tuning] Modification of WDigest Security Provider
  rules/windows/credential_access_mod_wdigest_security_provider.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2195 [Rule Tuning] Persistence via Update Orchestrator Service Hijack
  rules/windows/persistence_via_update_orchestrator_service_hijack.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, v8.4.0

#2202 [Rule Tuning] Kerberos Traffic from Unusual Process
  rules/windows/credential_access_kerberoasting_unusual_process.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto
