Repository elastic/detection-rules, pull requests merged in 2022-11, with the labels that each got.

#2377 [Bug] Convert config to pathlib.Path
  detection_rules/main.py
Labels: bug, python, backport: auto, v8.6.0

#2383 [Tuning] Diverse Windows Rules Tuning
  rules/windows/command_and_control_common_webservices.toml
  rules/windows/credential_access_wireless_creds_dumping.toml
  rules/windows/defense_evasion_persistence_account_tokenfilterpolicy.toml
  rules/windows/discovery_files_dir_systeminfo_via_cmd.toml
  rules/windows/persistence_suspicious_com_hijack_registry.toml
  rules/windows/persistence_user_account_added_to_privileged_group_ad.toml
  rules/windows/persistence_user_account_creation.toml
  rules/windows/persistence_user_account_creation_event_logs.toml
Labels: Rule: New, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2378 [Rule Tuning] Update User.ID or Registry.Path to include Azure Users SID
  rules/windows/credential_access_moving_registry_hive_via_smb.toml
  rules/windows/credential_access_remote_sam_secretsdump.toml
  rules/windows/defense_evasion_ms_office_suspicious_regmod.toml
  rules/windows/persistence_remote_password_reset.toml
  rules/windows/persistence_scheduled_task_creation_winlog.toml
  rules/windows/persistence_scheduled_task_updated.toml
  rules/windows/persistence_suspicious_com_hijack_registry.toml
  rules/windows/privilege_escalation_create_process_as_different_user.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2343 Adds commands to manage ATT&CK mappings
  detection_rules/attack.py
  detection_rules/devtools.py
  detection_rules/eswrap.py
  detection_rules/etc/attack-technique-redirects.json
  detection_rules/kbwrap.py
  detection_rules/utils.py
  rules/macos/persistence_creation_hidden_login_item_osascript.toml
  rules/macos/persistence_loginwindow_plist_modification.toml
  tests/test_all_rules.py
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, python, backport: auto

#2375 [FR] Update endgame validation to the latest schema available (8.4.0)
  detection_rules/etc/endgame_schemas/8.4.0/endgame_ecs_mapping.json.gz
  detection_rules/etc/stack-schema-map.yaml
Labels: enhancement, schema, backport: auto, v8.6.0

#2385 [Rule Tuning] Mounting Hidden or WebDav Remote Shares
  rules/windows/lateral_movement_mount_hidden_or_webdav_share_net.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, v8.6.0

#2374 [Rule Tuning] Tune "Telnet Port Activity" Rule for Accepted Connections Only
  rules/network/command_and_control_accepted_default_telnet_port_connection.toml
Labels: Domain: Network, Rule: Tuning, backport: auto, v8.6.0

#2340 [Deprecation] GCP Kubernetes Rolebindings Created or Patched
  rules/_deprecated/privilege_escalation_gcp_kubernetes_rolebindings_created_or_patched.toml
Labels: Domain: Cloud, Rule: Deprecation, Integration: GCP, backport: auto

#2396 [New Rule] Reverse Shell Created via Named Pipe
  rules/linux/execution_reverse_shell_via_named_pipe.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2368 [New Rule] Masquerading Space After Filename
  rules/cross-platform/defense_evasion_masquerading_space_after_filename.toml
Labels: OS: Linux, OS: macOS, Rule: New, Domain: Endpoint, backport: auto, v8.6.0

#2391 [New Rules] CredAccess via LDAP Attributes
  detection_rules/etc/non-ecs-schema.json
  rules/windows/credential_access_ldap_attributes.toml
  rules/windows/privilege_escalation_credroaming_ldap.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#2394 [Rule Tuning] Remote Computer Account DnsHostName Update
  rules/windows/privilege_escalation_suspicious_dnshostname_update.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2359 [Rule Tuning] Potential Shadow Credentials added to AD Object
  rules/windows/credential_access_shadow_credentials.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2280 [New Rule] Windows Services - winlog
  detection_rules/etc/non-ecs-schema.json
  rules/windows/lateral_movement_remote_service_installed_winlog.toml
  rules/windows/persistence_service_windows_service_winlog.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.5.0

#2357 [New Rule] Persistence via PowerShell profile
  rules/windows/persistence_powersshell_profiles.toml
Labels: Rule: New, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2387 [Security Content] Introduce Osquery Markdown Plugin Queries in Investigation Guides
  rules/windows/command_and_control_certutil_network_connection.toml
  rules/windows/command_and_control_common_webservices.toml
  rules/windows/command_and_control_remote_file_copy_desktopimgdownldr.toml
  rules/windows/command_and_control_remote_file_copy_mpcmdrun.toml
  rules/windows/command_and_control_remote_file_copy_powershell.toml
  rules/windows/command_and_control_remote_file_copy_scripts.toml
  rules/windows/command_and_control_sunburst_c2_activity_detected.toml
  rules/windows/command_and_control_teamviewer_remote_file_copy.toml
  rules/windows/credential_access_credential_dumping_msbuild.toml
  rules/windows/credential_access_kerberoasting_unusual_process.toml
  rules/windows/credential_access_lsass_memdump_handle_access.toml
  rules/windows/defense_evasion_posh_assembly_load.toml
  rules/windows/defense_evasion_posh_compressed.toml
  rules/windows/defense_evasion_suspicious_process_access_direct_syscall.toml
  rules/windows/defense_evasion_system_critical_proc_abnormal_file_activity.toml
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/execution_command_shell_started_by_svchost.toml
  rules/windows/execution_from_unusual_path_cmdline.toml
  rules/windows/execution_posh_portable_executable.toml
  rules/windows/execution_posh_psreflect.toml
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
  rules/windows/lateral_movement_remote_services.toml
  rules/windows/persistence_adobe_hijack_persistence.toml
  rules/windows/persistence_evasion_registry_startup_shell_folder_modified.toml
  rules/windows/persistence_priv_escalation_via_accessibility_features.toml
  rules/windows/persistence_run_key_and_startup_broad.toml
  rules/windows/persistence_startup_folder_file_written_by_suspicious_process.toml
  rules/windows/persistence_startup_folder_file_written_by_unsigned_process.toml
  rules/windows/persistence_startup_folder_scripts.toml
  rules/windows/persistence_via_update_orchestrator_service_hijack.toml
  rules/windows/privilege_escalation_installertakeover.toml
  rules/windows/privilege_escalation_printspooler_suspicious_spl_file.toml
  rules/windows/privilege_escalation_uac_bypass_event_viewer.toml
  rules/windows/privilege_escalation_uac_bypass_mock_windir.toml
  rules/windows/privilege_escalation_uac_bypass_winfw_mmc_hijack.toml
  rules/windows/privilege_escalation_unusual_parentchild_relationship.toml
  tests/test_all_rules.py
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Security Content

#2399 [New Rule] Multiple Alerts in Different ATT&CK Tactics on a Single Host
  detection_rules/etc/non-ecs-schema.json
  detection_rules/schemas/definitions.py
  rules/cross-platform/multiple_alerts_different_tactics_host.toml
Labels: Rule: New, Domain: Endpoint, python, schema, backport: auto

#2403 [Rule Tuning] Shadow File Read via Command Line Utilities
  rules/linux/privilege_escalation_shadow_file_read.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, v8.6.0

#2411 [Rule Tuning] Temporarily Scheduled Task Creation
  rules/windows/defense_evasion_persistence_temp_scheduled_task.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2408 [Guided Onboarding] Name Change for guided_onboarding_sample_rule.toml
  rules/cross-platform/guided_onborading_sample_rule.toml
Labels: Rule: Tuning, backport: auto, v8.6.0
