Repository elastic/detection-rules, pull requests merged in 2022-12, with the labels that each got.

#2360 [FR] Add support for New Terms Fields and Window Start History
  detection_rules/etc/stack-schema-map.yaml
  detection_rules/rule.py
  detection_rules/schemas/definitions.py
Labels: enhancement, python, schema, backport: auto

#1948 Create setup cfg
  .github/workflows/backport.yml
  .github/workflows/get-target-branches.yml
  .github/workflows/lock-versions.yml
  .github/workflows/pythonpackage.yml
  .github/workflows/release-fleet.yml
  .github/workflows/release-kibana.yml
  .gitmodules
  .pre-commit-config.yaml
  Makefile
  README.md
  detection_rules/__init__.py
  detection_rules/attack.py
  detection_rules/devtools.py
  detection_rules/etc/__init__.py
  detection_rules/ghwrap.py
  detection_rules/semver.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  setup.cfg
Labels: enhancement, python, backport: auto, v8.3.0, v8.4.0, v8.5.0, v8.6.0

#2424 [FR] Update Beats Schema for 8.6 Release
  detection_rules/etc/beats_schemas/v8.5.2.json.gz
  detection_rules/etc/beats_schemas/v8.5.3.json.gz
  detection_rules/etc/stack-schema-map.yaml
Labels: enhancement, python, schema, backport: auto

#2423 [Rule Tuning] Multiple Alerts in Different ATT&CK Tactics on a Single Host
  detection_rules/etc/non-ecs-schema.json
  rules/cross-platform/multiple_alerts_different_tactics_host.toml
Labels: Rule: Tuning, Domain: Endpoint, backport: auto

#2430 [Rule Tuning] Access to a Sensitive LDAP Attribute
  rules/windows/credential_access_ldap_attributes.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2435 [Bug] Add Non-ECS Checks to New Terms Rule Validation
  detection_rules/rule.py
Labels: bug, OS: Windows, Domain: Endpoint, python, schema, backport: auto

#2431 [Rule Tuning] PrivEsc via Print Spool Service
  rules/windows/privilege_escalation_printspooler_service_suspicious_file.toml
  rules/windows/privilege_escalation_printspooler_suspicious_spl_file.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#2438 [Rule Tuning] Adjust Index Pattern on Windows rules to support WEF
  rules/windows/credential_access_bruteforce_admin_account.toml
  rules/windows/credential_access_bruteforce_multiple_logon_failure_followed_by_success.toml
  rules/windows/credential_access_bruteforce_multiple_logon_failure_same_srcip.toml
  rules/windows/credential_access_dcsync_replication_rights.toml
  rules/windows/credential_access_disable_kerberos_preauth.toml
  rules/windows/credential_access_ldap_attributes.toml
  rules/windows/credential_access_lsass_memdump_handle_access.toml
  rules/windows/credential_access_remote_sam_secretsdump.toml
  rules/windows/credential_access_saved_creds_vault_winlog.toml
  rules/windows/credential_access_seenabledelegationprivilege_assigned_to_user.toml
  rules/windows/credential_access_shadow_credentials.toml
  rules/windows/credential_access_spn_attribute_modified.toml
  rules/windows/credential_access_suspicious_winreg_access_via_sebackup_priv.toml
  rules/windows/defense_evasion_clearing_windows_security_logs.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/lateral_movement_remote_service_installed_winlog.toml
  rules/windows/lateral_movement_remote_task_creation_winlog.toml
  rules/windows/lateral_movement_service_control_spawned_script_int.toml
  rules/windows/persistence_ad_adminsdholder.toml
  rules/windows/persistence_dontexpirepasswd_account.toml
  rules/windows/persistence_msds_alloweddelegateto_krbtgt.toml
  rules/windows/persistence_remote_password_reset.toml
  rules/windows/persistence_scheduled_task_creation_winlog.toml
  rules/windows/persistence_scheduled_task_updated.toml
  rules/windows/persistence_sdprop_exclusion_dsheuristics.toml
  rules/windows/persistence_service_windows_service_winlog.toml
  rules/windows/persistence_temp_scheduled_task.toml
  rules/windows/persistence_user_account_added_to_privileged_group_ad.toml
  rules/windows/persistence_user_account_creation_event_logs.toml
  rules/windows/privilege_escalation_create_process_as_different_user.toml
  rules/windows/privilege_escalation_credroaming_ldap.toml
  rules/windows/privilege_escalation_group_policy_iniscript.toml
  rules/windows/privilege_escalation_group_policy_privileged_groups.toml
  rules/windows/privilege_escalation_group_policy_scheduled_task.toml
  rules/windows/privilege_escalation_krbrelayup_service_creation.toml
  rules/windows/privilege_escalation_samaccountname_spoofing_attack.toml
  rules/windows/privilege_escalation_suspicious_dnshostname_update.toml
  rules/windows/privilege_escalation_windows_service_via_unusual_client.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2439 [Rule Tuning] Change Guided Onboarding Rule to Experimental
  detection_rules/etc/version.lock.json
  rules/cross-platform/guided_onboarding_sample_rule.toml
Labels: Rule: Tuning, backport: auto

#2434 [New Rule] First Time Seen Driver Loaded
  rules/windows/persistence_driver_newterm_imphash.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2432 [Rule Tuning] Parent Process PID Spoofing
  rules/windows/defense_evasion_parent_process_pid_spoofing.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2413 [Rule Tuning] Screensaver Plist File Modified by Unexpected Process
  rules/macos/persistence_screensaver_plist_file_modification.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, v8.6.0
