Repository elastic/detection-rules, pull requests merged in 2022-04, with the labels that each got.

#1905 [Bug] Updating defined timeline templates in definitions.py
  detection_rules/schemas/definitions.py
Labels: bug, python, schema, backport: auto, v8.2.0

#1892 [Rule Tuning] Timeline Templates For Windows and Linux
  rules/cross-platform/impact_hosts_file_modified.toml
  rules/linux/execution_python_tty_shell.toml
  rules/network/command_and_control_rdp_remote_desktop_protocol_from_the_internet.toml
  rules/network/command_and_control_telnet_port_activity.toml
  rules/windows/credential_access_lsass_memdump_file_created.toml
  rules/windows/defense_evasion_adding_the_hidden_file_attribute_with_via_attribexe.toml
  rules/windows/defense_evasion_execution_lolbas_wuauclt.toml
  rules/windows/defense_evasion_suspicious_certutil_commands.toml
  rules/windows/execution_command_shell_started_by_svchost.toml
  rules/windows/persistence_registry_uncommon.toml
  rules/windows/persistence_run_key_and_startup_broad.toml
Labels: OS: Linux, Rule: Tuning, OS: Windows, Domain: Endpoint, python, schema, backport: auto, v8.2.0

#1906 Prep for Creation of 8.3 Branch
  .github/workflows/backport.yml
  .github/workflows/lock-versions.yml
  detection_rules/schemas/__init__.py
  etc/api_schemas/8.2/8.2.base.json
  etc/api_schemas/8.2/8.2.eql.json
  etc/api_schemas/8.2/8.2.machine_learning.json
  etc/api_schemas/8.2/8.2.query.json
  etc/api_schemas/8.2/8.2.threat_match.json
  etc/api_schemas/8.2/8.2.threshold.json
  etc/packages.yml
  etc/stack-schema-map.yaml
Labels: python, schema, backport: auto

#1910 [Rule Tuning] Add EQL optional field syntax
  rules/windows/discovery_net_command_system_account.toml
  rules/windows/execution_register_server_program_connecting_to_the_internet.toml
  rules/windows/persistence_local_scheduled_task_creation.toml
  rules/windows/privilege_escalation_installertakeover.toml
  rules/windows/privilege_escalation_unusual_printspooler_childprocess.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1911 Update elasticsearch dependency to 8.1
  detection_rules/eswrap.py
  detection_rules/misc.py
  requirements.txt
Labels: python, backport: auto

#1915 [Rule Tuning] AWS Security Group Configuration Change Detection
  rules/integrations/aws/persistence_ec2_security_group_configuration_change_detection.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto

#1871 [Security Content] Add Investigation Guides - 4
  rules/windows/command_and_control_remote_file_copy_scripts.toml
  rules/windows/command_and_control_sunburst_c2_activity_detected.toml
  rules/windows/impact_deleting_backup_catalogs_with_wbadmin.toml
  rules/windows/impact_modification_of_boot_config.toml
  rules/windows/impact_stop_process_service_threshold.toml
  rules/windows/initial_access_script_executing_powershell.toml
  rules/windows/persistence_startup_folder_file_written_by_suspicious_process.toml
  rules/windows/persistence_startup_folder_file_written_by_unsigned_process.toml
  rules/windows/persistence_startup_folder_scripts.toml
  rules/windows/persistence_user_account_creation.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Security Content

#1916 [Rule Tuning] AWS RDS Instance/Cluster Deletion
  rules/integrations/aws/impact_rds_instance_cluster_deletion.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto

#1912 [Rule Tuning] Account Discovery Command via SYSTEM Account
  rules/windows/discovery_net_command_system_account.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1913 Remove deprecated elasticsearch parameter
  detection_rules/misc.py
Labels: python, backport: auto

#1836 [Security Content] Add Investigation Guides - 3
  rules/windows/credential_access_dump_registry_hives.toml
  rules/windows/credential_access_kerberoasting_unusual_process.toml
  rules/windows/credential_access_mimikatz_memssp_default_logs.toml
  rules/windows/credential_access_moving_registry_hive_via_smb.toml
  rules/windows/credential_access_remote_sam_secretsdump.toml
  rules/windows/defense_evasion_disable_posh_scriptblocklogging.toml
  rules/windows/defense_evasion_disable_windows_firewall_rules_with_netsh.toml
  rules/windows/defense_evasion_enable_inbound_rdp_with_netsh.toml
  rules/windows/lateral_movement_rdp_enabled_registry.toml
  rules/windows/persistence_evasion_hidden_local_account_creation.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, v8.2.0, Security Content

#1895 [Security Content] Add Investigation Guides - 5
  rules/windows/command_and_control_port_forwarding_added_registry.toml
  rules/windows/command_and_control_rdp_tunnel_plink.toml
  rules/windows/command_and_control_remote_file_copy_desktopimgdownldr.toml
  rules/windows/command_and_control_remote_file_copy_mpcmdrun.toml
  rules/windows/command_and_control_remote_file_copy_powershell.toml
  rules/windows/command_and_control_teamviewer_remote_file_copy.toml
  rules/windows/persistence_adobe_hijack_persistence.toml
  rules/windows/persistence_priv_escalation_via_accessibility_features.toml
  rules/windows/persistence_system_shells_via_services.toml
  rules/windows/persistence_user_account_added_to_privileged_group_ad.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Security Content

#1896 [Security Content] Current Investigation Guides Review
  rules/windows/credential_access_dcsync_replication_rights.toml
  rules/windows/credential_access_lsass_memdump_handle_access.toml
  rules/windows/credential_access_mimikatz_powershell_module.toml
  rules/windows/credential_access_spn_attribute_modified.toml
  rules/windows/credential_access_symbolic_link_to_shadow_copy_created.toml
  rules/windows/defense_evasion_defender_exclusion_via_powershell.toml
  rules/windows/defense_evasion_workfolders_control_execution.toml
  rules/windows/discovery_adfind_command_activity.toml
  rules/windows/lateral_movement_dns_server_overflow.toml
  rules/windows/lateral_movement_scheduled_task_target.toml
  rules/windows/persistence_evasion_registry_startup_shell_folder_modified.toml
  rules/windows/persistence_sdprop_exclusion_dsheuristics.toml
  rules/windows/privilege_escalation_installertakeover.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto, Security Content

#1926 [Rule Tuning] Add timestamp_override config note to 8.1 rules
  rules/cross-platform/impact_hosts_file_modified.toml
  rules/windows/credential_access_lsass_memdump_file_created.toml
  rules/windows/defense_evasion_adding_the_hidden_file_attribute_with_via_attribexe.toml
  rules/windows/defense_evasion_execution_lolbas_wuauclt.toml
  rules/windows/defense_evasion_suspicious_certutil_commands.toml
  rules/windows/execution_command_shell_started_by_svchost.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint

#1927 [Security Content] MInor changes from Investigation Guides Review
  rules/windows/command_and_control_port_forwarding_added_registry.toml
  rules/windows/command_and_control_rdp_tunnel_plink.toml
  rules/windows/command_and_control_remote_file_copy_desktopimgdownldr.toml
  rules/windows/command_and_control_remote_file_copy_mpcmdrun.toml
  rules/windows/command_and_control_remote_file_copy_powershell.toml
  rules/windows/command_and_control_remote_file_copy_scripts.toml
  rules/windows/command_and_control_sunburst_c2_activity_detected.toml
  rules/windows/command_and_control_teamviewer_remote_file_copy.toml
  rules/windows/defense_evasion_defender_exclusion_via_powershell.toml
  rules/windows/impact_deleting_backup_catalogs_with_wbadmin.toml
  rules/windows/impact_modification_of_boot_config.toml
  rules/windows/impact_stop_process_service_threshold.toml
  rules/windows/persistence_adobe_hijack_persistence.toml
  rules/windows/persistence_priv_escalation_via_accessibility_features.toml
  rules/windows/persistence_system_shells_via_services.toml
  rules/windows/persistence_user_account_added_to_privileged_group_ad.toml
  rules/windows/privilege_escalation_installertakeover.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Security Content

#1928 [Rule Tuning] Remove `logs-windows.*` index
  rules/windows/credential_access_disable_kerberos_preauth.toml
  rules/windows/credential_access_seenabledelegationprivilege_assigned_to_user.toml
  rules/windows/credential_access_shadow_credentials.toml
  rules/windows/defense_evasion_clearing_windows_security_logs.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/persistence_ad_adminsdholder.toml
  rules/windows/persistence_msds_alloweddelegateto_krbtgt.toml
  rules/windows/persistence_remote_password_reset.toml
  rules/windows/persistence_user_account_added_to_privileged_group_ad.toml
  rules/windows/persistence_user_account_creation_event_logs.toml
  rules/windows/privilege_escalation_samaccountname_spoofing_attack.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1507 [eql2kql] fix wildcard bug
  kql/ast.py
  kql/eql2kql.py
  tests/kuery/test_eql2kql.py
  tests/kuery/test_evaluator.py
Labels: python, community, backport: auto, v8.2.0, v8.3.0

#1936 [Rule Tuning] Review & Fix Invalid References
  rules/integrations/aws/initial_access_password_recovery.toml
  rules/integrations/aws/persistence_route_table_created.toml
  rules/integrations/aws/persistence_route_table_modified_or_deleted.toml
  rules/macos/defense_evasion_attempt_to_disable_gatekeeper.toml
  rules/macos/defense_evasion_privilege_escalation_privacy_pref_sshd_fulldiskaccess.toml
  rules/windows/credential_access_disable_kerberos_preauth.toml
  rules/windows/credential_access_domain_backup_dpapi_private_keys.toml
  rules/windows/credential_access_saved_creds_vaultcmd.toml
  rules/windows/defense_evasion_clearing_windows_console_history.toml
  rules/windows/execution_apt_solarwinds_backdoor_child_cmd_powershell.toml
  rules/windows/execution_apt_solarwinds_backdoor_unusual_child_processes.toml
  rules/windows/privilege_escalation_group_policy_scheduled_task.toml
  rules/windows/privilege_escalation_persistence_phantom_dll.toml
  rules/windows/privilege_escalation_printspooler_suspicious_file_deletion.toml
  rules/windows/privilege_escalation_unusual_printspooler_childprocess.toml
Labels: Integration: AWS, Domain: Cloud, OS: macOS, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1940 [New Rule] Potential Privileged Escalation via KrbRelayUp
  etc/non-ecs-schema.json
  rules/windows/privilege_escalation_krbrelayup_suspicious_logon.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, trending threat, v8.3.0

#1884 Validate version lock and deprecation files on load and save
  detection_rules/mixins.py
  detection_rules/schemas/definitions.py
  detection_rules/version_lock.py
  etc/deprecated_rules.json
  etc/version.lock.json
  requirements.txt
Labels: enhancement, python, schema, backport: auto, v8.3.0

#1938 Detection of suspicious crontab creation or modification
  rules/macos/persistence_crontab_creation.toml
Labels: OS: macOS, Rule: New, Domain: Endpoint, backport: auto

#1939 [Rule Tuning] Microsoft 365 Inbox Forwarding Rule Created
  etc/non-ecs-schema.json
  rules/integrations/o365/collection_microsoft_365_new_inbox_rule.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto

#1921 [New Rule] AWS Redshift Cluster Creation
  rules/integrations/aws/persistence_redshift_instance_creation.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#1941 [New Rule] Service Creation via Local Kerberos Authentication
  rules/windows/privilege_escalation_krbrelayup_service_creation.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, trending threat, v8.3.0
