Repository elastic/detection-rules, pull requests merged in 2022-05, with the labels that each got.

#1943 Add delta command to determine changes to endpoint rules between tags
  detection_rules/devtools.py
  detection_rules/rule_loader.py
  detection_rules/schemas/definitions.py
  detection_rules/version_lock.py
Labels: python, schema, backport: auto

#1950 Manually reconciled versions from forked rule package generation bug
  detection_rules/etc/version.lock.json
Labels: bug, backport: auto

#1945 [Rule Tuning] Update Rule Content Changes from Security Docs Team
  rules/linux/execution_crash_binary.toml
  rules/linux/execution_env_binary.toml
  rules/linux/execution_expect_binary.toml
  rules/linux/execution_find_binary.toml
  rules/linux/execution_flock_binary.toml
  rules/linux/execution_gcc_binary.toml
  rules/linux/execution_mysql_binary.toml
  rules/linux/execution_ssh_binary.toml
  rules/linux/execution_vi_binary.toml
  rules/windows/credential_access_moving_registry_hive_via_smb.toml
  rules/windows/credential_access_remote_sam_secretsdump.toml
  rules/windows/credential_access_spn_attribute_modified.toml
  rules/windows/credential_access_suspicious_winreg_access_via_sebackup_priv.toml
  rules/windows/defense_evasion_workfolders_control_execution.toml
Labels: OS: Linux, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, v8.2.0, v8.3.0

#1947 [New Rule] Potential Local NTLM Relay via HTTP
  rules/windows/credential_access_relay_ntlm_auth_via_http_spoolss.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, trending threat, v8.3.0

#1964 [New Rule] Abnormal Process ID File Creation
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/execution_process_started_from_process_id_file.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, trending threat

#1970 [Rule Tuning] Connection to Commonly Abused Web Services
  rules/windows/command_and_control_common_webservices.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1975 [New Rule] Suspicious Outbound Network Connect Sequence by Root
  rules/linux/command_and_control_connection_attempt_by_non_ssh_root_session.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, trending threat, v8.3.0

#1983 [Rule Tuning] Update Rule Name: Suspicious Network Connection Attempt Sequence by Root
  rules/linux/command_and_control_connection_attempt_by_non_ssh_root_session.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#1977 [Rule tuning] check for anything found in the emondClient directory
  rules/macos/persistence_emond_rules_file_creation.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto

#1974 [Rule tuning] add support for osx, zsh, and expand tampering techniques
  rules/cross-platform/defense_evasion_deletion_of_bash_command_line_history.toml
Labels: OS: Linux, OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto

#1846 Modifying rules assoc w/ deprecation of v2 ML jobs
  rules/ml/ml_linux_anomalous_compiler_activity.toml
  rules/ml/ml_linux_anomalous_kernel_module_arguments.toml
  rules/ml/ml_linux_anomalous_metadata_process.toml
  rules/ml/ml_linux_anomalous_metadata_user.toml
  rules/ml/ml_linux_anomalous_network_activity.toml
  rules/ml/ml_linux_anomalous_network_port_activity.toml
  rules/ml/ml_linux_anomalous_network_service.toml
  rules/ml/ml_linux_anomalous_network_url_activity.toml
  rules/ml/ml_linux_anomalous_process_all_hosts.toml
  rules/ml/ml_linux_anomalous_sudo_activity.toml
  rules/ml/ml_linux_anomalous_user_name.toml
  rules/ml/ml_linux_system_information_discovery.toml
  rules/ml/ml_linux_system_network_configuration_discovery.toml
  rules/ml/ml_linux_system_network_connection_discovery.toml
  rules/ml/ml_linux_system_process_discovery.toml
  rules/ml/ml_linux_system_user_discovery.toml
  rules/ml/ml_rare_process_by_host_linux.toml
  rules/ml/ml_rare_process_by_host_windows.toml
  rules/ml/ml_suspicious_login_activity.toml
  rules/ml/ml_windows_anomalous_metadata_process.toml
  rules/ml/ml_windows_anomalous_metadata_user.toml
  rules/ml/ml_windows_anomalous_network_activity.toml
  rules/ml/ml_windows_anomalous_path_activity.toml
  rules/ml/ml_windows_anomalous_process_all_hosts.toml
  rules/ml/ml_windows_anomalous_process_creation.toml
  rules/ml/ml_windows_anomalous_script.toml
  rules/ml/ml_windows_anomalous_service.toml
  rules/ml/ml_windows_anomalous_user_name.toml
  rules/ml/ml_windows_rare_user_runas_event.toml
  rules/ml/ml_windows_rare_user_type10_remote_login.toml
Labels: ML, Rule: Tuning, Domain: Endpoint, backport: auto, v8.3.0

#1968 [Rule tuning] Unusual Process Execution - Temp
  rules/linux/linux_process_started_in_temp_directory.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#1967 [Rule tuning] Whitespace Padding in Process Command Line
  rules/windows/defense_evasion_whitespace_padding_in_command_line.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#1996 Issue 1843
  rules/linux/execution_shell_evasion_linux_binary.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#1942 Skip previous validation on pre/post load/dump
  detection_rules/version_lock.py
  tests/test_schemas.py
Labels: enhancement, python, schema, backport: auto, v8.3.0

#1993 [Promote Rule] Potential Invoke-Mimikatz PowerShell Script
  rules/windows/credential_access_mimikatz_powershell_module.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#2003 [Rule Tuning] Suspicious MS Office Child Process
  rules/windows/initial_access_suspicious_ms_office_child_process.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, trending threat, v8.3.0

#1989 [Security Content] 8.3 - Add Investigation Guides 2
  rules/windows/collection_email_powershell_exchange_mailbox.toml
  rules/windows/credential_access_posh_request_ticket.toml
  rules/windows/defense_evasion_code_injection_conhost.toml
  rules/windows/defense_evasion_defender_disabled_via_registry.toml
  rules/windows/defense_evasion_disabling_windows_defender_powershell.toml
  rules/windows/defense_evasion_microsoft_defender_tampering.toml
  rules/windows/defense_evasion_posh_assembly_load.toml
  rules/windows/defense_evasion_posh_compressed.toml
  rules/windows/execution_suspicious_pdf_reader.toml
  rules/windows/execution_suspicious_powershell_imgload.toml
  rules/windows/execution_via_hidden_shell_conhost.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Security Content

#1990 [Security Content] 8.3 Add Investigation Guides - 3
  rules/windows/defense_evasion_clearing_windows_console_history.toml
  rules/windows/defense_evasion_clearing_windows_event_logs.toml
  rules/windows/defense_evasion_clearing_windows_security_logs.toml
  rules/windows/defense_evasion_disabling_windows_logs.toml
  rules/windows/defense_evasion_enable_network_discovery_with_netsh.toml
  rules/windows/defense_evasion_powershell_windows_firewall_disabled.toml
  rules/windows/execution_ms_office_written_file.toml
  rules/windows/execution_pdf_written_file.toml
  rules/windows/lateral_movement_executable_tool_transfer_smb.toml
  rules/windows/persistence_dontexpirepasswd_account.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Security Content
