Repository elastic/detection-rules, pull requests merged in 2023-01, with the labels that each got.

#2401 [New Rule] Multiple Alerts Involving a User
  detection_rules/schemas/definitions.py
  rules/cross-platform/multiple_alerts_involving_user.toml
Labels: Rule: New, python, schema, backport: auto

#2397 [Bug] Adjust Kibana Path for File System Rules
  detection_rules/devtools.py
Labels: bug, python, backport: auto, v8.6.0

#2443 [Rule Tuning] Suspicious DLL Loaded for Persistence or Privilege Escalation
  rules/windows/privilege_escalation_persistence_phantom_dll.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2444 [Rule Tuning] Kerberos Traffic from Unusual Process
  rules/windows/credential_access_kerberoasting_unusual_process.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2441 [New Rule] Suspicious Module Loaded by LSASS
  rules/windows/credential_access_lsass_loaded_susp_dll.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2452 Refactor file path name
  rules/linux/credential_access_bruteforce_password_guessing.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, v8.7.0

#2447 [Security Content] Fix Osquery Markdown Plugin Escaped queries
  rules/windows/command_and_control_certutil_network_connection.toml
  rules/windows/command_and_control_common_webservices.toml
  rules/windows/command_and_control_remote_file_copy_desktopimgdownldr.toml
  rules/windows/command_and_control_remote_file_copy_mpcmdrun.toml
  rules/windows/command_and_control_remote_file_copy_powershell.toml
  rules/windows/command_and_control_remote_file_copy_scripts.toml
  rules/windows/command_and_control_sunburst_c2_activity_detected.toml
  rules/windows/command_and_control_teamviewer_remote_file_copy.toml
  rules/windows/credential_access_credential_dumping_msbuild.toml
  rules/windows/credential_access_kerberoasting_unusual_process.toml
  rules/windows/credential_access_lsass_memdump_handle_access.toml
  rules/windows/defense_evasion_posh_assembly_load.toml
  rules/windows/defense_evasion_posh_compressed.toml
  rules/windows/defense_evasion_suspicious_process_access_direct_syscall.toml
  rules/windows/defense_evasion_system_critical_proc_abnormal_file_activity.toml
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/execution_command_shell_started_by_svchost.toml
  rules/windows/execution_from_unusual_path_cmdline.toml
  rules/windows/execution_posh_portable_executable.toml
  rules/windows/execution_posh_psreflect.toml
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
  rules/windows/lateral_movement_remote_services.toml
  rules/windows/persistence_adobe_hijack_persistence.toml
  rules/windows/persistence_evasion_registry_startup_shell_folder_modified.toml
  rules/windows/persistence_priv_escalation_via_accessibility_features.toml
  rules/windows/persistence_run_key_and_startup_broad.toml
  rules/windows/persistence_startup_folder_file_written_by_suspicious_process.toml
  rules/windows/persistence_startup_folder_file_written_by_unsigned_process.toml
  rules/windows/persistence_startup_folder_scripts.toml
  rules/windows/persistence_via_update_orchestrator_service_hijack.toml
  rules/windows/privilege_escalation_installertakeover.toml
  rules/windows/privilege_escalation_printspooler_suspicious_spl_file.toml
  rules/windows/privilege_escalation_uac_bypass_event_viewer.toml
  rules/windows/privilege_escalation_uac_bypass_mock_windir.toml
  rules/windows/privilege_escalation_uac_bypass_winfw_mmc_hijack.toml
  rules/windows/privilege_escalation_unusual_parentchild_relationship.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Security Content

#2449 [Rule Tuning] Exclude SYSTEM user.id from PowerShell Script Block rules
  rules/windows/collection_posh_audio_capture.toml
  rules/windows/collection_posh_keylogger.toml
  rules/windows/collection_posh_screen_grabber.toml
  rules/windows/credential_access_mimikatz_powershell_module.toml
  rules/windows/credential_access_posh_minidump.toml
  rules/windows/credential_access_posh_request_ticket.toml
  rules/windows/defense_evasion_posh_assembly_load.toml
  rules/windows/defense_evasion_posh_compressed.toml
  rules/windows/defense_evasion_posh_process_injection.toml
  rules/windows/discovery_posh_invoke_sharefinder.toml
  rules/windows/discovery_posh_suspicious_api_functions.toml
  rules/windows/execution_posh_portable_executable.toml
  rules/windows/execution_posh_psreflect.toml
  rules/windows/privilege_escalation_posh_token_impersonation.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2437 [Rule Tuning] Suspicious WerFault Child Process
  rules/windows/defense_evasion_masquerading_suspicious_werfault_childproc.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2459 [New Rule] Exchange Mailbox via PowerShell
  rules/windows/collection_mailbox_export_winlog.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2462 [Rule Tuning] Remove unreleased timeline from alert correlation rules
  rules/cross-platform/multiple_alerts_different_tactics_host.toml
  rules/cross-platform/multiple_alerts_involving_user.toml
Labels: Rule: Tuning, backport: auto

#2467 [Rule Tuning] Bumping min-stack version for Google Workspace to 8.4
  rules/integrations/google_workspace/collection_google_drive_ownership_transferred_via_google_workspace.toml
  rules/integrations/google_workspace/collection_google_workspace_custom_gmail_route_created_or_modified.toml
  rules/integrations/google_workspace/defense_evasion_application_removed_from_blocklist_in_google_workspace.toml
  rules/integrations/google_workspace/defense_evasion_domain_added_to_google_workspace_trusted_domains.toml
  rules/integrations/google_workspace/defense_evasion_google_workspace_bitlocker_setting_disabled.toml
  rules/integrations/google_workspace/defense_evasion_google_workspace_restrictions_for_google_marketplace_changed_to_allow_any_app.toml
  rules/integrations/google_workspace/impact_google_workspace_admin_role_deletion.toml
  rules/integrations/google_workspace/impact_google_workspace_mfa_enforcement_disabled.toml
  rules/integrations/google_workspace/persistence_application_added_to_google_workspace_domain.toml
  rules/integrations/google_workspace/persistence_google_workspace_2sv_policy_disabled.toml
  rules/integrations/google_workspace/persistence_google_workspace_admin_role_assigned_to_user.toml
  rules/integrations/google_workspace/persistence_google_workspace_api_access_granted_via_domain_wide_delegation_of_authority.toml
  rules/integrations/google_workspace/persistence_google_workspace_custom_admin_role_created.toml
  rules/integrations/google_workspace/persistence_google_workspace_policy_modified.toml
  rules/integrations/google_workspace/persistence_google_workspace_role_modified.toml
  rules/integrations/google_workspace/persistence_google_workspace_user_group_access_modified_to_allow_external_access.toml
  rules/integrations/google_workspace/persistence_google_workspace_user_organizational_unit_changed.toml
  rules/integrations/google_workspace/persistence_mfa_disabled_for_google_workspace_organization.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Google Workspace, backport: auto

#2475 [New Rule] System Time Discovery
  rules/windows/discovery_system_time_discovery.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2488 [New Rule] PowerShell Invoke-NinjaCopy script
  rules/windows/credential_access_posh_invoke_ninjacopy.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2478 [Rule Tuning] PowerShell Suspicious Discovery Related Windows API Functions
  rules/windows/discovery_posh_suspicious_api_functions.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2436 [Rule Tuning] Add endgame support for Linux Rules
  rules/linux/command_and_control_linux_iodine_activity.toml
  rules/linux/command_and_control_tunneling_via_earthworm.toml
  rules/linux/credential_access_collection_sensitive_files.toml
  rules/linux/credential_access_ssh_backdoor_log.toml
  rules/linux/defense_evasion_attempt_to_disable_syslog_service.toml
  rules/linux/defense_evasion_base16_or_base32_encoding_or_decoding_activity.toml
  rules/linux/defense_evasion_chattr_immutable_file.toml
  rules/linux/defense_evasion_disable_selinux_attempt.toml
  rules/linux/defense_evasion_file_deletion_via_shred.toml
  rules/linux/defense_evasion_hidden_shared_object.toml
  rules/linux/defense_evasion_kernel_module_removal.toml
  rules/linux/defense_evasion_log_files_deleted.toml
  rules/linux/discovery_kernel_module_enumeration.toml
  rules/linux/discovery_linux_hping_activity.toml
  rules/linux/discovery_linux_nping_activity.toml
  rules/linux/discovery_virtual_machine_fingerprinting.toml
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/execution_perl_tty_shell.toml
  rules/linux/execution_process_started_from_process_id_file.toml
  rules/linux/execution_process_started_in_shared_memory_directory.toml
  rules/linux/execution_python_tty_shell.toml
  rules/linux/execution_reverse_shell_via_named_pipe.toml
  rules/linux/execution_shell_evasion_linux_binary.toml
  rules/linux/execution_tc_bpf_filter.toml
  rules/linux/impact_process_kill_threshold.toml
  rules/linux/persistence_chkconfig_service_add.toml
  rules/linux/persistence_credential_access_modify_ssh_binaries.toml
  rules/linux/persistence_etc_file_creation.toml
  rules/linux/persistence_insmod_kernel_module_load.toml
  rules/linux/persistence_kde_autostart_modification.toml
  rules/linux/persistence_shell_activity_by_web_server.toml
  rules/linux/privilege_escalation_ld_preload_shared_object_modif.toml
  rules/linux/privilege_escalation_pkexec_envar_hijack.toml
  rules/linux/privilege_escalation_unshare_namesapce_manipulation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#2445 [Rule Tuning] Unusual Process For a Linux Host
  rules/ml/persistence_ml_rare_process_by_host_linux.toml
Labels: OS: Linux, ML, Rule: Tuning, Domain: Endpoint, backport: auto

#2461 [New Rule] PowerShell Mailbox Collection Script
  rules/windows/collection_posh_mailbox.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#2465 [New Rule] PowerShell Suspicious Script with Clipboard Retrieval Capabilities
  rules/windows/collection_posh_clipboard_capture.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2489 [New Rule] PowerShell Script with Encryption/Decryption Capabilities
  rules/windows/defense_evasion_posh_encryption.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2487 [New Rule] T1003.001 - Lsass Memory
  rules/windows/credential_access_suspicious_lsass_access_generic.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#2409 [New Rule] Unsigned DLL Side-Loading from a Suspicious Folder
  detection_rules/etc/non-ecs-schema.json
  rules/windows/defense_evasion_unsigned_dll_loaded_from_suspdir.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2477 [New Rule] T1543.003 - Unsigned DLL Loaded by Svchost
  detection_rules/etc/non-ecs-schema.json
  rules/windows/persistence_service_dll_unsigned.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2458 [New Rule] Suspicious Inter-Process Communication via Outlook
  detection_rules/etc/non-ecs-schema.json
  rules/windows/collection_email_outlook_mailbox_via_com.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2473 [New Rules] Amsi Bypass
  rules/windows/defense_evasion_amsi_bypass_dllhijack.toml
  rules/windows/defense_evasion_amsi_bypass_powershell.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2499 [New Rule] T1553.006 - Untrusted Driver Loaded
  rules/windows/defense_evasion_untrusted_driver_loaded.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2497 [Tuning] added T1021.006 and T1563.001
  rules/cross-platform/persistence_ssh_authorized_keys_modification.toml
  rules/linux/credential_access_potential_linux_ssh_bruteforce_root.toml
  rules/linux/persistence_credential_access_modify_ssh_binaries.toml
  rules/windows/lateral_movement_incoming_winrm_shell_execution.toml
  rules/windows/lateral_movement_powershell_remoting_target.toml
Labels: OS: Linux, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2466 [New Rules] C2 via BITS and CertReq
  detection_rules/etc/non-ecs-schema.json
  rules/windows/command_and_control_certreq_postdata.toml
  rules/windows/command_and_control_ingress_transfer_bits.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2476 [New Rule] T1070.006 - Timestomp
  rules/windows/defense_evasion_timestomp_sysmon.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2491 [New Rule] System Service Discovery through built-in Windows Utilities
  rules/windows/discovery_system_service_discovery.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2498 [Rule Tuning] Potential Shadow Credentials added to AD Object
  rules/windows/credential_access_shadow_credentials.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2405 [Security Content] Add Investigation Guides for ML rules
  rules/ml/credential_access_ml_auth_spike_in_failed_logon_events.toml
  rules/ml/credential_access_ml_auth_spike_in_logon_events_from_a_source_ip.toml
  rules/ml/initial_access_ml_auth_rare_hour_for_a_user_to_logon.toml
  rules/ml/initial_access_ml_auth_rare_user_logon.toml
  rules/ml/ml_spike_in_traffic_to_a_country.toml
  rules/ml/persistence_ml_linux_anomalous_process_all_hosts.toml
  rules/ml/persistence_ml_rare_process_by_host_linux.toml
  rules/ml/persistence_ml_rare_process_by_host_windows.toml
  rules/ml/persistence_ml_windows_anomalous_process_all_hosts.toml
  rules/ml/persistence_ml_windows_anomalous_process_creation.toml
Labels: ML, Rule: Tuning, backport: auto, Security Content, v8.6.0

#2484 [Rule Tuning] T1069 and T1087 - admin wildcard and missing techniques
  rules/windows/discovery_admin_recon.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2511 [Rule Tuning] Potential Remote Credential Access via Registry
  rules/windows/credential_access_remote_sam_secretsdump.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2501 [Rule Tuning] Potential Credential Access via DCSync
  rules/windows/credential_access_dcsync_replication_rights.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2486 [Rule Tuning] Enclose Rule Conditions within Parenthesis
  rules/linux/execution_file_transfer_or_listener_established_via_netcat.toml
  rules/linux/execution_shell_evasion_linux_binary.toml
  rules/linux/persistence_chkconfig_service_add.toml
  rules/windows/collection_winrar_encryption.toml
  rules/windows/credential_access_cmdline_dump_tool.toml
  rules/windows/defense_evasion_clearing_windows_event_logs.toml
  rules/windows/defense_evasion_disabling_windows_logs.toml
  rules/windows/defense_evasion_execution_windefend_unusual_path.toml
  rules/windows/discovery_admin_recon.toml
  rules/windows/discovery_remote_system_discovery_commands_windows.toml
  rules/windows/lateral_movement_evasion_rdp_shadowing.toml
Labels: OS: Linux, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2474 [New Rule] Potential PowerShell HackTool Script by Function Names
  rules/windows/execution_posh_hacktool_functions.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto
