Repository elastic/detection-rules, pull requests merged in 2023-06, with the labels that each got.

#2774 [WMI Incoming Lateral Movement] Adjust Query Exception for Nessus
  rules/windows/lateral_movement_incoming_wmi.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#2814 [Unusual File Creation ADS] Add Outlook.exe as a Query Exception
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#2834 [Rule Tuning] Remote System Discovery Commands
  rules/windows/discovery_remote_system_discovery_commands_windows.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2450 Limit backports to 8.3+
  .github/workflows/lock-versions.yml
  detection_rules/devtools.py
  detection_rules/etc/stack-schema-map.yaml
  detection_rules/etc/version.lock.json
Labels: python, backport: auto, Supportability

#2831 [Suspicious PowerShell Engine ImageLoad] Add Ssms.exe to query exceptions
  rules/windows/execution_suspicious_powershell_imgload.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#2839 [FR] Add host family to data path
  detection_rules/eswrap.py
  detection_rules/utils.py
  tests/__init__.py
Labels: enhancement, python, backport: auto

#2601 [New Rule] New Systemd Timer Created
  rules/linux/persistence_systemd_scheduled_timer_created.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2847 [New Rules] Cron Job / Systemd Service Creation
  rules/linux/persistence_cron_job_creation.toml
  rules/linux/persistence_systemd_service_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2856 [New Rule] Sus Network Activity from Unknown Executable
  rules/linux/command_and_control_suspicious_network_activity_from_unknown_executable.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2854 [Rule Tuning] Adjust Okta ThreatInsight Rule to Promotion
  rules/integrations/okta/okta_threat_detected_by_okta_threatinsight.toml
  rules/integrations/okta/okta_threatinsight_threat_suspected_promotion.toml
Labels: Domain: Cloud, Integration: Okta, Rule: Tuning, backport: auto

#2838 [Rule tunings / New Rule] Kernel Unload and Enumeration
  rules/linux/defense_evasion_kernel_module_removal.toml
  rules/linux/discovery_kernel_module_enumeration.toml
  rules/linux/discovery_kernel_module_enumeration_via_proc.toml
Labels: OS: Linux, Rule: New, Rule: Tuning, Domain: Endpoint, backport: auto, Integration: Auditd Manager

#2857 [Rule Tuning] Potential Persistence Through Run Control Detected
  rules/linux/persistence_rc_script_creation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#2546 [New Rules] User / Group Creation & Privileged Group Addition
  rules/linux/persistence_linux_backdoor_user_creation.toml
  rules/linux/persistence_linux_group_creation.toml
  rules/linux/persistence_linux_user_account_creation.toml
  rules/linux/persistence_linux_user_added_to_privileged_group.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2862 [New Rule] Potential Malicious File Downloaded from Google Drive
  rules/cross-platform/command_and_control_google_drive_malicious_file_download.toml
Labels: Rule: New, Integration: Google Workspace, backport: auto, v8.9.0

#2875 [Bug] Fix Tag Navigator Generation
  detection_rules/navigator.py
  detection_rules/schemas/definitions.py
  rules/cross-platform/guided_onboarding_sample_rule.toml
  tests/test_all_rules.py
Labels: bug, python, schema, backport: auto

#2823 [BUG] test_all_rule_queries_optimized does not run on rules
  rules/cross-platform/execution_pentest_eggshell_remote_admin_tool.toml
  rules/cross-platform/guided_onboarding_sample_rule.toml
  rules/integrations/kubernetes/initial_access_anonymous_request_authorized.toml
  rules/linux/command_and_control_suspicious_network_activity_from_unknown_executable.toml
  rules/linux/persistence_credential_access_modify_ssh_binaries.toml
  rules/linux/persistence_shared_object_creation.toml
  rules/macos/defense_evasion_modify_environment_launchctl.toml
  rules/macos/defense_evasion_sandboxed_office_app_suspicious_zip_file.toml
  rules/windows/collection_posh_clipboard_capture.toml
  rules/windows/collection_posh_keylogger.toml
  rules/windows/collection_posh_mailbox.toml
  rules/windows/defense_evasion_amsi_bypass_powershell.toml
  rules/windows/defense_evasion_posh_encryption.toml
  tests/test_all_rules.py
Labels: bug, Integration: AWS, Integration: Azure, Domain: Cloud, OS: Linux, OS: macOS, Integration: Okta, OS: Windows, Domain: Endpoint, Integration: GCP, Integration: Microsoft 365, Integration: Google Workspace, backport: auto, Integration: CyberArkPas

#2788 [New RTA] Endpoint Rules
  rta/bin/ExecFromISOFile.ps1
  rta/bin/LoadLib-Callback64.exe
  rta/bin/cmd_from_iso.iso
  rta/bin/faultrep.dll
  rta/bin/lnk_from_iso_rundll.iso
  rta/bin/ping_dns_from_iso.iso
  rta/bin/rta_unhook_ldrload.exe
  rta/bin/werfault_iso.iso
  rta/c2_dns_from_iso.py
  rta/common.py
  rta/credaccess_reg_query_privesc_token_manip.py
  rta/credaccess_sam_from_vss.py
  rta/evasion_addinproc_certoc_odbc_gfxdwn.py
  rta/evasion_loadlib_via_callback.py
  rta/evasion_ntdll_from_unusual_path.py
  rta/evasion_oversized_dll_load.py
  rta/evasion_patch_etw_amsi.py
  rta/evasion_unhook_ldrloaddll.py
  rta/exec_persistence_from_iso.py
  rta/execution_iso_dll_rundll32.py
  rta/execution_iso_dll_sideload.py
  rta/impersonate_trusted_installer.py
  rta/sensitive_file_access.py
  rta/shellcode_load_ws2_32_unbacked.py
  rta/shellcode_winexec_calc.py
  rta/src/LoadLib-Callback64.cpp
  rta/src/faultrep.cpp
  rta/src/rta_unhook_ldrload.cpp
Labels: RTA, OS: Windows, backport: auto

#2665 [Rule Tuning] Change Network Rules to Use Network Packet Capture Integration
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  detection_rules/rule.py
  detection_rules/schemas/definitions.py
  rules/network/command_and_control_accepted_default_telnet_port_connection.toml
  rules/network/command_and_control_cobalt_strike_beacon.toml
  rules/network/command_and_control_cobalt_strike_default_teamserver_cert.toml
  rules/network/command_and_control_download_rar_powershell_from_internet.toml
  rules/network/command_and_control_fin7_c2_behavior.toml
  rules/network/command_and_control_halfbaked_beacon.toml
  rules/network/command_and_control_nat_traversal_port_activity.toml
  rules/network/command_and_control_port_26_activity.toml
  rules/network/command_and_control_rdp_remote_desktop_protocol_from_the_internet.toml
  rules/network/command_and_control_vnc_virtual_network_computing_from_the_internet.toml
  rules/network/command_and_control_vnc_virtual_network_computing_to_the_internet.toml
  rules/network/initial_access_rpc_remote_procedure_call_from_the_internet.toml
  rules/network/initial_access_rpc_remote_procedure_call_to_the_internet.toml
  rules/network/initial_access_smb_windows_file_sharing_activity_to_the_internet.toml
  rules/network/initial_access_unsecure_elasticsearch_node.toml
  rules/network/lateral_movement_dns_server_overflow.toml
Labels: Domain: Network, Rule: Tuning, python, backlog, schema, backport: auto

#2880 [New Rule] [BBR] Expired or Revoked Driver Loaded
  rules_building_block/privilege_escalation_expired_driver_loaded.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2777 [Proposal] Break Threat Intel Indicator Match rules into Indicator-type rules
  detection_rules/etc/non-ecs-schema.json
  rules/cross-platform/threat_intel_filebeat8x.toml
  rules/cross-platform/threat_intel_fleet_integrations.toml
  rules/cross-platform/threat_intel_indicator_match_address.toml
  rules/cross-platform/threat_intel_indicator_match_hash.toml
  rules/cross-platform/threat_intel_indicator_match_registry.toml
  rules/cross-platform/threat_intel_indicator_match_url.toml
  tests/test_all_rules.py
Labels: Rule: New, Rule: Deprecation, Rule: Tuning, backport: auto

#2888 [Tuning] Azure Network Packet Capture Detected
  rules/integrations/azure/credential_access_azure_full_network_packet_capture_detected.toml
Labels: Integration: AWS, Integration: Azure, Domain: Cloud, Rule: Tuning, backport: auto, v8.9.0

#2886 [Bug] Add pywin32 to windows install
  README.md
  pyproject.toml
Labels: backport: auto

#2889 [Rule Tuning] [BUG] Revert PowerShell Query modifications from #2823
  detection_rules/schemas/definitions.py
  rules/windows/collection_posh_clipboard_capture.toml
  rules/windows/collection_posh_keylogger.toml
  rules/windows/collection_posh_mailbox.toml
  rules/windows/defense_evasion_amsi_bypass_powershell.toml
  rules/windows/defense_evasion_posh_encryption.toml
  tests/test_all_rules.py
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, python, schema, backport: auto

#2882 [FR] Add Support for Multi-Fields and Validation in Rules
  detection_rules/devtools.py
  detection_rules/ecs.py
  detection_rules/etc/endpoint_schemas/endpoint_process.json.gz
  detection_rules/etc/non-ecs-schema.json
  detection_rules/rule_validators.py
Labels: enhancement, python, schema, backport: auto

#2885 [FR Build a limited compatible rule ndjson for older stacks
  detection_rules/main.py
  detection_rules/schemas/__init__.py
  detection_rules/schemas/definitions.py
Labels: enhancement, cli, python, schema, backport: auto, v8.9.0

#2893 [FR] Load unsupported rule type from schema
  detection_rules/main.py
  detection_rules/schemas/definitions.py
Labels: enhancement, python, schema, backport: auto, v8.9.0

#2863 [New Rule] Postgresql Code Execution
  rules/linux/execution_remote_code_execution_via_postgresql.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2897 [New ER RTA] Potential Linux Rev Shell via Java
  rta/bin/netcon_exec_chain.elf
  rta/exec_java_revshell_linux.py
  rta/src/netcon_exec_chain.go
Labels: OS: Linux, RTA, Domain: Endpoint, backport: auto

#2644 [New Rule] New Term Rule for USB Devices
  rules/windows/initial_access_exfiltration_first_time_seen_usb.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2721 [Rule Tuning] Suspicious PowerShell Engine ImageLoad
  rules/windows/execution_suspicious_powershell_imgload.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2780 [New Rule] Potential Masquerading as Communication Apps
  rules_building_block/defense_evasion_masquerading_communication_apps.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2506 [Rules Tuning] diverse tuning
  rules/windows/credential_access_saved_creds_vault_winlog.toml
  rules/windows/lateral_movement_incoming_winrm_shell_execution.toml
  rules/windows/lateral_movement_powershell_remoting_target.toml
  rules/windows/lateral_movement_rdp_enabled_registry.toml
  rules/windows/lateral_movement_remote_services.toml
  rules/windows/persistence_scheduled_task_updated.toml
  rules/windows/privilege_escalation_persistence_phantom_dll.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#2850 [Suspicious Antimalware Scan Interface DLL] Additional Query Exception for Windows Upgrades
  rules/windows/defense_evasion_amsi_bypass_dllhijack.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto
