Repository elastic/detection-rules, pull requests merged in 2023-10, with the labels that each got.

#3154 [Rule Tuning] Fork `Suspicious WMI Event Subscription Created` for Version Control
  rules/windows/persistence_sysmon_wmi_event_subscription.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Integration: Windows

#2925 [Rule Tuning] Add `filebeat` Compatibility to Network Rules
  rules/network/command_and_control_accepted_default_telnet_port_connection.toml
  rules/network/command_and_control_cobalt_strike_beacon.toml
  rules/network/command_and_control_cobalt_strike_default_teamserver_cert.toml
  rules/network/command_and_control_download_rar_powershell_from_internet.toml
  rules/network/command_and_control_fin7_c2_behavior.toml
  rules/network/command_and_control_halfbaked_beacon.toml
  rules/network/command_and_control_nat_traversal_port_activity.toml
  rules/network/command_and_control_port_26_activity.toml
  rules/network/command_and_control_rdp_remote_desktop_protocol_from_the_internet.toml
  rules/network/command_and_control_vnc_virtual_network_computing_from_the_internet.toml
  rules/network/command_and_control_vnc_virtual_network_computing_to_the_internet.toml
  rules/network/discovery_potential_network_sweep_detected.toml
  rules/network/discovery_potential_port_scan_detected.toml
  rules/network/discovery_potential_syn_port_scan_detected.toml
  rules/network/initial_access_rpc_remote_procedure_call_from_the_internet.toml
  rules/network/initial_access_rpc_remote_procedure_call_to_the_internet.toml
  rules/network/initial_access_smb_windows_file_sharing_activity_to_the_internet.toml
  rules/network/initial_access_unsecure_elasticsearch_node.toml
  rules/network/lateral_movement_dns_server_overflow.toml
Labels: Domain: Network, Rule: Tuning, community, backport: auto, Area: RAD, Team: TRADE

#3158 [New Rule] PE via CVE-2023-4911 (Looney Tunables)
  rules/linux/privilege_escalation_looney_tunables_cve_2023_4911.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3159 [Bug] Removing LMD Analytic Rules and Fixing Version Lock File
  detection_rules/etc/version.lock.json
  rules/integrations/lmd/lateral_movement_malicious_remote_file_creation.toml
  rules/integrations/lmd/lateral_movement_ml_high_mean_rdp_process_args.toml
  rules/integrations/lmd/lateral_movement_ml_high_mean_rdp_session_duration.toml
  rules/integrations/lmd/lateral_movement_ml_high_remote_file_size.toml
  rules/integrations/lmd/lateral_movement_ml_high_variance_rdp_session_duration.toml
  rules/integrations/lmd/lateral_movement_ml_rare_remote_file_directory.toml
  rules/integrations/lmd/lateral_movement_ml_rare_remote_file_extension.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_connections_from_a_source_ip.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_connections_to_a_destination_ip.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_rdp_processes.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_remote_file_transfers.toml
  rules/integrations/lmd/lateral_movement_ml_unusual_time_for_an_rdp_session.toml
  rules/integrations/lmd/lateral_movement_remote_file_creation_in_sensitive_directory.toml
Labels: bug, Rule: Tuning, backport: auto, Integration: LMD

#3160 [Tuning] CVE-2023-4911
  rules/linux/privilege_escalation_looney_tunables_cve_2023_4911.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#3087 [New Rule] GitHub Owner Role Granted to User
  rules/integrations/github/persistence_organization_owner_role_granted.toml
Labels: Domain: Cloud, Rule: New, backport: auto, Area: RAD, Integration: GitHub

#3090 [New Rule] New GitHub Owner Added
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  rules/integrations/github/persistence_github_org_owner_added.toml
Labels: Rule: New, backport: auto, Area: RAD, Integration: GitHub

#3114 [New Rule] Pot. Rev. Shell via Background Process
  rules/linux/execution_shell_via_background_process.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3097 [Tuning] Windows Discovery Rule Tuning for UEBA
  detection_rules/etc/non-ecs-schema.json
  rules/windows/discovery_admin_recon.toml
  rules/windows/discovery_enumerating_domain_trusts_via_nltest.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/discovery_signal_unusual_discovery_signal_proc_cmdline.toml
  rules/windows/discovery_signal_unusual_discovery_signal_proc_executable.toml
  rules_building_block/discovery_files_dir_systeminfo_via_cmd.toml
  rules_building_block/discovery_generic_account_groups.toml
  rules_building_block/discovery_generic_process_discovery.toml
  rules_building_block/discovery_generic_registry_query.toml
  rules_building_block/discovery_internet_capabilities.toml
  rules_building_block/discovery_net_view.toml
  rules_building_block/discovery_post_exploitation_external_ip_lookup.toml
  rules_building_block/discovery_remote_system_discovery_commands_windows.toml
  rules_building_block/discovery_security_software_wmic.toml
  rules_building_block/discovery_signal_unusual_user_host.toml
  rules_building_block/discovery_system_service_discovery.toml
  rules_building_block/discovery_system_time_discovery.toml
  rules_building_block/discovery_win_network_connections.toml
  rules_building_block/discovery_windows_system_information_discovery.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE, bbr, UEBA

#3107 [Tuning] Windows Execution Rule Tuning for UEBA
  rules/windows/defense_evasion_execution_control_panel_suspicious_args.toml
  rules/windows/defense_evasion_execution_lolbas_wuauclt.toml
  rules/windows/defense_evasion_execution_msbuild_started_by_office_app.toml
  rules/windows/defense_evasion_execution_msbuild_started_by_script.toml
  rules/windows/defense_evasion_execution_msbuild_started_by_system_process.toml
  rules/windows/defense_evasion_execution_msbuild_started_renamed.toml
  rules/windows/defense_evasion_execution_msbuild_started_unusal_process.toml
  rules/windows/defense_evasion_execution_suspicious_explorer_winword.toml
  rules/windows/defense_evasion_execution_windefend_unusual_path.toml
  rules/windows/execution_command_shell_started_by_svchost.toml
  rules/windows/execution_enumeration_via_wmiprvse.toml
  rules/windows/execution_ms_office_written_file.toml
  rules/windows/execution_suspicious_powershell_imgload.toml
  rules/windows/execution_suspicious_psexesvc.toml
  rules_building_block/execution_unsigned_service_executable.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE, bbr, UEBA

#3168 [New Rule] Potential curl CVE-2023-38545 Exploitation
  rules/linux/execution_curl_cve_2023_38545_heap_overflow.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD

#3173 [New Rule] File Compressed or Archived into Common Format
  detection_rules/main.py
  detection_rules/schemas/definitions.py
  rules_building_block/collection_common_compressed_archived_file.toml
Labels: Rule: New, python, schema, backport: auto, bbr

#3169 [Rule Tuning] PowerShell Rules Tuning
  rules/windows/collection_mailbox_export_winlog.toml
  rules/windows/collection_posh_clipboard_capture.toml
  rules/windows/collection_posh_mailbox.toml
  rules/windows/credential_access_posh_request_ticket.toml
  rules/windows/defense_evasion_posh_compressed.toml
  rules/windows/execution_posh_hacktool_functions.toml
  rules/windows/execution_posh_psreflect.toml
  rules/windows/privilege_escalation_posh_token_impersonation.toml
  rules_building_block/collection_posh_compression.toml
  rules_building_block/defense_evasion_powershell_clear_logs_script.toml
  rules_building_block/discovery_posh_generic.toml
  rules_building_block/lateral_movement_posh_winrm_activity.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3161 [FR] Add ML Jobs to Schemas and Unit Test for Validation
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  detection_rules/integrations.py
  tests/test_all_rules.py
Labels: enhancement, ML, test-suite, python, backport: auto

#3175 [New Rule] Migrate `Lateral Movement Detection` Rules
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  rules/cross-platform/lateral_movement_malicious_remote_file_creation.toml
  rules/cross-platform/lateral_movement_remote_file_creation_in_sensitive_directory.toml
  rules/integrations/lmd/lateral_movement_ml_high_mean_rdp_process_args.toml
  rules/integrations/lmd/lateral_movement_ml_high_mean_rdp_session_duration.toml
  rules/integrations/lmd/lateral_movement_ml_high_remote_file_size.toml
  rules/integrations/lmd/lateral_movement_ml_high_variance_rdp_session_duration.toml
  rules/integrations/lmd/lateral_movement_ml_rare_remote_file_directory.toml
  rules/integrations/lmd/lateral_movement_ml_rare_remote_file_extension.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_connections_from_a_source_ip.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_connections_to_a_destination_ip.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_rdp_processes.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_remote_file_transfers.toml
  rules/integrations/lmd/lateral_movement_ml_unusual_time_for_an_rdp_session.toml
Labels: Rule: New, backport: auto, Area: DED, Area: RAD, Integration: LMD

#3055 [New Rule] New GitHub App Installed
  rules/integrations/github/execution_new_github_app_installed.toml
Labels: Rule: New, backport: auto, Area: RAD, Integration: GitHub

#3141 Improve exsisting setup configurations for Linux
  rules/linux/command_and_control_tunneling_via_earthworm.toml
  rules/linux/credential_access_potential_successful_linux_ftp_bruteforce.toml
  rules/linux/credential_access_potential_successful_linux_rdp_bruteforce.toml
  rules/linux/credential_access_ssh_backdoor_log.toml
  rules/linux/defense_evasion_chattr_immutable_file.toml
  rules/linux/defense_evasion_hidden_file_dir_tmp.toml
  rules/linux/defense_evasion_hidden_shared_object.toml
  rules/linux/defense_evasion_ld_preload_env_variable_process_injection.toml
  rules/linux/defense_evasion_log_files_deleted.toml
  rules/linux/discovery_pspy_process_monitoring_detected.toml
  rules/linux/execution_shell_evasion_linux_binary.toml
  rules/linux/persistence_kde_autostart_modification.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#3126 [New Rule] Adding Data Exfiltration Rules from Advanced Analytic DED Package
  rules/integrations/ded/exfiltration_ml_high_bytes_destination_geo_country_iso_code.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_destination_ip.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_destination_port.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_destination_region_name.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_written_to_external_device.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_written_to_external_device_airdrop.toml
  rules/integrations/ded/exfiltration_ml_rare_process_writing_to_external_device.toml
Labels: Rule: New, backport: auto, Area: DED, Integration: DED

#3163 [Tuning] Adjusted Rules for Anti-Evasion
  rules/windows/lateral_movement_executable_tool_transfer_smb.toml
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
  rules/windows/lateral_movement_incoming_wmi.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3102 [New Rule] Adding DGA Rules from Advanced Analytic DGA Package
  detection_rules/integrations.py
  detection_rules/rule.py
  rules/integrations/dga/command_and_control_ml_dga_activity_using_sunburst_domain.toml
  rules/integrations/dga/command_and_control_ml_dga_high_sum_probability.toml
  rules/integrations/dga/command_and_control_ml_dns_request_high_dga_probability.toml
  rules/integrations/dga/command_and_control_ml_dns_request_predicted_to_be_a_dga_domain.toml
Labels: Rule: New, python, backport: auto, Integration: DGA

#3196 [Rule Tuning] Adjust Lucene queries to use Uppercase operators
  rules/network/command_and_control_cobalt_strike_beacon.toml
  rules/network/command_and_control_fin7_c2_behavior.toml
  rules/network/command_and_control_halfbaked_beacon.toml
  rules/network/initial_access_unsecure_elasticsearch_node.toml
Labels: Domain: Network, Rule: Tuning, backport: auto

#3184 [Rule Tuning] Potential Masquerading as System32 DLL
  rules/windows/defense_evasion_unsigned_dll_loaded_from_suspdir.toml
  rules_building_block/defense_evasion_dll_hijack.toml
  rules_building_block/defense_evasion_masquerading_windows_dll.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3180 [Rule Tuning] Potential Masquerading as Browser Process
  rules_building_block/defense_evasion_masquerading_browsers.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3122 [New Rule] [BBR] Memory Dump File Rules
  rules_building_block/credential_access_mdmp_file_creation.toml
  rules_building_block/credential_access_mdmp_file_unusual_extension.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3177 Setup information for Linux Rules - Set2
  rules/linux/command_and_control_cat_network_activity.toml
  rules/linux/command_and_control_linux_chisel_client_activity.toml
  rules/linux/command_and_control_linux_chisel_server_activity.toml
  rules/linux/command_and_control_linux_suspicious_proxychains_activity.toml
  rules/linux/command_and_control_linux_tunneling_and_port_forwarding.toml
  rules/linux/credential_access_collection_sensitive_files.toml
  rules/linux/credential_access_credential_dumping.toml
  rules/linux/credential_access_gdb_init_memory_dump.toml
  rules/linux/credential_access_potential_linux_local_account_bruteforce.toml
  rules/linux/credential_access_proc_credential_dumping.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#3178 Setup information for Linux Rules - Set3
  rules/linux/defense_evasion_attempt_to_disable_iptables_or_firewall.toml
  rules/linux/defense_evasion_attempt_to_disable_syslog_service.toml
  rules/linux/defense_evasion_base16_or_base32_encoding_or_decoding_activity.toml
  rules/linux/defense_evasion_binary_copied_to_suspicious_directory.toml
  rules/linux/defense_evasion_disable_apparmor_attempt.toml
  rules/linux/defense_evasion_disable_selinux_attempt.toml
  rules/linux/defense_evasion_esxi_suspicious_timestomp_touch.toml
  rules/linux/defense_evasion_file_deletion_via_shred.toml
  rules/linux/defense_evasion_file_mod_writable_dir.toml
  rules/linux/defense_evasion_kernel_module_removal.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#3179 Setup information for Linux Rules - Set4
  rules/linux/defense_evasion_mount_execution.toml
  rules/linux/defense_evasion_potential_proot_exploits.toml
  rules/linux/defense_evasion_rename_esxi_files.toml
  rules/linux/defense_evasion_rename_esxi_index_file.toml
  rules/linux/discovery_esxi_software_via_find.toml
  rules/linux/discovery_esxi_software_via_grep.toml
  rules/linux/discovery_kernel_module_enumeration.toml
  rules/linux/discovery_linux_hping_activity.toml
  rules/linux/discovery_linux_nping_activity.toml
  rules/linux/discovery_sudo_allowed_command_enumeration.toml
  rules/linux/discovery_suid_sguid_enumeration.toml
  rules/linux/discovery_unusual_user_enumeration_via_id.toml
  rules/linux/discovery_virtual_machine_fingerprinting.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#3188 Setup information for Linux Rules - Set5
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/execution_file_execution_followed_by_deletion.toml
  rules/linux/execution_file_transfer_or_listener_established_via_netcat.toml
  rules/linux/execution_network_event_post_compilation.toml
  rules/linux/execution_perl_tty_shell.toml
  rules/linux/execution_process_started_from_process_id_file.toml
  rules/linux/execution_process_started_in_shared_memory_directory.toml
  rules/linux/execution_python_tty_shell.toml
  rules/linux/execution_remote_code_execution_via_postgresql.toml
  rules/linux/execution_shell_suspicious_parent_child_revshell_linux.toml
  rules/linux/execution_shell_via_background_process.toml
  rules/linux/execution_shell_via_java_revshell_linux.toml
  rules/linux/execution_shell_via_lolbin_interpreter_linux.toml
  rules/linux/execution_shell_via_meterpreter_linux.toml
  rules/linux/execution_shell_via_suspicious_binary.toml
  rules/linux/execution_shell_via_tcp_cli_utility_linux.toml
  rules/linux/execution_shell_via_udp_cli_utility_linux.toml
  rules/linux/execution_sus_extraction_or_decrompression_via_funzip.toml
  rules/linux/execution_suspicious_executable_running_system_commands.toml
  rules/linux/execution_suspicious_mining_process_creation_events.toml
  rules/linux/execution_tc_bpf_filter.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#3189 Setup information for Linux Rules - Set6
  rules/linux/impact_data_encrypted_via_openssl.toml
  rules/linux/impact_esxi_process_kill.toml
  rules/linux/impact_potential_linux_ransomware_file_encryption.toml
  rules/linux/impact_potential_linux_ransomware_note_detected.toml
  rules/linux/impact_process_kill_threshold.toml
  rules/linux/lateral_movement_telnet_network_activity_external.toml
  rules/linux/lateral_movement_telnet_network_activity_internal.toml
  rules/linux/persistence_chkconfig_service_add.toml
  rules/linux/persistence_credential_access_modify_ssh_binaries.toml
  rules/linux/persistence_cron_job_creation.toml
  rules/linux/persistence_dynamic_linker_backup.toml
  rules/linux/persistence_etc_file_creation.toml
  rules/linux/persistence_init_d_file_creation.toml
  rules/linux/persistence_insmod_kernel_module_load.toml
  rules/linux/persistence_linux_backdoor_user_creation.toml
  rules/linux/persistence_linux_shell_activity_via_web_server.toml
  rules/linux/persistence_linux_user_added_to_privileged_group.toml
  rules/linux/persistence_message_of_the_day_creation.toml
  rules/linux/persistence_message_of_the_day_execution.toml
  rules/linux/persistence_rc_script_creation.toml
  rules/linux/persistence_shared_object_creation.toml
  rules/linux/persistence_systemd_scheduled_timer_created.toml
  rules/linux/persistence_systemd_service_creation.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#3131 [New Rules] [BBR] Windows Deprecated ERs Conversion - 1
  rules_building_block/defense_evasion_collection_masquerading_unusual_archive_file_extension.toml
  rules_building_block/defense_evasion_dotnet_clickonce_dfsvc_netcon.toml
  rules_building_block/defense_evasion_injection_from_msoffice.toml
  rules_building_block/defense_evasion_masquerading_unusual_exe_file_extension.toml
  rules_building_block/execution_delayed_via_ping_lolbas_unsigned.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3138 [New Rules] [BBR] Windows Deprecated ERs Conversion - 2
  rules_building_block/defense_evasion_execution_via_visualstudio_prebuildevent.toml
  rules_building_block/defense_evasion_msdt_suspicious_diagcab.toml
  rules_building_block/defense_evasion_msiexec_installsource_archive_file.toml
  rules_building_block/defense_evasion_suspicious_msiexec_execution.toml
  rules_building_block/defense_evasion_unsigned_bits_client.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3143 [New Rules] [BBR] Windows Deprecated ERs Conversion - 3
  rules_building_block/defense_evasion_invalid_codesign_imageload.toml
  rules_building_block/initial_access_execution_from_removable_media.toml
  rules_building_block/initial_access_execution_remote_via_msiexec.toml
  rules_building_block/initial_access_xsl_script_execution_via_com.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3070 [New Rule] Pot. Network Scan Executed from Host
  rules/linux/discovery_ping_sweep_detected.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3121 [New Rule] Potential SSH-IT SSH Worm Downloaded
  rules/linux/lateral_movement_ssh_it_worm_download.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3075 [New Rules] cap_setuid/cap_setgid privesc
  rules/linux/persistence_setuid_setgid_capability_set.toml
  rules/linux/privilege_escalation_suspicious_cap_setuid_python_execution.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3113 [New Rule] Upgrade of Non-interactive Shell
  rules/linux/execution_interpreter_tty_upgrade.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3201 [FR] Adding Support for `missing_field_strategy` Field in Alert Suppression
  detection_rules/rule.py
  detection_rules/schemas/definitions.py
  tests/test_all_rules.py
Labels: OS: Windows, Domain: Endpoint, python, schema, backport: auto, Area: DED

#3092 [Rule Tuning] Linux Rules
  rules/_deprecated/command_and_control_linux_iodine_activity.toml
  rules/_deprecated/defense_evasion_ld_preload_env_variable_process_injection.toml
  rules/cross-platform/command_and_control_non_standard_ssh_port.toml
  rules/cross-platform/discovery_security_software_grep.toml
  rules/cross-platform/execution_revershell_via_shell_cmd.toml
  rules/cross-platform/execution_suspicious_jar_child_process.toml
  rules/cross-platform/impact_hosts_file_modified.toml
  rules/cross-platform/persistence_credential_access_modify_auth_module_or_config.toml
  rules/cross-platform/persistence_shell_profile_modification.toml
  rules/cross-platform/persistence_ssh_authorized_keys_modification.toml
  rules/cross-platform/privilege_escalation_sudoers_file_mod.toml
  rules/linux/command_and_control_cat_network_activity.toml
  rules/linux/command_and_control_linux_tunneling_and_port_forwarding.toml
  rules/linux/command_and_control_suspicious_network_activity_from_unknown_executable.toml
  rules/linux/credential_access_collection_sensitive_files.toml
  rules/linux/credential_access_potential_linux_ssh_bruteforce_external.toml
  rules/linux/credential_access_potential_linux_ssh_bruteforce_internal.toml
  rules/linux/credential_access_potential_successful_linux_ssh_bruteforce.toml
  rules/linux/credential_access_ssh_backdoor_log.toml
  rules/linux/defense_evasion_binary_copied_to_suspicious_directory.toml
  rules/linux/defense_evasion_file_mod_writable_dir.toml
  rules/linux/defense_evasion_log_files_deleted.toml
  rules/linux/discovery_kernel_module_enumeration.toml
  rules/linux/discovery_suid_sguid_enumeration.toml
  rules/linux/discovery_unusual_user_enumeration_via_id.toml
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/execution_python_tty_shell.toml
  rules/linux/execution_remote_code_execution_via_postgresql.toml
  rules/linux/execution_shell_evasion_linux_binary.toml
  rules/linux/execution_shell_suspicious_parent_child_revshell_linux.toml
  rules/linux/execution_shell_via_java_revshell_linux.toml
  rules/linux/execution_shell_via_lolbin_interpreter_linux.toml
  rules/linux/execution_shell_via_tcp_cli_utility_linux.toml
  rules/linux/execution_shell_via_udp_cli_utility_linux.toml
  rules/linux/execution_suspicious_executable_running_system_commands.toml
  rules/linux/impact_potential_linux_ransomware_file_encryption.toml
  rules/linux/impact_potential_linux_ransomware_note_detected.toml
  rules/linux/persistence_credential_access_modify_ssh_binaries.toml
  rules/linux/persistence_cron_job_creation.toml
  rules/linux/persistence_insmod_kernel_module_load.toml
  rules/linux/persistence_linux_shell_activity_via_web_server.toml
  rules/linux/persistence_message_of_the_day_creation.toml
  rules/linux/persistence_message_of_the_day_execution.toml
  rules/linux/persistence_rc_script_creation.toml
  rules/linux/persistence_shared_object_creation.toml
  rules/linux/persistence_systemd_scheduled_timer_created.toml
  rules/linux/persistence_systemd_service_creation.toml
  rules/linux/privilege_escalation_ld_preload_shared_object_modif.toml
  rules/linux/privilege_escalation_linux_suspicious_symbolic_link.toml
  rules/linux/privilege_escalation_sudo_hijacking.toml
  rules/network/discovery_potential_network_sweep_detected.toml
  rules/network/discovery_potential_port_scan_detected.toml
  rules/network/discovery_potential_syn_port_scan_detected.toml
  rules/windows/defense_evasion_execution_msbuild_started_by_script.toml
  rules_building_block/discovery_kernel_module_enumeration_via_proc.toml
  rules_building_block/discovery_linux_modprobe_enumeration.toml
  rules_building_block/discovery_linux_sysctl_enumeration.toml
  rules_building_block/discovery_suspicious_proc_enumeration.toml
  rules_building_block/discovery_suspicious_which_command_execution.toml
  rules_building_block/persistence_suspicious_file_opened_through_editor.toml
Labels: OS: Linux, Rule: Deprecation, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Team: TRADE, bbr

#3185 [Promote] Expired or Revoked Driver Loaded
  rules/windows/privilege_escalation_expired_driver_loaded.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3211 [New BBR] Tainted Kernel Module Load
  rules_building_block/persistence_tainted_kernel_module_load.toml
Labels: OS: Linux, Rule: New, backport: auto, Area: RAD, Team: TRADE, bbr

#3072 [New BBR] Unix Socket Communication
  rules_building_block/execution_unix_socket_communication.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE, bbr

#3193 [New Rule] Add Living-off-the-Land (LotL) ProblemChild Rules
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_host.toml
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_parent_process.toml
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_user.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event_high_probability.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_host.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_parent_process.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_user.toml
Labels: Rule: New, backport: auto, Integration: LotL

#3215 [Rule Tuning] Potential Privilege Escalation via InstallerFileTakeOver
  rules/windows/privilege_escalation_installertakeover.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3181 [Promote] Potential Masquerading as Communication Apps
  rules/windows/defense_evasion_masquerading_communication_apps.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3125 [New Rule] Potential Linux Hack Tool Launched
  rules/linux/execution_potential_hack_tool_executed.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3202 [New Rule] Network Activity Detected via kworker
  rules/linux/command_and_control_linux_kworker_netcon.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3218 [FR] Adjust Risk Severity Unit Test to Match UI
  tests/test_all_rules.py
Labels: enhancement, test-suite, python, backport: auto

#3204 [FR] Updated typing-extensions dependency
  pyproject.toml
Labels: python, community, backport: auto, Area: DED, Team: TRADE

#3198 [Rule Tuning] Windows DR Tuning - 1
  rules/windows/collection_email_outlook_mailbox_via_com.toml
  rules/windows/collection_winrar_encryption.toml
  rules/windows/command_and_control_common_webservices.toml
  rules/windows/command_and_control_dns_tunneling_nslookup.toml
  rules_building_block/command_and_control_certutil_network_connection.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3209 [Rule Tuning] Windows DR Tuning - 2
  rules/windows/command_and_control_ingress_transfer_bits.toml
  rules/windows/command_and_control_remote_file_copy_powershell.toml
  rules/windows/command_and_control_teamviewer_remote_file_copy.toml
  rules/windows/credential_access_dcsync_replication_rights.toml
  rules/windows/credential_access_kerberoasting_unusual_process.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3212 [Rule Tuning] Windows DR Tuning - 3
  rules/windows/credential_access_lsass_memdump_file_created.toml
  rules/windows/credential_access_lsass_memdump_handle_access.toml
  rules/windows/credential_access_lsass_openprocess_api.toml
  rules/windows/credential_access_moving_registry_hive_via_smb.toml
  rules/windows/credential_access_persistence_network_logon_provider_modification.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3205 [FR] Cleanup saved_query references
  CLI.md
  detection_rules/schemas/definitions.py
Labels: enhancement, python, schema, backport: auto

#3214 [Rule Tuning] Windows DR Tuning - 4
  rules/windows/credential_access_posh_request_ticket.toml
  rules/windows/credential_access_remote_sam_secretsdump.toml
  rules/windows/credential_access_spn_attribute_modified.toml
  rules/windows/credential_access_suspicious_lsass_access_generic.toml
  rules/windows/credential_access_suspicious_lsass_access_memdump.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3197 [Rule Tuning] Review and Tune `Potential Malicious File Downloaded from Google Drive`
  rules/cross-platform/command_and_control_google_drive_malicious_file_download.toml
Labels: Rule: Tuning, backport: auto

#3066 [Tuning] Access to Stored Browser Credentials
  rules/macos/credential_access_access_to_browser_credentials_procargs.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3217 [New Rule] Attempt to Clear Kernel Ring Buffer
  rules/linux/defense_evasion_clear_kernel_ring_buffer.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3234 [Rule Tuning] Tainted Kernel Module Load
  rules_building_block/persistence_tainted_kernel_module_load.toml
Labels: OS: Linux, Rule: Tuning, backport: auto, Area: RAD, Team: TRADE, bbr

#3128 [New Rule] Adding Beaconing Rules from Advanced Analytic Beaconing Package
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  rules/integrations/beaconing/command_and_control_beaconing.toml
  rules/integrations/beaconing/command_and_control_beaconing_high_confidence.toml
Labels: Rule: New, backport: auto, Integration: Beaconing

#3200 Setup information for Linux Rules - Set8
  rules/linux/command_and_control_linux_kworker_netcon.toml
  rules/linux/command_and_control_suspicious_network_activity_from_unknown_executable.toml
  rules/linux/credential_access_potential_linux_ssh_bruteforce_external.toml
  rules/linux/credential_access_potential_linux_ssh_bruteforce_internal.toml
  rules/linux/credential_access_potential_successful_linux_ssh_bruteforce.toml
  rules/linux/discovery_ping_sweep_detected.toml
  rules/linux/execution_interpreter_tty_upgrade.toml
  rules/linux/execution_nc_listener_via_rlwrap.toml
  rules/linux/execution_potential_hack_tool_executed.toml
  rules/linux/lateral_movement_ssh_it_worm_download.toml
  rules/linux/persistence_linux_group_creation.toml
  rules/linux/persistence_linux_user_account_creation.toml
  rules/linux/persistence_setuid_setgid_capability_set.toml
  rules/linux/privilege_escalation_suspicious_cap_setuid_python_execution.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#3249 [FR] Pin python packages
  pyproject.toml
Labels: enhancement, backport: auto

#3153 [FR] Support missing events
  detection_rules/schemas/definitions.py
  kql/evaluator.py
  kql/parser.py
  pyproject.toml
Labels: enhancement, python, schema, backport: auto
