Repository elastic/detection-rules, pull requests merged in 2023-07, with the labels that each got.

#2877 [New Rules] Conversion of deprecated ERs over to DRs
  rules/linux/defense_evasion_ld_preload_env_variable_process_injection.toml
  rules/linux/execution_sus_extraction_or_decrompression_via_funzip.toml
  rules/linux/impact_data_encrypted_via_openssl.toml
Labels: OS: Linux, Rule: New, Rule: Tuning, Domain: Endpoint, backport: auto

#2836 [Unusual File Creation ADS] Add MS Office Applications to Query Exceptions
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#2843 [WMI Incoming Lateral Movement] Modify Existing Query Exception
  rules/windows/lateral_movement_incoming_wmi.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#2845 [New Rule] Suspicious Proc Enumeration
  rules/linux/discovery_suspicious_proc_enumeration.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Integration: Auditd Manager

#2904 RTA For Linux DR and ER Rules
  rta/kernel_module_removal_execution.py
  rta/mimipenguin_execution.py
  rta/unshadow_execution.py
Labels: RTA, backport: auto

#2905 [New Rules] Linux Reverse Shells
  rules/_deprecated/execution_reverse_shell_via_named_pipe.toml
  rules/linux/execution_shell_suspicious_parent_child_revshell_linux.toml
  rules/linux/execution_shell_via_java_revshell_linux.toml
  rules/linux/execution_shell_via_lolbin_interpreter_linux.toml
  rules/linux/execution_shell_via_suspicious_binary.toml
  rules/linux/execution_shell_via_tcp_cli_utility_linux.toml
Labels: OS: Linux, Rule: New, Rule: Deprecation, Domain: Endpoint, backport: auto

#2846 [New Rule] Kernel Load/Unload via Kexec Detected
  rules/linux/privilege_escalation_load_and_unload_of_kernel_via_kexec.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2895 [Rule Tuning] Lock Rules with Different Required Fields Related to 8.9.1 Release
  rules/windows/credential_access_lsass_handle_via_malseclogon.toml
  rules/windows/credential_access_potential_lsa_memdump_via_mirrordump.toml
  rules/windows/credential_access_suspicious_lsass_access_generic.toml
  rules/windows/credential_access_suspicious_lsass_access_memdump.toml
  rules/windows/credential_access_suspicious_lsass_access_via_snapshot.toml
  rules/windows/defense_evasion_suspicious_process_access_direct_syscall.toml
  rules/windows/defense_evasion_suspicious_process_creation_calltrace.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, v8.9.0

#2910 [New Rules] ftp/rdp bruteforce
  rules/linux/credential_access_potential_successful_linux_ftp_bruteforce.toml
  rules/linux/credential_access_potential_successful_linux_rdp_bruteforce.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Integration: Auditd Manager

#2913 Update README.md to fix etc path
  README.md
Labels: backport: auto

#2817 [New Rules] Potential portscan detected
  rules/network/discovery_potential_network_sweep_detected.toml
  rules/network/discovery_potential_port_scan_detected.toml
  rules/network/discovery_potential_syn_port_scan_detected.toml
Labels: Domain: Network, Rule: New, Domain: Endpoint, python, schema, backport: auto

#2859 DR Linux Rule Tuning 8.9
  rules/_deprecated/credential_access_potential_linux_ssh_bruteforce_root.toml
  rules/cross-platform/defense_evasion_elastic_agent_service_terminated.toml
  rules/linux/command_and_control_connection_attempt_by_non_ssh_root_session.toml
  rules/linux/credential_access_bruteforce_password_guessing.toml
  rules/linux/credential_access_potential_linux_ssh_bruteforce_external.toml
  rules/linux/credential_access_potential_linux_ssh_bruteforce_internal.toml
  rules/linux/defense_evasion_attempt_to_disable_syslog_service.toml
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/execution_python_tty_shell.toml
  rules/linux/execution_shell_evasion_linux_binary.toml
  rules/linux/impact_potential_linux_ransomware_file_encryption.toml
  rules/linux/impact_potential_linux_ransomware_note_detected.toml
  rules/linux/impact_process_kill_threshold.toml
  rules/linux/persistence_chkconfig_service_add.toml
  rules/linux/persistence_etc_file_creation.toml
  rules/linux/privilege_escalation_ld_preload_shared_object_modif.toml
  rules/linux/privilege_escalation_shadow_file_read.toml
Labels: OS: Linux, Rule: Deprecation, Rule: Tuning, Domain: Endpoint, backport: auto

#2918 [FR] Add EQL Rule Type Configuration Fields
  detection_rules/rule.py
  detection_rules/rule_validators.py
Labels: python, schema, backport: auto

#2907 [Rule Tuning] PowerShell Rule Tunings
  rules/windows/collection_mailbox_export_winlog.toml
  rules/windows/collection_posh_audio_capture.toml
  rules/windows/collection_posh_clipboard_capture.toml
  rules/windows/collection_posh_keylogger.toml
  rules/windows/credential_access_posh_invoke_ninjacopy.toml
  rules/windows/credential_access_posh_request_ticket.toml
  rules/windows/defense_evasion_amsi_bypass_powershell.toml
  rules/windows/defense_evasion_posh_assembly_load.toml
  rules/windows/defense_evasion_posh_compressed.toml
  rules/windows/discovery_posh_suspicious_api_functions.toml
  rules/windows/execution_posh_hacktool_functions.toml
  rules/windows/privilege_escalation_posh_token_impersonation.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2887 [New Rule] AWS Credentials Searched For Inside a Container
  rules/integrations/cloud_defend/credential_access_aws_creds_search_inside_a_container.toml
Labels: OS: Linux, Rule: New, backport: auto, container, Integration: Cloud Defend, v8.9.0

#2865 [Rule Tuning] Kubernetes Anonymous Request Authorized
  rules/integrations/kubernetes/initial_access_anonymous_request_authorized.toml
Labels: Rule: Tuning, backport: auto, Integration: Kubernetes, v8.9.0

#2837 [New Rule] Modification of Dynamic Linker Preload Shared Object Inside A Container
  rules/integrations/cloud_defend/defense_evasion_ld_preload_shared_object_modified_inside_a_container.toml
Labels: OS: Linux, Rule: New, backport: auto, container, Integration: Cloud Defend, v8.9.0

#2932 [Rule Tuning] Add HackTool Keywords to PowerShell Rules
  rules/windows/collection_posh_audio_capture.toml
  rules/windows/execution_posh_hacktool_functions.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2912 [New Rule] Building Block Rules - Part 1
  rules_building_block/collection_archive_data_zip_imageload.toml
  rules_building_block/collection_posh_compression.toml
  rules_building_block/defense_evasion_masquerading_communication_apps.toml
  rules_building_block/defense_evasion_powershell_clear_logs_script.toml
  rules_building_block/discovery_posh_generic.toml
  rules_building_block/discovery_windows_system_information_discovery.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2901 [Deprecation] Threat Intel Indicator Match - General Rules
  rules/_deprecated/threat_intel_filebeat8x.toml
  rules/_deprecated/threat_intel_fleet_integrations.toml
Labels: Rule: Deprecation, backport: auto

#2902 [Rule Tuning] Threat Intel URL Indicator Match
  rules/cross-platform/threat_intel_indicator_match_url.toml
Labels: Rule: Tuning, backport: auto

#2825 [Security Content] Add Windows Investigation Guides
  rules/windows/command_and_control_new_terms_commonly_abused_rat_execution.toml
  rules/windows/credential_access_dcsync_newterm_subjectuser.toml
  rules/windows/credential_access_dcsync_replication_rights.toml
  rules/windows/credential_access_posh_invoke_ninjacopy.toml
  rules/windows/defense_evasion_posh_encryption.toml
  rules/windows/defense_evasion_process_termination_followed_by_deletion.toml
  rules/windows/defense_evasion_sdelete_like_filename_rename.toml
  rules/windows/defense_evasion_suspicious_short_program_name.toml
  rules/windows/defense_evasion_suspicious_zoom_child_process.toml
  rules/windows/discovery_enumerating_domain_trusts_via_dsquery.toml
  rules/windows/discovery_enumerating_domain_trusts_via_nltest.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto, Security Content

#2917 New Linux BBR Rules
  rules_building_block/command_and_control_non_standard_http_port.toml
  rules_building_block/discovery_linux_system_information_discovery.toml
  rules_building_block/discovery_linux_system_owner_user_discovery.toml
Labels: backport: auto, v8.9.0

#2933 [New] Suspicious Microsoft 365 Mail Access by ClientAppId
  rules/integrations/o365/initial_access_microsoft_365_abnormal_clientappid.toml
Labels: Domain: Cloud, Rule: New, Integration: Microsoft 365, backport: auto

#2868 [Security Content] Add Investigation Guides to Linux DRs 8.9
  rules/linux/persistence_init_d_file_creation.toml
  rules/linux/persistence_linux_backdoor_user_creation.toml
  rules/linux/persistence_linux_group_creation.toml
  rules/linux/persistence_linux_shell_activity_via_web_server.toml
  rules/linux/persistence_linux_user_account_creation.toml
  rules/linux/persistence_linux_user_added_to_privileged_group.toml
  rules/linux/persistence_message_of_the_day_creation.toml
  rules/linux/persistence_message_of_the_day_execution.toml
  rules/linux/persistence_rc_script_creation.toml
  rules/linux/persistence_systemd_scheduled_timer_created.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Security Content, v8.9.0

#2920 New Cross Platform BBR Rules
  rules_building_block/discovery_hosts_file_access.toml
  rules_building_block/discovery_of_accounts_or_groups_via_builtin_tools.toml
  rules_building_block/discovery_process_discovery_via_builtin_tools.toml
  rules_building_block/discovery_system_network_connections.toml
Labels: backport: auto, v8.9.0

#2922 Potential Cross Site Scripting ( XSS )
  rules_building_block/initial_access_cross_site_scripting.toml
Labels: backport: auto, v8.9.0

#2959 [Tuning] Reverse Shell Rules
  rules/linux/execution_shell_suspicious_parent_child_revshell_linux.toml
  rules/linux/execution_shell_via_java_revshell_linux.toml
  rules/linux/execution_shell_via_lolbin_interpreter_linux.toml
  rules/linux/execution_shell_via_suspicious_binary.toml
  rules/linux/execution_shell_via_tcp_cli_utility_linux.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#2943 [Security Content] Added Compatibility note to all IGs
  rules/linux/persistence_init_d_file_creation.toml
  rules/linux/persistence_linux_backdoor_user_creation.toml
  rules/linux/persistence_linux_group_creation.toml
  rules/linux/persistence_linux_shell_activity_via_web_server.toml
  rules/linux/persistence_linux_user_account_creation.toml
  rules/linux/persistence_linux_user_added_to_privileged_group.toml
  rules/linux/persistence_message_of_the_day_creation.toml
  rules/linux/persistence_message_of_the_day_execution.toml
  rules/linux/persistence_rc_script_creation.toml
  rules/linux/persistence_systemd_scheduled_timer_created.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Security Content, v8.9.0

#2952 [Bug] Attempt to Install Kali Linux via WSL
  rules/windows/defense_evasion_wsl_kalilinux.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#2961 Rule Tuning File Permission Modification in Writable Directory
  rules/linux/defense_evasion_file_mod_writable_dir.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, v8.10

#2960 [New BBR] Potential Suspicious File Edit
  rules_building_block/persistence_suspicious_file_opened_through_editor.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, bbr

#2945 [New Rule] Pspy Process Monitoring Detected
  detection_rules/etc/non-ecs-schema.json
  rules/linux/discovery_pspy_process_monitoring_detected.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Integration: Auditd Manager

#2957 [Rule Tuning] Tune Threat Indicator Match Rules
  rules/cross-platform/threat_intel_indicator_match_hash.toml
  rules/cross-platform/threat_intel_indicator_match_url.toml
Labels: Rule: Tuning, Domain: Endpoint, backport: auto

#2965 [New Rule] Linux Local Account Brute Force
  rules/linux/credential_access_potential_linux_local_account_bruteforce.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2958 [New Rule] PE through Writable Docker Socket
  rules/linux/privilege_escalation_writable_docker_socket.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.10

#2827 [Security Content] Add Investigation Guides to Threat Intel rules
  rules/cross-platform/threat_intel_indicator_match_address.toml
  rules/cross-platform/threat_intel_indicator_match_hash.toml
  rules/cross-platform/threat_intel_indicator_match_registry.toml
  rules/cross-platform/threat_intel_indicator_match_url.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto, Security Content

#2964 [FR] Generate Prebuilt Rules Reference Page
  CONTRIBUTING.md
  detection_rules/docs.py
Labels: enhancement, python, backport: auto, v8.10

#2968 [FR] Add support for BBR rules to the rule loader
  detection_rules/packaging.py
  detection_rules/rule_loader.py
  rules_building_block/command_and_control_non_standard_http_port.toml
  rules_building_block/discovery_posh_generic.toml
  rules_building_block/discovery_windows_system_information_discovery.toml
  tests/test_all_rules.py
Labels: enhancement, python, backport: auto, Area: DED

#2924 [New Rule] Building Block Rules - Part 3
  rules_building_block/defense_evasion_generic_deletion.toml
  rules_building_block/discovery_generic_account_groups.toml
  rules_building_block/discovery_generic_process_discovery.toml
  rules_building_block/discovery_generic_registry_query.toml
  rules_building_block/execution_unsigned_service_executable.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#2929 [Rule Tuning] Tune Unusual ADS File Creation for Teams weblogs
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#2926 [New Rule] Building Block Rules - Part 4
  rules_building_block/discovery_net_share_discovery_winlog.toml
  rules_building_block/discovery_win_network_connections.toml
  rules_building_block/persistence_transport_agent_exchange.toml
  rules_building_block/privilege_escalation_unquoted_service_path.toml
Labels: backport: auto, bbr

#2974 [New Rule] Potential Privilege Escalation via OverlayFS
  rules/linux/privilege_escalation_overlayfs_local_privesc.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2987 [FR] Update build-release to support bbr release
  detection_rules/navigator.py
Labels: enhancement, python, backport: auto, Area: DED, bbr
