Repository elastic/detection-rules, pull requests merged in 2023-11, with the labels that each got.

#3252 [FR] Adjust Prebuilt Rules Packaging to Use Elastic Package v3
  detection_rules/devtools.py
  detection_rules/etc/packages.yml
  detection_rules/packaging.py
  detection_rules/schemas/registry_package.py
  tests/test_packages.py
Labels: python, schema, backport: auto, fleet, fleet-release

#3236 [New BBR] Kernel Driver Load
  rules_building_block/persistence_kernel_driver_load.toml
Labels: OS: Linux, Rule: New, backport: auto, Integration: Auditd Manager, Area: RAD, Team: TRADE, bbr

#3240 [New BBR] Segfault Detected
  rules_building_block/execution_linux_segfault.toml
Labels: OS: Linux, Rule: New, backport: auto, Area: RAD, Team: TRADE, bbr

#3227 [Bug] Add Integration Schema Validation to `NewTermsRuleData.validate` Method
  detection_rules/rule.py
  tests/test_all_rules.py
Labels: bug, python, backport: auto

#3271 [Rule Tuning] Fix Menasec Expired Domain References
  rules/windows/command_and_control_teamviewer_remote_file_copy.toml
  rules/windows/defense_evasion_masquerading_suspicious_werfault_childproc.toml
  rules/windows/defense_evasion_suspicious_managedcode_host_process.toml
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
  rules/windows/persistence_dontexpirepasswd_account.toml
  rules/windows/persistence_evasion_hidden_local_account_creation.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3272 [Bug] Fix typo in downgrade_contents_from_rule
  detection_rules/rule.py
  pyproject.toml
Labels: bug, python, backport: auto, Area: DED, Team: TRADE

#3277 [FR] Add UEBA Tag to Definitions
  detection_rules/schemas/definitions.py
Labels: python, schema, backport: auto

#3279 [New Rule] Adding Detection Logic for Okta User Sessions Started from Different Geolocations
  rules/integrations/okta/initial_access_okta_user_sessions_started_from_different_geolocations.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, backport: auto, Area: RAD

#3276 [New] First Time Seen NewCredentials Lgon Process
  rules/windows/privilege_escalation_newcreds_logon_rare_process.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3260 [New Rule] Adding Detection for New Okta Authentication Behavior
  rules/integrations/okta/initial_access_new_authentication_behavior_detection.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, backport: auto, emerging-threat

#3261 [New Rule] Adding Detection for First Occurrence of Okta User Session Started via Proxy
  rules/integrations/okta/initial_access_first_occurrence_user_session_started_via_proxy.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, backport: auto

#3258 [New Rule] Detecting a New Okta Identity Provider (IdP) Added by Admin
  rules/integrations/okta/persistence_new_idp_successfully_added_by_admin.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, backport: auto, emerging-threat

#3259 [New Rule] Detection for Okta Sign-In Events via Third-Party IdP
  rules/integrations/okta/initial_access_sign_in_events_via_third_party_idp.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, backport: auto, emerging-threat

#3263 [New Rule] Threshold Detections for Okta User Sessions and Client Addresses
  rules/integrations/okta/initial_access_multiple_client_addresses_with_single_okta_session.toml
  rules/integrations/okta/lateral_movement_multiple_sessions_for_single_user.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, backport: auto

#3267 [New Rule] Adding Detection for Multiple Okta Users with the Same Device Token Hash
  rules/integrations/okta/initial_access_multiple_active_users_from_single_device.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, backport: auto

#3278 [New Rule] Okta MFA Bombing Attempt
  rules/integrations/okta/credential_access_okta_mfa_bombing_via_push_notifications.toml
  rules/integrations/okta/credential_access_okta_potentially_successful_okta_bombing_via_push_notifications.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, Rule: Tuning, backport: auto

#2782 [New Rule] Okta FastPass Phishing
  rules/integrations/okta/initial_access_okta_fastpass_phishing.toml
Labels: Domain: Cloud, Integration: Okta, community, backport: auto

#3292 FR] Add Core Support for ES|QL Rule Type
  detection_rules/integrations.py
  detection_rules/rule.py
  detection_rules/rule_validators.py
  detection_rules/schemas/definitions.py
Labels: enhancement, python, schema, backport: auto, Area: DED, esql

#3297 Adjust `ESQLRuleData` to Inherit `QueryRuleData` Dataclass
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/rule_validators.py
  tests/test_all_rules.py
Labels: OS: Linux, Domain: Endpoint, python, schema, backport: auto, esql
