Repository elastic/detection-rules, pull requests merged in 2023-08, with the labels that each got.

#2991 [BUG] Updated pyproject.toml for Python >= 3.10
  pyproject.toml
Labels: bug, python, community, backport: auto, Area: DED

#2986 [Bug] Strip Non-Public Fields Prior to Uploading Rules
  detection_rules/kbwrap.py
  detection_rules/rule.py
  detection_rules/schemas/__init__.py
  detection_rules/schemas/definitions.py
Labels: bug, cli, python, schema, backport: auto, Area: DED

#2946 [New Rule] Sudo Command Enumeration Detected
  rules/linux/discovery_sudo_allowed_command_enumeration.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2966 [New Rule] Potential Sudo Hijacking Detected
  rules/linux/privilege_escalation_sudo_hijacking.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2956 [New Rule] SUID/SGUID Enumeration Detected
  rules/linux/discovery_suid_sguid_enumeration.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2985 [Rule Tuning] Some Tunings of several 8.9 rules
  rules/_deprecated/command_and_control_connection_attempt_by_non_ssh_root_session.toml
  rules/linux/command_and_control_suspicious_network_activity_from_unknown_executable.toml
  rules/linux/discovery_kernel_module_enumeration.toml
  rules/linux/discovery_kernel_module_enumeration_via_proc.toml
  rules/linux/discovery_linux_modprobe_enumeration.toml
  rules/linux/discovery_linux_sysctl_enumeration.toml
  rules/linux/discovery_suspicious_proc_enumeration.toml
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/execution_remote_code_execution_via_postgresql.toml
  rules/linux/impact_potential_linux_ransomware_file_encryption.toml
  rules/linux/impact_potential_linux_ransomware_note_detected.toml
  rules/linux/persistence_cron_job_creation.toml
  rules/linux/persistence_init_d_file_creation.toml
  rules/linux/persistence_message_of_the_day_creation.toml
  rules/linux/persistence_message_of_the_day_execution.toml
  rules/linux/persistence_rc_script_creation.toml
  rules/linux/persistence_shared_object_creation.toml
  rules/linux/persistence_systemd_scheduled_timer_created.toml
  rules/linux/persistence_systemd_service_creation.toml
  rules/linux/privilege_escalation_load_and_unload_of_kernel_via_kexec.toml
  rules/network/discovery_potential_network_sweep_detected.toml
  rules/network/discovery_potential_port_scan_detected.toml
  rules/network/discovery_potential_syn_port_scan_detected.toml
Labels: OS: Linux, Rule: Deprecation, Rule: Tuning, Domain: Endpoint, backport: auto

#2970 [New BBR] Suspicious Clipboard Activity
  rules_building_block/collection_linux_suspicious_clipboard_activity.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2971 [New Rule] PE via UID INT_MAX Bug
  rules/linux/privilege_escalation_linux_uid_int_max_bug.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2984 [New Rule] Potential Sudo Token Manipulation via Process Injection
  rules/linux/privilege_escalation_sudo_token_via_process_injection.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2982 [New Rule] Potential Suspicious DebugFS Root Device Access
  rules/linux/privilege_escalation_sda_disk_mount_non_root.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2969 [New Rule] Suspicious Symbolic Link Created
  rules/linux/privilege_escalation_linux_suspicious_symbolic_link.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2973 [New Rules] Linux Wildcard Injection
  rules/linux/privilege_escalation_chown_chmod_unauthorized_file_read.toml
  rules/linux/privilege_escalation_potential_wildcard_shell_spawn.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2983 [New Rule] PE via Container Misconfiguration
  rules/linux/privilege_escalation_container_util_misconfiguration.toml
Labels: OS: Linux, Rule: New, Rule: Tuning, Domain: Endpoint, backport: auto

#3004 fixing typo in 127.0.0.1 address
  rules/windows/persistence_service_windows_service_winlog.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#2935 [New Rule] PowerShell Script with Webcam Video Capture Capabilities
  rules_building_block/collection_posh_webcam_video_capture.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3008 [Rule Tuning] added additional event action
  rules/linux/execution_shell_suspicious_parent_child_revshell_linux.toml
  rules/linux/execution_shell_via_lolbin_interpreter_linux.toml
  rules/linux/execution_shell_via_suspicious_binary.toml
  rules/linux/execution_shell_via_tcp_cli_utility_linux.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#2997 [Rule Tuning] Potential Masquerading as Communication Apps
  rules/windows/persistence_run_key_and_startup_broad.toml
  rules_building_block/defense_evasion_masquerading_communication_apps.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2923 [New Rule] Building Block Rules - Part 2
  detection_rules/etc/non-ecs-schema.json
  rules/windows/discovery_system_service_discovery.toml
  rules_building_block/defense_evasion_dll_hijack.toml
  rules_building_block/defense_evasion_file_permission_modification.toml
  rules_building_block/discovery_internet_capabilities.toml
  rules_building_block/discovery_posh_password_policy.toml
  rules_building_block/lateral_movement_posh_winrm_activity.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#2873 [Rule Tuning] Privileges Elevation via Parent Process PID Spoofing
  rules/windows/privilege_escalation_via_ppid_spoofing.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2967 [New Rule] PowerShell Kerberos Ticket Dump
  rules/windows/credential_access_posh_kerb_ticket_dump.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3023 [Rule Tuning] PowerShell Keylogging Script
  rules/windows/collection_posh_keylogger.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2972 Adding related integrations to ML rules
  detection_rules/rule.py
  rules/ml/command_and_control_ml_packetbeat_dns_tunneling.toml
  rules/ml/command_and_control_ml_packetbeat_rare_dns_question.toml
  rules/ml/command_and_control_ml_packetbeat_rare_urls.toml
  rules/ml/command_and_control_ml_packetbeat_rare_user_agent.toml
  rules/ml/credential_access_ml_auth_spike_in_failed_logon_events.toml
  rules/ml/credential_access_ml_auth_spike_in_logon_events.toml
  rules/ml/credential_access_ml_auth_spike_in_logon_events_from_a_source_ip.toml
  rules/ml/credential_access_ml_linux_anomalous_metadata_process.toml
  rules/ml/credential_access_ml_linux_anomalous_metadata_user.toml
  rules/ml/credential_access_ml_suspicious_login_activity.toml
  rules/ml/credential_access_ml_windows_anomalous_metadata_process.toml
  rules/ml/credential_access_ml_windows_anomalous_metadata_user.toml
  rules/ml/discovery_ml_linux_system_information_discovery.toml
  rules/ml/discovery_ml_linux_system_network_configuration_discovery.toml
  rules/ml/discovery_ml_linux_system_network_connection_discovery.toml
  rules/ml/discovery_ml_linux_system_process_discovery.toml
  rules/ml/discovery_ml_linux_system_user_discovery.toml
  rules/ml/execution_ml_windows_anomalous_script.toml
  rules/ml/initial_access_ml_auth_rare_hour_for_a_user_to_logon.toml
  rules/ml/initial_access_ml_auth_rare_source_ip_for_a_user.toml
  rules/ml/initial_access_ml_auth_rare_user_logon.toml
  rules/ml/initial_access_ml_linux_anomalous_user_name.toml
  rules/ml/initial_access_ml_windows_anomalous_user_name.toml
  rules/ml/initial_access_ml_windows_rare_user_type10_remote_login.toml
  rules/ml/ml_high_count_network_denies.toml
  rules/ml/ml_high_count_network_events.toml
  rules/ml/ml_linux_anomalous_network_activity.toml
  rules/ml/ml_linux_anomalous_network_port_activity.toml
  rules/ml/ml_packetbeat_rare_server_domain.toml
  rules/ml/ml_rare_destination_country.toml
  rules/ml/ml_spike_in_traffic_to_a_country.toml
  rules/ml/ml_windows_anomalous_network_activity.toml
  rules/ml/persistence_ml_linux_anomalous_process_all_hosts.toml
  rules/ml/persistence_ml_rare_process_by_host_linux.toml
  rules/ml/persistence_ml_rare_process_by_host_windows.toml
  rules/ml/persistence_ml_windows_anomalous_path_activity.toml
  rules/ml/persistence_ml_windows_anomalous_process_all_hosts.toml
  rules/ml/persistence_ml_windows_anomalous_process_creation.toml
  rules/ml/persistence_ml_windows_anomalous_service.toml
  rules/ml/privilege_escalation_ml_linux_anomalous_sudo_activity.toml
  rules/ml/privilege_escalation_ml_windows_rare_user_runas_event.toml
  rules/ml/resource_development_ml_linux_anomalous_compiler_activity.toml
Labels: ML, python, backport: auto, Area: DED

#3010 [Bug] Set session cookie key to sid
  kibana/connector.py
Labels: bug, python, backport: auto

#3036 [Bug] Fix RTA Metadata
  rta/credaccess_reg_query_privesc_token_manip.py
  rta/shellcode_load_ws2_32_unbacked.py
Labels: RTA, backport: auto

#3017 [Rule Tuning] Compression DLL Loaded by Unusual Process
  rules_building_block/collection_archive_data_zip_imageload.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3018 [Rule Tuning] Windows BBR Rules
  rules_building_block/collection_posh_compression.toml
  rules_building_block/defense_evasion_generic_deletion.toml
  rules_building_block/discovery_generic_process_discovery.toml
  rules_building_block/discovery_posh_generic.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3031 [Rule Tuning] Threat Intel Hash Indicator Match
  rules/cross-platform/threat_intel_indicator_match_hash.toml
Labels: community, backport: auto

#3024 [Rule Tuning] Several rule tunings
  rules/linux/credential_access_potential_linux_local_account_bruteforce.toml
  rules/linux/defense_evasion_chattr_immutable_file.toml
  rules/linux/defense_evasion_file_deletion_via_shred.toml
  rules/linux/defense_evasion_hidden_file_dir_tmp.toml
  rules/linux/defense_evasion_kernel_module_removal.toml
  rules/linux/defense_evasion_ld_preload_env_variable_process_injection.toml
  rules/linux/defense_evasion_mount_execution.toml
  rules/linux/discovery_esxi_software_via_grep.toml
  rules/linux/discovery_kernel_module_enumeration.toml
  rules/linux/discovery_linux_hping_activity.toml
  rules/linux/discovery_linux_nping_activity.toml
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/execution_process_started_in_shared_memory_directory.toml
  rules/linux/execution_suspicious_executable_running_system_commands.toml
  rules/linux/impact_potential_linux_ransomware_file_encryption.toml
  rules/linux/impact_potential_linux_ransomware_note_detected.toml
  rules/linux/persistence_chkconfig_service_add.toml
  rules/linux/persistence_credential_access_modify_ssh_binaries.toml
  rules/linux/persistence_etc_file_creation.toml
  rules/linux/persistence_init_d_file_creation.toml
  rules/linux/persistence_insmod_kernel_module_load.toml
  rules/linux/persistence_kde_autostart_modification.toml
  rules/linux/persistence_linux_shell_activity_via_web_server.toml
  rules/linux/persistence_message_of_the_day_execution.toml
  rules/linux/persistence_rc_script_creation.toml
  rules/linux/persistence_systemd_scheduled_timer_created.toml
  rules/linux/privilege_escalation_linux_suspicious_symbolic_link.toml
  rules_building_block/discovery_kernel_module_enumeration_via_proc.toml
  rules_building_block/discovery_linux_modprobe_enumeration.toml
  rules_building_block/discovery_linux_sysctl_enumeration.toml
  rules_building_block/discovery_suspicious_proc_enumeration.toml
Labels: OS: Linux, Rule: Deprecation, Rule: Tuning, Domain: Endpoint, backport: auto

#3027 BBR Rules Addition
  rules_building_block/defense_evasion_creation_of_hidden_files_directories.toml
  rules_building_block/defense_evasion_processes_with_trailing_spaces.toml
  rules_building_block/discovery_of_domain_groups.toml
  rules_building_block/persistence_creation_of_kernel_module.toml
  rules_building_block/privilege_escalation_trap_execution.toml
Labels: backport: auto

#2940 [Rule Tuning] High Number of Process and/or Service Terminations
  rules/windows/impact_stop_process_service_threshold.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3039 [New Rule] Network-Level Authentication (NLA) Disabled
  rules_building_block/defense_evasion_disable_nla.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3021 [New Rule] Potential Masquerading as Windows System32 DLL
  rules_building_block/defense_evasion_masquerading_windows_dll.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#2995 [New Rule] Potential Masquerading as Browser Process
  rules_building_block/defense_evasion_masquerading_browsers.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3035 [New Rule] New BBR Rules - Part 4
  rules_building_block/collection_files_staged_in_recycle_bin_root.toml
  rules_building_block/defense_evasion_cmstp_execution.toml
  rules_building_block/defense_evasion_indirect_command_exec_pcalua_forfiles.toml
  rules_building_block/defense_evasion_installutil_command_activity.toml
  rules_building_block/execution_settingcontent_ms_file_creation.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3040 [New Rule] Unusual Process For MSSQL Service Accounts
  rules/windows/persistence_via_xp_cmdshell_mssql_stored_procedure.toml
  rules_building_block/collection_archive_data_zip_imageload.toml
  rules_building_block/initial_access_unusual_process_sql_accounts.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#1860 [New Rule] Suspicious WMI Event Subscription Created
  detection_rules/etc/non-ecs-schema.json
  rules/windows/persistence_sysmon_wmi_event_subscription.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backlog, backport: auto

#3062 [Rule Tuning] Suspicious Antimalware Scan Interface DLL
  rules/windows/defense_evasion_amsi_bypass_dllhijack.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#3006 [New Rule] Potential Masquerading as VLC DLL
  rules_building_block/defense_evasion_masquerading_vlc_dll.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#2998 [New Rule] Suspicious Communication App Child Process
  rules_building_block/defense_evasion_communication_apps_suspicious_child_process.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3057 [New Rule] Potential Sudo Privilege Escalation via CVE-2019-14287
  rules/linux/privilege_escalation_sudo_cve_2019_14287.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3048 [New Rule] Binary Copied and/or Moved to Suspicious Directory
  rules/linux/defense_evasion_binary_copied_to_suspicious_directory.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3059 [New BBR] Suspicious which Enumeration
  rules_building_block/discovery_suspicious_which_command_execution.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE, bbr

#3058 [Rule Tuning] 3 tunings to reduce FPs
  rules/linux/discovery_sudo_allowed_command_enumeration.toml
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/privilege_escalation_sda_disk_mount_non_root.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3045 [New Rule] File Creation, Exec and Self-Deletion
  rules/linux/execution_file_execution_followed_by_deletion.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3060 [New Rules] GDB Secret Dumping
  rules/linux/credential_access_gdb_init_memory_dump.toml
  rules_building_block/credential_access_gdb_memory_dump.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE, bbr

#3015 [New Rule][BBR] WRITEDAC Access on Active Directory Object
  rules/windows/credential_access_dcsync_newterm_subjectuser.toml
  rules/windows/credential_access_dcsync_replication_rights.toml
  rules/windows/credential_access_ldap_attributes.toml
  rules_building_block/defense_evasion_write_dac_access.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3049 [New Rule] Unusual User Privilege Enumeration via id
  rules/linux/discovery_unusual_user_enumeration_via_id.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3067 [FR] Auto label bbr rules
  .github/paths-labeller.yml
Labels: enhancement, backport: auto, bbr
