Repository elastic/detection-rules, pull requests merged in 2023-12, with the labels that each got.

#3299 [New] Interactive Logon by an Unusual Process
  rules/windows/privilege_escalation_make_token_local.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3229 [Rule Tuning] Windows DR Tuning - 5
  rules/windows/credential_access_symbolic_link_to_shadow_copy_created.toml
  rules/windows/defense_evasion_amsi_bypass_powershell.toml
  rules/windows/defense_evasion_code_signing_policy_modification_registry.toml
  rules/windows/defense_evasion_create_mod_root_certificate.toml
  rules/windows/defense_evasion_defender_disabled_via_registry.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3304 [Rule Tuning] Multiple Users with the Same Okta Device Token Hash
  rules/integrations/okta/credential_access_multiple_auth_events_from_single_device_behind_proxy.toml
  rules/integrations/okta/initial_access_multiple_active_users_from_single_device.toml
Labels: Domain: Cloud, Integration: Okta, Rule: Tuning, backport: auto

#3285 [Bug] Possible FIN7 DGA Command and Control Behavior
  rules/network/command_and_control_fin7_c2_behavior.toml
Labels: Domain: Network, Rule: Tuning, community, backport: auto

#3152 [New] Process Created with a Duplicated Token
  rules/windows/privilege_escalation_create_process_with_token_unpriv.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3287 [Tuning] Small Linux DR Tuning
  rules/linux/defense_evasion_binary_copied_to_suspicious_directory.toml
  rules/linux/persistence_setuid_setgid_capability_set.toml
  rules_building_block/defense_evasion_sus_utility_executed_via_tmux_or_screen.toml
  rules_building_block/discovery_suspicious_which_command_execution.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE, bbr

#3268 [Rule Tuning] UEBA new_terms process_executable
  rules/windows/discovery_signal_unusual_discovery_signal_proc_executable.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3300 [New] Rare SMB Connection to the Internet
  rules/windows/exfiltration_smb_rare_destination.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3238 [New Rule] Suspicious Kworker UID Elevation
  rules/linux/privilege_escalation_kworker_uid_elevation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3239 [New Rule] UID Elevation from Unknown Executable
  rules/linux/privilege_escalation_uid_elevation_from_unknown_executable.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3233 [New Rule] Out-Of-Tree Kernel Module Load
  rules_building_block/persistence_tainted_kernel_module_out_of_tree_load.toml
Labels: OS: Linux, Rule: New, backport: auto, Area: RAD, Team: TRADE, bbr

#3237 [New Rule] Suspicious File Creation via Kworker
  rules/linux/persistence_kworker_file_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE, bbr

#3080 [Security Content] Introduce Investigate Plugin in Investigation Guides
  detection_rules/rule.py
  detection_rules/schemas/definitions.py
  docs/developing.md
  rules/windows/command_and_control_common_webservices.toml
  rules/windows/command_and_control_remote_file_copy_desktopimgdownldr.toml
  rules/windows/command_and_control_remote_file_copy_mpcmdrun.toml
  rules/windows/command_and_control_remote_file_copy_powershell.toml
  rules_building_block/command_and_control_certutil_network_connection.toml
  tests/test_all_rules.py
Labels: blocked, OS: Windows, Domain: Endpoint, python, backlog, schema, backport: auto, Security Content, Area: RAD, bbr

#3281 [FR] Add Support for ES|QL Rule Type and Remote Validation
  detection_rules/misc.py
  detection_rules/remote_validation.py
  detection_rules/rule.py
  detection_rules/rule_validators.py
  detection_rules/schemas/definitions.py
  tests/data/__init__.py
  tests/data/command_control_dummy_production_rule.toml
  tests/test_all_rules.py
  tests/test_rules_remote.py
  tests/test_specific_rules.py
Labels: enhancement, OS: Windows, Domain: Endpoint, python, schema, backport: auto, Area: DED, Team: TRADE, esql

#3305 Create new_meta.md
  .github/ISSUE_TEMPLATE/new_meta.md
Labels: backport: skip

#3288 [Security Content] Add Investigation Guides to Linux Persistence Rules - 1
  rules/linux/persistence_chkconfig_service_add.toml
  rules/linux/persistence_cron_job_creation.toml
  rules/linux/persistence_etc_file_creation.toml
  rules/linux/persistence_systemd_service_creation.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Security Content, Area: RAD, Team: TRADE

#3303 [Bug] Use integration schemas for required_field types
  detection_rules/beats.py
  detection_rules/integrations.py
  detection_rules/rule.py
Labels: bug, python, schema, backport: auto

#3246 [Rule Tuning] Windows DR Tuning - 6
  rules/windows/defense_evasion_masquerading_as_elastic_endpoint_process.toml
  rules/windows/defense_evasion_masquerading_trusted_directory.toml
  rules/windows/defense_evasion_msbuild_beacon_sequence.toml
  rules/windows/defense_evasion_msbuild_making_network_connections.toml
  rules/windows/defense_evasion_msxsl_beacon.toml
  rules/windows/defense_evasion_network_connection_from_windows_binary.toml
  rules/windows/defense_evasion_process_termination_followed_by_deletion.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3265 [New Rule] Adding Detection for Stolen Credentials Used to Login to Okta Account After MFA Reset
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/okta/persistence_stolen_credentials_used_to_login_to_okta_account_after_mfa_reset.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, backport: auto, Integration: Endpoint, Area: RAD

#3318 [Rule Tuning] Adjust Min-Stack for `Okta FastPass Phishing Detection` Rule
  rules/integrations/okta/initial_access_okta_fastpass_phishing.toml
Labels: Domain: Cloud, Integration: Okta, Rule: Tuning, backport: auto

#3302 Update Advanced Analytics config guides
  rules/integrations/beaconing/command_and_control_beaconing.toml
  rules/integrations/beaconing/command_and_control_beaconing_high_confidence.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_destination_geo_country_iso_code.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_destination_ip.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_destination_port.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_destination_region_name.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_written_to_external_device.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_written_to_external_device_airdrop.toml
  rules/integrations/ded/exfiltration_ml_rare_process_writing_to_external_device.toml
  rules/integrations/dga/command_and_control_ml_dga_activity_using_sunburst_domain.toml
  rules/integrations/dga/command_and_control_ml_dga_high_sum_probability.toml
  rules/integrations/dga/command_and_control_ml_dns_request_high_dga_probability.toml
  rules/integrations/dga/command_and_control_ml_dns_request_predicted_to_be_a_dga_domain.toml
  rules/integrations/lmd/lateral_movement_ml_high_mean_rdp_process_args.toml
  rules/integrations/lmd/lateral_movement_ml_high_mean_rdp_session_duration.toml
  rules/integrations/lmd/lateral_movement_ml_high_remote_file_size.toml
  rules/integrations/lmd/lateral_movement_ml_high_variance_rdp_session_duration.toml
  rules/integrations/lmd/lateral_movement_ml_rare_remote_file_directory.toml
  rules/integrations/lmd/lateral_movement_ml_rare_remote_file_extension.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_connections_from_a_source_ip.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_connections_to_a_destination_ip.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_rdp_processes.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_remote_file_transfers.toml
  rules/integrations/lmd/lateral_movement_ml_unusual_time_for_an_rdp_session.toml
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_host.toml
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_parent_process.toml
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_user.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event_high_probability.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_host.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_parent_process.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_user.toml
  tests/test_all_rules.py
Labels: backport: auto

#3335 [Rule Tuning] Account Password Reset Remotely
  rules/windows/persistence_remote_password_reset.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3340 [Tuning] Multiple Logon Failure Followed by Logon Success
  rules/windows/credential_access_bruteforce_multiple_logon_failure_followed_by_success.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3338 [Tuning] Suspicious Managed Code Hosting Process
  rules/windows/defense_evasion_suspicious_managedcode_host_process.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#3329 [Rule Tuning] Optimize query for Direct Outbound SMB Connection
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3331 [Rule Tuning] Optimize query for Installation of Custom Shim Databases
  rules/windows/persistence_app_compat_shim.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3337 [Tuning] Remote Scheduled Task Creation
  detection_rules/etc/non-ecs-schema.json
  rules/windows/lateral_movement_remote_task_creation_winlog.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3339 [Tuning] Suspicious Script Object Execution
  rules/windows/defense_evasion_suspicious_scrobj_load.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#3330 [Rule Tuning] Optimize query for Query Registry using Built-in Tools
  rules_building_block/discovery_generic_registry_query.toml
Labels: Rule: Tuning, backport: auto, bbr

#3345 [Rule Tuning] Adjust `Attempt to Deactivate MFA for an Okta User Account` Okta Rule
  rules/integrations/okta/persistence_attempt_to_deactivate_mfa_for_okta_user_account.toml
  rules/integrations/okta/persistence_mfa_deactivation_with_no_reactivation.toml
Labels: Domain: Cloud, Integration: Okta, Rule: Tuning, backport: auto

#3247 [Security Content] Add Investigation Guides to Linux C2 Rules
  rules/linux/command_and_control_cat_network_activity.toml
  rules/linux/command_and_control_linux_chisel_client_activity.toml
  rules/linux/command_and_control_linux_chisel_server_activity.toml
  rules/linux/command_and_control_linux_suspicious_proxychains_activity.toml
  rules/linux/command_and_control_linux_tunneling_and_port_forwarding.toml
  rules/linux/command_and_control_suspicious_network_activity_from_unknown_executable.toml
  rules/linux/command_and_control_tunneling_via_earthworm.toml
  rules_building_block/command_and_control_linux_proxychains_activity.toml
  rules_building_block/command_and_control_linux_ssh_x11_forwarding.toml
  rules_building_block/command_and_control_non_standard_http_port.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Security Content, Area: RAD, Team: TRADE, bbr

#3257 [Security Content] Add Windows Investigation Guides
  rules/windows/command_and_control_certreq_postdata.toml
  rules/windows/command_and_control_ingress_transfer_bits.toml
  rules/windows/credential_access_copy_ntds_sam_volshadowcp_cmdline.toml
  rules/windows/credential_access_lsass_openprocess_api.toml
  rules/windows/credential_access_persistence_network_logon_provider_modification.toml
  rules/windows/credential_access_posh_kerb_ticket_dump.toml
  rules/windows/credential_access_suspicious_comsvcs_imageload.toml
  rules/windows/discovery_group_policy_object_discovery.toml
  rules/windows/execution_posh_hacktool_functions.toml
  rules/windows/persistence_powershell_profiles.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto, Security Content, Area: RAD

#3347 [Rule Tuning] Linux BBR Tuning
  rules_building_block/discovery_linux_modprobe_enumeration.toml
  rules_building_block/discovery_linux_sysctl_enumeration.toml
  rules_building_block/persistence_creation_of_kernel_module.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Integration: Auditd Manager, Area: RAD, Team: TRADE, bbr

#3348 [Bug] Fix BBR Folder Location Requirements for Specific Integrations
  detection_rules/cli_utils.py
  tests/test_all_rules.py
Labels: python, backport: auto, Area: DED

#3336 [Deprecate] Potential Process Herpaderping Attempt
  rules/_deprecated/defense_evasion_potential_processherpaderping.toml
Labels: Rule: Deprecation, OS: Windows, backport: auto

#3342 [Rule Tuning] Deprecate 'Malicious Remote File Creation'
  rules/_deprecated/lateral_movement_malicious_remote_file_creation.toml
Labels: Rule: Deprecation, backport: auto
