Repository elastic/detection-rules, pull requests merged in 2023-09, with the labels that each got.

#3074 [Rule Tuning] Small Linux DR Tuning
  rules/linux/credential_access_bruteforce_password_guessing.toml
  rules/linux/execution_shell_evasion_linux_binary.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3038 Added unit test
  rta/__init__.py
Labels: RTA, backport: auto

#3068 [New Rule] Potential Masquerading as Business App Installer
  rules_building_block/defense_evasion_masquerading_business_apps_installer.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3026 [New Rule] New BBR Rules - Part 1
  rules_building_block/collection_outlook_email_archive.toml
  rules_building_block/command_and_control_bitsadmin_activity.toml
  rules_building_block/credential_access_win_private_key_access.toml
  rules_building_block/lateral_movement_at.toml
  rules_building_block/persistence_browser_extension_install.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3052 [New Rule] New BBR Rules - Part 5
  rules/windows/persistence_ms_office_addins_file.toml
  rules_building_block/defense_evasion_service_disabled_registry.toml
  rules_building_block/defense_evasion_service_path_registry.toml
  rules_building_block/defense_evasion_services_exe_path.toml
  rules_building_block/discovery_generic_account_groups.toml
  rules_building_block/lateral_movement_rdp_conn_unusual_process.toml
  rules_building_block/persistence_netsh_helper_dll.toml
  rules_building_block/persistence_startup_folder_lnk.toml
  rules_building_block/persistence_werfault_reflectdebugger.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3000 [FR] Add support for samples in eql 0.9.18
  detection_rules/rule.py
  detection_rules/rule_validators.py
  detection_rules/schemas/definitions.py
  pyproject.toml
Labels: enhancement, python, schema, backport: auto

#3007 [New Rule] Potential Meterpreter Reverse Shell
  rules/linux/execution_shell_via_meterpreter_linux.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3034 [New Rule] New BBR Rules - Part 3
  detection_rules/etc/non-ecs-schema.json
  rules/windows/persistence_startup_folder_scripts.toml
  rules_building_block/credential_access_kirbi_file.toml
  rules_building_block/defense_evasion_unusual_process_path_wbem.toml
  rules_building_block/execution_downloaded_url_file.toml
  rules_building_block/execution_wmi_wbemtest.toml
  rules_building_block/lateral_movement_wmic_remote.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3029 [New Rule] New BBR Rules - Part 2
  rules/windows/persistence_registry_uncommon.toml
  rules_building_block/defense_evasion_cmd_copy_binary_contents.toml
  rules_building_block/defense_evasion_unusual_process_extension.toml
  rules_building_block/execution_downloaded_shortcut_files.toml
  rules_building_block/execution_mofcomp.toml
  rules_building_block/persistence_msoffice_startup_registry.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3088 [Security Content] Add missing osquery transforms
  rules/cross-platform/threat_intel_indicator_match_address.toml
  rules/cross-platform/threat_intel_indicator_match_hash.toml
  rules/cross-platform/threat_intel_indicator_match_registry.toml
  rules/cross-platform/threat_intel_indicator_match_url.toml
Labels: Rule: Tuning, backport: auto, Security Content

#3091 Tunes Unusual Parent Process for cmd.exe rule to exclude oobe activity
  rules/windows/execution_command_shell_started_by_unusual_process.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#3054 [New Rule] GitHub Protected Branch Settings Changed
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  rules/integrations/github/defense_evasion_github_protected_branch_settings_changed.toml
Labels: Rule: New, backport: auto, Area: RAD, Integration: GitHub

#3056 [New Rule] Github Repository Deleted
  rules/integrations/github/impact_github_repository_deleted.toml
Labels: Rule: New, backport: auto, Area: RAD, Integration: GitHub

#3069 [New Rule] Network Activity Detected via cat
  rules/linux/command_and_control_cat_network_activity.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3085 [Bug] update transform test to fail on missing transform
  tests/test_all_rules.py
Labels: backport: auto

#3003 [New RTA] Privesc via OverlayFS
  rta/overlayfs_privesc.py
Labels: OS: Linux, RTA: required, RTA, backport: auto, Area: DED, Area: RAD, Team: TRADE

#3139 [New Rule] [BBR] File with Suspicious Extension Downloaded
  rules_building_block/defense_evasion_download_susp_extension.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3119 [New Rule] Adding Lateral Movement Rules from Advanced Analytic LMD Package
  detection_rules/devtools.py
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  detection_rules/integrations.py
  detection_rules/rule.py
  detection_rules/schemas/definitions.py
  rules/integrations/lmd/lateral_movement_malicious_remote_file_creation.toml
  rules/integrations/lmd/lateral_movement_ml_high_mean_rdp_process_args.toml
  rules/integrations/lmd/lateral_movement_ml_high_mean_rdp_session_duration.toml
  rules/integrations/lmd/lateral_movement_ml_high_remote_file_size.toml
  rules/integrations/lmd/lateral_movement_ml_high_variance_rdp_session_duration.toml
  rules/integrations/lmd/lateral_movement_ml_rare_remote_file_directory.toml
  rules/integrations/lmd/lateral_movement_ml_rare_remote_file_extension.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_connections_from_a_source_ip.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_connections_to_a_destination_ip.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_rdp_processes.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_remote_file_transfers.toml
  rules/integrations/lmd/lateral_movement_ml_unusual_time_for_an_rdp_session.toml
  rules/integrations/lmd/lateral_movement_remote_file_creation_in_sensitive_directory.toml
  tests/test_all_rules.py
Labels: Rule: New, python, schema, backport: auto, Integration: LMD

#3142 [Rule Tuning] Update `LMD` Rules Min-Stack to `8.5`
  rules/integrations/lmd/lateral_movement_malicious_remote_file_creation.toml
  rules/integrations/lmd/lateral_movement_ml_high_mean_rdp_process_args.toml
  rules/integrations/lmd/lateral_movement_ml_high_mean_rdp_session_duration.toml
  rules/integrations/lmd/lateral_movement_ml_high_remote_file_size.toml
  rules/integrations/lmd/lateral_movement_ml_high_variance_rdp_session_duration.toml
  rules/integrations/lmd/lateral_movement_ml_rare_remote_file_directory.toml
  rules/integrations/lmd/lateral_movement_ml_rare_remote_file_extension.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_connections_from_a_source_ip.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_connections_to_a_destination_ip.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_rdp_processes.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_remote_file_transfers.toml
  rules/integrations/lmd/lateral_movement_ml_unusual_time_for_an_rdp_session.toml
  rules/integrations/lmd/lateral_movement_remote_file_creation_in_sensitive_directory.toml
Labels: Rule: Tuning, backport: auto, Area: DED

#3115 [FR] Added asset tag to expected tags
  CLI.md
  tests/test_all_rules.py
Labels: enhancement, python, community, schema, backport: auto, Area: DED

#3127 [Bug] Create Rule CLI Crashes on Required Arg
  detection_rules/cli_utils.py
  detection_rules/misc.py
Labels: bug, python, backport: auto

#3110 [Bug] Updated os.path calls to pathlib
  rta/adobe_hijack.py
  rta/bitsadmin_download.py
  rta/c2_dns_from_iso.py
  rta/certutil_file_obfuscation.py
  rta/clr_logs_creation.py
  rta/common.py
  rta/delete_bootconf.py
  rta/disable_windows_fw.py
  rta/evasion_loadlib_via_callback.py
  rta/evasion_ntdll_from_unusual_path.py
  rta/evasion_oversized_dll_load.py
  rta/evasion_unhook_ldrloaddll.py
  rta/exec_dll_file_compressed.py
  rta/exec_java_via_scripting.py
  rta/exec_persistence_from_iso.py
  rta/execution_iso_dll_rundll32.py
  rta/execution_iso_dll_sideload.py
  rta/file_create_exchange_um.py
  rta/file_create_ms_addins.py
  rta/file_create_mstsc_startup.py
  rta/file_create_outlook_vba.py
  rta/file_create_powershell_profile.py
  rta/file_create_scripting_startup.py
  rta/file_create_vbs_startup.py
  rta/file_delete_vbk.py
  rta/file_ms_template_macros.py
  rta/file_script_startup_folder.py
  rta/file_susp_browser_extension.py
  rta/git_creds_access.py
  rta/hosts_file_modify.py
  rta/installutil_network.py
  rta/iqy_file_writes.py
  rta/mac_office_descendant.py
  rta/modify_bootconf.py
  rta/ms_office_drop_exe.py
  rta/msoffice_addins_file.py
  rta/persistent_scripts.py
  rta/powershell_args.py
  rta/powershell_from_script.py
  rta/process_name_masquerade.py
  rta/recycle_bin_process.py
  rta/registry_hive_export.py
  rta/schtask_escalation.py
  rta/secure_file_deletion.py
  rta/sevenzip_encrypted.py
  rta/sticky_keys_write_execute.py
  rta/suspicious_office_descendant_fp.py
  rta/suspicious_powershell_download.py
  rta/suspicious_wscript_parent.py
  rta/system_restore_process.py
  rta/uac_cdssync.py
  rta/uac_mmc_deserialization.py
  rta/unusual_ms_tool_network.py
  rta/unusual_parent_child.py
  rta/user_dir_escalation.py
  rta/winrar_encrypted.py
  rta/winrar_startup_folder.py
Labels: bug, RTA, python, backport: auto, Area: DED

#3071 [New BBR] Sus. Process Started via tmux or screen
  rules_building_block/defense_evasion_sus_utility_executed_via_tmux_or_screen.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE, bbr
