Repository elastic/detection-rules, pull requests merged in 2023-04, with the labels that each got.

#2613 [New Rule] Lsass Process Access - Generic
  detection_rules/etc/non-ecs-schema.json
  rules/windows/credential_access_lsass_openprocess_api.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, v8.7.0

#2683 [Bug] Fixes Unit Test `test_integration_tag` in Older Branches
  tests/test_all_rules.py
Labels: bug, python, backport: auto

#2651 [New Rule] Suspicious Execution via Microsoft Office Add-Ins
  rules/windows/initial_access_execution_via_office_addins.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2693 [Rule Tuning] Suspicious service was installed in the system
  rules/windows/persistence_service_windows_service_winlog.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2691 [Rule Tuning] Potential LSASS Clone Creation via PssCaptureSnapShot
  rules/windows/credential_access_via_snapshot_lsass_clone_creation.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2692 [Rule Tuning] Potential PowerShell HackTool Script by Function Names
  rules/windows/execution_posh_hacktool_functions.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2679 [New Rule] new CWP rule to surface alerts from the cloud_defend integration
  rules/integrations/cloud_defend/container_workload_protection.toml
  rules/promotions/external_alerts.toml
Labels: Rule: New, backport: auto, Integration: Cloud Defend

#2672 [Rule Tuning] Suspicious Antimalware Scan Interface DLL (#2671)
  rules/windows/defense_evasion_amsi_bypass_dllhijack.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#2704 [Rule Tuning] Third-party Backup Files Deleted via Unexpected Process
  rules/windows/impact_backup_file_deletion.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2674 [Rule Tuning] Add Sequence for OAuth Authorization to Custom App - Google Workspace
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/google_workspace/initial_access_google_workspace_object_copied_from_external_drive_and_access_granted_to_custom_application.toml
  rules/integrations/google_workspace/initial_access_google_workspace_object_copied_from_external_source.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Google Workspace, backport: auto, v8.8.0

#2677 [New Rule] Google Workspace New OAuth Login from Third-Party Application
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/google_workspace/defense_evasion_google_workspace_new_oauth_login_from_third_party_application.toml
Labels: Domain: Cloud, Rule: New, Integration: Google Workspace, backport: auto

#2703 [Bug] Add `new-package` argument to `bump-pkg-versions` CLI
  .github/workflows/release-fleet.yml
  detection_rules/devtools.py
  detection_rules/etc/packages.yml
Labels: bug, python, backport: auto

#2712 [Rule Tuning] Update min-stack comments for Google Workspace Rules
  rules/integrations/google_workspace/collection_google_drive_ownership_transferred_via_google_workspace.toml
  rules/integrations/google_workspace/collection_google_workspace_custom_gmail_route_created_or_modified.toml
  rules/integrations/google_workspace/defense_evasion_application_removed_from_blocklist_in_google_workspace.toml
  rules/integrations/google_workspace/defense_evasion_domain_added_to_google_workspace_trusted_domains.toml
  rules/integrations/google_workspace/defense_evasion_google_workspace_bitlocker_setting_disabled.toml
  rules/integrations/google_workspace/defense_evasion_google_workspace_new_oauth_login_from_third_party_application.toml
  rules/integrations/google_workspace/defense_evasion_google_workspace_restrictions_for_google_marketplace_changed_to_allow_any_app.toml
  rules/integrations/google_workspace/impact_google_workspace_admin_role_deletion.toml
  rules/integrations/google_workspace/impact_google_workspace_mfa_enforcement_disabled.toml
  rules/integrations/google_workspace/initial_access_external_user_added_to_google_workspace_group.toml
  rules/integrations/google_workspace/initial_access_google_workspace_suspended_user_renewed.toml
  rules/integrations/google_workspace/persistence_application_added_to_google_workspace_domain.toml
  rules/integrations/google_workspace/persistence_google_workspace_2sv_policy_disabled.toml
  rules/integrations/google_workspace/persistence_google_workspace_admin_role_assigned_to_user.toml
  rules/integrations/google_workspace/persistence_google_workspace_api_access_granted_via_domain_wide_delegation_of_authority.toml
  rules/integrations/google_workspace/persistence_google_workspace_custom_admin_role_created.toml
  rules/integrations/google_workspace/persistence_google_workspace_policy_modified.toml
  rules/integrations/google_workspace/persistence_google_workspace_role_modified.toml
  rules/integrations/google_workspace/persistence_google_workspace_user_organizational_unit_changed.toml
  rules/integrations/google_workspace/persistence_mfa_disabled_for_google_workspace_organization.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Google Workspace, backport: auto

#2717 [Rule Tuning] Connection to Commonly Abused Web Services
  rules/windows/command_and_control_common_webservices.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2701 Patch to allow integration validation if ECS/beats fails
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  detection_rules/rule_validators.py
  tests/test_all_rules.py
Labels: bug, enhancement, test-suite, python, backport: auto

#2625 New Rule to identify defense evasion via PRoot
  rules/linux/defense_evasion_potential_proot_exploits.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.8.0

#2610 Correct Event Action to include endgame event schema
  rules/linux/credential_access_credential_dumping.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#2687 Tune Shell evasion Rule to incorporate GTFOArgs shell evasion
  rules/linux/execution_shell_evasion_linux_binary.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, v8.8.0

#2729 [Rule Tuning] Tune PowerShell rule FPs related to MS ATP
  rules/windows/defense_evasion_posh_compressed.toml
  rules/windows/defense_evasion_posh_process_injection.toml
  rules/windows/discovery_posh_suspicious_api_functions.toml
  rules/windows/privilege_escalation_posh_token_impersonation.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2728 [Rule Tuning] Connection to Commonly Abused Web Services
  rules/windows/command_and_control_common_webservices.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2715 [FR] Generate Historical Rule Files in Build Release Packages
  .github/workflows/pythonpackage.yml
  .github/workflows/release-fleet.yml
  detection_rules/devtools.py
  detection_rules/integrations.py
  detection_rules/packaging.py
Labels: enhancement, python, backport: auto

#2727 [Rule Tuning] Potential Credential Access via Windows Utilities
  rules/windows/credential_access_cmdline_dump_tool.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2730 [Rule Tuning] Component Object Model Hijacking
  rules/windows/persistence_suspicious_com_hijack_registry.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2706 Detect Mount Execution With Hidepid Parameter
  rules/linux/defense_evasion_mount_execution.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#2588 [Rule Tuning] Multiple Logon Failure from the same Source Address
  rules/windows/credential_access_bruteforce_multiple_logon_failure_same_srcip.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#2742 [Bug] Render transform logic on rule build
  detection_rules/rule.py
  tests/test_transform_fields.py
Labels: python, backport: auto

#2749 Update file path regex for /run
  rules/linux/execution_abnormal_process_id_file_created.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#2762 [FR] Add base release-docs workflow
  .github/workflows/release-docs.yml
Labels: documentation, ci/cd, backport: auto, v8.8.0

#2745 [FR] Add release-docs workflow and automation
  .github/workflows/release-docs.yml
  detection_rules/devtools.py
  detection_rules/docs.py
Labels: documentation, python, ci/cd, backport: auto, v8.8.0

#2764 [Bug] Add Cloud Defend to `definitions.NON_DATASET_PACKAGES`
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  detection_rules/schemas/definitions.py
Labels: python, schema, backport: auto
