Repository elastic/detection-rules, pull requests merged in 2023-05, with the labels that each got.

#2767 [Rule Tuning] added rule name override for cloud_defend integration rule
  rules/integrations/cloud_defend/container_workload_protection.toml
Labels: Rule: Tuning, backport: auto, v8.8.0

#2685 [New Rule] Commonly Abused Remote Access Tool Downloaded (New Terms)
  detection_rules/etc/non-ecs-schema.json
  rules/windows/command_and_control_new_terms_commonly_abused_rat_execution.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2737 [rule tuning] modified std auth module or config
  rules/cross-platform/persistence_credential_access_modify_auth_module_or_config.toml
Labels: OS: Linux, Rule: Tuning, backport: auto

#2760 [Rule Tuning] Tuning 'AWS Access Secret in Secrets Manager' to New Terms
  rules/integrations/aws/credential_access_new_terms_secretsmanager_getsecretvalue.toml
Labels: Integration: AWS, Domain: Cloud, backport: auto

#2718 [FR] Generate mdx docs
  detection_rules/devtools.py
  detection_rules/docs.py
  detection_rules/etc/downloadable_updates.json
Labels: python, backport: auto, v8.8.0

#2766 [Rule Tuning] Startup or Run Key Registry Modification
  rules/windows/persistence_run_key_and_startup_broad.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2585 [Rule Tuning] Potential Shell via Web Server
  rules/_deprecated/persistence_shell_activity_by_web_server.toml
  rules/linux/persistence_linux_shell_activity_via_web_server.toml
Labels: OS: Linux, Rule: Deprecation, Rule: Tuning, Domain: Endpoint, backport: auto

#2653 [New rule] Sus File Creation in init.d for Persistence Detected
  rules/linux/persistence_init_d_file_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2608 [New Rules] Persistence through MOTD
  rules/linux/persistence_message_of_the_day_creation.toml
  rules/linux/persistence_message_of_the_day_execution.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2751 Rule to detect Potential Linux Credential Dumping via Proc Filesystem
  rules/linux/credential_access_proc_credential_dumping.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.8.0

#2779 Update trigger-react.yml
  .github/workflows/trigger-react.yml
Labels: backport: auto

#2761 [Rule Tuning] Make Rules Compatible with Windows Forwarded Logs
  rules/windows/credential_access_bruteforce_admin_account.toml
  rules/windows/credential_access_bruteforce_multiple_logon_failure_followed_by_success.toml
  rules/windows/credential_access_bruteforce_multiple_logon_failure_same_srcip.toml
  rules/windows/credential_access_dcsync_newterm_subjectuser.toml
  rules/windows/credential_access_dcsync_replication_rights.toml
  rules/windows/credential_access_disable_kerberos_preauth.toml
  rules/windows/credential_access_ldap_attributes.toml
  rules/windows/credential_access_lsass_memdump_handle_access.toml
  rules/windows/credential_access_remote_sam_secretsdump.toml
  rules/windows/credential_access_saved_creds_vault_winlog.toml
  rules/windows/credential_access_seenabledelegationprivilege_assigned_to_user.toml
  rules/windows/credential_access_shadow_credentials.toml
  rules/windows/credential_access_spn_attribute_modified.toml
  rules/windows/credential_access_suspicious_winreg_access_via_sebackup_priv.toml
  rules/windows/defense_evasion_clearing_windows_security_logs.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/execution_posh_hacktool_functions.toml
  rules/windows/lateral_movement_remote_service_installed_winlog.toml
  rules/windows/lateral_movement_remote_task_creation_winlog.toml
  rules/windows/persistence_ad_adminsdholder.toml
  rules/windows/persistence_dontexpirepasswd_account.toml
  rules/windows/persistence_msds_alloweddelegateto_krbtgt.toml
  rules/windows/persistence_remote_password_reset.toml
  rules/windows/persistence_scheduled_task_creation_winlog.toml
  rules/windows/persistence_scheduled_task_updated.toml
  rules/windows/persistence_sdprop_exclusion_dsheuristics.toml
  rules/windows/persistence_service_windows_service_winlog.toml
  rules/windows/persistence_temp_scheduled_task.toml
  rules/windows/persistence_user_account_added_to_privileged_group_ad.toml
  rules/windows/persistence_user_account_creation_event_logs.toml
  rules/windows/privilege_escalation_create_process_as_different_user.toml
  rules/windows/privilege_escalation_credroaming_ldap.toml
  rules/windows/privilege_escalation_group_policy_iniscript.toml
  rules/windows/privilege_escalation_group_policy_privileged_groups.toml
  rules/windows/privilege_escalation_group_policy_scheduled_task.toml
  rules/windows/privilege_escalation_krbrelayup_service_creation.toml
  rules/windows/privilege_escalation_samaccountname_spoofing_attack.toml
  rules/windows/privilege_escalation_suspicious_dnshostname_update.toml
  rules/windows/privilege_escalation_windows_service_via_unusual_client.toml
  tests/test_all_rules.py
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2756 [New Rule] Netcat Listener Established Inside A Container
  rules/integrations/cloud_defend/execution_netcat_listener_established_inside_a_container.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.8.0, container, Integration: Cloud Defend

#2757 [New Rule] File Made Executable via Chmod Inside A Container
  rules/integrations/cloud_defend/execution_file_made_executable_via_chmod_inside_a_container.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.8.0, container, Integration: Cloud Defend

#2759 [New Rule] Suspicious Network Tool Launched Inside A Container
  rules/integrations/cloud_defend/discovery_suspicious_network_tool_launched_inside_a_container.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.8.0, container, Integration: Cloud Defend

#2789 [New Rule] Sensitive Keys Or Passwords Searched For Inside A Container
  rules/integrations/cloud_defend/credential_access_sensitive_keys_or_passwords_search_inside_a_container.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.8.0, container, Integration: Cloud Defend

#2790 [New Rule] Sensitive Files Compression Inside A Container
  rules/integrations/cloud_defend/credential_access_collection_sensitive_files_compression_inside_a_container.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.8.0, container, Integration: Cloud Defend

#2791 [New Rule] Interactive Exec Command Launched Against A Running Container
  rules/integrations/cloud_defend/execution_interactive_exec_to_container.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.8.0, container, Integration: Cloud Defend

#2792 [New Rule] SSH Authorized Keys File Modified Inside a Container
  rules/integrations/cloud_defend/persistence_ssh_authorized_keys_modification_inside_a_container.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.8.0, container, Integration: Cloud Defend

#2793 [New Rule] SSH Connection Established Inside A Running Container
  rules/integrations/cloud_defend/initial_access_ssh_connection_established_inside_a_container.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.8.0, container, Integration: Cloud Defend

#2794 [New Rule] SSH Process Launched From Inside A Container
  rules/integrations/cloud_defend/lateral_movement_ssh_process_launched_inside_a_container.toml
Labels: OS: Linux, Rule: New, backport: auto, v8.8.0, container, Integration: Cloud Defend

#2741 [Rule Tuning] System Information Discovery via Windows Command Shell
  rules/windows/discovery_files_dir_systeminfo_via_cmd.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2726 [Rule Tuning] Adding Hidden File Attribute via Attrib
  rules/windows/defense_evasion_adding_the_hidden_file_attribute_with_via_attribexe.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2540 [Security Content] Add Google Workspace Investigation Guides
  rules/integrations/google_workspace/collection_google_drive_ownership_transferred_via_google_workspace.toml
  rules/integrations/google_workspace/collection_google_workspace_custom_gmail_route_created_or_modified.toml
  rules/integrations/google_workspace/defense_evasion_application_removed_from_blocklist_in_google_workspace.toml
  rules/integrations/google_workspace/defense_evasion_domain_added_to_google_workspace_trusted_domains.toml
  rules/integrations/google_workspace/defense_evasion_google_workspace_bitlocker_setting_disabled.toml
  rules/integrations/google_workspace/defense_evasion_google_workspace_restrictions_for_google_marketplace_changed_to_allow_any_app.toml
  rules/integrations/google_workspace/impact_google_workspace_admin_role_deletion.toml
  rules/integrations/google_workspace/persistence_application_added_to_google_workspace_domain.toml
  rules/integrations/google_workspace/persistence_google_workspace_2sv_policy_disabled.toml
  rules/integrations/google_workspace/persistence_google_workspace_admin_role_assigned_to_user.toml
  rules/integrations/google_workspace/persistence_google_workspace_api_access_granted_via_domain_wide_delegation_of_authority.toml
  rules/integrations/google_workspace/persistence_google_workspace_custom_admin_role_created.toml
  rules/integrations/google_workspace/persistence_google_workspace_password_policy_modified.toml
  rules/integrations/google_workspace/persistence_google_workspace_policy_modified.toml
  rules/integrations/google_workspace/persistence_google_workspace_role_modified.toml
  rules/integrations/google_workspace/persistence_google_workspace_user_organizational_unit_changed.toml
  rules/integrations/google_workspace/persistence_mfa_disabled_for_google_workspace_organization.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Google Workspace, backport: auto, Security Content, v8.8.0

#2800 [Bug] Fix misspelled variable call for `deprecated_rules` in doc generation
  detection_rules/docs.py
Labels: bug, python, backport: auto

#2812 [Bug] Adding additional dependency `typing-extensions`
  .github/workflows/get-target-branches.yml
  .github/workflows/lock-versions.yml
  .github/workflows/manual-backport.yml
  .github/workflows/pythonpackage.yml
  .github/workflows/release-docs.yml
  .github/workflows/release-fleet.yml
  pyproject.toml
Labels: bug, python, backport: auto

#2781 [Rule Tuning] Interactive Terminal Spawned via Python
  rules/linux/execution_python_tty_shell.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto
