Repository elastic/detection-rules, pull requests merged in 2023-03, with the labels that each got.

#2591 New Rule to identify iptables or firewall disabling.
  rules/linux/defense_evasion_attempt_to_disable_iptables_or_firewall.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, v8.8.0

#2604 New Rule to identify potential linux credential dumping
  rules/linux/credential_access_credential_dumping.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, v8.8.0

#2605 [Bug] Fix `release-*` Github Workflows and Review `integrations-pr` command
  .github/workflows/release-fleet.yml
  .github/workflows/release-kibana.yml
  detection_rules/devtools.py
Labels: bug, enhancement, python, backport: auto, v8.7.0

#2534 [Security Content] Add Investigation Guides to Windows Rules - 2
  rules/ml/persistence_ml_rare_process_by_host_windows.toml
  rules/ml/persistence_ml_windows_anomalous_process_all_hosts.toml
  rules/ml/persistence_ml_windows_anomalous_process_creation.toml
  rules/windows/command_and_control_certutil_network_connection.toml
  rules/windows/command_and_control_common_webservices.toml
  rules/windows/command_and_control_remote_file_copy_desktopimgdownldr.toml
  rules/windows/command_and_control_remote_file_copy_mpcmdrun.toml
  rules/windows/command_and_control_remote_file_copy_powershell.toml
  rules/windows/command_and_control_remote_file_copy_scripts.toml
  rules/windows/command_and_control_sunburst_c2_activity_detected.toml
  rules/windows/command_and_control_teamviewer_remote_file_copy.toml
  rules/windows/credential_access_bruteforce_admin_account.toml
  rules/windows/credential_access_bruteforce_multiple_logon_failure_followed_by_success.toml
  rules/windows/credential_access_bruteforce_multiple_logon_failure_same_srcip.toml
  rules/windows/credential_access_credential_dumping_msbuild.toml
  rules/windows/credential_access_kerberoasting_unusual_process.toml
  rules/windows/credential_access_lsass_memdump_file_created.toml
  rules/windows/credential_access_lsass_memdump_handle_access.toml
  rules/windows/defense_evasion_execution_msbuild_started_renamed.toml
  rules/windows/defense_evasion_iis_httplogging_disabled.toml
  rules/windows/defense_evasion_masquerading_renamed_autoit.toml
  rules/windows/defense_evasion_masquerading_werfault.toml
  rules/windows/defense_evasion_network_connection_from_windows_binary.toml
  rules/windows/defense_evasion_posh_assembly_load.toml
  rules/windows/defense_evasion_posh_compressed.toml
  rules/windows/defense_evasion_suspicious_process_access_direct_syscall.toml
  rules/windows/defense_evasion_system_critical_proc_abnormal_file_activity.toml
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/execution_command_shell_started_by_svchost.toml
  rules/windows/execution_from_unusual_path_cmdline.toml
  rules/windows/execution_posh_portable_executable.toml
  rules/windows/execution_posh_psreflect.toml
  rules/windows/execution_via_compiled_html_file.toml
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
  rules/windows/lateral_movement_remote_services.toml
  rules/windows/persistence_adobe_hijack_persistence.toml
  rules/windows/persistence_appinitdlls_registry.toml
  rules/windows/persistence_evasion_registry_startup_shell_folder_modified.toml
  rules/windows/persistence_priv_escalation_via_accessibility_features.toml
  rules/windows/persistence_run_key_and_startup_broad.toml
  rules/windows/persistence_startup_folder_file_written_by_suspicious_process.toml
  rules/windows/persistence_startup_folder_file_written_by_unsigned_process.toml
  rules/windows/persistence_startup_folder_scripts.toml
  rules/windows/persistence_via_update_orchestrator_service_hijack.toml
  rules/windows/privilege_escalation_installertakeover.toml
  rules/windows/privilege_escalation_named_pipe_impersonation.toml
  rules/windows/privilege_escalation_printspooler_suspicious_spl_file.toml
  rules/windows/privilege_escalation_uac_bypass_event_viewer.toml
  rules/windows/privilege_escalation_uac_bypass_mock_windir.toml
  rules/windows/privilege_escalation_uac_bypass_winfw_mmc_hijack.toml
  rules/windows/privilege_escalation_unusual_parentchild_relationship.toml
Labels: ML, OS: Windows, Domain: Endpoint, backport: auto, Security Content, v8.7.0

#2592 [New Rule] Google Workspace - Suspended User Account Renewed
  rules/integrations/google_workspace/initial_access_google_workspace_suspended_user_renewed.toml
Labels: Domain: Cloud, Rule: New, Integration: Google Workspace, backport: auto, v8.8.0

#2576 [Deprecate Rule] Google Workspace User Group Access Modified to Allow External Access
  rules/_deprecated/persistence_google_workspace_user_group_access_modified_to_allow_external_access.toml
Labels: Rule: Deprecation, Integration: Google Workspace, backport: auto, v8.8.0

#2614 [Rule Tuning] Potential Antimalware Scan Interface Bypass via PowerShell
  rules/windows/defense_evasion_amsi_bypass_powershell.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2615 [Test] Restrict host.os.type unit test to 8.3+
  tests/test_all_rules.py
Labels: community, backport: auto

#2626 Speed up unit tests
  tests/base.py
Labels: backport: auto

#2622 [Rule Tuning] Process Created with an Elevated Token (TiWorker.exe)
  rules/windows/privilege_escalation_via_token_theft.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2629 [Tweak] Use global constants to speed up tests
  tests/base.py
Labels: backport: auto

#2612 [FR] Add enhancements to `release-fleet` workflow
  .github/workflows/release-fleet.yml
Labels: enhancement, python, backport: auto, v8.7.0

#2635 Update manual-backport.yml
  .github/workflows/manual-backport.yml
Labels: ci/cd, backport: auto

#2636 Update manual-backport.yml
  .github/workflows/manual-backport.yml
Labels: ci/cd, backport: auto

#2637 Update manual-backport.yml
  .github/workflows/manual-backport.yml
Labels: ci/cd, backport: auto

#2638 Update manual-backport.yml
  .github/workflows/manual-backport.yml
Labels: ci/cd, backport: auto

#2639 Update manual-backport.yml
  .github/workflows/manual-backport.yml
Labels: ci/cd, backport: auto

#2640 Update commit-and-push.sh
  detection_rules/etc/commit-and-push.sh
Labels: ci/cd, backport: auto

#2600 [Rule Tuning] Abnormal PID or Lock File Created
  rules/linux/execution_abnormal_process_id_file_created.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#2589 [Rule Tunings] System Time & Service Discovery
  rules/windows/discovery_system_service_discovery.toml
  rules/windows/discovery_system_time_discovery.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2607 [New Rule] RC Script Creation
  rules/linux/persistence_rc_script_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#2595 [Rule Tuning] Privileged SSH Brute Force Detected
  rules/linux/credential_access_potential_linux_ssh_bruteforce_root.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#2599 [Rule Tuning] Namespace Manipulation Using Unshare
  rules/linux/privilege_escalation_unshare_namespace_manipulation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#2577 [New Rule] External User Added to Private Organization Group
  rules/integrations/google_workspace/initial_access_external_user_added_to_google_workspace_group.toml
Labels: Domain: Cloud, Rule: New, Integration: Google Workspace, backport: auto

#2627 [New Rule] Google Workspace Resource Copied from External Drive
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/google_workspace/initial_access_google_workspace_object_copied_from_external_source.toml
Labels: Domain: Cloud, Rule: New, Integration: Google Workspace, backport: auto, v8.8.0

#2531 New Rule: Suspicious Mining Process Creation Event
  rules/linux/execution_suspicious_mining_process_creation_events.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, python, backport: auto

#2656 [Rule Tuning] Untrusted Driver Loaded
  rules/windows/defense_evasion_untrusted_driver_loaded.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2621 [RTA] Adds RTAs for endpoint rules
  rta/exec_cscript_archive_args.py
  rta/exec_dnguard_program.py
  rta/exec_java_via_scripting.py
  rta/exec_msiexec_dllregisterserver.py
  rta/exec_shortcut_embedded_obj.py
  rta/exec_vs_prebuildevent.py
  rta/exec_vsls_agent.py
  rta/file_ms_template_macros.py
  rta/file_script_startup_folder.py
  rta/file_susp_browser_extension.py
  rta/image_load_taskhost.py
  rta/image_load_vaultcli.py
  rta/msoffice_addins_file.py
  rta/reg_mod_ifeo.py
  rta/reg_mod_unusual_startup_folder.py
  rta/suspicious_msiexec_child.py
  rta/uac_windir_masq.py
  rta/unusual_parent_chrome_extension.py
Labels: RTA, python, backport: auto

#2661 [FR] Add new macOS RTAs for Endpoint Rules - 2
  rta/builtin_cmd_file_delete.py
  rta/delete_quarantine_attrib.py
  rta/deprecated/_discovery_builtin_cmd.py
  rta/deprecated/_funzip_extract_content.py
  rta/deprecated/_persistence_code_extension.py
  rta/deprecated/_persistence_reopened_app.py
  rta/deprecated/_persistence_terminal_plist_mod.py
  rta/dsenableroot_account.py
  rta/eicar.py
  rta/openssl_decode_payload.py
  rta/payload_decode_bash_cmds.py
  rta/persistence_mail_plist.py
  rta/persistence_plist_masquerade.py
  rta/persistence_startup_item.py
  rta/wizardupdate_infection.py
  rta/xcsset_infection.py
Labels: OS: macOS, RTA, backport: auto, v8.7.0

#2538 [Rule Tuning] Uncommon Registry Persistence Change
  rules/windows/persistence_registry_uncommon.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2660 [FR] Support Rule Alert Suppression in Rule Schema
  detection_rules/rule.py
  detection_rules/schemas/definitions.py
  tests/test_all_rules.py
Labels: OS: Linux, Domain: Endpoint, python, schema, backport: auto

#2670 [New Rule] Potential Pass The Hash
  rules/windows/lateral_movement_alternate_creds_pth.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2676 Update layer version to 4.4
  detection_rules/navigator.py
Labels: python, backport: auto

#2680 Add Rule Id and Rule Name to the RTA Test List Function
  rta/__init__.py
Labels: RTA, backport: auto
