Repository elastic/detection-rules, pull requests merged in 2023-02, with the labels that each got.

#2505 [Rule Tuning] Unusual File Modification by dns.exe
  rules/windows/initial_access_unusual_dns_service_file_writes.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2510 [New Rules] Code Signing Policy Modification
  rules/windows/defense_evasion_code_signing_policy_modification_builtin_tools.toml
  rules/windows/defense_evasion_code_signing_policy_modification_registry.toml
Labels: OS: macOS, Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2516 [Rule Tuning] Persistence via Windows Service
  rules/windows/persistence_service_windows_service_winlog.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#2463 [New Rules] WSL Related Rules
  rules/windows/defense_evasion_wsl_bash_exec.toml
  rules/windows/defense_evasion_wsl_child_process.toml
  rules/windows/defense_evasion_wsl_enabled_via_dism.toml
  rules/windows/defense_evasion_wsl_filesystem.toml
  rules/windows/defense_evasion_wsl_kalilinux.toml
  rules/windows/defense_evasion_wsl_registry_modification.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2508 [New Rule] Enumerating Domain Trusts via Dsquery.exe
  rules/windows/discovery_enumerating_domain_trusts_via_dsquery.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2509 [Rule Tuning] Unusual Network Activity from a Windows System Binary
  rules/windows/defense_evasion_network_connection_from_windows_binary.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2433 [New Rule] FirstTimeSeen User Performing DCSync
  rules/windows/credential_access_dcsync_newterm_subjectuser.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#2470 [FR] Add Integration Schema Query Validation
  detection_rules/beats.py
  detection_rules/devtools.py
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  detection_rules/integrations.py
  detection_rules/rule.py
  detection_rules/rule_validators.py
  detection_rules/schemas/definitions.py
  detection_rules/utils.py
  rules/integrations/azure/initial_access_consent_grant_attack_via_azure_registered_application.toml
  rules/linux/credential_access_bruteforce_password_guessing.toml
  rules/linux/credential_access_potential_linux_ssh_bruteforce.toml
  rules/linux/credential_access_potential_linux_ssh_bruteforce_root.toml
  rules/windows/collection_email_outlook_mailbox_via_com.toml
  rules/windows/credential_access_bruteforce_admin_account.toml
  rules/windows/credential_access_bruteforce_multiple_logon_failure_followed_by_success.toml
  rules/windows/credential_access_bruteforce_multiple_logon_failure_same_srcip.toml
  rules/windows/credential_access_dcsync_replication_rights.toml
  rules/windows/credential_access_disable_kerberos_preauth.toml
  rules/windows/credential_access_ldap_attributes.toml
  rules/windows/credential_access_lsass_memdump_handle_access.toml
  rules/windows/credential_access_remote_sam_secretsdump.toml
  rules/windows/credential_access_saved_creds_vault_winlog.toml
  rules/windows/credential_access_seenabledelegationprivilege_assigned_to_user.toml
  rules/windows/credential_access_shadow_credentials.toml
  rules/windows/credential_access_spn_attribute_modified.toml
  rules/windows/credential_access_suspicious_winreg_access_via_sebackup_priv.toml
  rules/windows/defense_evasion_clearing_windows_security_logs.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/discovery_whoami_command_activity.toml
  rules/windows/lateral_movement_remote_service_installed_winlog.toml
  rules/windows/lateral_movement_remote_task_creation_winlog.toml
  rules/windows/lateral_movement_service_control_spawned_script_int.toml
  rules/windows/persistence_ad_adminsdholder.toml
  rules/windows/persistence_dontexpirepasswd_account.toml
  rules/windows/persistence_msds_alloweddelegateto_krbtgt.toml
  rules/windows/persistence_remote_password_reset.toml
  rules/windows/persistence_scheduled_task_creation_winlog.toml
  rules/windows/persistence_scheduled_task_updated.toml
  rules/windows/persistence_sdprop_exclusion_dsheuristics.toml
  rules/windows/persistence_service_windows_service_winlog.toml
  rules/windows/persistence_temp_scheduled_task.toml
  rules/windows/persistence_user_account_added_to_privileged_group_ad.toml
  rules/windows/persistence_user_account_creation_event_logs.toml
  rules/windows/privilege_escalation_create_process_as_different_user.toml
  rules/windows/privilege_escalation_credroaming_ldap.toml
  rules/windows/privilege_escalation_group_policy_iniscript.toml
  rules/windows/privilege_escalation_group_policy_privileged_groups.toml
  rules/windows/privilege_escalation_group_policy_scheduled_task.toml
  rules/windows/privilege_escalation_krbrelayup_service_creation.toml
  rules/windows/privilege_escalation_samaccountname_spoofing_attack.toml
  rules/windows/privilege_escalation_suspicious_dnshostname_update.toml
  rules/windows/privilege_escalation_windows_service_via_unusual_client.toml
  tests/test_all_rules.py
Labels: Integration: Azure, Domain: Cloud, OS: Linux, OS: Windows, Domain: Endpoint, python, schema, backport: auto, v8.7.0

#2519 Resolve backport checks on 2470 by checking Version min_stack
  detection_rules/integrations.py
Labels: bug, python, backport: auto, v8.7.0

#2520 Check integrations cross major versions for older release support
  detection_rules/etc/non-ecs-schema.json
  detection_rules/integrations.py
Labels: bug, python, backport: auto, v8.7.0

#2522 [Investigation Guide] Update defense_evasion_unusual_ads_file_creation.toml
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#2518 Updated ECS mappings from keyword to wildcard
  detection_rules/etc/endgame_schemas/8.4.0/endgame_ecs_mapping.json.gz
Labels: backport: auto, 8.4 candidate

#2503 [FR] Adapt PyPi semver Library and Remove Custom
  detection_rules/attack.py
  detection_rules/beats.py
  detection_rules/devtools.py
  detection_rules/docs.py
  detection_rules/ecs.py
  detection_rules/integrations.py
  detection_rules/mixins.py
  detection_rules/rule.py
  detection_rules/schemas/__init__.py
  detection_rules/schemas/stack_compat.py
  detection_rules/semver.py
  detection_rules/version_lock.py
  pyproject.toml
  tests/test_all_rules.py
  tests/test_schemas.py
  tests/test_version_locking.py
Labels: enhancement, python, schema, backport: auto, v8.7.0

#2527 [Bug] Patch fix for #2503
  detection_rules/rule.py
  detection_rules/version_lock.py
Labels: bug, python, backport: auto

#2528 [Bug] Patch fix for 2503 update addressing separate bugs
  detection_rules/rule.py
  tests/test_all_rules.py
Labels: bug, python, backport: auto

#2530 [Rule Tuning] Rule Tunings to add T1078 technique and subtechniques
  rules/ml/credential_access_ml_auth_spike_in_logon_events_from_a_source_ip.toml
  rules/ml/initial_access_ml_auth_rare_user_logon.toml
  rules/ml/initial_access_ml_windows_anomalous_user_name.toml
Labels: ML, Rule: Tuning, backport: auto

#2524 Validate against beats and integrations schemas
  detection_rules/rule_validators.py
  tests/base.py
Labels: python, schema, backport: auto, v8.7.0

#2526 Rule Tuning Update MITRE Details
  rules/cross-platform/execution_python_script_in_cmdline.toml
  rules/ml/persistence_ml_windows_anomalous_path_activity.toml
  rules/ml/persistence_ml_windows_anomalous_process_all_hosts.toml
  rules/windows/defense_evasion_unusual_network_connection_via_rundll32.toml
  rules/windows/execution_command_shell_via_rundll32.toml
  rules/windows/execution_from_unusual_path_cmdline.toml
  rules/windows/impact_volume_shadow_copy_deletion_or_resized_via_vssadmin.toml
  rules/windows/initial_access_scripts_process_started_via_wmi.toml
  rules/windows/initial_access_suspicious_ms_office_child_process.toml
Labels: ML, OS: Windows, Domain: Endpoint, backport: auto

#2541 [Bug] Removed Strip Calls in Favor of F-Strings with Major and Minor Versions
  detection_rules/devtools.py
  detection_rules/rule.py
  tests/test_version_locking.py
Labels: bug, python, backport: auto

#2482 [Rule Tuning] Add missing techniques
  rules/macos/discovery_users_domain_built_in_commands.toml
  rules/windows/execution_enumeration_via_wmiprvse.toml
  rules/windows/lateral_movement_mount_hidden_or_webdav_share_net.toml
Labels: OS: macOS, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2537 [Rule Tuning] Add T1018 for higher coverage
  rules/windows/discovery_enumerating_domain_trusts_via_dsquery.toml
  rules/windows/discovery_enumerating_domain_trusts_via_nltest.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2500 [Rule Tuning] Remote System Discovery Commands
  rules/windows/discovery_remote_system_discovery_commands_windows.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#2513 [Security Content] Fix verbiage used on Osquery Note
  rules/ml/persistence_ml_rare_process_by_host_windows.toml
  rules/ml/persistence_ml_windows_anomalous_process_all_hosts.toml
  rules/ml/persistence_ml_windows_anomalous_process_creation.toml
  rules/windows/command_and_control_certutil_network_connection.toml
  rules/windows/command_and_control_common_webservices.toml
  rules/windows/command_and_control_remote_file_copy_desktopimgdownldr.toml
  rules/windows/command_and_control_remote_file_copy_mpcmdrun.toml
  rules/windows/command_and_control_remote_file_copy_powershell.toml
  rules/windows/command_and_control_remote_file_copy_scripts.toml
  rules/windows/command_and_control_sunburst_c2_activity_detected.toml
  rules/windows/command_and_control_teamviewer_remote_file_copy.toml
  rules/windows/credential_access_credential_dumping_msbuild.toml
  rules/windows/credential_access_kerberoasting_unusual_process.toml
  rules/windows/credential_access_lsass_memdump_handle_access.toml
  rules/windows/defense_evasion_posh_assembly_load.toml
  rules/windows/defense_evasion_posh_compressed.toml
  rules/windows/defense_evasion_suspicious_process_access_direct_syscall.toml
  rules/windows/defense_evasion_system_critical_proc_abnormal_file_activity.toml
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/execution_command_shell_started_by_svchost.toml
  rules/windows/execution_from_unusual_path_cmdline.toml
  rules/windows/execution_posh_portable_executable.toml
  rules/windows/execution_posh_psreflect.toml
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
  rules/windows/lateral_movement_remote_services.toml
  rules/windows/persistence_adobe_hijack_persistence.toml
  rules/windows/persistence_evasion_registry_startup_shell_folder_modified.toml
  rules/windows/persistence_priv_escalation_via_accessibility_features.toml
  rules/windows/persistence_run_key_and_startup_broad.toml
  rules/windows/persistence_startup_folder_file_written_by_suspicious_process.toml
  rules/windows/persistence_startup_folder_file_written_by_unsigned_process.toml
  rules/windows/persistence_startup_folder_scripts.toml
  rules/windows/persistence_via_update_orchestrator_service_hijack.toml
  rules/windows/privilege_escalation_installertakeover.toml
  rules/windows/privilege_escalation_printspooler_suspicious_spl_file.toml
  rules/windows/privilege_escalation_uac_bypass_event_viewer.toml
  rules/windows/privilege_escalation_uac_bypass_mock_windir.toml
  rules/windows/privilege_escalation_uac_bypass_winfw_mmc_hijack.toml
  rules/windows/privilege_escalation_unusual_parentchild_relationship.toml
  tests/test_all_rules.py
Labels: ML, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Security Content

#2521 [Security Content] Add Investigation Guides to Windows rules
  rules/windows/collection_email_powershell_exchange_mailbox.toml
  rules/windows/collection_posh_audio_capture.toml
  rules/windows/collection_posh_clipboard_capture.toml
  rules/windows/collection_posh_keylogger.toml
  rules/windows/collection_posh_mailbox.toml
  rules/windows/collection_posh_screen_grabber.toml
  rules/windows/credential_access_dcsync_replication_rights.toml
  rules/windows/credential_access_lsass_memdump_file_created.toml
  rules/windows/credential_access_shadow_credentials.toml
  rules/windows/credential_access_wireless_creds_dumping.toml
  rules/windows/defense_evasion_amsi_bypass_dllhijack.toml
  rules/windows/defense_evasion_amsi_bypass_powershell.toml
  rules/windows/defense_evasion_amsienable_key_mod.toml
  rules/windows/defense_evasion_disable_posh_scriptblocklogging.toml
  rules/windows/defense_evasion_network_connection_from_windows_binary.toml
  rules/windows/discovery_files_dir_systeminfo_via_cmd.toml
  rules/windows/execution_psexec_lateral_movement_command.toml
  rules/windows/execution_suspicious_psexesvc.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto, Security Content, v8.7.0

#2594 [Rule Tuning] Potential Shadow File Read via CLI
  rules/linux/privilege_escalation_shadow_file_read.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto
