Repository elastic/detection-rules, pull requests merged in 2024-11, with the labels that each got.

#4208 [FR] [DAC] Add support for Kibana spaces with names that do not match identifiers
  lib/kibana/kibana/__init__.py
  lib/kibana/kibana/connector.py
  lib/kibana/pyproject.toml
Labels: enhancement, python, backport: auto, kibana-module, detections-as-code, meta:rapid-merge

#4221 [Rule Tuning] 3rd Party EDR - Add Crowdstrike FDR support - 2
  rules/windows/defense_evasion_enable_network_discovery_with_netsh.toml
  rules/windows/defense_evasion_execution_control_panel_suspicious_args.toml
  rules/windows/defense_evasion_execution_msbuild_started_by_office_app.toml
  rules/windows/defense_evasion_execution_msbuild_started_by_system_process.toml
  rules/windows/defense_evasion_suspicious_managedcode_host_process.toml
  rules/windows/defense_evasion_suspicious_zoom_child_process.toml
  rules/windows/defense_evasion_unusual_dir_ads.toml
  rules/windows/defense_evasion_workfolders_control_execution.toml
  rules/windows/defense_evasion_wsl_kalilinux.toml
  rules/windows/discovery_enumerating_domain_trusts_via_nltest.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4222 [Rule Tuning] 3rd Party EDR - Add Crowdstrike FDR support - 3
  rules/windows/defense_evasion_masquerading_trusted_directory.toml
  rules/windows/defense_evasion_wsl_child_process.toml
  rules/windows/execution_apt_solarwinds_backdoor_child_cmd_powershell.toml
  rules/windows/execution_enumeration_via_wmiprvse.toml
  rules/windows/execution_initial_access_foxmail_exploit.toml
  rules/windows/execution_mofcomp.toml
  rules/windows/execution_suspicious_cmd_wmi.toml
  rules/windows/execution_suspicious_pdf_reader.toml
  rules/windows/execution_via_compiled_html_file.toml
  rules/windows/execution_via_mmc_console_file_unusual_path.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4210 [New Rule] AWS STS AssumeRole with New MFA Device [Rule Tuning] AWS IAM Deactivation of MFA Device
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/aws/impact_iam_deactivate_mfa_device.toml
  rules/integrations/aws/persistence_sts_assume_role_with_new_mfa.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, Rule: Tuning, backport: auto

#4225 [Rule Tuning] 3rd Party EDR - Add Crowdstrike FDR support - 4
  rules/windows/execution_windows_powershell_susp_args.toml
  rules/windows/impact_volume_shadow_copy_deletion_via_powershell.toml
  rules/windows/initial_access_execution_from_inetcache.toml
  rules/windows/initial_access_suspicious_ms_exchange_process.toml
  rules/windows/initial_access_suspicious_ms_office_child_process.toml
  rules/windows/initial_access_suspicious_ms_outlook_child_process.toml
  rules/windows/lateral_movement_execution_from_tsclient_mup.toml
  rules/windows/lateral_movement_remote_file_copy_hidden_share.toml
  rules/windows/lateral_movement_unusual_dns_service_children.toml
  rules/windows/persistence_powershell_exch_mailbox_activesync_add_device.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4230 [Rule Tuning] 3rd Party EDR - Add Crowdstrike FDR support - 5
  rules/windows/collection_winrar_encryption.toml
  rules/windows/persistence_system_shells_via_services.toml
  rules/windows/persistence_user_account_creation.toml
  rules/windows/persistence_via_application_shimming.toml
  rules/windows/persistence_via_telemetrycontroller_scheduledtask_hijack.toml
  rules/windows/persistence_webshell_detection.toml
  rules/windows/privilege_escalation_uac_bypass_diskcleanup_hijack.toml
  rules/windows/privilege_escalation_uac_bypass_event_viewer.toml
  rules/windows/privilege_escalation_uac_bypass_mock_windir.toml
  rules/windows/privilege_escalation_unusual_parentchild_relationship.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4231 [Rule Tuning] 3rd Party EDR - Add Crowdstrike FDR support - 6
  rules/windows/command_and_control_certreq_postdata.toml
  rules/windows/command_and_control_remote_file_copy_desktopimgdownldr.toml
  rules/windows/command_and_control_remote_file_copy_mpcmdrun.toml
  rules/windows/credential_access_copy_ntds_sam_volshadowcp_cmdline.toml
  rules/windows/credential_access_dump_registry_hives.toml
  rules/windows/credential_access_iis_connectionstrings_dumping.toml
  rules/windows/credential_access_saved_creds_vaultcmd.toml
  rules/windows/credential_access_symbolic_link_to_shadow_copy_created.toml
  rules/windows/credential_access_veeam_commands.toml
  rules/windows/lateral_movement_via_wsus_update.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4234 [Rule Tuning] 3rd Party EDR - Add Crowdstrike FDR support - 9
  rules/windows/discovery_enumerating_domain_trusts_via_dsquery.toml
  rules/windows/discovery_group_policy_object_discovery.toml
  rules/windows/discovery_peripheral_device.toml
  rules/windows/execution_com_object_xwizard.toml
  rules/windows/impact_deleting_backup_catalogs_with_wbadmin.toml
  rules/windows/impact_modification_of_boot_config.toml
  rules/windows/impact_volume_shadow_copy_deletion_or_resized_via_vssadmin.toml
  rules/windows/impact_volume_shadow_copy_deletion_via_wmic.toml
  rules/windows/initial_access_webshell_screenconnect_server.toml
  rules/windows/lateral_movement_mount_hidden_or_webdav_share_net.toml
  rules/windows/persistence_via_windows_management_instrumentation_event_subscription.toml
  rules/windows/persistence_via_xp_cmdshell_mssql_stored_procedure.toml
  rules/windows/privilege_escalation_named_pipe_impersonation.toml
  rules/windows/privilege_escalation_service_control_spawned_script_int.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4223 [FR] Add Versioning Processes to DR
  .github/PULL_REQUEST_GUIDELINES/bug_guidelines.md
  .github/PULL_REQUEST_GUIDELINES/enhancement_guidelines.md
  .github/PULL_REQUEST_GUIDELINES/hunt_tuning_guidelines.md
  .github/PULL_REQUEST_GUIDELINES/schema_enhancement_guidelines.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release-drafter.yml
  .github/workflows/version-code-and-release.yml
  docs/versioning.md
  pyproject.toml
Labels: enhancement, ci/cd, backport: auto, Team: TRADE, minor

#4252 [FR] Update release-drafter.yml
  .github/release-drafter.yml
  .github/workflows/version-code-and-release.yml
  docs/versioning.md
Labels: enhancement, backport: auto, patch

#4224 [New Rule] Adding Coverage for `AWS SNS Email Subscription by Rare User`
  rules/integrations/aws/exfiltration_sns_email_subscription_by_rare_user.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#4229 [New Rule] Adding Coverage for `AWS SSM Command Document Created by Rare User`
  rules/integrations/aws/execution_ssm_command_document_created_by_rare_user.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#4228 [Rule Tuning] Tuning `AWS STS Temporary Credentials via AssumeRole`
  rules/integrations/aws/privilege_escalation_role_assumption_by_service.toml
  rules/integrations/aws/privilege_escalation_role_assumption_by_user.toml
  rules/integrations/aws/privilege_escalation_sts_temp_creds_via_assume_role.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, Rule: Tuning, backport: auto

#4246 [New Rule] Adding Coverage for `AWS Discovery API Calls via CLI from a Single Resource`
  rules/integrations/aws/discovery_ec2_multi_region_describe_instances.toml
  rules/integrations/aws/discovery_ec2_multiple_discovery_api_calls_via_cli.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#4249 [Rule Tuning] Add Investigation Guides to AWS Rules
  rules/integrations/aws/discovery_ec2_multi_region_describe_instances.toml
  rules/integrations/aws/execution_ssm_sendcommand_by_rare_user.toml
  rules/integrations/aws/initial_access_via_system_manager.toml
  rules/integrations/aws/persistence_ec2_security_group_configuration_change_detection.toml
Labels: documentation, Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto

#4247 Add investigation guide for Amazon Bedrock Rules
  rules/integrations/aws_bedrock/aws_bedrock_guardrails_multiple_violations_by_single_user.toml
  rules/integrations/aws_bedrock/aws_bedrock_guardrails_multiple_violations_in_single_request.toml
  rules/integrations/aws_bedrock/aws_bedrock_high_confidence_misconduct_blocks_detected.toml
  rules/integrations/aws_bedrock/aws_bedrock_high_resource_consumption_detection.toml
  rules/integrations/aws_bedrock/aws_bedrock_multiple_attempts_to_use_denied_models_by_user.toml
  rules/integrations/aws_bedrock/aws_bedrock_multiple_validation_exception_errors_by_single_user.toml
Labels: Rule: Tuning, backport: auto

#4245 [New Rule] Adding Coverage for `AWS IAM Customer-Managed Policy Attached to Role by Rare User`
  detection_rules/etc/non-ecs-schema.json
  hunting/aws/docs/iam_customer_managed_policies_attached_to_existing_roles.md
  hunting/aws/queries/iam_customer_managed_policies_attached_to_existing_roles.toml
  hunting/index.md
  hunting/index.yml
  pyproject.toml
  rules/integrations/aws/privilege_escalation_iam_customer_managed_policy_attached_to_role.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, schema, backport: auto, Hunt: New, threat hunting, Hunting, patch

#4253 [FR] DRAFT Release Workflow on PR Merge
  .github/workflows/version-code-and-release.yml
  pyproject.toml
Labels: bug, backport: auto, meta:rapid-merge, maintenance, patch

#4254 [Testing] Update release-drafter.yml
  .github/release-drafter.yml
  pyproject.toml
Labels: bug, ci/cd, backport: auto, meta:rapid-merge, patch

#4255 [Testing] Update release-drafter.yml
  .github/release-drafter.yml
  docs/versioning.md
  pyproject.toml
Labels: enhancement, ci/cd, backport: auto, meta:rapid-merge, patch

#4188 [Tuning] Suspicious Lsass Process Access
  rules/windows/credential_access_suspicious_lsass_access_generic.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4232 [Rule Tuning] 3rd Party EDR - Add Crowdstrike FDR support - 7
  rules/windows/credential_access_wbadmin_ntds.toml
  rules/windows/credential_access_wireless_creds_dumping.toml
  rules/windows/defense_evasion_adding_the_hidden_file_attribute_with_via_attribexe.toml
  rules/windows/defense_evasion_clearing_windows_console_history.toml
  rules/windows/defense_evasion_clearing_windows_event_logs.toml
  rules/windows/defense_evasion_code_signing_policy_modification_builtin_tools.toml
  rules/windows/defense_evasion_defender_exclusion_via_powershell.toml
  rules/windows/defense_evasion_delete_volume_usn_journal_with_fsutil.toml
  rules/windows/defense_evasion_disabling_windows_defender_powershell.toml
  rules/windows/defense_evasion_disabling_windows_logs.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4233 [Rule Tuning] 3rd Party EDR - Add Crowdstrike FDR support - 8
  rules/windows/defense_evasion_enable_inbound_rdp_with_netsh.toml
  rules/windows/defense_evasion_execution_lolbas_wuauclt.toml
  rules/windows/defense_evasion_iis_httplogging_disabled.toml
  rules/windows/defense_evasion_lolbas_win_cdb_utility.toml
  rules/windows/defense_evasion_powershell_windows_firewall_disabled.toml
  rules/windows/defense_evasion_sc_sdset.toml
  rules/windows/defense_evasion_suspicious_certutil_commands.toml
  rules/windows/defense_evasion_wsl_enabled_via_dism.toml
  rules/windows/discovery_adfind_command_activity.toml
  rules/windows/discovery_admin_recon.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4257 [FR] Update the release versioning process and workflow
  .github/workflows/version-code-and-release.yml
  docs/versioning.md
  pyproject.toml
Labels: enhancement, ci/cd, backport: auto, detections-as-code, patch

#4259 [FR] Fetch history for versioning workflow
  .github/workflows/version-code-and-release.yml
  pyproject.toml
Labels: bug, ci/cd, backport: auto, meta:rapid-merge, patch

#4260 [FR] Reset package version and push tag via ci
  .github/workflows/version-code-and-release.yml
  pyproject.toml
Labels: enhancement, ci/cd, backport: auto, detections-as-code, meta:rapid-merge, patch

#4263 Fix extra new line in ATT&CK-coverage.md
  detection_rules/devtools.py
  pyproject.toml
Labels: bug, python, backport: auto, meta:rapid-merge, patch

#4237 [New Rule] Curl SOCKS Proxy Activity from Unusual Parent
  rules/linux/command_and_control_curl_socks_proxy_detected.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4242 [New Rule] Private Key Searching Activity
  rules/linux/discovery_private_key_password_searching_activity.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4235 [New Rule] Potential Data Splitting Detected
  rules/linux/exfiltration_potential_data_splitting_for_exfiltration.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4243 [New Rule] Security File Access via Common Utilities
  rules/linux/discovery_security_file_access_via_common_utility.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4226 [New Rule] Hidden Directory Creation via Unusual Parent
  rules/linux/defense_evasion_hidden_directory_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4227 [New Rule] Directory Creation in /bin directory
  rules/linux/defense_evasion_directory_creation_in_bin.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4236 [New Rule] Web Server Spawned via Python
  rules/linux/execution_python_webserver_spawned.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4238 [New Rule] Unusual Interactive Shell Launched from System User
  rules/linux/defense_evasion_interactive_shell_from_system_user.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4239 [New Rule] Memory Swap Modification
  rules/linux/impact_memory_swap_modification.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4173 [Rule Tuning] Tuning `Process Termination followed by Deletion`
  rules/windows/defense_evasion_process_termination_followed_by_deletion.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4261 [Rule Tuning] Add Investigation Fields to Specific AWS Rules
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/cross-platform/execution_aws_ssm_sendcommand_with_command_parameters.toml
  rules/integrations/aws/defense_evasion_cloudtrail_logging_deleted.toml
  rules/integrations/aws/discovery_ec2_multi_region_describe_instances.toml
  rules/integrations/aws/discovery_ec2_multiple_discovery_api_calls_via_cli.toml
  rules/integrations/aws/discovery_new_terms_sts_getcalleridentity.toml
  rules/integrations/aws/execution_ssm_command_document_created_by_rare_user.toml
  rules/integrations/aws/exfiltration_sns_email_subscription_by_rare_user.toml
  rules/integrations/aws/impact_aws_s3_bucket_enumeration_or_brute_force.toml
  rules/integrations/aws/persistence_ec2_security_group_configuration_change_detection.toml
  rules/integrations/aws/persistence_iam_create_user_via_assumed_role_on_ec2_instance.toml
  rules/integrations/aws/persistence_iam_user_created_access_keys_for_another_user.toml
  rules/integrations/aws/privilege_escalation_iam_administratoraccess_policy_attached_to_user.toml
  rules/integrations/aws/privilege_escalation_iam_customer_managed_policy_attached_to_role.toml
  rules/integrations/aws/privilege_escalation_role_assumption_by_service.toml
  rules/integrations/aws/privilege_escalation_role_assumption_by_user.toml
  rules/integrations/aws_bedrock/aws_bedrock_multiple_attempts_to_use_denied_models_by_user.toml
  rules/integrations/aws_bedrock/aws_bedrock_multiple_validation_exception_errors_by_single_user.toml
  rules_building_block/persistence_iam_instance_request_to_iam_service.toml
Labels: documentation, Integration: AWS, Domain: Cloud, Rule: Tuning, schema, backport: auto, bbr, patch

#4251 [New] Remote Desktop File Opened from Suspicious Path
  rules/windows/initial_access_rdp_file_mail_attachment.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4153 [New] First Time Seen User Auth via DeviceCode Protocol
  rules/integrations/azure/credential_access_first_time_seen_device_code_auth.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, backport: auto

#4258 Account for CCS '::' index pattern
  detection_rules/beats.py
  detection_rules/ecs.py
  pyproject.toml
Labels: enhancement, python, schema, backport: auto, minor

#4271 [New Rule] Adding Coverage for `AWS STS AssumeRoot by Rare User and Member Account`
  rules/integrations/aws/privilege_escalation_sts_assume_root_from_rare_user_and_member_account.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#4269 [Rule Tuning] Kernel Module Removal
  rules/linux/defense_evasion_kernel_module_removal.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE
