Repository elastic/detection-rules, pull requests merged in 2024-02, with the labels that each got.

#3416 [New] Potential Enumeration via Active Directory Web Service
  rules/windows/discovery_active_directory_webservice.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3367 [Rule Tuning] Startup or Run Key Registry Modification
  rules/windows/persistence_run_key_and_startup_broad.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3380 [Rule Tuning] Windows BBR Tuning - 1
  rules/windows/collection_posh_webcam_video_capture.toml
  rules/windows/credential_access_kirbi_file.toml
  rules_building_block/collection_common_compressed_archived_file.toml
  rules_building_block/credential_access_mdmp_file_creation.toml
  rules_building_block/credential_access_win_private_key_access.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD, bbr

#3419 [Tuning] Remote Scheduled Task Creation via RPC
  rules/windows/lateral_movement_remote_task_creation_winlog.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3420 [New Rule] Suspicious Network Connection via systemd
  rules/linux/persistence_systemd_netcon.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD

#3418 [New Rules] APT Package Manager Persistence
  rules/linux/persistence_apt_package_manager_execution.toml
  rules/linux/persistence_apt_package_manager_netcon.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD

#3421 [New Rule] Executable Masquerading as Kernel Process
  rules/linux/defense_evasion_kthreadd_masquerading.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD

#3408 [New Rules] DDExec Analysis
  rules/linux/discovery_dynamic_linker_via_od.toml
  rules/linux/discovery_proc_maps_read.toml
  rules_building_block/discovery_potential_memory_seeking_activity.toml
  rules_building_block/discovery_suspicious_memory_grep_activity.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE, bbr

#3403 [Bug] Update Prebuilt Detection Rules Release Process
  .github/workflows/release-fleet.yml
  detection_rules/devtools.py
Labels: bug, python, backport: auto, fleet-release

#3437 Add the Zen of Security Rules to philosophy
  PHILOSOPHY.md
Labels: backport: auto

#3434 [Bug] Adjust `build-release` CLI and fix links when generating security docs
  .github/workflows/release-docs.yml
  .github/workflows/release-fleet.yml
  detection_rules/devtools.py
  detection_rules/docs.py
  detection_rules/packaging.py
Labels: documentation, python, backport: auto, fleet-release

#3433 [FR] Add support for Threshold Alert Suppression
  detection_rules/rule.py
  detection_rules/schemas/definitions.py
  tests/test_all_rules.py
Labels: enhancement, python, schema, backport: auto, Area: DED, Team: TRADE

#3441 [FR] Add New Kibana Schema Issue Template
  .github/ISSUE_TEMPLATE/new_kibana_feature_request.md
Labels: enhancement, backport: auto, Area: DED, Team: TRADE

#3381 [Rule Tuning] Windows BBR Tuning - 2
  rules/windows/defense_evasion_masquerading_business_apps_installer.toml
  rules_building_block/defense_evasion_communication_apps_suspicious_child_process.toml
  rules_building_block/defense_evasion_download_susp_extension.toml
  rules_building_block/defense_evasion_masquerading_browsers.toml
  rules_building_block/defense_evasion_masquerading_windows_dll.toml
  rules_building_block/defense_evasion_masquerading_windows_system32_exe.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD, bbr

#3385 [Rule Tuning] Windows BBR Tuning - 5
  rules/windows/initial_access_execution_from_removable_media.toml
  rules/windows/initial_access_execution_remote_via_msiexec.toml
  rules/windows/initial_access_xsl_script_execution_via_com.toml
  rules_building_block/lateral_movement_posh_winrm_activity.toml
  rules_building_block/lateral_movement_rdp_conn_unusual_process.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD, bbr

#3384 [Rule Tuning] Windows BBR Tuning - 4
  rules_building_block/discovery_posh_generic.toml
  rules_building_block/discovery_posh_password_policy.toml
  rules_building_block/discovery_system_time_discovery.toml
  rules_building_block/execution_settingcontent_ms_file_creation.toml
  rules_building_block/execution_unsigned_service_executable.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD, bbr

#3382 [Rule Tuning] Windows BBR Tuning - 3
  rules_building_block/defense_evasion_powershell_clear_logs_script.toml
  rules_building_block/defense_evasion_service_disabled_registry.toml
  rules_building_block/defense_evasion_services_exe_path.toml
  rules_building_block/defense_evasion_unusual_process_extension.toml
  rules_building_block/discovery_internet_capabilities.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD, bbr

#3445 [New] Suspicious Execution from INET Cache
  rules/windows/initial_access_execution_from_inetcache.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3430 [FR] NON_DATASET_PACKAGE list & Data Source tag for Auditd_manager
  detection_rules/schemas/definitions.py
Labels: enhancement, python, schema, backport: auto, Area: DED, Team: TRADE

#3453 [Tuning] Linux DR Tuning - Part 2
  rules/linux/credential_access_potential_linux_local_account_bruteforce.toml
  rules/linux/credential_access_proc_credential_dumping.toml
  rules/linux/defense_evasion_base16_or_base32_encoding_or_decoding_activity.toml
  rules/linux/defense_evasion_binary_copied_to_suspicious_directory.toml
  rules/linux/defense_evasion_clear_kernel_ring_buffer.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3454 [Tuning] Linux DR Tuning - Part 3
  rules/linux/defense_evasion_attempt_to_disable_iptables_or_firewall.toml
  rules/linux/defense_evasion_disable_apparmor_attempt.toml
  rules/linux/defense_evasion_disable_selinux_attempt.toml
  rules/linux/defense_evasion_esxi_suspicious_timestomp_touch.toml
  rules/linux/defense_evasion_file_deletion_via_shred.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3451 [Tuning] Event.dataset removal & Tag Addition
  rules/linux/credential_access_potential_successful_linux_ftp_bruteforce.toml
  rules/linux/credential_access_potential_successful_linux_rdp_bruteforce.toml
  rules/linux/discovery_pspy_process_monitoring_detected.toml
  rules/linux/execution_shell_via_meterpreter_linux.toml
  rules/linux/execution_shell_via_udp_cli_utility_linux.toml
  rules/linux/persistence_kernel_driver_load_by_non_root.toml
  rules/linux/privilege_escalation_suspicious_chown_fowner_elevation.toml
  rules/linux/privilege_escalation_suspicious_passwd_file_write.toml
  rules_building_block/discovery_kernel_module_enumeration_via_proc.toml
  rules_building_block/discovery_linux_modprobe_enumeration.toml
  rules_building_block/discovery_linux_sysctl_enumeration.toml
  rules_building_block/discovery_suspicious_proc_enumeration.toml
  rules_building_block/persistence_kernel_driver_load.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE, bbr

#3455 [Tuning] Linux DR Tuning - Part 4
  rules/linux/defense_evasion_file_mod_writable_dir.toml
  rules/linux/defense_evasion_hidden_file_dir_tmp.toml
  rules/linux/defense_evasion_hidden_shared_object.toml
  rules/linux/defense_evasion_kernel_module_removal.toml
  rules/linux/defense_evasion_mount_execution.toml
  rules/linux/defense_evasion_potential_proot_exploits.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3443 [FR] Skip eql optimizations on parsing query for unique fields
  detection_rules/rule.py
  detection_rules/rule_validators.py
Labels: bug, python, backport: auto, Area: DED, Team: TRADE

#3474 [Bug] Fix URL links in autogenerated security docs
  detection_rules/docs.py
Labels: documentation, python, backport: auto, Area: DED
