Repository elastic/detection-rules, pull requests merged in 2024-04, with the labels that each got.

#3477 [Rule Deprecation] Deprecate `Remote File Creation on a Sensitive Directory`
  rules/_deprecated/lateral_movement_remote_file_creation_in_sensitive_directory.toml
Labels: Rule: Deprecation, OS: Windows, backport: auto, Area: RAD

#3528 Fix create PR in release workflow
  detection_rules/devtools.py
Labels: python, backport: auto

#3550 [FR] Add support for investigation_fields
  detection_rules/rule.py
Labels: python, schema, backport: auto, Area: DED, Team: TRADE

#3475 Update setup guide for ML integration packages
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_host.toml
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_parent_process.toml
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_user.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event_high_probability.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_host.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_parent_process.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_user.toml
Labels: documentation, ML, Rule: Tuning, backport: auto, Area: RAD

#3505 [Rule Tuning] Replace KQL exceptions for Query DSL Exceptions
  detection_rules/rule.py
  detection_rules/schemas/definitions.py
  rules/windows/collection_mailbox_export_winlog.toml
  rules/windows/collection_posh_clipboard_capture.toml
  rules/windows/defense_evasion_posh_assembly_load.toml
  rules/windows/defense_evasion_posh_compressed.toml
  rules/windows/discovery_posh_suspicious_api_functions.toml
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/execution_posh_hacktool_functions.toml
  rules/windows/execution_posh_psreflect.toml
  rules/windows/execution_suspicious_powershell_imgload.toml
  rules_building_block/collection_posh_compression.toml
  rules_building_block/defense_evasion_powershell_clear_logs_script.toml
  rules_building_block/discovery_posh_generic.toml
  rules_building_block/lateral_movement_posh_winrm_activity.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, python, schema, backport: auto, Area: RAD, bbr

#3555 [New] Potential Execution via XZBackdoor
  rules/linux/persistence_suspicious_ssh_execution_xzbackdoor.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#3553 [Rule Tuning] Potential Application Shimming via Sdbinst
  rules/windows/persistence_via_application_shimming.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3425 [Tuning] Connection to Commonly Abused Web Services
  rules/windows/command_and_control_common_webservices.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3545 [Rule Tuning] First Time Seen Commonly Abused Remote Access Tool Execution
  rules/windows/command_and_control_new_terms_commonly_abused_rat_execution.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3565 Fix minstack version for 0365 prod rules
  rules/integrations/o365/collection_microsoft_365_new_inbox_rule.toml
  rules/integrations/o365/credential_access_microsoft_365_brute_force_user_account_attempt.toml
  rules/integrations/o365/credential_access_microsoft_365_potential_password_spraying_attack.toml
  rules/integrations/o365/credential_access_user_excessive_sso_logon_errors.toml
  rules/integrations/o365/defense_evasion_microsoft_365_exchange_dlp_policy_removed.toml
  rules/integrations/o365/defense_evasion_microsoft_365_exchange_malware_filter_policy_deletion.toml
  rules/integrations/o365/defense_evasion_microsoft_365_exchange_malware_filter_rule_mod.toml
  rules/integrations/o365/defense_evasion_microsoft_365_exchange_safe_attach_rule_disabled.toml
  rules/integrations/o365/defense_evasion_microsoft_365_mailboxauditbypassassociation.toml
  rules/integrations/o365/exfiltration_microsoft_365_exchange_transport_rule_creation.toml
  rules/integrations/o365/exfiltration_microsoft_365_exchange_transport_rule_mod.toml
  rules/integrations/o365/impact_microsoft_365_potential_ransomware_activity.toml
  rules/integrations/o365/impact_microsoft_365_unusual_volume_of_file_deletion.toml
  rules/integrations/o365/initial_access_microsoft_365_abnormal_clientappid.toml
  rules/integrations/o365/initial_access_microsoft_365_exchange_anti_phish_policy_deletion.toml
  rules/integrations/o365/initial_access_microsoft_365_exchange_anti_phish_rule_mod.toml
  rules/integrations/o365/initial_access_microsoft_365_exchange_safelinks_disabled.toml
  rules/integrations/o365/initial_access_microsoft_365_user_restricted_from_sending_email.toml
  rules/integrations/o365/initial_access_o365_user_reported_phish_malware.toml
  rules/integrations/o365/lateral_movement_malware_uploaded_onedrive.toml
  rules/integrations/o365/lateral_movement_malware_uploaded_sharepoint.toml
  rules/integrations/o365/persistence_exchange_suspicious_mailbox_right_delegation.toml
  rules/integrations/o365/persistence_microsoft_365_exchange_dkim_signing_config_disabled.toml
  rules/integrations/o365/persistence_microsoft_365_exchange_management_role_assignment.toml
  rules/integrations/o365/persistence_microsoft_365_global_administrator_role_assign.toml
  rules/integrations/o365/persistence_microsoft_365_teams_custom_app_interaction_allowed.toml
  rules/integrations/o365/persistence_microsoft_365_teams_external_access_enabled.toml
  rules/integrations/o365/persistence_microsoft_365_teams_guest_access_enabled.toml
  rules/integrations/o365/privilege_escalation_new_or_modified_federation_domain.toml
Labels: Domain: Cloud, Integration: Microsoft 365, backport: auto

#3552 Deprecate Releasing to a patch kibana version workflow
  Makefile
  detection_rules/devtools.py
Labels: python, backport: auto

#3561 Add filebeat-* index pattern to rules based on system.auth dataset
  rules/linux/credential_access_potential_linux_ssh_bruteforce_external.toml
  rules/linux/credential_access_potential_linux_ssh_bruteforce_internal.toml
  rules/linux/credential_access_potential_successful_linux_ssh_bruteforce.toml
  rules/linux/persistence_linux_group_creation.toml
  rules/linux/persistence_linux_user_account_creation.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#3560 [Bug] Threshold Rule Importing Failures
  detection_rules/cli_utils.py
  tests/test_all_rules.py
Labels: bug, python, backport: auto, Area: DED

#3566 [Bug] Add explicit format preserver
  detection_rules/rule_formatter.py
Labels: python, backport: auto, Area: DED, Team: TRADE

#3569 [Bug] New Terms Rule Import Failing
  detection_rules/cli_utils.py
  detection_rules/schemas/definitions.py
Labels: bug, python, schema, backport: auto, Area: DED, Team: TRADE

#3568 [Bug] KQL fails validation on uppercase keywords
  detection_rules/rule.py
  detection_rules/rule_validators.py
  detection_rules/utils.py
  lib/kql/kql/__init__.py
  lib/kql/kql/parser.py
  tests/kuery/test_lint.py
  tests/test_all_rules.py
Labels: bug, python, backport: auto, Area: DED, Team: TRADE

#3574 [FR] Switch Default Behavior to not allow uppercase KQL Keywords
  detection_rules/rule.py
  detection_rules/rule_validators.py
  detection_rules/utils.py
  tests/test_all_rules.py
Labels: python, backport: auto, Area: DED, Team: TRADE

#3575 [FR] Bump KQL Lib Version
  lib/kql/pyproject.toml
Labels: python, backport: auto, Area: DED, Team: TRADE

#3578 [Rule Tuning] Svchost spawning Cmd
  rules/windows/execution_command_shell_started_by_svchost.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3583 [Rule Tuning] WRITEDAC Access on Active Directory Object
  rules_building_block/defense_evasion_write_dac_access.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3576 [Rule Tuning] BBR Rule Tuning 1 - Tighten Indexes Edition
  rules_building_block/collection_files_staged_in_recycle_bin_root.toml
  rules_building_block/command_and_control_bitsadmin_activity.toml
  rules_building_block/credential_access_win_private_key_access.toml
  rules_building_block/defense_evasion_cmd_copy_binary_contents.toml
  rules_building_block/defense_evasion_cmstp_execution.toml
  rules_building_block/defense_evasion_collection_masquerading_unusual_archive_file_extension.toml
  rules_building_block/defense_evasion_execution_via_visualstudio_prebuildevent.toml
  rules_building_block/defense_evasion_generic_deletion.toml
  rules_building_block/defense_evasion_indirect_command_exec_pcalua_forfiles.toml
  rules_building_block/defense_evasion_injection_from_msoffice.toml
  rules_building_block/defense_evasion_installutil_command_activity.toml
  rules_building_block/defense_evasion_invalid_codesign_imageload.toml
  rules_building_block/defense_evasion_masquerading_unusual_exe_file_extension.toml
  rules_building_block/defense_evasion_masquerading_vlc_dll.toml
  rules_building_block/defense_evasion_msdt_suspicious_diagcab.toml
  rules_building_block/defense_evasion_service_disabled_registry.toml
  rules_building_block/defense_evasion_service_path_registry.toml
  rules_building_block/defense_evasion_services_exe_path.toml
  rules_building_block/defense_evasion_suspicious_msiexec_execution.toml
  rules_building_block/defense_evasion_unusual_process_path_wbem.toml
  rules_building_block/discovery_files_dir_systeminfo_via_cmd.toml
  rules_building_block/discovery_generic_account_groups.toml
  rules_building_block/discovery_generic_process_discovery.toml
  rules_building_block/discovery_security_software_wmic.toml
  rules_building_block/discovery_system_service_discovery.toml
  rules_building_block/discovery_system_time_discovery.toml
  rules_building_block/discovery_win_network_connections.toml
  rules_building_block/discovery_windows_system_information_discovery.toml
  rules_building_block/execution_unsigned_service_executable.toml
  rules_building_block/execution_wmi_wbemtest.toml
  rules_building_block/lateral_movement_at.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3580 [Rule Tuning] Windows BBR Rule Tuning - 2
  rules_building_block/defense_evasion_masquerading_browsers.toml
  rules_building_block/defense_evasion_masquerading_windows_dll.toml
  rules_building_block/defense_evasion_masquerading_windows_system32_exe.toml
  rules_building_block/defense_evasion_unsigned_bits_client.toml
  rules_building_block/defense_evasion_unusual_process_extension.toml
  rules_building_block/discovery_generic_registry_query.toml
  rules_building_block/discovery_net_share_discovery_winlog.toml
  rules_building_block/discovery_net_view.toml
  rules_building_block/discovery_posh_generic.toml
  rules_building_block/discovery_post_exploitation_external_ip_lookup.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3581 [Rule Tuning] Windows BBR Rule Tuning - 3
  rules_building_block/discovery_remote_system_discovery_commands_windows.toml
  rules_building_block/execution_settingcontent_ms_file_creation.toml
  rules_building_block/lateral_movement_rdp_conn_unusual_process.toml
  rules_building_block/lateral_movement_unusual_process_sql_accounts.toml
  rules_building_block/lateral_movement_wmic_remote.toml
  rules_building_block/persistence_startup_folder_lnk.toml
  rules_building_block/persistence_transport_agent_exchange.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3579 [Rule Tuning] Windows BBR Rule Tuning - 1
  detection_rules/etc/non-ecs-schema.json
  rules_building_block/collection_archive_data_zip_imageload.toml
  rules_building_block/collection_common_compressed_archived_file.toml
  rules_building_block/collection_outlook_email_archive.toml
  rules_building_block/command_and_control_certutil_network_connection.toml
  rules_building_block/credential_access_mdmp_file_creation.toml
  rules_building_block/credential_access_mdmp_file_unusual_extension.toml
  rules_building_block/defense_evasion_communication_apps_suspicious_child_process.toml
  rules_building_block/defense_evasion_dll_hijack.toml
  rules_building_block/defense_evasion_download_susp_extension.toml
  rules_building_block/defense_evasion_file_permission_modification.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3596 [Tuning] Untrusted Driver Loaded
  rules/windows/defense_evasion_untrusted_driver_loaded.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3597 [FR] Bump KQL Version in Init
  lib/kql/kql/__init__.py
Labels: python, backport: auto, Area: DED, Team: TRADE

#3595 [Rule Tuning] Tighten AWS Index Patterns and Add AWS Service Tags
  rules/integrations/aws/collection_cloudtrail_logging_created.toml
  rules/integrations/aws/credential_access_aws_iam_assume_role_brute_force.toml
  rules/integrations/aws/credential_access_iam_user_addition_to_group.toml
  rules/integrations/aws/credential_access_new_terms_secretsmanager_getsecretvalue.toml
  rules/integrations/aws/credential_access_root_console_failure_brute_force.toml
  rules/integrations/aws/defense_evasion_cloudtrail_logging_deleted.toml
  rules/integrations/aws/defense_evasion_cloudtrail_logging_suspended.toml
  rules/integrations/aws/defense_evasion_cloudwatch_alarm_deletion.toml
  rules/integrations/aws/defense_evasion_config_service_rule_deletion.toml
  rules/integrations/aws/defense_evasion_configuration_recorder_stopped.toml
  rules/integrations/aws/defense_evasion_ec2_flow_log_deletion.toml
  rules/integrations/aws/defense_evasion_ec2_network_acl_deletion.toml
  rules/integrations/aws/defense_evasion_elasticache_security_group_creation.toml
  rules/integrations/aws/defense_evasion_elasticache_security_group_modified_or_deleted.toml
  rules/integrations/aws/defense_evasion_escalation_aws_suspicious_saml_activity.toml
  rules/integrations/aws/defense_evasion_guardduty_detector_deletion.toml
  rules/integrations/aws/defense_evasion_s3_bucket_configuration_deletion.toml
  rules/integrations/aws/defense_evasion_waf_acl_deletion.toml
  rules/integrations/aws/defense_evasion_waf_rule_or_rule_group_deletion.toml
  rules/integrations/aws/exfiltration_ec2_full_network_packet_capture_detected.toml
  rules/integrations/aws/exfiltration_ec2_snapshot_change_activity.toml
  rules/integrations/aws/exfiltration_ec2_vm_export_failure.toml
  rules/integrations/aws/exfiltration_rds_snapshot_export.toml
  rules/integrations/aws/exfiltration_rds_snapshot_restored.toml
  rules/integrations/aws/impact_aws_eventbridge_rule_disabled_or_deleted.toml
  rules/integrations/aws/impact_cloudtrail_logging_updated.toml
  rules/integrations/aws/impact_cloudwatch_log_group_deletion.toml
  rules/integrations/aws/impact_cloudwatch_log_stream_deletion.toml
  rules/integrations/aws/impact_ec2_disable_ebs_encryption.toml
  rules/integrations/aws/impact_efs_filesystem_or_mount_deleted.toml
  rules/integrations/aws/impact_iam_deactivate_mfa_device.toml
  rules/integrations/aws/impact_iam_group_deletion.toml
  rules/integrations/aws/impact_kms_cmk_disabled_or_scheduled_for_deletion.toml
  rules/integrations/aws/impact_rds_group_deletion.toml
  rules/integrations/aws/impact_rds_instance_cluster_deletion.toml
  rules/integrations/aws/impact_rds_instance_cluster_stoppage.toml
  rules/integrations/aws/initial_access_console_login_root.toml
  rules/integrations/aws/initial_access_password_recovery.toml
  rules/integrations/aws/initial_access_via_system_manager.toml
  rules/integrations/aws/persistence_ec2_network_acl_creation.toml
  rules/integrations/aws/persistence_ec2_security_group_configuration_change_detection.toml
  rules/integrations/aws/persistence_iam_group_creation.toml
  rules/integrations/aws/persistence_rds_cluster_creation.toml
  rules/integrations/aws/persistence_rds_group_creation.toml
  rules/integrations/aws/persistence_rds_instance_creation.toml
  rules/integrations/aws/persistence_redshift_instance_creation.toml
  rules/integrations/aws/persistence_route_53_domain_transfer_lock_disabled.toml
  rules/integrations/aws/persistence_route_53_domain_transferred_to_another_account.toml
  rules/integrations/aws/persistence_route_53_hosted_zone_associated_with_a_vpc.toml
  rules/integrations/aws/persistence_route_table_created.toml
  rules/integrations/aws/persistence_route_table_modified_or_deleted.toml
  rules/integrations/aws/privilege_escalation_root_login_without_mfa.toml
  rules/integrations/aws/privilege_escalation_sts_assumerole_usage.toml
  rules/integrations/aws/privilege_escalation_sts_getsessiontoken_abuse.toml
  rules/integrations/aws/privilege_escalation_updateassumerolepolicy.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto, Area: RAD

#3584 [Rule Tuning] Further Tighten up Elastic Defend Index Patterns
  rules/windows/command_and_control_iexplore_via_com.toml
  rules/windows/command_and_control_remote_file_copy_powershell.toml
  rules/windows/command_and_control_remote_file_copy_scripts.toml
  rules/windows/credential_access_credential_dumping_msbuild.toml
  rules/windows/defense_evasion_installutil_beacon.toml
  rules/windows/defense_evasion_masquerading_werfault.toml
  rules/windows/defense_evasion_misc_lolbin_connecting_to_the_internet.toml
  rules/windows/defense_evasion_msbuild_making_network_connections.toml
  rules/windows/defense_evasion_mshta_beacon.toml
  rules/windows/defense_evasion_msxsl_network.toml
  rules/windows/defense_evasion_network_connection_from_windows_binary.toml
  rules/windows/defense_evasion_process_termination_followed_by_deletion.toml
  rules/windows/defense_evasion_suspicious_wmi_script.toml
  rules/windows/defense_evasion_unusual_network_connection_via_dllhost.toml
  rules/windows/defense_evasion_unusual_network_connection_via_rundll32.toml
  rules/windows/defense_evasion_unusual_process_network_connection.toml
  rules/windows/defense_evasion_wsl_filesystem.toml
  rules/windows/discovery_active_directory_webservice.toml
  rules/windows/execution_command_prompt_connecting_to_the_internet.toml
  rules/windows/execution_html_help_executable_program_connecting_to_the_internet.toml
  rules/windows/execution_ms_office_written_file.toml
  rules/windows/execution_pdf_written_file.toml
  rules/windows/execution_psexec_lateral_movement_command.toml
  rules/windows/execution_register_server_program_connecting_to_the_internet.toml
  rules/windows/execution_scheduled_task_powershell_source.toml
  rules/windows/initial_access_evasion_suspicious_htm_file_creation.toml
  rules/windows/initial_access_execution_from_removable_media.toml
  rules/windows/initial_access_execution_remote_via_msiexec.toml
  rules/windows/initial_access_scripts_process_started_via_wmi.toml
  rules/windows/initial_access_xsl_script_execution_via_com.toml
  rules/windows/lateral_movement_cmd_service.toml
  rules/windows/lateral_movement_dcom_hta.toml
  rules/windows/lateral_movement_dcom_mmc20.toml
  rules/windows/lateral_movement_dcom_shellwindow_shellbrowserwindow.toml
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
  rules/windows/lateral_movement_evasion_rdp_shadowing.toml
  rules/windows/lateral_movement_executable_tool_transfer_smb.toml
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
  rules/windows/lateral_movement_incoming_winrm_shell_execution.toml
  rules/windows/lateral_movement_incoming_wmi.toml
  rules/windows/lateral_movement_powershell_remoting_target.toml
  rules/windows/lateral_movement_rdp_sharprdp_target.toml
  rules/windows/lateral_movement_remote_services.toml
  rules/windows/lateral_movement_scheduled_task_target.toml
  rules/windows/persistence_local_scheduled_task_scripting.toml
  rules/windows/persistence_startup_folder_file_written_by_unsigned_process.toml
  rules/windows/privilege_escalation_wpad_exploitation.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3602 [New Rule] Potential Windows Session Hijacking via CcmExec
  rules/windows/defense_evasion_sccm_scnotification_dll.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3478 [Rule Tuning] Tuning `Account Password Reset Remotely`
  rules/windows/persistence_remote_password_reset.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3607 [Rule Tuning] Reverting `Account Password Reset Remotely` To Previous Version
  rules/windows/persistence_remote_password_reset.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: skip, Area: RAD

#3608 [Rule Tuning] Update Performance Note in `Account Password Reset Remotely` and Backport to 8.3
  rules/windows/persistence_remote_password_reset.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3612 Fix minstack version for 0365 in azure integration rules
  rules/integrations/azure/initial_access_consent_grant_attack_via_azure_registered_application.toml
Labels: Integration: Azure, Domain: Cloud, backport: auto

#3407 [FR] Refactor to more seamlessly support multiple DAC approaches
  CLI.md
  README.md
  detection_rules/__init__.py
  detection_rules/action.py
  detection_rules/cli_utils.py
  detection_rules/config.py
  detection_rules/custom_rules.py
  detection_rules/devtools.py
  detection_rules/etc/_config.yaml
  detection_rules/etc/example_test_config.yaml
  detection_rules/exception.py
  detection_rules/generic_loader.py
  detection_rules/integrations.py
  detection_rules/main.py
  detection_rules/misc.py
  detection_rules/mixins.py
  detection_rules/navigator.py
  detection_rules/packaging.py
  detection_rules/remote_validation.py
  detection_rules/rule.py
  detection_rules/rule_loader.py
  detection_rules/rule_validators.py
  detection_rules/schemas/__init__.py
  detection_rules/schemas/definitions.py
  detection_rules/version_lock.py
  docs/custom-rules.md
  docs/developing.md
  docs/rule-insights.md
  tests/base.py
  tests/test_all_rules.py
  tests/test_mappings.py
  tests/test_packages.py
  tests/test_schemas.py
  tests/test_specific_rules.py
  tests/test_version_locking.py
Labels: enhancement, python, schema

#3616 [New] Potential privilege escalation via CVE-2022-38028
  rules/windows/privilege_escalation_exploit_cve_202238028.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3628 [Rule Tuning] Linux DRs
  rules/linux/command_and_control_linux_kworker_netcon.toml
  rules/linux/command_and_control_linux_tunneling_and_port_forwarding.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3629 [New Rule] Shell Configuration Modification
  rules/linux/persistence_shell_configuration_modification.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE
