Repository elastic/detection-rules, pull requests merged in 2024-10, with the labels that each got.

#4114 [Tuning] Updated references
  rules/linux/command_and_control_cupsd_foomatic_rip_netcon.toml
  rules/linux/execution_cupsd_foomatic_rip_file_creation.toml
  rules/linux/execution_cupsd_foomatic_rip_lp_user_execution.toml
  rules/linux/execution_cupsd_foomatic_rip_shell_execution.toml
  rules/linux/execution_cupsd_foomatic_rip_suspicious_child_execution.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#4112 [Tuning] Suspicious .NET Reflection via PowerShell
  rules/windows/defense_evasion_posh_assembly_load.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4107 react_sync_rta_updates_4096
  rta/linux_command_and_control_telegram_api_request.py
Labels: enhancement, RTA, backport: auto

#4108 react_sync_rta_updates_4105
  rta/linux_defense_evasion_process_injection_via_dd.py
Labels: enhancement, RTA, backport: auto

#4109 react_sync_rta_updates_4102
  rta/linux_defense_evasion_hex_payload_execution.py
Labels: enhancement, RTA, backport: auto

#4110 react_sync_rta_updates_4099
  rta/linux_persistence_suspicious_echo_execution.py
Labels: enhancement, RTA, backport: auto

#4113 react_sync_rta_updates_4098
  rta/linux_defense_evasion_base64_xxd_decode_arg_evasion.py
Labels: enhancement, RTA, backport: auto

#4118 [Rule Tuning] Fixing Incorrect ES|QL Operator Use - AWS Service Quotas Multi-Region `GetServiceQuota` Request
  rules/integrations/aws/discovery_servicequotas_multi_region_service_quota_requests.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto, meta:rapid-merge

#4085 [Hunting] Re-factor Hunting Library Code
  .github/CODEOWNERS
  .github/PULL_REQUEST_GUIDELINES/hunt_new_guidelines.md
  .github/PULL_REQUEST_GUIDELINES/hunt_tuning_guidelines.md
  .github/paths-labeller.yml
  Makefile
  README.md
  detection_rules/etc/test_hunting_cli.bash
  hunting/README.md
  hunting/__main__.py
  hunting/aws/docs/ec2_discovery_multi_region_get_service_quota_calls.md
  hunting/aws/docs/s3_public_bucket_rapid_object_access_attempts.md
  hunting/aws/queries/s3_public_bucket_rapid_object_access_attempts.toml
  hunting/definitions.py
  hunting/generate_markdown.py
  hunting/index.md
  hunting/index.yml
  hunting/markdown.py
  hunting/okta/docs/credential_access_mfa_bombing_push_notications.md
  hunting/okta/docs/credential_access_rapid_reset_password_requests_for_different_users.md
  hunting/okta/docs/defense_evasion_failed_oauth_access_token_retrieval_via_public_client_app.md
  hunting/okta/docs/defense_evasion_multiple_application_sso_authentication_repeat_source.md
  hunting/okta/docs/defense_evasion_multiple_client_sources_reported_for_oauth_access_tokens_granted.md
  hunting/okta/docs/defense_evasion_rare_oauth_access_token_granted_by_application.md
  hunting/okta/docs/docs/credential_access_hgher_than_average_failed_authentication.md
  hunting/okta/docs/docs/credential_access_password_spraying_from_repeat_source.md
  hunting/okta/docs/docs/initial_access_hgher_than_average_failed_authentication.md
  hunting/okta/docs/docs/persistence_rare_tld_with_user_authentication.md
  hunting/okta/docs/initial_access_higher_than_average_failed_authentication.md
  hunting/okta/docs/initial_access_impossible_travel_sign_on.md
  hunting/okta/docs/initial_access_password_spraying_from_repeat_source.md
  hunting/okta/docs/persistence_multi_factor_push_notification_bombing.md
  hunting/okta/docs/persistence_rare_domain_with_user_authentication.md
  hunting/okta/queries/credential_access_mfa_bombing_push_notications.toml
  hunting/okta/queries/credential_access_rapid_reset_password_requests_for_different_users.toml
  hunting/okta/queries/defense_evasion_failed_oauth_access_token_retrieval_via_public_client_app.toml
  hunting/okta/queries/defense_evasion_multiple_application_sso_authentication_repeat_source.toml
  hunting/okta/queries/defense_evasion_multiple_client_sources_reported_for_oauth_access_tokens_granted.toml
  hunting/okta/queries/defense_evasion_rare_oauth_access_token_granted_by_application.toml
  hunting/okta/queries/initial_access_higher_than_average_failed_authentication.toml
  hunting/okta/queries/initial_access_impossible_travel_sign_on.toml
  hunting/okta/queries/initial_access_password_spraying_from_repeat_source.toml
  hunting/okta/queries/persistence_multi_factor_push_notification_bombing.toml
  hunting/okta/queries/persistence_rare_domain_with_user_authentication.toml
  hunting/run.py
  hunting/search.py
  hunting/utils.py
  pyproject.toml
  tests/test_hunt_data.py
Labels: python, schema, backport: auto, threat hunting

#4141 [New Rule] `Successful Application SSO from Rare Unknown Client Device`
  rules/integrations/okta/initial_access_successful_application_sso_from_unknown_client_device.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, backport: auto, Domain: SaaS

#4126 [Rule Tuning] Add `METADATA` checks for non-aggregate ES|QL queries and fix existing
  detection_rules/rule.py
  rules/integrations/aws/exfiltration_ec2_ebs_snapshot_shared_with_another_account.toml
  rules/integrations/aws/impact_s3_object_encryption_with_external_key.toml
  rules/integrations/aws/initial_access_signin_console_login_no_mfa.toml
  rules/integrations/aws/persistence_iam_user_created_access_keys_for_another_user.toml
  rules/integrations/aws/privilege_escalation_iam_administratoraccess_policy_attached_to_group.toml
  rules/integrations/aws/privilege_escalation_iam_administratoraccess_policy_attached_to_role.toml
  rules/integrations/aws/privilege_escalation_iam_administratoraccess_policy_attached_to_user.toml
Labels: Integration: AWS, Integration: Azure, Domain: Cloud, Integration: Okta, Rule: Tuning, python, Integration: Microsoft 365, schema, backport: auto, esql, Domain: SaaS

#4093 [FR][DAC] Import Rules Verbose Message
  detection_rules/kbwrap.py
Labels: enhancement, python, backport: auto, detections-as-code

#4146 [Rule Tuning] Add KEEP Command to all ES|QL Rules
  detection_rules/rule.py
  hunting/README.md
  rules/cross-platform/execution_potential_widespread_malware_infection.toml
  rules/integrations/aws/discovery_ec2_multi_region_describe_instances.toml
  rules/integrations/aws/discovery_servicequotas_multi_region_service_quota_requests.toml
  rules/integrations/aws/impact_aws_s3_bucket_enumeration_or_brute_force.toml
  rules/integrations/aws/impact_s3_bucket_object_uploaded_with_ransom_extension.toml
  rules/integrations/aws/impact_s3_object_encryption_with_external_key.toml
  rules/integrations/aws/initial_access_signin_console_login_no_mfa.toml
  rules/integrations/aws/persistence_iam_user_created_access_keys_for_another_user.toml
  rules/integrations/aws/privilege_escalation_iam_administratoraccess_policy_attached_to_group.toml
  rules/integrations/aws/privilege_escalation_iam_administratoraccess_policy_attached_to_role.toml
  rules/integrations/aws/privilege_escalation_iam_administratoraccess_policy_attached_to_user.toml
  rules/integrations/aws_bedrock/aws_bedrock_guardrails_multiple_violations_by_single_user.toml
  rules/integrations/aws_bedrock/aws_bedrock_guardrails_multiple_violations_in_single_request.toml
  rules/integrations/aws_bedrock/aws_bedrock_high_confidence_misconduct_blocks_detected.toml
  rules/integrations/aws_bedrock/aws_bedrock_high_resource_consumption_detection.toml
  rules/integrations/aws_bedrock/aws_bedrock_multiple_attempts_to_use_denied_models_by_user.toml
  rules/integrations/aws_bedrock/aws_bedrock_multiple_validation_exception_errors_by_single_user.toml
  rules/integrations/azure/credential_access_entra_signin_brute_force_microsoft_365.toml
  rules/integrations/azure/credential_access_entra_signin_brute_force_microsoft_365_repeat_source.toml
  rules/integrations/o365/credential_access_microsoft_365_brute_force_user_account_attempt.toml
  rules/integrations/okta/credential_access_multiple_device_token_hashes_for_single_okta_session.toml
  rules/integrations/okta/credential_access_okta_authentication_for_multiple_users_from_single_source.toml
  rules/integrations/okta/credential_access_okta_authentication_for_multiple_users_with_the_same_device_token_hash.toml
  rules/integrations/okta/credential_access_okta_multiple_device_token_hashes_for_single_user.toml
  rules/integrations/okta/initial_access_okta_user_sessions_started_from_different_geolocations.toml
Labels: Integration: AWS, Integration: Azure, Domain: Cloud, Integration: Okta, Rule: Tuning, python, Integration: Microsoft 365, backport: auto, meta:rapid-merge, Hunting

#4017 [Rule Tuning] 3rd Party EDR Compatibility - 1
  rules/windows/command_and_control_certreq_postdata.toml
  rules/windows/command_and_control_dns_tunneling_nslookup.toml
  rules/windows/command_and_control_headless_browser.toml
  rules/windows/command_and_control_outlook_home_page.toml
  rules/windows/command_and_control_port_forwarding_added_registry.toml
  rules/windows/command_and_control_remote_file_copy_desktopimgdownldr.toml
  rules/windows/command_and_control_remote_file_copy_mpcmdrun.toml
  rules/windows/credential_access_cmdline_dump_tool.toml
  rules/windows/credential_access_copy_ntds_sam_volshadowcp_cmdline.toml
  rules/windows/credential_access_dump_registry_hives.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4019 [Rule Tuning] 3rd Party EDR Compatibility - 2
  rules/windows/credential_access_generic_localdumps.toml
  rules/windows/credential_access_iis_connectionstrings_dumping.toml
  rules/windows/credential_access_kirbi_file.toml
  rules/windows/credential_access_lsass_loaded_susp_dll.toml
  rules/windows/credential_access_lsass_memdump_file_created.toml
  rules/windows/credential_access_mimikatz_memssp_default_logs.toml
  rules/windows/credential_access_mod_wdigest_security_provider.toml
  rules/windows/credential_access_persistence_network_logon_provider_modification.toml
  rules/windows/credential_access_relay_ntlm_auth_via_http_spoolss.toml
  rules/windows/credential_access_saved_creds_vaultcmd.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4020 [Rule Tuning] 3rd Party EDR Compatibility - 3
  rules/windows/credential_access_symbolic_link_to_shadow_copy_created.toml
  rules/windows/credential_access_veeam_commands.toml
  rules/windows/credential_access_wbadmin_ntds.toml
  rules/windows/credential_access_wireless_creds_dumping.toml
  rules/windows/defense_evasion_adding_the_hidden_file_attribute_with_via_attribexe.toml
  rules/windows/defense_evasion_amsienable_key_mod.toml
  rules/windows/defense_evasion_clearing_windows_console_history.toml
  rules/windows/defense_evasion_clearing_windows_event_logs.toml
  rules/windows/defense_evasion_code_signing_policy_modification_builtin_tools.toml
  rules/windows/defense_evasion_code_signing_policy_modification_registry.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4021 [Rule Tuning] 3rd Party EDR Compatibility - 4
  rules/windows/defense_evasion_create_mod_root_certificate.toml
  rules/windows/defense_evasion_defender_disabled_via_registry.toml
  rules/windows/defense_evasion_defender_exclusion_via_powershell.toml
  rules/windows/defense_evasion_delete_volume_usn_journal_with_fsutil.toml
  rules/windows/defense_evasion_disable_nla.toml
  rules/windows/defense_evasion_disable_posh_scriptblocklogging.toml
  rules/windows/defense_evasion_disable_windows_firewall_rules_with_netsh.toml
  rules/windows/defense_evasion_disabling_windows_defender_powershell.toml
  rules/windows/defense_evasion_disabling_windows_logs.toml
  rules/windows/defense_evasion_dns_over_https_enabled.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4117 [Rule Tuning] Active Directory Forced Authentication from Linux Host - SMB Named Pipes
  rules/cross-platform/credential_access_forced_authentication_pipes.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4022 [Rule Tuning] 3rd Party EDR Compatibility - 5
  rules/windows/defense_evasion_dotnet_compiler_parent_process.toml
  rules/windows/defense_evasion_enable_inbound_rdp_with_netsh.toml
  rules/windows/defense_evasion_enable_network_discovery_with_netsh.toml
  rules/windows/defense_evasion_execution_control_panel_suspicious_args.toml
  rules/windows/defense_evasion_execution_lolbas_wuauclt.toml
  rules/windows/defense_evasion_execution_msbuild_started_by_office_app.toml
  rules/windows/defense_evasion_execution_msbuild_started_by_system_process.toml
  rules/windows/defense_evasion_execution_msbuild_started_renamed.toml
  rules/windows/defense_evasion_execution_suspicious_explorer_winword.toml
  rules/windows/defense_evasion_execution_windefend_unusual_path.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4031 [Rule Tuning] 3rd Party EDR Compatibility - 7
  rules/windows/defense_evasion_powershell_windows_firewall_disabled.toml
  rules/windows/defense_evasion_proxy_execution_via_msdt.toml
  rules/windows/defense_evasion_reg_disable_enableglobalqueryblocklist.toml
  rules/windows/defense_evasion_root_dir_ads_creation.toml
  rules/windows/defense_evasion_scheduledjobs_at_protocol_enabled.toml
  rules/windows/defense_evasion_sdelete_like_filename_rename.toml
  rules/windows/defense_evasion_sip_provider_mod.toml
  rules/windows/defense_evasion_solarwinds_backdoor_service_disabled_via_registry.toml
  rules/windows/defense_evasion_suspicious_certutil_commands.toml
  rules/windows/defense_evasion_suspicious_managedcode_host_process.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4032 [Rule Tuning] 3rd Party EDR Compatibility - 8
  rules/windows/defense_evasion_suspicious_short_program_name.toml
  rules/windows/defense_evasion_system_critical_proc_abnormal_file_activity.toml
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
  rules/windows/defense_evasion_unusual_dir_ads.toml
  rules/windows/defense_evasion_unusual_system_vp_child_program.toml
  rules/windows/defense_evasion_workfolders_control_execution.toml
  rules/windows/defense_evasion_wsl_bash_exec.toml
  rules/windows/defense_evasion_wsl_child_process.toml
  rules/windows/defense_evasion_wsl_enabled_via_dism.toml
  rules/windows/defense_evasion_wsl_kalilinux.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4034 [Rule Tuning] 3rd Party EDR Compatibility - 9
  rules/windows/defense_evasion_wsl_registry_modification.toml
  rules/windows/discovery_adfind_command_activity.toml
  rules/windows/discovery_admin_recon.toml
  rules/windows/discovery_enumerating_domain_trusts_via_dsquery.toml
  rules/windows/discovery_enumerating_domain_trusts_via_nltest.toml
  rules/windows/discovery_group_policy_object_discovery.toml
  rules/windows/discovery_peripheral_device.toml
  rules/windows/execution_apt_solarwinds_backdoor_child_cmd_powershell.toml
  rules/windows/execution_com_object_xwizard.toml
  rules/windows/execution_command_shell_via_rundll32.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4035 [Rule Tuning] 3rd Party EDR Compatibility - 10
  rules/windows/execution_enumeration_via_wmiprvse.toml
  rules/windows/execution_from_unusual_path_cmdline.toml
  rules/windows/execution_initial_access_via_msc_file.toml
  rules/windows/execution_mofcomp.toml
  rules/windows/execution_shared_modules_local_sxs_dll.toml
  rules/windows/execution_suspicious_cmd_wmi.toml
  rules/windows/execution_suspicious_pdf_reader.toml
  rules/windows/execution_suspicious_psexesvc.toml
  rules/windows/execution_via_compiled_html_file.toml
  rules/windows/execution_via_hidden_shell_conhost.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4036 [Rule Tuning] 3rd Party EDR Compatibility - 11
  rules/windows/impact_deleting_backup_catalogs_with_wbadmin.toml
  rules/windows/impact_modification_of_boot_config.toml
  rules/windows/impact_volume_shadow_copy_deletion_or_resized_via_vssadmin.toml
  rules/windows/impact_volume_shadow_copy_deletion_via_powershell.toml
  rules/windows/impact_volume_shadow_copy_deletion_via_wmic.toml
  rules/windows/initial_access_execution_from_inetcache.toml
  rules/windows/initial_access_execution_via_office_addins.toml
  rules/windows/initial_access_exploit_jetbrains_teamcity.toml
  rules/windows/initial_access_script_executing_powershell.toml
  rules/windows/initial_access_suspicious_ms_exchange_files.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4037 [Rule Tuning] 3rd Party EDR Compatibility - 12
  rules/windows/initial_access_suspicious_ms_exchange_process.toml
  rules/windows/initial_access_suspicious_ms_exchange_worker_child_process.toml
  rules/windows/initial_access_suspicious_ms_office_child_process.toml
  rules/windows/initial_access_via_explorer_suspicious_child_parent_args.toml
  rules/windows/initial_access_webshell_screenconnect_server.toml
  rules/windows/lateral_movement_defense_evasion_lanman_nullsessionpipe_modification.toml
  rules/windows/lateral_movement_evasion_rdp_shadowing.toml
  rules/windows/lateral_movement_execution_from_tsclient_mup.toml
  rules/windows/lateral_movement_mount_hidden_or_webdav_share_net.toml
  rules/windows/lateral_movement_rdp_enabled_registry.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4038 [Rule Tuning] 3rd Party EDR Compatibility - 13
  rules/windows/lateral_movement_remote_file_copy_hidden_share.toml
  rules/windows/lateral_movement_unusual_dns_service_children.toml
  rules/windows/lateral_movement_via_startup_folder_rdp_smb.toml
  rules/windows/persistence_app_compat_shim.toml
  rules/windows/persistence_appinitdlls_registry.toml
  rules/windows/persistence_browser_extension_install.toml
  rules/windows/persistence_evasion_hidden_local_account_creation.toml
  rules/windows/persistence_evasion_registry_ifeo_injection.toml
  rules/windows/persistence_evasion_registry_startup_shell_folder_modified.toml
  rules/windows/persistence_local_scheduled_job_creation.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4039 [Rule Tuning] 3rd Party EDR Compatibility - 14
  rules/windows/persistence_ms_office_addins_file.toml
  rules/windows/persistence_ms_outlook_vba_template.toml
  rules/windows/persistence_msoffice_startup_registry.toml
  rules/windows/persistence_netsh_helper_dll.toml
  rules/windows/persistence_powershell_exch_mailbox_activesync_add_device.toml
  rules/windows/persistence_powershell_profiles.toml
  rules/windows/persistence_priv_escalation_via_accessibility_features.toml
  rules/windows/persistence_services_registry.toml
  rules/windows/persistence_startup_folder_file_written_by_suspicious_process.toml
  rules/windows/persistence_startup_folder_scripts.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4040 [Rule Tuning] 3rd Party EDR Compatibility - 15
  rules/windows/persistence_suspicious_service_created_registry.toml
  rules/windows/persistence_time_provider_mod.toml
  rules/windows/persistence_user_account_creation.toml
  rules/windows/persistence_via_application_shimming.toml
  rules/windows/persistence_via_bits_job_notify_command.toml
  rules/windows/persistence_via_lsa_security_support_provider_registry.toml
  rules/windows/persistence_via_telemetrycontroller_scheduledtask_hijack.toml
  rules/windows/persistence_via_update_orchestrator_service_hijack.toml
  rules/windows/persistence_via_windows_management_instrumentation_event_subscription.toml
  rules/windows/persistence_via_xp_cmdshell_mssql_stored_procedure.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4041 [Rule Tuning] 3rd Party EDR Compatibility - 16
  rules/windows/persistence_webshell_detection.toml
  rules/windows/persistence_werfault_reflectdebugger.toml
  rules/windows/privilege_escalation_disable_uac_registry.toml
  rules/windows/privilege_escalation_exploit_cve_202238028.toml
  rules/windows/privilege_escalation_gpo_schtask_service_creation.toml
  rules/windows/privilege_escalation_lsa_auth_package.toml
  rules/windows/privilege_escalation_named_pipe_impersonation.toml
  rules/windows/privilege_escalation_port_monitor_print_pocessor_abuse.toml
  rules/windows/privilege_escalation_printspooler_suspicious_file_deletion.toml
  rules/windows/privilege_escalation_printspooler_suspicious_spl_file.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4042 [Rule Tuning] 3rd Party EDR Compatibility - 17
  rules/windows/privilege_escalation_rogue_windir_environment_var.toml
  rules/windows/privilege_escalation_service_control_spawned_script_int.toml
  rules/windows/privilege_escalation_uac_bypass_com_clipup.toml
  rules/windows/privilege_escalation_uac_bypass_com_ieinstal.toml
  rules/windows/privilege_escalation_uac_bypass_com_interface_icmluautil.toml
  rules/windows/privilege_escalation_uac_bypass_diskcleanup_hijack.toml
  rules/windows/privilege_escalation_uac_bypass_dll_sideloading.toml
  rules/windows/privilege_escalation_uac_bypass_event_viewer.toml
  rules/windows/privilege_escalation_uac_bypass_mock_windir.toml
  rules/windows/privilege_escalation_uac_bypass_winfw_mmc_hijack.toml
  rules/windows/privilege_escalation_unquoted_service_path.toml
  rules/windows/privilege_escalation_unusual_parentchild_relationship.toml
  rules/windows/privilege_escalation_unusual_svchost_childproc_childless.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4056 [Rule Tuning] 3rd Party EDR Compatibility - 18
  rules/windows/command_and_control_teamviewer_remote_file_copy.toml
  rules/windows/credential_access_kerberoasting_unusual_process.toml
  rules/windows/defense_evasion_suspicious_scrobj_load.toml
  rules/windows/execution_apt_solarwinds_backdoor_unusual_child_processes.toml
  rules/windows/execution_command_shell_started_by_svchost.toml
  rules/windows/exfiltration_smb_rare_destination.toml
  rules/windows/impact_backup_file_deletion.toml
  rules/windows/impact_high_freq_file_renames_by_kernel.toml
  rules/windows/initial_access_exfiltration_first_time_seen_usb.toml
  rules/windows/persistence_browser_extension_install.toml
  rules/windows/privilege_escalation_printspooler_service_suspicious_file.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4151 [New] Untrusted DLL Loaded by Azure AD Sync Service
  rules/windows/credential_access_imageload_azureadconnectauthsvc.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4144 [Tuning] Suspicious DLL Loaded for Persistence or Privilege Escalation
  rules/windows/privilege_escalation_persistence_phantom_dll.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4152 [Tuning] Creation or Modification of a new GPO Scheduled Task or Service
  rules/windows/privilege_escalation_gpo_schtask_service_creation.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4157 [Hunt Tuning] Enforce `STATS` or `KEEP` functions in ES|QL hunting queries
  hunting/README.md
  hunting/aws/queries/iam_assume_role_creation_with_attached_policy.toml
  hunting/aws/queries/lambda_add_permissions_for_write_actions_to_function.toml
  hunting/aws/queries/signin_single_factor_console_login_via_federated_session.toml
  hunting/aws/queries/ssm_sendcommand_api_used_by_ec2_instance.toml
  hunting/aws/queries/sts_suspicious_federated_temporary_credential_request.toml
  hunting/definitions.py
  hunting/okta/queries/defense_evasion_failed_oauth_access_token_retrieval_via_public_client_app.toml
Labels: backport: auto, Hunt: Tuning, threat hunting, Hunting

#4160 Add setuptools as project dependency
  Makefile
  pyproject.toml
Labels: enhancement, backport: auto, meta:rapid-merge

#4145 [Rule Tuning] Remove Salesforce Client User-Agent Whitelisting in `MFA Deactivation with no Re-Activation for Okta User Account`
  rules/integrations/okta/persistence_mfa_deactivation_with_no_reactivation.toml
Labels: Domain: Cloud, Integration: Okta, Rule: Tuning, backport: auto, Domain: SaaS

#4162 [Rule Tuning] Q2 Linux DR Tuning - Part 1
  rules/linux/command_and_control_linux_chisel_client_activity.toml
  rules/linux/command_and_control_linux_kworker_netcon.toml
  rules/linux/command_and_control_suspicious_network_activity_from_unknown_executable.toml
  rules/linux/credential_access_potential_linux_local_account_bruteforce.toml
  rules/linux/defense_evasion_binary_copied_to_suspicious_directory.toml
  rules/linux/defense_evasion_chattr_immutable_file.toml
  rules/linux/defense_evasion_dynamic_linker_file_creation.toml
  rules/linux/defense_evasion_file_mod_writable_dir.toml
  rules/linux/defense_evasion_hidden_file_dir_tmp.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#4163 [Rule Tuning] Q2 Linux DR Tuning - Part 2
  rules/linux/defense_evasion_kernel_module_removal.toml
  rules/linux/defense_evasion_mount_execution.toml
  rules/linux/defense_evasion_root_certificate_installation.toml
  rules/linux/defense_evasion_sus_utility_executed_via_tmux_or_screen.toml
  rules/linux/discovery_esxi_software_via_find.toml
  rules/linux/discovery_esxi_software_via_grep.toml
  rules/linux/discovery_kernel_module_enumeration.toml
  rules/linux/discovery_pspy_process_monitoring_detected.toml
  rules/linux/discovery_sudo_allowed_command_enumeration.toml
  rules/linux/discovery_suspicious_which_command_execution.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#4164 [Rule Tuning] Q2 Linux DR Tuning - Part 3
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/execution_cupsd_foomatic_rip_lp_user_execution.toml
  rules/linux/execution_cupsd_foomatic_rip_shell_execution.toml
  rules/linux/execution_cupsd_foomatic_rip_suspicious_child_execution.toml
  rules/linux/execution_curl_cve_2023_38545_heap_overflow.toml
  rules/linux/execution_file_execution_followed_by_deletion.toml
  rules/linux/execution_netcon_from_rwx_mem_region_binary.toml
  rules/linux/execution_network_event_post_compilation.toml
  rules/linux/execution_remote_code_execution_via_postgresql.toml
  rules/linux/execution_shell_openssl_client_or_server.toml
  rules/linux/execution_suspicious_executable_running_system_commands.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#4167 [Rule Tuning] Q2 Linux DR Tuning - Part 6
  rules/linux/privilege_escalation_dac_permissions.toml
  rules/linux/privilege_escalation_load_and_unload_of_kernel_via_kexec.toml
  rules/linux/privilege_escalation_potential_suid_sgid_exploitation.toml
  rules/linux/privilege_escalation_shadow_file_read.toml
  rules/linux/privilege_escalation_suspicious_uid_guid_elevation.toml
  rules/linux/privilege_escalation_uid_elevation_from_unknown_executable.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#4170 [Rule Tuning] Q2 Linux DR Tuning - CP
  rules/cross-platform/command_and_control_non_standard_ssh_port.toml
  rules/cross-platform/defense_evasion_elastic_agent_service_terminated.toml
  rules/cross-platform/defense_evasion_masquerading_space_after_filename.toml
  rules/cross-platform/discovery_security_software_grep.toml
  rules/cross-platform/execution_python_script_in_cmdline.toml
  rules/cross-platform/execution_suspicious_jar_child_process.toml
Labels: OS: Linux, Rule: Tuning, backport: auto, Team: TRADE

#4171 [Rule Tuning] Q2 Linux DR Tuning - BBR
  rules_building_block/discovery_capnetraw_capability.toml
  rules_building_block/discovery_kernel_module_enumeration_via_proc.toml
  rules_building_block/discovery_linux_modprobe_enumeration.toml
  rules_building_block/discovery_linux_sysctl_enumeration.toml
  rules_building_block/discovery_potential_memory_seeking_activity.toml
Labels: OS: Linux, Rule: Tuning, backport: auto, Team: TRADE, bbr

#4172 [BBR Promotion] Q2 Linux BBR Promotion
  rules/linux/collection_linux_clipboard_activity.toml
  rules/linux/command_and_control_linux_ssh_x11_forwarding.toml
  rules/linux/defense_evasion_acl_modification_via_setfacl.toml
  rules/linux/defense_evasion_creation_of_hidden_files_directories.toml
  rules/linux/discovery_suspicious_memory_grep_activity.toml
  rules/linux/execution_unix_socket_communication.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE

#4166 [Rule Tuning] Q2 Linux DR Tuning - Part 5
  rules/linux/persistence_setuid_setgid_capability_set.toml
  rules/linux/persistence_shadow_file_modification.toml
  rules/linux/persistence_shared_object_creation.toml
  rules/linux/persistence_shell_configuration_modification.toml
  rules/linux/persistence_ssh_netcon.toml
  rules/linux/persistence_suspicious_ssh_execution_xzbackdoor.toml
  rules/linux/persistence_systemd_generator_creation.toml
  rules/linux/persistence_systemd_netcon.toml
  rules/linux/persistence_systemd_scheduled_timer_created.toml
  rules/linux/persistence_systemd_service_creation.toml
  rules/linux/persistence_udev_rule_creation.toml
  rules/linux/persistence_yum_package_manager_plugin_file_creation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#4165 [Rule Tuning] Q2 Linux DR Tuning - Part 4
  rules/linux/impact_potential_linux_ransomware_note_detected.toml
  rules/linux/persistence_apt_package_manager_file_creation.toml
  rules/linux/persistence_chkconfig_service_add.toml
  rules/linux/persistence_credential_access_modify_ssh_binaries.toml
  rules/linux/persistence_cron_job_creation.toml
  rules/linux/persistence_dpkg_unusual_execution.toml
  rules/linux/persistence_git_hook_file_creation.toml
  rules/linux/persistence_init_d_file_creation.toml
  rules/linux/persistence_insmod_kernel_module_load.toml
  rules/linux/persistence_kde_autostart_modification.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#4169 [Rule Tuning] Tuning 'Unusual Instance Metadata Service (IMDS) API Request'
  rules/linux/credential_access_unusual_instance_metadata_service_api_request.toml
Labels: Integration: AWS, Domain: Cloud, OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#4096 Add testcase to check for related_integrations based on index
  detection_rules/schemas/definitions.py
  rules/cross-platform/execution_aws_ssm_sendcommand_with_command_parameters.toml
  rules/windows/command_and_control_new_terms_commonly_abused_rat_execution.toml
  rules/windows/command_and_control_rdp_tunnel_plink.toml
  rules/windows/command_and_control_screenconnect_childproc.toml
  rules/windows/command_and_control_tunnel_vscode.toml
  rules/windows/credential_access_cmdline_dump_tool.toml
  rules/windows/credential_access_dcsync_newterm_subjectuser.toml
  rules/windows/credential_access_persistence_network_logon_provider_modification.toml
  rules/windows/credential_access_saved_creds_vaultcmd.toml
  rules/windows/credential_access_via_snapshot_lsass_clone_creation.toml
  rules/windows/defense_evasion_cve_2020_0601.toml
  rules/windows/defense_evasion_defender_disabled_via_registry.toml
  rules/windows/defense_evasion_from_unusual_directory.toml
  rules/windows/defense_evasion_sip_provider_mod.toml
  rules/windows/defense_evasion_suspicious_zoom_child_process.toml
  rules/windows/defense_evasion_unusual_system_vp_child_program.toml
  rules/windows/defense_evasion_via_filter_manager.toml
  rules/windows/execution_com_object_xwizard.toml
  rules/windows/execution_suspicious_pdf_reader.toml
  rules/windows/execution_via_mmc_console_file_unusual_path.toml
  rules/windows/impact_stop_process_service_threshold.toml
  rules/windows/impact_volume_shadow_copy_deletion_via_wmic.toml
  rules/windows/lateral_movement_execution_from_tsclient_mup.toml
  rules/windows/lateral_movement_unusual_dns_service_children.toml
  rules/windows/persistence_registry_uncommon.toml
  rules/windows/persistence_via_update_orchestrator_service_hijack.toml
  rules/windows/privilege_escalation_dns_serverlevelplugindll.toml
  rules/windows/privilege_escalation_msi_repair_via_mshelp_link.toml
  rules/windows/privilege_escalation_printspooler_registry_copyfiles.toml
  rules_building_block/collection_files_staged_in_recycle_bin_root.toml
  rules_building_block/collection_outlook_email_archive.toml
  rules_building_block/command_and_control_bitsadmin_activity.toml
  rules_building_block/credential_access_win_private_key_access.toml
  rules_building_block/defense_evasion_cmd_copy_binary_contents.toml
  rules_building_block/defense_evasion_cmstp_execution.toml
  rules_building_block/defense_evasion_indirect_command_exec_pcalua_forfiles.toml
  rules_building_block/defense_evasion_installutil_command_activity.toml
  rules_building_block/defense_evasion_msdt_suspicious_diagcab.toml
  rules_building_block/defense_evasion_service_path_registry.toml
  rules_building_block/defense_evasion_services_exe_path.toml
  rules_building_block/defense_evasion_suspicious_msiexec_execution.toml
  rules_building_block/defense_evasion_unusual_process_path_wbem.toml
  rules_building_block/discovery_files_dir_systeminfo_via_cmd.toml
  rules_building_block/discovery_generic_process_discovery.toml
  rules_building_block/discovery_security_software_wmic.toml
  rules_building_block/discovery_system_service_discovery.toml
  rules_building_block/discovery_system_time_discovery.toml
  rules_building_block/discovery_windows_system_information_discovery.toml
  rules_building_block/execution_settingcontent_ms_file_creation.toml
  rules_building_block/execution_wmi_wbemtest.toml
  rules_building_block/lateral_movement_at.toml
  rules_building_block/lateral_movement_wmic_remote.toml
  tests/test_all_rules.py
Labels: enhancement, Rule: Tuning, OS: Windows, Domain: Endpoint, python, schema, backport: auto, bbr

#4176 react_sync_rta_updates_4179
  rta/linux_defense_evasion_proxy_execution_via_ld_so.py
Labels: enhancement, RTA, backport: auto

#4177 react_sync_rta_updates_4180
  rta/linux_defense_evasion_proxy_execution_via_pidstat.py
Labels: enhancement, RTA, backport: auto

#4178 react_sync_rta_updates_4182
  rta/linux_defense_evasion_proxy_execution_via_split.py
Labels: enhancement, RTA, backport: auto

#4179 react_sync_rta_updates_4183
  rta/linux_defense_evasion_proxy_execution_via_sysctl.py
Labels: enhancement, RTA, backport: auto

#4181 react_sync_rta_updates_4185
  rta/linux_defense_evasion_shebang_decoded_via_builtin_utility.py
Labels: enhancement, RTA, backport: auto

#4182 react_sync_rta_updates_4186
  rta/linux_execution_bind_shell_via_nc_traditional.py
Labels: enhancement, RTA, backport: auto

#4183 react_sync_rta_updates_4181
  rta/linux_defense_evasion_proxy_execution_via_sed.py
Labels: enhancement, RTA, backport: auto

#4184 react_sync_rta_updates_4187
  rta/linux_execution_bind_shell_via_node.py
Labels: enhancement, RTA, backport: auto

#4185 react_sync_rta_updates_4188
  rta/linux_execution_bind_shell_via_socket.py
Labels: enhancement, RTA, backport: auto

#4186 react_sync_rta_updates_4189
  rta/linux_execution_gsocket_activity.py
Labels: enhancement, RTA, backport: auto

#4187 react_sync_rta_updates_4190
  rta/linux_execution_reverse_or_bind_shell_via_utility.py
Labels: enhancement, RTA, backport: auto

#4189 react_sync_rta_updates_4192
  rta/linux_impact_enable_write_access_to_msr.py
Labels: enhancement, RTA, backport: auto

#4192 react_sync_rta_updates_4207
  rta/linux_persistence_webserver_curl_wget_download_ip_args.py
Labels: enhancement, RTA, backport: auto

#4193 react_sync_rta_updates_4208
  rta/linux_persistence_webserver_curl_wget_piped_to_interpreter.py
Labels: enhancement, RTA, backport: auto

#4194 react_sync_rta_updates_4209
  rta/linux_persistence_webserver_curl_wget_suspicious_redirect.py
Labels: enhancement, RTA, backport: auto

#4195 react_sync_rta_updates_4212
  rta/linux_defense_evasion_proxy_execution_via_php.py
Labels: enhancement, RTA, backport: auto

#4199 react_sync_rta_updates_4224
  rta/linux_defense_evasion_sysctl_kernel_feature_activity.py
Labels: enhancement, RTA, backport: auto

#4198 react_sync_rta_updates_4221
  rta/linux_defense_evasion_lolbin_so_load.py
Labels: enhancement, RTA, backport: auto

#4197 react_sync_rta_updates_4216
  rta/linux_command_and_control_curl_wget_hidden_directory_output.py
Labels: enhancement, RTA, backport: auto

#4196 react_sync_rta_updates_4215
  rta/linux_command_and_control_cupsd_foomatic_rip_netcon.py
Labels: enhancement, RTA, backport: auto

#4205 Tune Bedrock rule to accept multivalued column
  rules/integrations/aws_bedrock/aws_bedrock_high_confidence_misconduct_blocks_detected.toml
Labels: Rule: Tuning, backport: auto, meta:rapid-merge

#4200 react_sync_rta_updates_4226
  rta/linux_execution_cupsd_foomatic_rip_shell_execution.py
Labels: enhancement, RTA, backport: auto

#4201 react_sync_rta_updates_4228
  rta/linux_execution_cupsd_foomatic_rip_suspicious_child_execution.py
Labels: enhancement, RTA, backport: auto

#4202 react_sync_rta_updates_4229
  rta/linux_execution_linux_powershell_outbound_network_connection.py
Labels: enhancement, RTA, backport: auto

#4203 react_sync_rta_updates_4230
  rta/linux_execution_renice_ulimit.py
Labels: enhancement, RTA, backport: auto

#4204 react_sync_rta_updates_4232
  rta/linux_impact_potential_mining_pool_detection.py
Labels: enhancement, RTA, backport: auto

#4206 [Rule Tuning] Linux User Added to Privileged Group
  rules/linux/persistence_linux_user_added_to_privileged_group.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, community, backport: auto, Team: TRADE

#4191 [Rule Tuning] Potential Linux Hack Tool Launched
  rules/linux/execution_potential_hack_tool_executed.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#4216 Fix Minstack version for windows integration - Pahse 2
  rules/cross-platform/defense_evasion_deleting_websvr_access_logs.toml
  rules/cross-platform/impact_hosts_file_modified.toml
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_host.toml
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_parent_process.toml
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_user.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event_high_probability.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_host.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_parent_process.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_user.toml
  rules/ml/credential_access_ml_windows_anomalous_metadata_process.toml
  rules/ml/credential_access_ml_windows_anomalous_metadata_user.toml
  rules/ml/execution_ml_windows_anomalous_script.toml
  rules/ml/initial_access_ml_windows_anomalous_user_name.toml
  rules/ml/initial_access_ml_windows_rare_user_type10_remote_login.toml
  rules/ml/ml_windows_anomalous_network_activity.toml
  rules/ml/persistence_ml_rare_process_by_host_windows.toml
  rules/ml/persistence_ml_windows_anomalous_path_activity.toml
  rules/ml/persistence_ml_windows_anomalous_process_all_hosts.toml
  rules/ml/persistence_ml_windows_anomalous_service.toml
  rules/ml/privilege_escalation_ml_windows_rare_user_runas_event.toml
  rules_building_block/collection_files_staged_in_recycle_bin_root.toml
  rules_building_block/collection_outlook_email_archive.toml
  rules_building_block/collection_posh_compression.toml
  rules_building_block/command_and_control_bitsadmin_activity.toml
  rules_building_block/command_and_control_certutil_network_connection.toml
  rules_building_block/credential_access_win_private_key_access.toml
  rules_building_block/defense_evasion_cmd_copy_binary_contents.toml
  rules_building_block/defense_evasion_cmstp_execution.toml
  rules_building_block/defense_evasion_indirect_command_exec_pcalua_forfiles.toml
  rules_building_block/defense_evasion_installutil_command_activity.toml
  rules_building_block/defense_evasion_msdt_suspicious_diagcab.toml
  rules_building_block/defense_evasion_posh_defender_tampering.toml
  rules_building_block/defense_evasion_powershell_clear_logs_script.toml
  rules_building_block/defense_evasion_service_path_registry.toml
  rules_building_block/defense_evasion_services_exe_path.toml
  rules_building_block/defense_evasion_suspicious_msiexec_execution.toml
  rules_building_block/defense_evasion_unusual_process_path_wbem.toml
  rules_building_block/defense_evasion_write_dac_access.toml
  rules_building_block/discovery_files_dir_systeminfo_via_cmd.toml
  rules_building_block/discovery_generic_process_discovery.toml
  rules_building_block/discovery_net_share_discovery_winlog.toml
  rules_building_block/discovery_net_view.toml
  rules_building_block/discovery_posh_generic.toml
  rules_building_block/discovery_posh_password_policy.toml
  rules_building_block/discovery_security_software_wmic.toml
  rules_building_block/discovery_system_service_discovery.toml
  rules_building_block/discovery_windows_system_information_discovery.toml
  rules_building_block/execution_settingcontent_ms_file_creation.toml
  rules_building_block/execution_wmi_wbemtest.toml
  rules_building_block/lateral_movement_at.toml
  rules_building_block/lateral_movement_wmic_remote.toml
  rules_building_block/persistence_transport_agent_exchange.toml
Labels: ML, Rule: Tuning, backport: auto, bbr, meta:rapid-merge

#4213 react_sync_rta_updates_4250
  rta/linux_command_and_control_cupsd_foomatic_rip_netcon.py
  rta/linux_command_and_control_curl_wget_hidden_directory_output.py
  rta/linux_defense_evasion_lolbin_so_load.py
  rta/linux_defense_evasion_process_masquerading_via_exec.py
  rta/linux_defense_evasion_proxy_execution_via_crash.py
  rta/linux_defense_evasion_proxy_execution_via_ld_so.py
  rta/linux_defense_evasion_proxy_execution_via_php.py
  rta/linux_defense_evasion_proxy_execution_via_pidstat.py
  rta/linux_defense_evasion_proxy_execution_via_sed.py
  rta/linux_defense_evasion_proxy_execution_via_split.py
  rta/linux_defense_evasion_proxy_execution_via_sysctl.py
  rta/linux_defense_evasion_proxy_execution_via_tcpdump.py
  rta/linux_defense_evasion_shebang_decoded_via_builtin_utility.py
  rta/linux_defense_evasion_sysctl_kernel_feature_activity.py
  rta/linux_execution_bind_shell_via_nc_traditional.py
  rta/linux_execution_bind_shell_via_node.py
  rta/linux_execution_bind_shell_via_socket.py
  rta/linux_execution_cupsd_foomatic_rip_shell_execution.py
  rta/linux_execution_cupsd_foomatic_rip_suspicious_child_execution.py
  rta/linux_execution_gsocket_activity.py
  rta/linux_execution_linux_powershell_outbound_network_connection.py
  rta/linux_execution_reverse_or_bind_shell_via_utility.py
  rta/linux_impact_enable_write_access_to_msr.py
  rta/linux_persistence_webserver_curl_wget_download_ip_args.py
  rta/linux_persistence_webserver_curl_wget_piped_to_interpreter.py
  rta/linux_persistence_webserver_curl_wget_suspicious_redirect.py
Labels: enhancement, RTA, backport: auto

#4209 [New Rule] AWS STS Role Chaining
  rules/integrations/aws/privilege_escalation_sts_role_chaining.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto
