Repository elastic/detection-rules, pull requests merged in 2024-09, with the labels that each got.

#4028 [New Rule] Attempt to Disable Auditd Service
  rules/linux/defense_evasion_attempt_to_disable_auditd_service.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4009 [New Rule] Access Control List Modification via setfacl
  rules_building_block/defense_evasion_acl_modification_via_setfacl.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE, bbr

#4024 [New Rule] SELinux Configuration Creation or Modification
  rules/linux/defense_evasion_selinux_configuration_creation_or_renaming.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4048 Testcase to check if Rule Type: BBR tag is present for all BBR rules
  rules_building_block/command_and_control_certutil_network_connection.toml
  rules_building_block/discovery_capnetraw_capability.toml
  rules_building_block/discovery_signal_unusual_user_host.toml
  rules_building_block/execution_aws_lambda_function_updated.toml
  rules_building_block/initial_access_cross_site_scripting.toml
  rules_building_block/lateral_movement_rdp_conn_unusual_process.toml
  tests/test_all_rules.py
Labels: enhancement, backport: auto, bbr, meta:rapid-merge

#4025 [New Rule] Root Certificate Installation
  rules/linux/defense_evasion_root_certificate_installation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#3988 [New Hunt] Add AWS Hunting Queries to Shared Hunting Library
  hunting/aws/docs/ec2_discovery_multi_region_describe_instance_calls.md
  hunting/aws/docs/ec2_discovery_multi_region_get_service_quota_calls.md
  hunting/aws/docs/ec2_high_instance_deployment_count_attempts.md
  hunting/aws/docs/ec2_modify_instance_attribute_user_data.md
  hunting/aws/docs/ec2_suspicious_get_user_password_request.md
  hunting/aws/docs/iam_assume_role_creation_with_attached_policy.md
  hunting/aws/docs/iam_user_activity_with_no_mfa_session.md
  hunting/aws/docs/iam_user_creation_with_administrator_policy_assigned.md
  hunting/aws/docs/lambda_add_permissions_for_write_actions_to_function.md
  hunting/aws/docs/multiple_service_logging_deleted_or_stopped.md
  hunting/aws/docs/s3_public_bucket_rapid_object_access_attempts.md
  hunting/aws/docs/secretsmanager_high_frequency_get_secret_value.md
  hunting/aws/docs/servicequotas_discovery_multi_region_get_service_quota_calls.md
  hunting/aws/docs/signin_single_factor_console_login_via_federated_session.md
  hunting/aws/docs/ssm_rare_sendcommand_code_execution.md
  hunting/aws/docs/ssm_sendcommand_api_used_by_ec2_instance.md
  hunting/aws/docs/ssm_start_remote_session_to_ec2_instance.md
  hunting/aws/docs/sts_suspicious_federated_temporary_credential_request.md
  hunting/aws/queries/ec2_discovery_multi_region_describe_instance_calls.toml
  hunting/aws/queries/ec2_high_instance_deployment_count_attempts.toml
  hunting/aws/queries/ec2_modify_instance_attribute_user_data.toml
  hunting/aws/queries/ec2_suspicious_get_user_password_request.toml
  hunting/aws/queries/iam_assume_role_creation_with_attached_policy.toml
  hunting/aws/queries/iam_user_activity_with_no_mfa_session.toml
  hunting/aws/queries/iam_user_creation_with_administrator_policy_assigned.toml
  hunting/aws/queries/lambda_add_permissions_for_write_actions_to_function.toml
  hunting/aws/queries/multiple_service_logging_deleted_or_stopped.toml
  hunting/aws/queries/s3_public_bucket_rapid_object_access_attempts.toml
  hunting/aws/queries/secretsmanager_high_frequency_get_secret_value.toml
  hunting/aws/queries/servicequotas_discovery_multi_region_get_service_quota_calls.toml
  hunting/aws/queries/signin_single_factor_console_login_via_federated_session.toml
  hunting/aws/queries/ssm_rare_sendcommand_code_execution.toml
  hunting/aws/queries/ssm_sendcommand_api_used_by_ec2_instance.toml
  hunting/aws/queries/ssm_start_remote_session_to_ec2_instance.toml
  hunting/aws/queries/sts_suspicious_federated_temporary_credential_request.toml
  hunting/index.md
  hunting/windows/docs/suspicious_dns_txt_record_lookups_by_process.md
  hunting/windows/queries/suspicious_dns_txt_record_lookups_by_process.toml
Labels: Integration: AWS, Domain: Cloud, backport: auto, Hunt: New, threat hunting

#4005 [New Rule] Instance Metadata Service (IMDS) API Requests - Linux
  rules/linux/credential_access_unusual_instance_metadata_service_api_request.toml
Labels: Domain: Cloud, OS: Linux, Domain: Network, Rule: New, Domain: Endpoint, backport: auto

#4053 [Tuning] Potential Execution via XZBackdoor
  rules/linux/persistence_suspicious_ssh_execution_xzbackdoor.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#4054 [New Rule] New Microsoft 365 Impossible Travel Rules and Deprecation
  rules/integrations/o365/initial_access_microsoft_365_impossible_travel_activity.toml
  rules/integrations/o365/initial_access_microsoft_365_impossible_travel_portal_logins.toml
  rules/integrations/o365/initial_access_microsoft_365_portal_login_from_rare_location.toml
Labels: Domain: Cloud, Rule: New, Rule: Deprecation, Integration: Microsoft 365, backport: auto

#4057 [Rule Tuning] M365/Azure Brute-Forcing New Rule and Tuning; Deprecate Similar Rule
  rules/integrations/azure/credential_access_entra_signin_brute_force_microsoft_365.toml
  rules/integrations/azure/credential_access_entra_signin_brute_force_microsoft_365_repeat_source.toml
  rules/integrations/o365/credential_access_microsoft_365_brute_force_user_account_attempt.toml
  rules/integrations/o365/credential_access_microsoft_365_potential_password_spraying_attack.toml
Labels: Integration: Azure, Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto, Domain: SaaS

#4065 [Tuning] Unusual Network Activity from a Windows System Binary
  rules/windows/defense_evasion_network_connection_from_windows_binary.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4068 react_sync_rta_updates_4022
  rta/linux_execution_kill_from_executable_in_unusual_location.py
Labels: enhancement, RTA, backport: auto

#4069 react_sync_rta_updates_4023
  rta/linux_persistence_direct_crontab_modification.py
Labels: enhancement, RTA, backport: auto

#4071 react_sync_rta_updates_4032
  rta/linux_execution_reverse_shell_or_listener_via_socat.py
Labels: enhancement, RTA, backport: auto

#4070 react_sync_rta_updates_4025
  rta/linux_command_and_control_ip_address_arg_from_hidden_executable.py
Labels: enhancement, RTA, backport: auto

#4067 [Rule Tuning] Remote Execution via File Shares
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4066 Support toml lint for investigate transforms
  detection_rules/etc/test_cli.bash
  detection_rules/etc/test_toml.json
  detection_rules/rule_formatter.py
Labels: bug, python, backport: auto

#4052 [New Rule] Cross Platform: AWS `SendCommand` API Call with Run Shell Command Parameters
  rules/cross-platform/execution_aws_ssm_sendcommand_with_command_parameters.toml
Labels: Domain: Cloud, OS: Linux, OS: macOS, Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4072 [New Rule] AWS Bedrock Detections
  hunting/llm/docs/aws_bedrock_ignore_previous_prompt_detection.md
  hunting/llm/queries/aws_bedrock_ignore_previous_prompt_detection.toml
  rules/integrations/aws_bedrock/aws_bedrock_multiple_validation_exception_errors_by_single_user.toml
Labels: Rule: New, Rule: Hunt, backport: auto

#4073 Skip Development Rules from Security Docs
  detection_rules/docs.py
Labels: bug, python, backport: auto, meta:rapid-merge

#4075 [New Rule] PowerShell Script with Windows Defender Tampering Capabilities
  rules_building_block/defense_evasion_posh_defender_tampering.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#4076 [New] Potential Escalation via Vulnerable MSI Repair - CVE-2024-38014
  rules/windows/privilege_escalation_msi_repair_via_mshelp_link.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4074 [New Rule] Okta Public Client App OAuth Token Request with Client Credentials
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/okta/defense_evasion_first_occurence_public_app_client_credential_token_exchange.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, backport: auto, Domain: SaaS

#4058 [New] Detonate LNK TOP Rules
  rules/windows/execution_windows_cmd_shell_susp_args.toml
  rules/windows/execution_windows_powershell_susp_args.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4043 [New] WPS Office Exploitation via DLL Hijack
  rules/windows/execution_initial_access_wps_dll_exploit.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4060 [New] Suspicious PowerShell Execution via Windows Scripts
  rules/windows/defense_evasion_script_via_html_app.toml
  rules/windows/execution_powershell_susp_args_via_winscript.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4062 [New] MsiExec Service Child Process With Network Connection
  rules/windows/defense_evasion_msiexec_child_proc_netcon.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4061 [New] Attempt to establish VScode Remote Tunnel
  rules/windows/command_and_control_common_webservices.toml
  rules/windows/command_and_control_tunnel_vscode.toml
Labels: Rule: New, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4055 [New] Persistence via a Windows Installer
  rules/windows/persistence_msi_installer_task_startup.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3918 [New] Execution via Windows Command Debugging Utility
  rules/windows/defense_evasion_lolbas_win_cdb_utility.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4079 [Rule Tuning] min_stack New Rules that use the S1 Integration
  rules/windows/defense_evasion_msiexec_child_proc_netcon.toml
  rules/windows/execution_initial_access_foxmail_exploit.toml
  rules/windows/execution_powershell_susp_args_via_winscript.toml
  rules/windows/execution_windows_cmd_shell_susp_args.toml
  rules/windows/execution_windows_powershell_susp_args.toml
  rules/windows/privilege_escalation_msi_repair_via_mshelp_link.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4081 min_stack New Rules that use the S1 Integration
  rules/windows/defense_evasion_script_via_html_app.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4064 [New Hunt] Add Initial Okta Hunting Queries
  hunting/index.md
  hunting/llm/docs/aws_bedrock_ignore_previous_prompt_detection.md
  hunting/okta/docs/docs/credential_access_hgher_than_average_failed_authentication.md
  hunting/okta/docs/docs/credential_access_mfa_bombing_push_notications.md
  hunting/okta/docs/docs/credential_access_password_spraying_from_repeat_source.md
  hunting/okta/docs/docs/credential_access_rapid_reset_password_requests_for_different_users.md
  hunting/okta/docs/docs/defense_evasion_failed_oauth_access_token_retrieval_via_public_client_app.md
  hunting/okta/docs/docs/defense_evasion_multiple_application_sso_authentication_repeat_source.md
  hunting/okta/docs/docs/defense_evasion_multiple_client_sources_reported_for_oauth_access_tokens_granted.md
  hunting/okta/docs/docs/defense_evasion_rare_oauth_access_token_granted_by_application.md
  hunting/okta/docs/docs/initial_access_hgher_than_average_failed_authentication.md
  hunting/okta/docs/docs/initial_access_higher_than_average_failed_authentication.md
  hunting/okta/docs/docs/initial_access_impossible_travel_sign_on.md
  hunting/okta/docs/docs/initial_access_password_spraying_from_repeat_source.md
  hunting/okta/docs/docs/persistence_multi_factor_push_notification_bombing.md
  hunting/okta/docs/docs/persistence_rare_domain_with_user_authentication.md
  hunting/okta/docs/docs/persistence_rare_tld_with_user_authentication.md
  hunting/okta/docs/queries/credential_access_mfa_bombing_push_notications.toml
  hunting/okta/docs/queries/credential_access_rapid_reset_password_requests_for_different_users.toml
  hunting/okta/docs/queries/defense_evasion_failed_oauth_access_token_retrieval_via_public_client_app.toml
  hunting/okta/docs/queries/defense_evasion_multiple_application_sso_authentication_repeat_source.toml
  hunting/okta/docs/queries/defense_evasion_multiple_client_sources_reported_for_oauth_access_tokens_granted.toml
  hunting/okta/docs/queries/defense_evasion_rare_oauth_access_token_granted_by_application.toml
  hunting/okta/docs/queries/initial_access_higher_than_average_failed_authentication.toml
  hunting/okta/docs/queries/initial_access_impossible_travel_sign_on.toml
  hunting/okta/docs/queries/initial_access_password_spraying_from_repeat_source.toml
  hunting/okta/docs/queries/persistence_multi_factor_push_notification_bombing.toml
  hunting/okta/docs/queries/persistence_rare_domain_with_user_authentication.toml
Labels: Domain: Cloud, Integration: Okta, backport: auto, Hunt: New, Domain: SaaS, meta:rapid-merge

#4084 [New] ROT encoded Python Script Execution
  rules/cross-platform/defense_evasion_encoding_rot13_python_script.toml
Labels: OS: macOS, Rule: New, OS: Windows, backport: auto

#4094 [Rule Tuning] AWS STS GetCallerIdentity API Called for the First Time
  rules/integrations/aws/discovery_new_terms_sts_getcalleridentity.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto

#4106 [New Rules] CVE-2024-x.x.x.x.x (CUPS/Foomatic-RIP RCE)
  rules/linux/command_and_control_cupsd_foomatic_rip_netcon.toml
  rules/linux/execution_cupsd_foomatic_rip_file_creation.toml
  rules/linux/execution_cupsd_foomatic_rip_lp_user_execution.toml
  rules/linux/execution_cupsd_foomatic_rip_shell_execution.toml
  rules/linux/execution_cupsd_foomatic_rip_suspicious_child_execution.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, emerging-threat, Team: TRADE

#4111 Fix GenAI Request Model ID Filed
  rules/integrations/aws_bedrock/aws_bedrock_guardrails_multiple_violations_by_single_user.toml
Labels: Rule: Tuning, backport: auto, meta:rapid-merge

#4104 [Tuning] Attempt to Establish VScode Remote Tunnel
  rules/windows/command_and_control_tunnel_vscode.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4105 [Rule Tuning] Ignore "Not Available" in `o365.audit.UserId` for Microsoft 365 Rules
  rules/integrations/o365/credential_access_microsoft_365_brute_force_user_account_attempt.toml
  rules/integrations/o365/initial_access_microsoft_365_impossible_travel_portal_logins.toml
  rules/integrations/o365/initial_access_microsoft_365_portal_login_from_rare_location.toml
Labels: Domain: Cloud, Rule: Tuning, community, Integration: Microsoft 365, backport: auto, Domain: SaaS
