Repository elastic/detection-rules, pull requests merged in 2024-06, with the labels that each got.

#3603 [New Rule] AWS S3 Bucket Policy Added to Share with External Account
  rules/integrations/aws/exfiltration_s3_bucket_policy_added_for_external_account_access.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD

#3610 [New Rule] Building Block - AWS Lambda Function Created or Updated
  rules_building_block/execution_aws_lambda_function_updated.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD, bbr

#3631 [New Rule] AWS Lambda Layer Added to Existing Function
  rules/integrations/aws/execution_lambda_external_layer_added_to_function.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD

#3601 [New Rule] AWS EC2 EBS Snapshot Shared with Another Account
  rules/integrations/aws/exfiltration_ec2_ebs_snapshot_shared_with_another_account.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD

#3632 [New Rule] AWS Lambda Function Policy Updated To Allow Public Invocation
  rules/integrations/aws/persistence_lambda_backdoor_invoke_function_for_any_principal.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD

#3733 [Update] Updating `upload-artifact` to Version 4
  .github/workflows/lock-versions.yml
  .github/workflows/pythonpackage.yml
  .github/workflows/release-fleet.yml
Labels: dev, backport: auto, Supportability

#3729 [Rule Tuning] Agent Spoofing
  rules/cross-platform/defense_evasion_agent_spoofing_mismatched_id.toml
Labels: OS: Linux, Rule: Tuning, backport: auto, Area: RAD, Team: TRADE

#3726 [New Rule & Tuning] (Ana)Cron & At Job Creation
  rules/linux/persistence_at_job_creation.toml
  rules/linux/persistence_cron_job_creation.toml
Labels: OS: Linux, Rule: New, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3728 [Rule Tuning] Systemd Service & Timer
  rules/linux/persistence_systemd_scheduled_timer_created.toml
  rules/linux/persistence_systemd_service_creation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3730 [Rule Tuning] Message-of-the-Day (MOTD)
  rules/linux/persistence_message_of_the_day_creation.toml
  rules/linux/persistence_message_of_the_day_execution.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3732 [Rule Tuning] Shell Configuration Creation or Modification
  rules/linux/persistence_shell_configuration_modification.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3609 [New Rule] AWS IAM Roles Anywhere Profile Creation and Trusted Anchor with External CA Created
  rules/integrations/aws/persistence_iam_roles_anywhere_profile_created.toml
  rules/integrations/aws/persistence_iam_roles_anywhere_trusted_anchor_created_with_external_ca.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD

#3634 [New Rule] AWS EC2 Instance Connect SSH Public Key Uploaded
  rules/integrations/aws/privilege_escalation_ec2_instance_connect_ssh_public_key_uploaded.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD

#3731 [New Rule] SSH Key Generated via ssh-keygen
  rules/linux/persistence_ssh_key_generation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3745 [Rule Tuning] Potential Sudo Hijacking
  rules/linux/privilege_escalation_sudo_hijacking.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3742 [Rule Tuning] System Binary Moved or Copied
  rules/linux/defense_evasion_binary_copied_to_suspicious_directory.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3744 [New Rule] Process Capability Set via setcap Utility
  rules/linux/persistence_process_capability_set_via_setcap.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3727 Test deprecated rule modification
  .github/workflows/pythonpackage.yml
  tests/test_all_rules.py
Labels: enhancement, python, backport: auto

#3763 [Rule Tuning] User Added to Privileged Group
  rules/windows/persistence_user_account_added_to_privileged_group_ad.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3679 [FR][DAC] Add Support for Custom Schemas
  detection_rules/__init__.py
  detection_rules/custom_schemas.py
  detection_rules/ecs.py
  detection_rules/rule_validators.py
  detection_rules/schemas/__init__.py
  docs/custom-rules.md
Labels: enhancement, python, schema, Area: DED, Team: TRADE, detections-as-code

#3735 [New rules] AWS IAM AdministratorAccess Policy Attached to : User, Group, Role(es|ql)
  rules/integrations/aws/privilege_escalation_aws_iam_administratoraccess_policy_attached_to_group.toml
  rules/integrations/aws/privilege_escalation_aws_iam_administratoraccess_policy_attached_to_role.toml
  rules/integrations/aws/privilege_escalation_aws_iam_administratoraccess_policy_attached_to_user.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#3741 [New Rule] Netcon through XDG Autostart Entry
  rules/linux/persistence_xdg_autostart_netcon.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3759 [New Rule] Network Connection Initiated by SSH Parent Process
  rules/linux/persistence_ssh_netcon.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3770 [Rule Tuning] Fixing index in `Attempt to Retrieve User Data from AWS EC2 Instance`
  rules_building_block/discovery_userdata_request_from_ec2_instance.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto, bbr

#3739 [New Rule] APT Package Manager Configuration File Creation
  rules/linux/persistence_apt_package_manager_file_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3738 [Rule Tuning] Systemd-udevd Rule File Creation
  rules/linux/persistence_udev_rule_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3743 [New Rules] PAM Module Creation & Unusual PAM Grantor
  rules/linux/persistence_pluggable_authentication_module_creation.toml
  rules/linux/persistence_unusual_pam_grantor.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3746 [New Rule] Suspicious File Modification
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  rules/integrations/fim/persistence_suspicious_file_modifications.toml
  tests/test_all_rules.py
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3771 [Rule Tuning] Statistical Model Detected C2 Beaconing Activity
  rules/integrations/beaconing/command_and_control_beaconing.toml
Labels: community, backport: auto

#3777 Update Minstack versions for SentinelOne rules
  rules/windows/collection_email_powershell_exchange_mailbox.toml
  rules/windows/command_and_control_port_forwarding_added_registry.toml
  rules/windows/command_and_control_rdp_tunnel_plink.toml
  rules/windows/command_and_control_screenconnect_childproc.toml
  rules/windows/credential_access_domain_backup_dpapi_private_keys.toml
  rules/windows/credential_access_kirbi_file.toml
  rules/windows/credential_access_mimikatz_memssp_default_logs.toml
  rules/windows/defense_evasion_amsi_bypass_dllhijack.toml
  rules/windows/defense_evasion_hide_encoded_executable_registry.toml
  rules/windows/defense_evasion_masquerading_suspicious_werfault_childproc.toml
  rules/windows/defense_evasion_persistence_account_tokenfilterpolicy.toml
  rules/windows/defense_evasion_suspicious_zoom_child_process.toml
  rules/windows/execution_command_shell_started_by_unusual_process.toml
  rules/windows/initial_access_suspicious_ms_outlook_child_process.toml
  rules/windows/persistence_adobe_hijack_persistence.toml
  rules/windows/persistence_appcertdlls_registry.toml
  rules/windows/persistence_local_scheduled_job_creation.toml
  rules/windows/persistence_system_shells_via_services.toml
  rules/windows/persistence_via_bits_job_notify_command.toml
  rules/windows/persistence_webshell_detection.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#3781 Update FIM integration Setup sequence
  rules/integrations/fim/persistence_suspicious_file_modifications.toml
Labels: backport: auto

#3717 [New Rule] Potential DNS Server Privilege Escalation via ServerLevelPluginDll
  rules/windows/privilege_escalation_dns_serverlevelplugindll.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3718 [New Rule] Rapid7 Threat Command CVEs Correlation
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  detection_rules/schemas/definitions.py
  rules/threat_intel/threat_intel_indicator_match_address.toml
  rules/threat_intel/threat_intel_indicator_match_hash.toml
  rules/threat_intel/threat_intel_indicator_match_registry.toml
  rules/threat_intel/threat_intel_indicator_match_url.toml
  rules/threat_intel/threat_intel_rapid7_threat_command.toml
  tests/test_all_rules.py
Labels: Rule: New, python, schema, backport: auto, Integration: Rapid7 Threat Command

#2855 Closes #2216
  rules/integrations/aws/privilege_escalation_sts_assumerole_usage.toml
Labels: Integration: AWS, Domain: Cloud, community, backlog, backport: auto

#3753 [FR] Loosen Filters Schema Validation
  detection_rules/rule.py
Labels: enhancement, python, backport: auto, detections-as-code

#3798 Adding setup templates to the ML rules
  rules/integrations/aws/ml_cloudtrail_error_message_spike.toml
  rules/integrations/aws/ml_cloudtrail_rare_error_code.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_city.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_country.toml
  rules/integrations/aws/ml_cloudtrail_rare_method_by_user.toml
  rules/ml/command_and_control_ml_packetbeat_dns_tunneling.toml
  rules/ml/command_and_control_ml_packetbeat_rare_dns_question.toml
  rules/ml/command_and_control_ml_packetbeat_rare_urls.toml
  rules/ml/command_and_control_ml_packetbeat_rare_user_agent.toml
  rules/ml/credential_access_ml_auth_spike_in_failed_logon_events.toml
  rules/ml/credential_access_ml_auth_spike_in_logon_events.toml
  rules/ml/credential_access_ml_auth_spike_in_logon_events_from_a_source_ip.toml
  rules/ml/credential_access_ml_linux_anomalous_metadata_process.toml
  rules/ml/credential_access_ml_linux_anomalous_metadata_user.toml
  rules/ml/credential_access_ml_suspicious_login_activity.toml
  rules/ml/credential_access_ml_windows_anomalous_metadata_process.toml
  rules/ml/credential_access_ml_windows_anomalous_metadata_user.toml
  rules/ml/discovery_ml_linux_system_information_discovery.toml
  rules/ml/discovery_ml_linux_system_network_configuration_discovery.toml
  rules/ml/discovery_ml_linux_system_network_connection_discovery.toml
  rules/ml/discovery_ml_linux_system_process_discovery.toml
  rules/ml/discovery_ml_linux_system_user_discovery.toml
  rules/ml/execution_ml_windows_anomalous_script.toml
  rules/ml/initial_access_ml_auth_rare_hour_for_a_user_to_logon.toml
  rules/ml/initial_access_ml_auth_rare_source_ip_for_a_user.toml
  rules/ml/initial_access_ml_auth_rare_user_logon.toml
  rules/ml/initial_access_ml_linux_anomalous_user_name.toml
  rules/ml/initial_access_ml_windows_anomalous_user_name.toml
  rules/ml/initial_access_ml_windows_rare_user_type10_remote_login.toml
  rules/ml/ml_high_count_network_denies.toml
  rules/ml/ml_high_count_network_events.toml
  rules/ml/ml_linux_anomalous_network_activity.toml
  rules/ml/ml_linux_anomalous_network_port_activity.toml
  rules/ml/ml_packetbeat_rare_server_domain.toml
  rules/ml/ml_rare_destination_country.toml
  rules/ml/ml_spike_in_traffic_to_a_country.toml
  rules/ml/ml_windows_anomalous_network_activity.toml
  rules/ml/persistence_ml_linux_anomalous_process_all_hosts.toml
  rules/ml/persistence_ml_rare_process_by_host_linux.toml
  rules/ml/persistence_ml_rare_process_by_host_windows.toml
  rules/ml/persistence_ml_windows_anomalous_path_activity.toml
  rules/ml/persistence_ml_windows_anomalous_process_all_hosts.toml
  rules/ml/persistence_ml_windows_anomalous_process_creation.toml
  rules/ml/persistence_ml_windows_anomalous_service.toml
  rules/ml/privilege_escalation_ml_linux_anomalous_sudo_activity.toml
  rules/ml/privilege_escalation_ml_windows_rare_user_runas_event.toml
  rules/ml/resource_development_ml_linux_anomalous_compiler_activity.toml
Labels: Integration: AWS, Domain: Cloud, ML, backport: auto

#3748 [New Rule] Potential WPAD Spoofing via DNS Record Creation
  rules/windows/credential_access_adidns_wpad_record.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3758 [New Rule] NTDS Dump via Wbadmin
  rules/windows/credential_access_wbadmin_ntds.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3757 [New Rule] Potential Privilege Escalation via Service ImagePath Modification
  rules/windows/privilege_escalation_reg_service_imagepath_mod.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3800 [Rule Tuning]: Fix threat_index and filters in Rapid7 CVE rule
  rules/threat_intel/threat_intel_rapid7_threat_command.toml
Labels: Rule: Tuning, backport: auto, Integration: Rapid7 Threat Command

#3799 [Rule Tuning] Okta User Sessions Started from Different Geolocations
  rules/integrations/okta/initial_access_okta_user_sessions_started_from_different_geolocations.toml
Labels: Domain: Cloud, Integration: Okta, Rule: Tuning, backport: auto, Domain: SaaS

#3794 Incorrect Integration Index Check
  tests/test_all_rules.py
Labels: Integration: AWS, Domain: Cloud, Integration: Okta, backport: auto

#3764 Test case to check updated_date
  tests/test_all_rules.py
Labels: OS: Linux, Domain: Endpoint, backport: auto, bbr

#3797 [New Rule] Okta Credential Stuffing and Password Spraying Identification via Source, Device Token and Actor
  rules/integrations/okta/credential_access_okta_authentication_for_multiple_users_from_single_source.toml
  rules/integrations/okta/credential_access_okta_authentication_for_multiple_users_with_the_same_device_token_hash.toml
  rules/integrations/okta/credential_access_okta_multiple_device_token_hashes_for_single_user.toml
Labels: Domain: Cloud, Rule: New, Integration: Okta, backport: auto, Domain: SaaS

#3788 [New Rule] AWS IAM User Created Access Keys for Another User
  rules/integrations/aws/persistence_iam_user_created_access_keys_for_another_user.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, esql

#3790 [Rule Tuning] Agent Spoofing - Multiple Hosts Using Same Agent
  rules/cross-platform/defense_evasion_agent_spoofing_multiple_hosts.toml
Labels: Rule: Tuning, community, backport: auto

#3820 [New Rules] Yum Plugin Creation / Discovery
  rules/linux/discovery_yum_dnf_plugin_detection.toml
  rules/linux/persistence_yum_package_manager_plugin_file_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#3825 [Rule Tuning] Add Initial Microsoft Defender for Endpoint Compatibility to Windows DRs
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  detection_rules/schemas/definitions.py
  rules/windows/collection_email_powershell_exchange_mailbox.toml
  rules/windows/command_and_control_rdp_tunnel_plink.toml
  rules/windows/command_and_control_screenconnect_childproc.toml
  rules/windows/credential_access_domain_backup_dpapi_private_keys.toml
  rules/windows/credential_access_kirbi_file.toml
  rules/windows/credential_access_lsass_openprocess_api.toml
  rules/windows/defense_evasion_amsi_bypass_dllhijack.toml
  rules/windows/defense_evasion_file_creation_mult_extension.toml
  rules/windows/defense_evasion_masquerading_trusted_directory.toml
  rules/windows/defense_evasion_persistence_account_tokenfilterpolicy.toml
  rules/windows/defense_evasion_suspicious_zoom_child_process.toml
  rules/windows/defense_evasion_via_filter_manager.toml
  rules/windows/discovery_whoami_command_activity.toml
  rules/windows/execution_command_shell_started_by_unusual_process.toml
  rules/windows/initial_access_exploit_jetbrains_teamcity.toml
  rules/windows/initial_access_suspicious_ms_outlook_child_process.toml
  rules/windows/persistence_adobe_hijack_persistence.toml
  rules/windows/persistence_appcertdlls_registry.toml
  rules/windows/persistence_system_shells_via_services.toml
  rules/windows/privilege_escalation_uac_bypass_event_viewer.toml
  tests/test_all_rules.py
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, python, schema, backport: auto

#3833 [New Rule] AD Group Modification by SYSTEM
  rules/windows/persistence_group_modification_by_system.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3834 [New] Microsoft Management Console File from Unusual Path
  rules/windows/execution_via_mmc_console_file_unusual_path.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3802 [Rule Tuning] SUID/SGID Bit Set
  rules/cross-platform/privilege_escalation_setuid_setgid_bit_set_via_chmod.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#3804 [New Rule] User or Group Creation/Modification
  rules/linux/persistence_user_or_group_creation_or_modification.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#3793 [New Rule] Privilege Escalation via SUID/SGID
  rules/linux/privilege_escalation_potential_suid_sgid_exploitation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#3839 [Rule Tuning] LSASS Process Access via Windows API
  rules/windows/credential_access_lsass_openprocess_api.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3829 Trim codeowners
  .github/CODEOWNERS
Labels: backport: auto

#3812 [Rule Tuning] Executable Bit Set for Potential Persistence Script
  rules/linux/persistence_potential_persistence_script_executable_bit_set.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#3811 [Rule Tuning] System V Init Script Created
  rules/linux/persistence_etc_file_creation.toml
  rules/linux/persistence_init_d_file_creation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#3805 [Rule Tuning] rc.local/rc.common File Creation
  rules/linux/persistence_rc_script_creation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#3801 [New Rule & Tuning] Systemd Generator Created
  rules/linux/persistence_systemd_generator_creation.toml
  rules/linux/persistence_systemd_scheduled_timer_created.toml
  rules/linux/persistence_systemd_service_creation.toml
Labels: OS: Linux, Rule: New, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#3828 [New BBR] AWS RDS DB Snapshot Created
  rules_building_block/defense_evasion_aws_rds_snapshot_created.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, bbr

#3840 [Tuning] Microsoft Windows Defender Tampering
  rules/windows/defense_evasion_microsoft_defender_tampering.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3813 [New Rules] rc.local Execution Rules
  rules/linux/persistence_rc_local_error_via_syslog.toml
  rules/linux/persistence_rc_local_service_already_running.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#3822 [New Rule] DNF Package Manager Plugin File Creation
  rules/linux/persistence_dnf_package_manager_plugin_file_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#3832 [New Rules] Git Hook Execution/File Creation
  rules/linux/persistence_git_hook_file_creation.toml
  rules/linux/persistence_git_hook_process_execution.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#3842 [FR] Limit historical rules to the latest 2
  detection_rules/devtools.py
  detection_rules/integrations.py
Labels: enhancement, python, ci/cd, backport: auto, fleet-release

#3814 [Rule Tuning] Multiple Device Token Hashes for Single Okta Session
  rules/integrations/okta/credential_access_multiple_device_token_hashes_for_single_okta_session.toml
  rules/integrations/okta/initial_access_multiple_client_addresses_with_single_okta_session.toml
Labels: Domain: Cloud, Integration: Okta, Rule: Tuning, backport: auto, Domain: SaaS

#3826 Generate Better Index Keys
  detection_rules/packaging.py
Labels: python, backport: auto
