Repository elastic/detection-rules, pull requests merged in 2024-03, with the labels that each got.

#3472 [BBR Promotion] Linux BBR --> DR Promotion
  rules/linux/command_and_control_linux_proxychains_activity.toml
  rules/linux/credential_access_gdb_init_process_hooking.toml
  rules/linux/credential_access_gdb_process_hooking.toml
  rules/linux/defense_evasion_sus_utility_executed_via_tmux_or_screen.toml
  rules/linux/discovery_suspicious_which_command_execution.toml
  rules/linux/persistence_kernel_driver_load.toml
  rules/linux/persistence_suspicious_file_opened_through_editor.toml
  rules/linux/persistence_tainted_kernel_module_load.toml
  rules/linux/persistence_tainted_kernel_module_out_of_tree_load.toml
  rules/linux/persistence_udev_rule_creation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3471 [Tuning] Auditbeat event.action Compatibility
  rules/linux/command_and_control_linux_suspicious_proxychains_activity.toml
  rules/linux/defense_evasion_base16_or_base32_encoding_or_decoding_activity.toml
  rules/linux/defense_evasion_clear_kernel_ring_buffer.toml
  rules/linux/defense_evasion_disable_apparmor_attempt.toml
  rules/linux/defense_evasion_disable_selinux_attempt.toml
  rules/linux/defense_evasion_esxi_suspicious_timestomp_touch.toml
  rules/linux/defense_evasion_mount_execution.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3456 [Tuning] Linux DR Tuning - Part 5
  rules/linux/discovery_dynamic_linker_via_od.toml
  rules/linux/discovery_esxi_software_via_find.toml
  rules/linux/discovery_esxi_software_via_grep.toml
  rules/linux/discovery_kernel_module_enumeration.toml
  rules/linux/discovery_linux_hping_activity.toml
  rules/linux/discovery_linux_nping_activity.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3457 [Tuning] Linux DR Tuning - Part 6
  rules/linux/discovery_ping_sweep_detected.toml
  rules/linux/discovery_process_capabilities.toml
  rules/linux/discovery_sudo_allowed_command_enumeration.toml
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/execution_curl_cve_2023_38545_heap_overflow.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3458 [Tuning] Linux DR Tuning - Part 7
  rules/linux/execution_nc_listener_via_rlwrap.toml
  rules/linux/execution_potential_hack_tool_executed.toml
  rules/linux/execution_process_started_from_process_id_file.toml
  rules/linux/execution_python_tty_shell.toml
  rules/linux/execution_shell_via_background_process.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3460 [Tuning] Linux DR Tuning - Part 8
  rules/linux/execution_tc_bpf_filter.toml
  rules/linux/impact_esxi_process_kill.toml
  rules/linux/impact_potential_linux_ransomware_file_encryption.toml
  rules/linux/impact_potential_linux_ransomware_note_detected.toml
  rules/linux/impact_process_kill_threshold.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3461 [Tuning] Linux DR Tuning - Part 9
  rules/linux/lateral_movement_ssh_it_worm_download.toml
  rules/linux/lateral_movement_telnet_network_activity_external.toml
  rules/linux/lateral_movement_telnet_network_activity_internal.toml
  rules/linux/persistence_credential_access_modify_ssh_binaries.toml
  rules/linux/persistence_cron_job_creation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3463 [Tuning] Linux DR Tuning - Part 11
  rules/linux/persistence_linux_shell_activity_via_web_server.toml
  rules/linux/persistence_linux_user_added_to_privileged_group.toml
  rules/linux/persistence_message_of_the_day_creation.toml
  rules/linux/persistence_message_of_the_day_execution.toml
  rules/linux/persistence_setuid_setgid_capability_set.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3470 [Tuning] Linux BBR Tuning - Part 2
  rules_building_block/discovery_hosts_file_access.toml
  rules_building_block/discovery_kernel_module_enumeration_via_proc.toml
  rules_building_block/discovery_linux_modprobe_enumeration.toml
  rules_building_block/discovery_linux_sysctl_enumeration.toml
  rules_building_block/discovery_linux_system_information_discovery.toml
  rules_building_block/discovery_linux_system_owner_user_discovery.toml
  rules_building_block/discovery_of_accounts_or_groups_via_builtin_tools.toml
  rules_building_block/discovery_of_domain_groups.toml
  rules_building_block/discovery_process_discovery_via_builtin_tools.toml
  rules_building_block/discovery_system_network_connections.toml
  rules_building_block/execution_unix_socket_communication.toml
  rules_building_block/persistence_creation_of_kernel_module.toml
  rules_building_block/privilege_escalation_trap_execution.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE, bbr

#3465 [Tuning] Linux DR Tuning - Part 13
  rules/linux/privilege_escalation_ld_preload_shared_object_modif.toml
  rules/linux/privilege_escalation_linux_uid_int_max_bug.toml
  rules/linux/privilege_escalation_load_and_unload_of_kernel_via_kexec.toml
  rules/linux/privilege_escalation_netcon_via_sudo_binary.toml
  rules/linux/privilege_escalation_shadow_file_read.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3467 [Tuning] Linux DR Tuning - Part 14
  rules/linux/privilege_escalation_sudo_cve_2019_14287.toml
  rules/linux/privilege_escalation_sudo_hijacking.toml
  rules/linux/privilege_escalation_uid_elevation_from_unknown_executable.toml
  rules/linux/privilege_escalation_unshare_namespace_manipulation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3469 [Tuning] Linux BBR Tuning - Part 1
  rules/_deprecated/command_and_control_linux_port_knocking_reverse_connection.toml
  rules_building_block/collection_common_compressed_archived_file.toml
  rules_building_block/collection_linux_suspicious_clipboard_activity.toml
  rules_building_block/command_and_control_linux_ssh_x11_forwarding.toml
  rules_building_block/command_and_control_non_standard_http_port.toml
  rules_building_block/defense_evasion_creation_of_hidden_files_directories.toml
  rules_building_block/defense_evasion_processes_with_trailing_spaces.toml
Labels: OS: Linux, Rule: Deprecation, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE, bbr

#3464 [Tuning] Linux DR Tuning - Part 12
  rules/linux/persistence_shared_object_creation.toml
  rules/linux/privilege_escalation_chown_chmod_unauthorized_file_read.toml
  rules/linux/privilege_escalation_dac_permissions.toml
  rules/linux/privilege_escalation_kworker_uid_elevation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3500 [ Rule Tuning ] Correct the provider for AWS Route Table Created and AWS Route Table Modified or Deleted
  rules/integrations/aws/persistence_route_table_created.toml
  rules/integrations/aws/persistence_route_table_modified_or_deleted.toml
Labels: Integration: AWS, Domain: Cloud, community, backport: auto

#3399 [Rule Tuning] DR Performance-Poor Rules
  rules/cross-platform/lateral_movement_remote_file_creation_in_sensitive_directory.toml
  rules/windows/persistence_registry_uncommon.toml
  rules/windows/persistence_startup_folder_scripts.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3507 [New Rules] mprotect() RWX Binary Execution
  rules/linux/execution_netcon_from_rwx_mem_region_binary.toml
  rules/linux/execution_unknown_rwx_mem_region_binary_executed.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3502 [Rule Tuning] Guided Onboarding Rule
  rules/cross-platform/guided_onboarding_sample_rule.toml
Labels: Rule: Tuning, backport: auto, Area: RAD

#3497 Beaconing - Add whitelist to rules, with some more processes
  rules/integrations/beaconing/command_and_control_beaconing.toml
Labels: ML, Rule: Tuning, backport: auto, Area: RAD

#3510 [FR] Add support for dataviews in the rule schema
  detection_rules/main.py
  detection_rules/rule.py
  detection_rules/rule_validators.py
Labels: enhancement, python, schema, backport: auto, Area: DED, Team: TRADE

#3492 [FR] Independently package kql / kibana and bump to py3.12
  .github/CODEOWNERS
  .github/workflows/backport.yml
  .github/workflows/get-target-branches.yml
  .github/workflows/lock-versions.yml
  .github/workflows/manual-backport.yml
  .github/workflows/pythonpackage.yml
  .github/workflows/release-docs.yml
  .github/workflows/release-fleet.yml
  Makefile
  README.md
  detection_rules/__init__.py
  detection_rules/__main__.py
  detection_rules/devtools.py
  detection_rules/misc.py
  detection_rules/utils.py
  lib/kibana/kibana/__init__.py
  lib/kibana/kibana/connector.py
  lib/kibana/kibana/resources.py
  lib/kibana/pyproject.toml
  lib/kql/kql/__init__.py
  lib/kql/kql/ast.py
  lib/kql/kql/dsl.py
  lib/kql/kql/eql2kql.py
  lib/kql/kql/errors.py
  lib/kql/kql/evaluator.py
  lib/kql/kql/kql.g
  lib/kql/kql/kql2eql.py
  lib/kql/kql/optimizer.py
  lib/kql/kql/parser.py
  lib/kql/pyproject.toml
  pyproject.toml
Labels: enhancement, python, kql, backport: auto, kibana-module, Area: DED, Team: TRADE

#3514 [FR] Independently package kql / kibana and bump to py3.12
  .github/CODEOWNERS
  .github/workflows/backport.yml
  .github/workflows/get-target-branches.yml
  .github/workflows/lock-versions.yml
  .github/workflows/manual-backport.yml
  .github/workflows/pythonpackage.yml
  .github/workflows/release-docs.yml
  .github/workflows/release-fleet.yml
  Makefile
  README.md
  detection_rules/__init__.py
  detection_rules/__main__.py
  detection_rules/devtools.py
  detection_rules/misc.py
  detection_rules/utils.py
  lib/kibana/kibana/__init__.py
  lib/kibana/kibana/connector.py
  lib/kibana/kibana/resources.py
  lib/kibana/pyproject.toml
  lib/kql/kql/__init__.py
  lib/kql/kql/ast.py
  lib/kql/kql/dsl.py
  lib/kql/kql/eql2kql.py
  lib/kql/kql/errors.py
  lib/kql/kql/evaluator.py
  lib/kql/kql/kql.g
  lib/kql/kql/kql2eql.py
  lib/kql/kql/optimizer.py
  lib/kql/kql/parser.py
  lib/kql/pyproject.toml
  pyproject.toml
Labels: enhancement, python, kql, ci/cd, backport: auto, kibana-module, Area: DED, Team: TRADE

#3494 [Rule Tuning] Tuning 'First Time Seen AWS Secret Value Accessed in Secrets Manager'
  rules/integrations/aws/credential_access_new_terms_secretsmanager_getsecretvalue.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto, Area: RAD

#3521 [Rule Tuning] SMTP on Port 26/TCP
  rules/network/command_and_control_port_26_activity.toml
Labels: Rule: Tuning, backport: auto, Area: RAD, Team: TRADE

#3524 Update README.md
  README.md
Labels: documentation, backport: auto

#3508 [Rule Tuning] Potential Reverse Shell via UDP
  rules/linux/execution_shell_via_udp_cli_utility_linux.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3516 [New Rules] Veeam Credential Access DRs
  rules/windows/credential_access_posh_veeam_sql.toml
  rules/windows/credential_access_veeam_backup_dll_imageload.toml
  rules/windows/credential_access_veeam_commands.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3525 [Bug] Update lock versions dependencies
  .github/workflows/lock-versions.yml
  Makefile
Labels: bug, ci/cd, backport: auto, Area: DED, Team: TRADE

#3531 [Bug] Update Sort Parameter
  detection_rules/eswrap.py
Labels: bug, python, backport: auto, Area: DED

#3532 [New] Suspicious JetBrains TeamCity Child Process
  rules/windows/initial_access_exploit_jetbrains_teamcity.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3534 [Rule Tuning] Scheduled Task Activity via pwsh
  rules/windows/execution_scheduled_task_powershell_source.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3538 fix typo in lateral_movement_remote_services.toml
  rules/windows/lateral_movement_remote_services.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#3541 [New] Suspicious Execution via ScreenConnect
  rules/windows/command_and_control_screenconnect_childproc.toml
  rules/windows/initial_access_webshell_screenconnect_server.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3535 [New Rule] Potential ADIDNS Poisoning via Wildcard Record Creation
  rules/windows/credential_access_adidns_wildcard.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3539 [New Rule] Creation of a DNS-Named Record
  rules/windows/credential_access_dnsnode_creation.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3543 [New Rules] Potential PowerShell Pass-the-Hash/Relay Script
  rules/windows/credential_access_posh_relay_tools.toml
  rules/windows/execution_posh_hacktool_functions.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3546 [FR] Add required-fields option to import-rules
  CLI.md
  detection_rules/main.py
Labels: enhancement, cli, python, backport: auto, Area: DED, Team: TRADE
