Repository elastic/detection-rules, pull requests merged in 2024-01, with the labels that each got.

#3356 [New] Potential Evasion via Windows Filtering Platform
  rules/windows/defense_evasion_windows_filtering_platform.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3353 [Rule Tuning] Windows DR Tuning - 8
  rules/windows/defense_evasion_posh_assembly_load.toml
  rules/windows/defense_evasion_suspicious_wmi_script.toml
  rules/windows/defense_evasion_timestomp_sysmon.toml
  rules/windows/defense_evasion_unusual_system_vp_child_program.toml
  rules/windows/defense_evasion_via_filter_manager.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3365 [FR] Add `--include-metadata` argument to `export-rules` command
  detection_rules/main.py
  detection_rules/rule.py
Labels: python, backport: auto, Area: DED

#3242 [New Rule] Potential Container Escape via Modified release_agent File
  rules/integrations/cloud_defend/privilege_escalation_potential_container_escape_via_modified_release_agent_file.toml
Labels: Rule: New, backport: auto, container, Integration: Cloud Defend, Area: RAD

#3244 [New Rule] Potential Container Escape via Modified notify_on_release File
  rules/integrations/cloud_defend/privilege_escalation_potential_container_escape_via_modified_notify_on_release_file.toml
Labels: Rule: New, backport: auto, container, Integration: Cloud Defend, Area: RAD

#3245 [New Rule] Mount Launched Inside a Privileged Container
  rules/integrations/cloud_defend/privilege_escalation_mount_launched_inside_a_privileged_container.toml
Labels: Rule: New, backport: auto, container, Integration: Cloud Defend, Area: RAD

#3241 [New Rule] File System Debugger ‘debugfs’ Launched Inside a Privileged Container
  rules/integrations/cloud_defend/privilege_escalation_debugfs_launched_inside_a_privileged_container.toml
Labels: Rule: New, backport: auto, container, Integration: Cloud Defend, Area: RAD

#3370 [Tuning] Update min_stack for container rules new ecs field
  rules/integrations/cloud_defend/privilege_escalation_debugfs_launched_inside_a_privileged_container.toml
  rules/integrations/cloud_defend/privilege_escalation_mount_launched_inside_a_privileged_container.toml
Labels: Rule: Tuning, backport: auto, container, Integration: Cloud Defend

#3354 [Rule Tuning] Windows DR Tuning - 9
  rules/windows/defense_evasion_wsl_bash_exec.toml
  rules/windows/defense_evasion_wsl_child_process.toml
  rules/windows/discovery_admin_recon.toml
  rules/windows/discovery_command_system_account.toml
  rules/windows/discovery_posh_suspicious_api_functions.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3321 [Rule Tuning] Linux DR Tuning - Part 2
  rules/linux/discovery_kernel_module_enumeration.toml
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/execution_curl_cve_2023_38545_heap_overflow.toml
  rules/linux/execution_network_event_post_compilation.toml
  rules/linux/execution_process_started_in_shared_memory_directory.toml
  rules/linux/execution_shell_via_java_revshell_linux.toml
  rules/linux/execution_shell_via_lolbin_interpreter_linux.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3322 [Rule Tuning] Linux DR Tuning - Part 3
  rules/linux/persistence_chkconfig_service_add.toml
  rules/linux/persistence_cron_job_creation.toml
  rules/linux/persistence_etc_file_creation.toml
  rules/linux/persistence_init_d_file_creation.toml
  rules/linux/persistence_kde_autostart_modification.toml
  rules/linux/persistence_message_of_the_day_creation.toml
  rules/linux/persistence_shared_object_creation.toml
  rules/linux/persistence_systemd_scheduled_timer_created.toml
  rules/linux/persistence_systemd_service_creation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3349 [Rule Tuning] Dynamic Linker Copy
  rules/linux/persistence_dynamic_linker_backup.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3375 [FR] Update _event_sort to use datetime instead of time
  detection_rules/utils.py
Labels: enhancement, python, backport: auto, Area: DED

#3379 Linux Rule Tuning
  rules/linux/defense_evasion_chattr_immutable_file.toml
  rules/linux/persistence_etc_file_creation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#3359 [Rule Tuning] Windows DR Tuning - 11
  rules/windows/execution_posh_hacktool_functions.toml
  rules/windows/execution_suspicious_powershell_imgload.toml
  rules/windows/impact_backup_file_deletion.toml
  rules/windows/initial_access_script_executing_powershell.toml
  rules/windows/initial_access_suspicious_ms_exchange_process.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3376 [Rule Tuning] Windows DR Tuning - 14
  rules/windows/persistence_suspicious_com_hijack_registry.toml
  rules/windows/persistence_time_provider_mod.toml
  rules/windows/persistence_webshell_detection.toml
  rules/windows/privilege_escalation_expired_driver_loaded.toml
  rules/windows/privilege_escalation_printspooler_service_suspicious_file.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3378 [New Rule] Kernel Driver Load by non-root User
  rules/linux/persistence_kernel_driver_load_by_non_root.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Integration: Auditd Manager, Area: RAD, Team: TRADE

#3389 [New Rule] Network Connection via Sudo Binary
  rules/linux/privilege_escalation_netcon_via_sudo_binary.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3355 [Rule Tuning] Windows DR Tuning - 10
  rules/windows/discovery_privileged_localgroup_membership.toml
  rules/windows/discovery_whoami_command_activity.toml
  rules/windows/execution_apt_solarwinds_backdoor_unusual_child_processes.toml
  rules/windows/execution_command_prompt_connecting_to_the_internet.toml
  rules/windows/execution_html_help_executable_program_connecting_to_the_internet.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3369 [Rule Tuning] Windows DR Tuning - 13
  rules/windows/lateral_movement_suspicious_rdp_client_imageload.toml
  rules/windows/persistence_appinitdlls_registry.toml
  rules/windows/persistence_local_scheduled_job_creation.toml
  rules/windows/persistence_scheduled_task_creation_winlog.toml
  rules/windows/persistence_services_registry.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3390 [Tuning] Add logs-system. index where applicable
  rules/windows/command_and_control_certreq_postdata.toml
  rules/windows/command_and_control_dns_tunneling_nslookup.toml
  rules/windows/command_and_control_remote_file_copy_desktopimgdownldr.toml
  rules/windows/command_and_control_remote_file_copy_mpcmdrun.toml
  rules/windows/credential_access_copy_ntds_sam_volshadowcp_cmdline.toml
  rules/windows/credential_access_dump_registry_hives.toml
  rules/windows/credential_access_iis_apppoolsa_pwd_appcmd.toml
  rules/windows/credential_access_iis_connectionstrings_dumping.toml
  rules/windows/credential_access_wireless_creds_dumping.toml
  rules/windows/defense_evasion_adding_the_hidden_file_attribute_with_via_attribexe.toml
  rules/windows/defense_evasion_clearing_windows_console_history.toml
  rules/windows/defense_evasion_clearing_windows_event_logs.toml
  rules/windows/defense_evasion_code_signing_policy_modification_builtin_tools.toml
  rules/windows/defense_evasion_defender_exclusion_via_powershell.toml
  rules/windows/defense_evasion_delete_volume_usn_journal_with_fsutil.toml
  rules/windows/defense_evasion_disable_windows_firewall_rules_with_netsh.toml
  rules/windows/defense_evasion_disabling_windows_logs.toml
  rules/windows/defense_evasion_enable_inbound_rdp_with_netsh.toml
  rules/windows/defense_evasion_execution_control_panel_suspicious_args.toml
  rules/windows/defense_evasion_execution_lolbas_wuauclt.toml
  rules/windows/defense_evasion_execution_msbuild_started_unusal_process.toml
  rules/windows/defense_evasion_iis_httplogging_disabled.toml
  rules/windows/defense_evasion_suspicious_certutil_commands.toml
  rules/windows/defense_evasion_unusual_dir_ads.toml
  rules/windows/defense_evasion_workfolders_control_execution.toml
  rules/windows/defense_evasion_wsl_bash_exec.toml
  rules/windows/defense_evasion_wsl_child_process.toml
  rules/windows/defense_evasion_wsl_enabled_via_dism.toml
  rules/windows/defense_evasion_wsl_kalilinux.toml
  rules/windows/discovery_adfind_command_activity.toml
  rules/windows/discovery_admin_recon.toml
  rules/windows/discovery_enumerating_domain_trusts_via_dsquery.toml
  rules/windows/discovery_enumerating_domain_trusts_via_nltest.toml
  rules/windows/execution_apt_solarwinds_backdoor_child_cmd_powershell.toml
  rules/windows/execution_command_shell_started_by_svchost.toml
  rules/windows/execution_enumeration_via_wmiprvse.toml
  rules/windows/execution_from_unusual_path_cmdline.toml
  rules/windows/execution_suspicious_cmd_wmi.toml
  rules/windows/impact_deleting_backup_catalogs_with_wbadmin.toml
  rules/windows/impact_volume_shadow_copy_deletion_or_resized_via_vssadmin.toml
  rules/windows/impact_volume_shadow_copy_deletion_via_powershell.toml
  rules/windows/initial_access_suspicious_ms_exchange_process.toml
  rules/windows/initial_access_suspicious_ms_exchange_worker_child_process.toml
  rules/windows/initial_access_suspicious_ms_office_child_process.toml
  rules/windows/initial_access_suspicious_ms_outlook_child_process.toml
  rules/windows/lateral_movement_alternate_creds_pth.toml
  rules/windows/persistence_system_shells_via_services.toml
  rules/windows/persistence_via_application_shimming.toml
  rules/windows/persistence_via_telemetrycontroller_scheduledtask_hijack.toml
  rules/windows/persistence_via_windows_management_instrumentation_event_subscription.toml
  rules/windows/persistence_via_xp_cmdshell_mssql_stored_procedure.toml
  rules/windows/persistence_webshell_detection.toml
  rules/windows/privilege_escalation_named_pipe_impersonation.toml
  rules/windows/privilege_escalation_tokenmanip_sedebugpriv_enabled.toml
  rules/windows/privilege_escalation_uac_bypass_diskcleanup_hijack.toml
  rules/windows/privilege_escalation_uac_bypass_event_viewer.toml
  rules/windows/privilege_escalation_uac_bypass_mock_windir.toml
  rules/windows/privilege_escalation_unusual_parentchild_relationship.toml
  rules/windows/privilege_escalation_unusual_printspooler_childprocess.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto, Area: RAD

#3364 [Rule Tuning] Windows DR Tuning - 12
  rules/windows/initial_access_suspicious_ms_office_child_process.toml
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
  rules/windows/lateral_movement_remote_file_copy_hidden_share.toml
  rules/windows/lateral_movement_remote_services.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3368 [Rule Tuning] Update `timestamp_override` Unit Tests and Fix Rules Missing Field
  rules/cross-platform/privilege_escalation_sudo_buffer_overflow.toml
  rules/cross-platform/threat_intel_indicator_match_address.toml
  rules/cross-platform/threat_intel_indicator_match_hash.toml
  rules/cross-platform/threat_intel_indicator_match_registry.toml
  rules/cross-platform/threat_intel_indicator_match_url.toml
  rules/integrations/aws/credential_access_aws_iam_assume_role_brute_force.toml
  rules/integrations/aws/credential_access_root_console_failure_brute_force.toml
  rules/integrations/beaconing/command_and_control_beaconing.toml
  rules/integrations/beaconing/command_and_control_beaconing_high_confidence.toml
  rules/integrations/o365/credential_access_microsoft_365_brute_force_user_account_attempt.toml
  rules/integrations/o365/credential_access_microsoft_365_potential_password_spraying_attack.toml
  rules/integrations/o365/credential_access_user_excessive_sso_logon_errors.toml
  rules/integrations/okta/credential_access_attempts_to_brute_force_okta_user_account.toml
  rules/integrations/okta/credential_access_okta_brute_force_or_password_spraying.toml
  rules/integrations/okta/defense_evasion_suspicious_okta_user_password_reset_or_unlock_attempts.toml
  rules/linux/impact_process_kill_threshold.toml
  rules/linux/persistence_message_of_the_day_creation.toml
  rules/linux/persistence_rc_script_creation.toml
  rules/macos/credential_access_potential_macos_ssh_bruteforce.toml
  rules/network/discovery_potential_network_sweep_detected.toml
  rules/network/discovery_potential_port_scan_detected.toml
  rules/network/discovery_potential_syn_port_scan_detected.toml
  rules/promotions/credential_access_endgame_cred_dumping_detected.toml
  rules/promotions/credential_access_endgame_cred_dumping_prevented.toml
  rules/promotions/endgame_adversary_behavior_detected.toml
  rules/promotions/endgame_malware_detected.toml
  rules/promotions/endgame_malware_prevented.toml
  rules/promotions/endgame_ransomware_detected.toml
  rules/promotions/endgame_ransomware_prevented.toml
  rules/promotions/execution_endgame_exploit_detected.toml
  rules/promotions/execution_endgame_exploit_prevented.toml
  rules/promotions/external_alerts.toml
  rules/promotions/privilege_escalation_endgame_cred_manipulation_detected.toml
  rules/promotions/privilege_escalation_endgame_cred_manipulation_prevented.toml
  rules/promotions/privilege_escalation_endgame_permission_theft_detected.toml
  rules/promotions/privilege_escalation_endgame_permission_theft_prevented.toml
  rules/promotions/privilege_escalation_endgame_process_injection_detected.toml
  rules/promotions/privilege_escalation_endgame_process_injection_prevented.toml
  rules/windows/impact_stop_process_service_threshold.toml
  rules_building_block/collection_linux_suspicious_clipboard_activity.toml
  rules_building_block/persistence_udev_rule_creation.toml
  tests/test_all_rules.py
Labels: Integration: AWS, Domain: Cloud, OS: Linux, OS: macOS, Integration: Okta, Rule: Deprecation, Rule: Tuning, test-suite, OS: Windows, Domain: Endpoint, Integration: Microsoft 365, backport: auto, Area: DED, Area: RAD, bbr

#3366 Linux Process Capabilities Enrichment Detection Rules
  rules/linux/discovery_process_capabilities.toml
  rules/linux/privilege_escalation_dac_permissions.toml
  rules/linux/privilege_escalation_enlightenment_window_manager.toml
  rules/linux/privilege_escalation_gdb_sys_ptrace_elevation.toml
  rules/linux/privilege_escalation_gdb_sys_ptrace_netcon.toml
  rules/linux/privilege_escalation_suspicious_chown_fowner_elevation.toml
  rules/linux/privilege_escalation_suspicious_uid_guid_elevation.toml
  rules_building_block/discovery_capnetraw_capability.toml
  rules_building_block/persistence_cap_sys_admin_added_to_new_binary.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, bbr

#3372 [FR] Update Validate Integrations to Check Fields Across All Schema Variations
  detection_rules/rule_validators.py
Labels: bug, enhancement, python, schema, backport: auto

#3350 [Security Content] Add Investigation Guides to Linux Persistence Rules - 2
  rules/linux/persistence_credential_access_modify_ssh_binaries.toml
  rules/linux/persistence_dynamic_linker_backup.toml
  rules/linux/persistence_insmod_kernel_module_load.toml
  rules/linux/persistence_kde_autostart_modification.toml
  rules/linux/persistence_kworker_file_creation.toml
  rules/linux/persistence_setuid_setgid_capability_set.toml
  rules/linux/persistence_shared_object_creation.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Security Content, Area: RAD, Team: TRADE

#3312 [New Rule] Potential Buffer Overflow Attack Detected
  rules/linux/privilege_escalation_potential_bufferoverflow_attack.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3174 [New Rules] UEBA GItHub BBRs and Rules
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/github/execution_github_app_deleted.toml
  rules/integrations/github/execution_github_high_number_of_cloned_repos_from_pat.toml
  rules/integrations/github/execution_github_ueba_multiple_behavior_alerts_from_account.toml
  rules/integrations/github/impact_github_repository_deleted.toml
  rules/integrations/github/persistence_github_org_owner_added.toml
  rules/integrations/github/persistence_organization_owner_role_granted.toml
  rules_building_block/execution_github_new_event_action_for_pat.toml
  rules_building_block/execution_github_new_repo_interaction_for_pat.toml
  rules_building_block/execution_github_new_repo_interaction_for_user.toml
  rules_building_block/execution_github_repo_created.toml
  rules_building_block/execution_github_repo_interaction_from_new_ip.toml
  rules_building_block/impact_github_member_removed_from_organization.toml
  rules_building_block/impact_github_pat_access_revoked.toml
  rules_building_block/impact_github_user_blocked_from_organization.toml
  rules_building_block/initial_access_github_new_ip_address_for_pat.toml
  rules_building_block/initial_access_github_new_ip_address_for_user.toml
  rules_building_block/initial_access_github_new_user_agent_for_pat.toml
  rules_building_block/initial_access_github_new_user_agent_for_user.toml
  rules_building_block/persistence_github_new_pat_for_user.toml
  rules_building_block/persistence_github_new_user_added_to_organization.toml
Labels: Rule: New, backport: auto, Area: RAD, bbr, Integration: GitHub, UEBA

#3395 [Bug] Cleanup test_event_override unit test
  tests/test_all_rules.py
Labels: bug, test-suite, backport: auto, Area: DED

#3398 [Rule Tuning] Host Files System Changes via Windows Subsystem for Linux
  rules/windows/defense_evasion_wsl_filesystem.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3400 [Rule Tuning] Direct Outbound SMB Connection
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3377 [Rule Tuning] Windows DR Tuning - 15
  rules/windows/defense_evasion_msbuild_making_network_connections.toml
  rules/windows/privilege_escalation_printspooler_suspicious_spl_file.toml
  rules/windows/privilege_escalation_uac_sdclt.toml
  rules/windows/privilege_escalation_unusual_parentchild_relationship.toml
  rules/windows/privilege_escalation_unusual_printspooler_childprocess.toml
  rules/windows/privilege_escalation_unusual_svchost_childproc_childless.toml
  rules/windows/privilege_escalation_via_ppid_spoofing.toml
  rules/windows/privilege_escalation_windows_service_via_unusual_client.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3219 [New BBR] Reverse Connection through Port Knocking
  rules_building_block/command_and_control_linux_port_knocking_reverse_connection.toml
Labels: OS: Linux, Domain: Network, Rule: New, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE, bbr

#3396 [New Rule] Suspicious Passwd File Event Action
  rules/linux/privilege_escalation_suspicious_passwd_file_write.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Integration: Auditd Manager, Area: RAD, Team: TRADE

#3410 [Tuning] DCSync Rules - 4662 event.action
  rules/windows/credential_access_dcsync_newterm_subjectuser.toml
  rules/windows/credential_access_dcsync_replication_rights.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3411 [Tuning] Suspicious File Downloaded from Google Drive
  rules/cross-platform/command_and_control_google_drive_malicious_file_download.toml
Labels: Rule: Tuning, backport: auto, Area: RAD
