Repository elastic/detection-rules, pull requests merged in 2024-08, with the labels that each got.

#3910 [New Rule] AWS IAM CompromisedKeyQuarantine Policy Attached to User
  rules/integrations/aws/credential_access_iam_compromisedkeyquarantine_policy_attached_to_user.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#3947 [Rule Tuning] Sensitive Registry Hive Access via RegBack
  rules/windows/credential_access_regback_sam_security_hives.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3928 [New Rule] Potential Relay Attack against a Domain Controller
  rules/windows/credential_access_dollar_account_relay.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3953 [Rule Tuning] AWS S3 Object Versioning Suspended
  rules/integrations/aws/impact_s3_object_versioning_disabled.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto

#3929 [Tuning] Executable Bit Set for Potential Persistence Script
  rules/linux/persistence_potential_persistence_script_executable_bit_set.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#3935 [Rule Tuning] Microsoft IIS Service Account Password Dumped
  rules_building_block/credential_access_iis_apppoolsa_pwd_appcmd.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3954 [Rule Tuning] Accepted Default Telnet Port Connection
  rules/network/command_and_control_accepted_default_telnet_port_connection.toml
Labels: Domain: Network, Rule: Tuning, backport: auto

#3946 [New Rule] Outlook Home Page Registry Modification
  rules/windows/command_and_control_outlook_home_page.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3957 [Rule Tuning] Windows Registry Rules Tuning - 1
  rules/windows/credential_access_mod_wdigest_security_provider.toml
  rules/windows/credential_access_persistence_network_logon_provider_modification.toml
  rules/windows/defense_evasion_amsienable_key_mod.toml
  rules/windows/defense_evasion_code_signing_policy_modification_registry.toml
  rules/windows/defense_evasion_create_mod_root_certificate.toml
  rules/windows/defense_evasion_defender_disabled_via_registry.toml
  rules/windows/defense_evasion_dns_over_https_enabled.toml
  rules/windows/defense_evasion_microsoft_defender_tampering.toml
  rules/windows/defense_evasion_ms_office_suspicious_regmod.toml
  rules/windows/defense_evasion_persistence_account_tokenfilterpolicy.toml
  rules/windows/defense_evasion_reg_disable_enableglobalqueryblocklist.toml
  rules/windows/defense_evasion_scheduledjobs_at_protocol_enabled.toml
  rules/windows/defense_evasion_sip_provider_mod.toml
  rules/windows/defense_evasion_solarwinds_backdoor_service_disabled_via_registry.toml
  rules/windows/defense_evasion_wsl_registry_modification.toml
  rules/windows/lateral_movement_defense_evasion_lanman_nullsessionpipe_modification.toml
  rules/windows/lateral_movement_rdp_enabled_registry.toml
  rules/windows/lateral_movement_rdp_sharprdp_target.toml
  rules/windows/lateral_movement_scheduled_task_target.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3958 [Rule Tuning] Windows Registry Rules Tuning - 2
  rules/windows/persistence_app_compat_shim.toml
  rules/windows/persistence_appcertdlls_registry.toml
  rules/windows/persistence_appinitdlls_registry.toml
  rules/windows/persistence_evasion_hidden_local_account_creation.toml
  rules/windows/persistence_evasion_registry_ifeo_injection.toml
  rules/windows/persistence_evasion_registry_startup_shell_folder_modified.toml
  rules/windows/persistence_local_scheduled_task_scripting.toml
  rules/windows/persistence_registry_uncommon.toml
  rules/windows/persistence_run_key_and_startup_broad.toml
  rules/windows/persistence_services_registry.toml
  rules/windows/persistence_suspicious_com_hijack_registry.toml
  rules/windows/persistence_suspicious_service_created_registry.toml
  rules/windows/persistence_time_provider_mod.toml
  rules/windows/persistence_via_hidden_run_key_valuename.toml
  rules/windows/persistence_via_lsa_security_support_provider_registry.toml
  rules/windows/persistence_via_wmi_stdregprov_run_services.toml
  rules/windows/privilege_escalation_port_monitor_print_pocessor_abuse.toml
  rules/windows/privilege_escalation_rogue_windir_environment_var.toml
  rules_building_block/defense_evasion_msiexec_installsource_archive_file.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3889 [DaC] Beta Release
  CLI.md
  detection_rules/__init__.py
  detection_rules/action.py
  detection_rules/action_connector.py
  detection_rules/beats.py
  detection_rules/cli_utils.py
  detection_rules/config.py
  detection_rules/custom_rules.py
  detection_rules/custom_schemas.py
  detection_rules/devtools.py
  detection_rules/ecs.py
  detection_rules/eswrap.py
  detection_rules/etc/_config.yaml
  detection_rules/etc/example_test_config.yaml
  detection_rules/etc/test_cli.bash
  detection_rules/etc/test_remote_cli.bash
  detection_rules/exception.py
  detection_rules/generic_loader.py
  detection_rules/integrations.py
  detection_rules/kbwrap.py
  detection_rules/main.py
  detection_rules/misc.py
  detection_rules/mixins.py
  detection_rules/navigator.py
  detection_rules/packaging.py
  detection_rules/remote_validation.py
  detection_rules/rule.py
  detection_rules/rule_formatter.py
  detection_rules/rule_loader.py
  detection_rules/rule_validators.py
  detection_rules/schemas/__init__.py
  detection_rules/schemas/definitions.py
  detection_rules/utils.py
  detection_rules/version_lock.py
  docs/custom-rules.md
  docs/developing.md
  docs/rule-insights.md
  lib/kibana/kibana/resources.py
  lib/kibana/pyproject.toml
  tests/base.py
  tests/test_all_rules.py
  tests/test_gh_workflows.py
  tests/test_mappings.py
  tests/test_packages.py
  tests/test_schemas.py
  tests/test_specific_rules.py
  tests/test_transform_fields.py
  tests/test_version_locking.py
Labels: enhancement, python, schema, backport: auto, detections-as-code

#3479 [Rule Tuning] Tuning `Persistent Scripts in the Startup Directory`
  rules/windows/persistence_startup_folder_scripts.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3951 react_sync_rta_updates_3804
  rta/linux_persistence_rpm_netcon.py
Labels: enhancement, RTA, backport: auto

#3952 react_sync_rta_updates_3808
  rta/linux_persistence_scheduled_task_executing_sus_located_binary.py
Labels: enhancement, RTA, backport: auto

#3766 react_sync_rta_updates_3548
  rta/linux_systemd_executing_sus_located_binary.py
Labels: RTA, backlog, backport: auto

#3944 react_sync_rta_updates_3795
  rta/linux_persistence_initd_unusual_binary_execution.py
Labels: enhancement, RTA, backport: auto

#3943 react_sync_rta_updates_3793
  rta/linux_persistence_initd_netcon.py
Labels: enhancement, RTA, backport: auto

#3942 react_sync_rta_updates_3791
  rta/linux_persistence_dpkg_netcon.py
Labels: enhancement, RTA, backport: auto

#3941 react_sync_rta_updates_3786
  rta/linux_execution_setsid_nohup_unusual_execution.py
Labels: enhancement, RTA, backport: auto

#3940 react_sync_rta_updates_3788
  rta/linux_persistence_apt_package_manager_execution.py
Labels: enhancement, RTA, backport: auto

#3938 react_sync_rta_updates_3783
  rta/linux_execution_hidden_process_unusual_execution.py
Labels: enhancement, RTA, backport: auto

#3937 react_sync_rta_updates_3784
  rta/linux_execution_interactive_shell_spawn_from_hidden_process.py
Labels: enhancement, RTA, backport: auto

#3966 [Rule Tuning] Include winlogbeat index in sysmon-related rules
  rules/windows/credential_access_kirbi_file.toml
  rules/windows/credential_access_persistence_network_logon_provider_modification.toml
  rules/windows/defense_evasion_defender_disabled_via_registry.toml
  rules/windows/defense_evasion_hide_encoded_executable_registry.toml
  rules/windows/defense_evasion_reg_disable_enableglobalqueryblocklist.toml
  rules/windows/defense_evasion_sip_provider_mod.toml
  rules/windows/defense_evasion_suspicious_scrobj_load.toml
  rules/windows/lateral_movement_defense_evasion_lanman_nullsessionpipe_modification.toml
  rules/windows/lateral_movement_via_wsus_update.toml
  rules/windows/persistence_evasion_registry_ifeo_injection.toml
  rules/windows/persistence_evasion_registry_startup_shell_folder_modified.toml
  rules/windows/persistence_registry_uncommon.toml
  rules/windows/persistence_services_registry.toml
  rules/windows/persistence_suspicious_service_created_registry.toml
  rules/windows/persistence_time_provider_mod.toml
  rules/windows/privilege_escalation_dns_serverlevelplugindll.toml
  rules/windows/privilege_escalation_exploit_cve_202238028.toml
  rules/windows/privilege_escalation_printspooler_registry_copyfiles.toml
  rules/windows/privilege_escalation_reg_service_imagepath_mod.toml
  rules/windows/privilege_escalation_rogue_windir_environment_var.toml
  rules_building_block/collection_files_staged_in_recycle_bin_root.toml
  rules_building_block/collection_outlook_email_archive.toml
  rules_building_block/command_and_control_bitsadmin_activity.toml
  rules_building_block/credential_access_win_private_key_access.toml
  rules_building_block/defense_evasion_cmd_copy_binary_contents.toml
  rules_building_block/defense_evasion_cmstp_execution.toml
  rules_building_block/defense_evasion_service_path_registry.toml
  rules_building_block/defense_evasion_services_exe_path.toml
  rules_building_block/execution_settingcontent_ms_file_creation.toml
  rules_building_block/lateral_movement_wmic_remote.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3480 [Rule Tuning] Tuning `Suspicious HTML File Creation` for Performance
  rules/windows/initial_access_evasion_suspicious_htm_file_creation.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backlog, backport: auto

#3974 [Rule Tuning] Removing Minimum Stack Compatibility
  rules/cross-platform/execution_python_script_in_cmdline.toml
  rules/windows/credential_access_dcsync_user_backdoor.toml
  rules/windows/initial_access_evasion_suspicious_htm_file_creation.toml
  rules/windows/persistence_startup_folder_scripts.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, meta:rapid-merge

#3963 [Rule Tuning] Windows File-based Rules Tuning
  rules/windows/command_and_control_ingress_transfer_bits.toml
  rules/windows/command_and_control_teamviewer_remote_file_copy.toml
  rules/windows/credential_access_kirbi_file.toml
  rules/windows/credential_access_lsass_memdump_file_created.toml
  rules/windows/credential_access_moving_registry_hive_via_smb.toml
  rules/windows/defense_evasion_amsi_bypass_dllhijack.toml
  rules/windows/execution_downloaded_shortcut_files.toml
  rules/windows/execution_downloaded_url_file.toml
  rules/windows/execution_ms_office_written_file.toml
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
  rules/windows/lateral_movement_unusual_dns_service_file_writes.toml
  rules/windows/privilege_escalation_printspooler_suspicious_spl_file.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3976 [Rule Tuning] Fix missing Winlogbeat index
  rules/cross-platform/command_and_control_google_drive_malicious_file_download.toml
  rules/cross-platform/credential_access_forced_authentication_pipes.toml
  rules/windows/credential_access_dollar_account_relay.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3948 [Rule Tuning] Simple KQL to EQL Conversion
  rules/windows/defense_evasion_injection_msbuild.toml
  rules/windows/persistence_msds_alloweddelegateto_krbtgt.toml
  rules/windows/privilege_escalation_group_policy_iniscript.toml
  rules/windows/privilege_escalation_group_policy_privileged_groups.toml
  rules/windows/privilege_escalation_group_policy_scheduled_task.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3964 [Rule Tuning] Suspicious PrintSpooler Service Executable File Creation
  rules/windows/privilege_escalation_printspooler_service_suspicious_file.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3971 [Rule Tuning] Potential Disabling of AppArmor
  rules/linux/defense_evasion_disable_apparmor_attempt.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#3970 [Rule Tuning] System Log File Deletion
  rules/linux/defense_evasion_log_files_deleted.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#3972 [Rule Tuning] Attempt to Disable IPTables or Firewall
  rules/linux/defense_evasion_attempt_to_disable_iptables_or_firewall.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#3969 [New Rule] Dynamic Linker Creation or Modification
  rules/linux/defense_evasion_dynamic_linker_file_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#3967 Add Unit Test test_index_or_data_view_id_present
  tests/test_all_rules.py
Labels: enhancement, backport: auto

#3980 [FR] [DAC] Auto Gen Schema Create Nested Directories
  detection_rules/config.py
Labels: enhancement, python, backport: auto, detections-as-code, meta:rapid-merge

#3981 Fix Windows File Path for RTA schtask_escalation
  rta/schtask_escalation.py
Labels: bug, RTA, community, backport: auto, meta:rapid-merge

#3983 Fix Attribute Issue in RTA common.py
  rta/common.py
Labels: bug, RTA, community, backport: auto, meta:rapid-merge

#3482 [Rule Tuning] Tuning `MsBuild Making Network Connections`
  rules/windows/defense_evasion_msbuild_making_network_connections.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3485 [Rule Tuning] Tuning `Direct Outbound SMB Connection`
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backlog, backport: auto

#3975 [Rule Tuning] LSASS Process Access via Windows API
  rules/windows/credential_access_lsass_openprocess_api.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3986 [FR] Add Alert Suppression for Addtional Rule Types
  detection_rules/cli_utils.py
  detection_rules/etc/test_cli.bash
  detection_rules/rule.py
  tests/test_all_rules.py
Labels: enhancement, python, schema, backport: auto

#3898 [Rule Tuning] Tuning AWS Rules for SAML Provider Updates and Assumed Roles via STS
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/aws/privilege_escalation_iam_saml_provider_updated.toml
  rules/integrations/aws/privilege_escalation_sts_temp_creds_via_assume_role.toml
  tests/test_specific_rules.py
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto

#3996 Remove unused @click.pass_context
  detection_rules/devtools.py
Labels: bug, python, backport: auto, meta:rapid-merge

#4003 [Bug] Add historical Rules as Default when Build Package
  detection_rules/integrations.py
  detection_rules/packaging.py
Labels: bug, enhancement, python, backport: auto, meta:rapid-merge

#3992 [New Rule] AWS Signin Single Factor Console Login via Federated Session
  rules/integrations/aws/initial_access_signin_console_login_no_mfa.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#3991 [New Rule] First Occurrence AWS STS Temporary Credential Request by User
  rules/integrations/aws/defense_evasion_sts_get_federation_token.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#4000 Update ProblemChild detection rules with High and Low probability
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event_high_probability.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event_low_probability.toml
Labels: Rule: Tuning, backport: auto

#3930 [New Rule] Openssl Client or Server Activity
  rules/linux/execution_shell_openssl_client_or_server.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4004 [Rule Tuning] Potential privilege escalation via CVE-2022-38028
  rules/windows/privilege_escalation_exploit_cve_202238028.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4013 [FR] [DaC] Update Import Rules to Repo Help Text for Clarity
  detection_rules/main.py
Labels: enhancement, python, backport: auto, detections-as-code, meta:rapid-merge

#4016 [Rule Tuning] Enumeration of Privileged Local Groups Membership
  rules/windows/discovery_privileged_localgroup_membership.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4002 [New Rule] AWS CLI Command with Custom Endpoint URL
  rules/linux/command_and_control_aws_cli_endpoint_url_used.toml
Labels: Domain: Cloud, OS: Linux, Rule: New, Domain: Endpoint, backport: auto

#3990 [FR] Add Better Error Handling for CUSTOM_RULES_DIR
  detection_rules/config.py
Labels: enhancement, python, backport: auto, detections-as-code

#3985 [FR] [DAC] Add Support for Known Types to Auto-generated Schemas
  detection_rules/custom_schemas.py
  detection_rules/ecs.py
  detection_rules/rule_validators.py
Labels: enhancement, python, schema, backport: auto, detections-as-code

#4015 [New Rule] New Rules AWS Multi-Region Discovery of EC2 Instances and Quotas
  rules/integrations/aws/discovery_ec2_multi_region_describe_instances.toml
  rules/integrations/aws/discovery_servicequotas_multi_region_service_quota_requests.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#4026 [New Rule] SSL Certificate Deletion
  rules/linux/defense_evasion_ssl_certificate_deletion.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4027 [New Rule] Potential Defense Evasion via Doas
  rules/linux/defense_evasion_doas_configuration_creation_or_rename.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE
