Repository elastic/detection-rules, pull requests merged in 2024-07, with the labels that each got.

#3819 [New Rule] Entra ID Device Code Auth with Broker Client
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/azure/credential_access_entra_id_device_code_auth_with_broker_client.toml
Labels: bug, Integration: Azure, Domain: Cloud, Rule: New, python, backport: auto

#3848 [Rule Tuning] Unusual File Creation - Alternate Data Stream
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3849 [Rule Tuning] Tuning Google Workspace Rules and File Name Length Reduction
  rules/integrations/google_workspace/defense_evasion_restrictions_for_marketplace_modified_to_allow_any_app.toml
  rules/integrations/google_workspace/initial_access_object_copied_to_external_drive_with_app_consent.toml
  rules/integrations/google_workspace/persistence_google_workspace_api_access_granted_via_dwd.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Google Workspace, backport: auto, Domain: SaaS

#3796 Create an Issue in Kibana for MITRE Updates
  .github/workflows/kibana-mitre-update.yml
Labels: backport: auto

#3854 [Rule Tuning] Potential AWS S3 Bucket Ransomware Note Uploaded
  rules/integrations/aws/impact_s3_bucket_object_uploaded_with_ransom_extension.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto

#3852 [New Rule] AWS RDS Snapshot Deleted
  rules/integrations/aws/impact_rds_snapshot_deleted.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#3831 [New Rule] AWS RDS Snapshot Shared with Another Account
  rules/integrations/aws/exfiltration_rds_snapshot_shared_with_another_account.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#3844 [New Rule] AWS RDS DB Instance or Cluster Password Modified
  rules/integrations/aws/persistence_rds_db_instance_password_modified.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#3851 [New Rule] AWS RDS DB Instance or Cluster Deletion Protection Disabled
  rules/integrations/aws/impact_rds_instance_cluster_deletion_protection_disabled.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#3836 [New Rule] AWS RDS DB Instance Made Public
  rules/integrations/aws/persistence_rds_instance_made_public.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#3818 Test case to check updated_date
  .github/workflows/pythonpackage.yml
  tests/test_all_rules.py
Labels: backport: auto

#3806 [Rule Tuning] Suspicious Inter-Process Communication via Outlook #3803
  detection_rules/etc/non-ecs-schema.json
  rules/windows/collection_email_outlook_mailbox_via_com.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, community, backport: auto

#3864 [New Rule] Potential PowerShell Obfuscated Script
  rules/windows/defense_evasion_posh_obfuscation.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3824 [Rule Tuning] LSASS Process Access via Windows API
  rules/windows/credential_access_lsass_openprocess_api.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Team: TRADE

#3685 [Tuning] Suspicious Microsoft 365 Mail Access by ClientAppId
  rules/integrations/o365/initial_access_microsoft_365_abnormal_clientappid.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto

#3808 [Tuning] Ransomware over SMB
  rules/windows/impact_ransomware_file_rename_smb.toml
  rules/windows/impact_ransomware_note_file_over_smb.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3855 [New] Sensitive Registry Hive Access via RegBack
  rules/windows/credential_access_regback_sam_security_hives.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backlog, backport: auto, skip-guide

#3737 [New Rule] Linux Shadow File Modification
  rules/linux/persistence_user_password_change.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#3614 Update defense_evasion_deletion_of_bash_command_line_history.toml
  rules/cross-platform/defense_evasion_deletion_of_bash_command_line_history.toml
Labels: OS: Linux, Rule: Tuning, backport: auto

#3861 [New Rule] AWS S3 Object Encryption Using External KMS Key
  rules/integrations/aws/impact_s3_object_encryption_with_external_key.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, esql

#3782 Use masquerading in linux_compress_sensitive_files rta script
  rta/linux_compress_sensitive_files.py
Labels: RTA, backport: auto

#3873 [Bug] Persistence ssh key generation index pattern
  rules/linux/persistence_ssh_key_generation.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto

#3871 [New Hunt] Persistence through System V Init
  hunting/index.md
  hunting/linux/docs/persistence_via_sysv_init.md
  hunting/linux/queries/persistence_via_sysv_init.toml
Labels: OS: Linux, backport: auto, Hunt: New

#3860 [Rule Tuning] Tune `Attempts to Brute Force a Microsoft 365 User Account`
  rules/integrations/o365/credential_access_microsoft_365_brute_force_user_account_attempt.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto, Domain: SaaS

#3816 [FR] [DAC] Update default KQL parsing behavior to normalize keywords for custom rule directories.
  detection_rules/config.py
  detection_rules/devtools.py
  detection_rules/eswrap.py
  detection_rules/etc/_config.yaml
  detection_rules/rule.py
  detection_rules/rule_validators.py
  detection_rules/utils.py
  docs/custom-rules.md
  tests/test_all_rules.py
  tests/test_mappings.py
Labels: python, Team: TRADE, detections-as-code

#3856 [FR] Added Modify URL Preload Function
  detection_rules/rule.py
Labels: bug, python, detections-as-code

#3853 [FR] [DAC] Add support for CCS in Beats Validation
  detection_rules/beats.py
Labels: enhancement, python, schema, detections-as-code

#3878 Fix Double Bump For Rule Microsoft Management Console File from Unusu…
  rules/windows/execution_via_mmc_console_file_unusual_path.toml
Labels: enhancement, OS: Windows, Domain: Endpoint, backport: auto

#3830 [FR] Added Schema Check for Data View ID and Index
  detection_rules/rule.py
Labels: bug, test-suite, python, backlog, backport: auto

#3810 [Rule Tuning] LSASS Memory Dump Creation
  rules/windows/credential_access_lsass_memdump_file_created.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto

#3874 [Rule Tuning] Fix event.action conditions - AD Rules
  rules/windows/credential_access_adidns_wildcard.toml
  rules/windows/credential_access_adidns_wpad_record.toml
  rules/windows/credential_access_dnsnode_creation.toml
  rules/windows/credential_access_ldap_attributes.toml
  rules/windows/credential_access_shadow_credentials.toml
  rules/windows/credential_access_spn_attribute_modified.toml
  rules/windows/discovery_high_number_ad_properties.toml
  rules/windows/persistence_ad_adminsdholder.toml
  rules/windows/persistence_sdprop_exclusion_dsheuristics.toml
  rules/windows/privilege_escalation_credroaming_ldap.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3857 [FR] [DAC] Add index_or_dataview Property
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/rule_validators.py
Labels: enhancement, python, Team: TRADE, detections-as-code

#3866 Unit Test to validate from field in toml file
  tests/test_all_rules.py
Labels: backport: auto

#3850 [FR] Detection Rule PR Guidelines and Issue Forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/hunt_tuning.yaml
  .github/ISSUE_TEMPLATE/integration-oob-updates.md
  .github/ISSUE_TEMPLATE/kibana-updates.md
  .github/ISSUE_TEMPLATE/new_hunt.yaml
  .github/ISSUE_TEMPLATE/new_kibana_feature_request.md
  .github/ISSUE_TEMPLATE/new_meta.md
  .github/ISSUE_TEMPLATE/new_meta.yaml
  .github/ISSUE_TEMPLATE/new_rule.md
  .github/ISSUE_TEMPLATE/new_rule.yaml
  .github/ISSUE_TEMPLATE/rule_deprecation.md
  .github/ISSUE_TEMPLATE/rule_deprecation.yaml
  .github/ISSUE_TEMPLATE/rule_tuning.md
  .github/ISSUE_TEMPLATE/rule_tuning.yaml
  .github/ISSUE_TEMPLATE/schema_feature_request.yaml
  .github/PULL_REQUEST_GUIDELINES/bug_guidelines.md
  .github/PULL_REQUEST_GUIDELINES/enhancement_guidelines.md
  .github/PULL_REQUEST_GUIDELINES/hunt_new_guidelines.md
  .github/PULL_REQUEST_GUIDELINES/hunt_tuning_guidelines.md
  .github/PULL_REQUEST_GUIDELINES/rule_deprecation_guidelines.md
  .github/PULL_REQUEST_GUIDELINES/rule_new_guidelines.md
  .github/PULL_REQUEST_GUIDELINES/rule_tuning_guidelines.md
  .github/PULL_REQUEST_GUIDELINES/schema_enhancement_guidelines.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/add-guidelines.yml
Labels: enhancement, ci/cd, backport: auto

#3875 [Tuning & Changes] Misc rule/hunt tuning
  hunting/index.md
  hunting/linux/docs/persistence_via_package_manager.md
  hunting/linux/docs/persistence_via_shell_modification_persistence.md
  hunting/linux/docs/persistence_via_udev.md
  hunting/linux/queries/persistence_via_package_manager.toml
  hunting/linux/queries/persistence_via_shell_modification_persistence.toml
  hunting/linux/queries/persistence_via_udev.toml
  rules/integrations/fim/persistence_suspicious_file_modifications.toml
  rules/linux/persistence_apt_package_manager_execution.toml
  rules/linux/persistence_apt_package_manager_file_creation.toml
  rules/linux/persistence_apt_package_manager_netcon.toml
  rules/linux/persistence_dnf_package_manager_plugin_file_creation.toml
  rules/linux/persistence_shell_configuration_modification.toml
  rules/linux/persistence_udev_rule_creation.toml
  rules/linux/persistence_yum_package_manager_plugin_file_creation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE, Hunt: Tuning

#3436 [Rule BugFix] Google Workspace Oauth2 new app
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/google_workspace/defense_evasion_google_workspace_new_oauth_login_from_third_party_application.toml
Labels: Domain: Cloud, Rule: Tuning, community, Integration: Google Workspace, backport: auto

#3867 [Rule Tunings] AWS Administrator Access Policy Attached Rules
  rules/integrations/aws/privilege_escalation_iam_administratoraccess_policy_attached_to_group.toml
  rules/integrations/aws/privilege_escalation_iam_administratoraccess_policy_attached_to_role.toml
  rules/integrations/aws/privilege_escalation_iam_administratoraccess_policy_attached_to_user.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto

#3868 [Rule Tunings] Change `from` field to prevent double alerts
  rules/integrations/aws/exfiltration_rds_snapshot_shared_with_another_account.toml
  rules/integrations/aws/impact_aws_s3_bucket_enumeration_or_brute_force.toml
  rules/integrations/aws/impact_rds_instance_cluster_deletion_protection_disabled.toml
  rules/integrations/aws/impact_rds_snapshot_deleted.toml
  rules/integrations/aws/persistence_iam_user_created_access_keys_for_another_user.toml
  rules/integrations/aws/persistence_rds_db_instance_password_modified.toml
  rules/integrations/aws/persistence_rds_instance_made_public.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto

#3869 [FR] [DAC] Import Exceptions from API Export and ndjson
  detection_rules/config.py
  detection_rules/exception.py
  detection_rules/generic_loader.py
  detection_rules/kbwrap.py
  detection_rules/main.py
Labels: python, schema, backport: auto, detections-as-code

#3870 [FR] [DAC] Add Exceptions Import Support for Kibana and ndjson
  CLI.md
  detection_rules/exception.py
  detection_rules/kbwrap.py
  detection_rules/main.py
  lib/kibana/kibana/resources.py
  lib/kibana/pyproject.toml
Labels: python, kibana-module, detections-as-code

#3815 [FR] Add API auth to Kibana module
  CLI.md
  Makefile
  detection_rules/misc.py
  lib/kibana/kibana/connector.py
  lib/kibana/pyproject.toml
Labels: python, backport: auto

#3886 [Bug] Hunting - Add UTF-8 Encoding for all Read and Write Operations
  hunting/generate_markdown.py
Labels: bug, python, backport: auto, threat hunting

#3888 [Bug] Fix typo in dataview variable
  detection_rules/rule.py
Labels: bug, python

#3881 [FR] [DAC] Update docs
  CLI.md
  detection_rules/etc/_config.yaml
  detection_rules/main.py
  detection_rules/rule.py
  docs/custom-rules.md
Labels: documentation, python, detections-as-code

#3890 [FR] Support new_terms schema import/export w/custom format
  detection_rules/main.py
  detection_rules/rule.py
  detection_rules/rule_formatter.py
Labels: python, schema, backport: auto

#3893 [Bug] [DAC] Import rules into repo loads exceptions without argument
  detection_rules/main.py
Labels: bug, python, detections-as-code, meta:rapid-merge

#3887 [Rule Tuning] Suspicious DLL Loaded for Persistence or Privilege Escalation
  rules/windows/privilege_escalation_persistence_phantom_dll.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3879 [New Rules] DPKG Execution/Installation
  rules/linux/persistence_dpkg_package_installation_from_unusual_parent.toml
  rules/linux/persistence_dpkg_unusual_execution.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#3883 [New Rules] Docker Entrypoint Netcon / Nsenter Escape
  rules/linux/execution_egress_connection_from_entrypoint_in_container.toml
  rules/linux/privilege_escalation_docker_escape_via_nsenter.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#3902 Remove Rule:Promotion labels and add other relavent labels
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/add-guidelines.yml
Labels: schema, backport: auto, Hunt: New, Hunt: Tuning, meta:rapid-merge

#3885 [Rule Tuning] Updated setup guide
  rules/linux/persistence_user_or_group_creation_or_modification.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#3884 [New Rule] Unsafe Docker Container Creation
  rules/linux/execution_potentially_overly_permissive_container_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, container, Team: TRADE

#3882 [New Rule] RPM Package Installed by Unusual Parent Process
  rules/linux/persistence_rpm_package_installation_from_unusual_parent.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#3896 [New Rules] Git Hook execution/netcon
  rules/linux/persistence_git_hook_execution.toml
  rules/linux/persistence_git_hook_netcon.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#3900 [New Rule] Service DACL Modification via sc.exe
  rules/windows/defense_evasion_sc_sdset.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3901 [tuning] Connection to Commonly Abused Web Services
  rules/windows/command_and_control_common_webservices.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3892 [New Rule] AWS S3 Bucket Server Access Logging Disabled
  rules/integrations/aws/defense_evasion_s3_bucket_server_access_logging_disabled.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#3894 [New Rule] AWS S3 Object Versioning Suspended
  rules/integrations/aws/impact_s3_object_versioning_disabled.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#3895 [New Rule] AWS S3 Bucket Replicated to Another Account
  rules/integrations/aws/exfiltration_s3_bucket_replicated_to_external_account.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#3904 [Rule Tuning] Misc. DR Rule Tuning
  rules/_deprecated/impact_potential_linux_ransomware_file_encryption.toml
  rules/linux/command_and_control_suspicious_network_activity_from_unknown_executable.toml
  rules/linux/defense_evasion_binary_copied_to_suspicious_directory.toml
  rules/linux/execution_suspicious_executable_running_system_commands.toml
  rules/linux/execution_unknown_rwx_mem_region_binary_executed.toml
  rules/linux/impact_potential_linux_ransomware_note_detected.toml
  rules/linux/persistence_apt_package_manager_netcon.toml
  rules/linux/persistence_cron_job_creation.toml
  rules/linux/persistence_kde_autostart_modification.toml
  rules/linux/persistence_kworker_file_creation.toml
Labels: OS: Linux, Rule: Deprecation, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#3903 [Rule Tuning] PowerShell Rule Review & Tuning
  rules/windows/collection_posh_keylogger.toml
  rules/windows/credential_access_posh_invoke_ninjacopy.toml
  rules/windows/credential_access_posh_kerb_ticket_dump.toml
  rules/windows/credential_access_posh_relay_tools.toml
  rules/windows/defense_evasion_posh_assembly_load.toml
  rules/windows/defense_evasion_posh_compressed.toml
  rules/windows/defense_evasion_posh_encryption.toml
  rules/windows/defense_evasion_posh_process_injection.toml
  rules/windows/discovery_posh_suspicious_api_functions.toml
  rules/windows/execution_posh_hacktool_authors.toml
  rules/windows/execution_posh_psreflect.toml
  rules/windows/privilege_escalation_posh_token_impersonation.toml
  rules_building_block/collection_posh_compression.toml
  rules_building_block/defense_evasion_powershell_clear_logs_script.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, bbr

#3908 [New Rule] Potential WSUS Abuse for Lateral Movement
  rules/windows/lateral_movement_via_wsus_update.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3917 [New Rule] Active Directory Forced Authentication from Linux Host - SMB Named Pipes
  rules/cross-platform/credential_access_forced_authentication_pipes.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3925 Update Rule Min stack
  rules/windows/execution_via_mmc_console_file_unusual_path.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, meta:rapid-merge

#3931 [Rule Tuning] Removed Endgame from Incompatible Rules
  rules/linux/privilege_escalation_linux_suspicious_symbolic_link.toml
  rules/linux/privilege_escalation_sda_disk_mount_non_root.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, community, backport: auto, Team: TRADE

#3014 [New Rule] Potential Active Directory Replication User Backdoor
  rules/windows/credential_access_dcsync_user_backdoor.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backlog, backport: auto

#3920 [New Rule] AWS EC2 Instance Interaction with IAM Service
  rules/integrations/aws/persistence_ec2_instance_request_to_iam_service.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#3922 [New Rule] AWS EC2 Instance Console Login via Assumed Role
  rules/integrations/aws/lateral_movement_ec2_instance_console_login.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#3923 [New Rule] AWS IAM User or Role Created Cloudformation Stack for First Time
  rules/integrations/aws/execution_new_terms_cloudformation_createstack.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto
