Repository elastic/detection-rules, pull requests merged in 2024-05, with the labels that each got.

#3635 [New Rule] AWS S3 Bucket Enumeration or Brute Force
  detection_rules/rule.py
  rules/integrations/aws/impact_aws_s3_bucket_enumeration_or_brute_force.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, python, backport: auto, Area: RAD, esql

#3636 [Bug] Fix missing indexes on navigator build
  detection_rules/navigator.py
Labels: python, backport: auto

#3637 [FR] Add Hunt Structure and Initial LLM Queries 🚀
  README.md
  hunting/README.md
  hunting/__init__.py
  hunting/generate_markdown.py
  hunting/index.md
  hunting/llm/README.md
  hunting/llm/docs/llm_dos_resource_exhaustion_detection.md
  hunting/llm/docs/llm_latency_anomalies_detection.md
  hunting/llm/docs/llm_sensitive_content_refusal_detection.md
  hunting/llm/queries/llm_dos_resource_exhaustion_detection.toml
  hunting/llm/queries/llm_latency_anomalies_detection.toml
  hunting/llm/queries/llm_sensitive_content_refusal_detection.toml
  tests/test_hunt_data.py
Labels: Rule: Hunt, backport: auto, esql, llm

#3643 [FR] Add ability to generate hunt index
  README.md
  hunting/generate_markdown.py
  hunting/index.md
Labels: enhancement, python, backport: auto

#3644 [New Rule] Potential Abuse of Resources by High Token Count and Large Response Sizes
  detection_rules/schemas/definitions.py
  rules/integrations/aws/aws_bedrock_high_resource_consumption_detection.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, python, schema, backport: auto, Area: RAD, esql, Integration: AWS-Bedrock

#3641 [New Rules] AWS Bedrock Guardrails Violations
  rules/integrations/aws_bedrock/aws_bedrock_guardrails_multiple_violations_by_single_user.toml
  rules/integrations/aws_bedrock/aws_bedrock_guardrails_multiple_violations_in_single_request.toml
  rules/integrations/aws_bedrock/aws_bedrock_multiple_attempts_to_use_denied_models_by_user.toml
Labels: Rule: New, python, schema, backport: auto, esql, Integration: AWS-Bedrock

#3646 [Rule Tuning] AWS Bedrock Detected Multiple Attempts to use Denied Models by a Single User
  rules/integrations/aws_bedrock/aws_bedrock_high_resource_consumption_detection.toml
Labels: Rule: Tuning, backport: auto, Area: RAD, esql, llm

#3638 [New] Ransomware over SMB
  rules/windows/impact_high_freq_file_renames_by_kernel.toml
  rules/windows/impact_ransomware_file_rename_smb.toml
  rules/windows/impact_ransomware_note_file_over_smb.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3649 [FR] Update readme with wsl instructions for py312
  README.md
  Troubleshooting.md
Labels: documentation, enhancement, backport: auto

#3655 [Tuning] Component Object Model Hijacking
  rules/windows/persistence_suspicious_com_hijack_registry.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, community, backport: auto

#2472 [New Rule] Potential PowerShell HackTool Script by Author
  rules/windows/execution_posh_hacktool_authors.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backlog, backport: auto, Area: RAD

#3653 [FR] Improve DAC custom folder init
  detection_rules/config.py
  detection_rules/custom_rules.py
  detection_rules/etc/_config.yaml
  detection_rules/etc/example_test_config.yaml
  docs/custom-rules.md
Labels: bug, enhancement, python, detections-as-code

#3656 [New Rule] Potential Widespread Malware Infection
  rules/cross-platform/execution_potential_widespread_malware_infection.toml
Labels: Rule: New, Domain: Endpoint, community, backport: auto

#3435 [Tuning] MacOS Comprehensive Detection Rule Tuning
  rules/macos/credential_access_credentials_keychains.toml
  rules/macos/credential_access_keychain_pwd_retrieval_security_cmd.toml
  rules/macos/credential_access_mitm_localhost_webproxy.toml
  rules/macos/credential_access_promt_for_pwd_via_osascript.toml
  rules/macos/credential_access_suspicious_web_browser_sensitive_file_access.toml
  rules/macos/credential_access_systemkey_dumping.toml
  rules/macos/defense_evasion_attempt_del_quarantine_attrib.toml
  rules/macos/defense_evasion_modify_environment_launchctl.toml
  rules/macos/discovery_users_domain_built_in_commands.toml
  rules/macos/execution_initial_access_suspicious_browser_childproc.toml
  rules/macos/execution_installer_package_spawned_network_event.toml
  rules/macos/execution_shell_execution_via_apple_scripting.toml
  rules/macos/initial_access_suspicious_mac_ms_office_child_process.toml
  rules/macos/persistence_credential_access_authorization_plugin_creation.toml
  rules/macos/persistence_docker_shortcuts_plist_modification.toml
  rules/macos/persistence_finder_sync_plugin_pluginkit.toml
  rules/macos/persistence_folder_action_scripts_runtime.toml
  rules/macos/persistence_loginwindow_plist_modification.toml
  rules/macos/privilege_escalation_applescript_with_admin_privs.toml
  rules/macos/privilege_escalation_local_user_added_to_admin.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto, Area: RAD, Team: TRADE

#3517 [New Rule] Alternate Data Stream Creation at Volume Root Directory
  rules/windows/defense_evasion_root_dir_ads_creation.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, Area: RAD

#3668 [Bug] Update Rule Formatter
  detection_rules/rule_formatter.py
Labels: python, community, backport: auto, Area: DED, Team: TRADE

#3662 [FR] Bundle KQL & Kibana libs into base dependencies
  .github/workflows/backport.yml
  .github/workflows/get-target-branches.yml
  .github/workflows/lock-versions.yml
  .github/workflows/manual-backport.yml
  .github/workflows/pythonpackage.yml
  .github/workflows/release-docs.yml
  .github/workflows/release-fleet.yml
  CLI.md
  Makefile
  README.md
  detection_rules/etc/test_cli.bash
  pyproject.toml
Labels: enhancement, python, community, kql, ci/cd, backport: auto

#3586 [New Rule] First Occurrence of User Identity Retrieving Credentials from EC2 Instance with an Assumed Role
  rules/integrations/aws/credential_access_aws_getpassword_for_ec2_instance.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD

#3600 [New Rule] AWS EC2 AMI Shared with Another Account
  rules/integrations/aws/exfiltration_ec2_ami_shared_with_separate_account.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD

#3660 [New] Potential File Download via a Headless Browser
  rules/windows/command_and_control_common_webservices.toml
  rules/windows/command_and_control_headless_browser.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#3592 [New Rule] Route53 Resolver Query Log Configuration Deleted
  rules/integrations/aws/defense_evasion_route53_dns_query_resolver_config_deletion.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD

#3633 [New Rule] Building Block Rule - AWS IAM Login Profile Added to User
  rules_building_block/persistence_aws_iam_login_profile_added_to_user.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD, bbr

#3669 [FR] Add max_signal note, unit test, and rule tuning
  rules/integrations/cloud_defend/container_workload_protection.toml
  rules/integrations/endpoint/elastic_endpoint_security.toml
  rules/promotions/credential_access_endgame_cred_dumping_detected.toml
  rules/promotions/credential_access_endgame_cred_dumping_prevented.toml
  rules/promotions/endgame_adversary_behavior_detected.toml
  rules/promotions/endgame_malware_detected.toml
  rules/promotions/endgame_malware_prevented.toml
  rules/promotions/endgame_ransomware_detected.toml
  rules/promotions/endgame_ransomware_prevented.toml
  rules/promotions/execution_endgame_exploit_detected.toml
  rules/promotions/execution_endgame_exploit_prevented.toml
  rules/promotions/external_alerts.toml
  rules/promotions/privilege_escalation_endgame_cred_manipulation_detected.toml
  rules/promotions/privilege_escalation_endgame_cred_manipulation_prevented.toml
  rules/promotions/privilege_escalation_endgame_permission_theft_detected.toml
  rules/promotions/privilege_escalation_endgame_permission_theft_prevented.toml
  rules/promotions/privilege_escalation_endgame_process_injection_detected.toml
  rules/promotions/privilege_escalation_endgame_process_injection_prevented.toml
  tests/test_all_rules.py
Labels: python, community, backport: auto, Integration: Endpoint, Area: DED, Area: RAD, Team: TRADE

#3654 [FR] [DAC] further decouple reliance on default rule dir locations
  CLI.md
  detection_rules/cli_utils.py
  detection_rules/config.py
  detection_rules/custom_rules.py
  detection_rules/devtools.py
  detection_rules/etc/_config.yaml
  detection_rules/main.py
  detection_rules/navigator.py
  detection_rules/packaging.py
  detection_rules/rule.py
  detection_rules/rule_loader.py
  tests/test_all_rules.py
  tests/test_transform_fields.py
Labels: enhancement, python, community, Area: DED, Team: TRADE, detections-as-code

#3673 [FR] [DAC] Update custom-rules.md with Additional Notes
  docs/custom-rules.md
Labels: community, Area: DED, Team: TRADE, detections-as-code

#3671 [Rule Tuning] Windows Service Installed via an Unusual Client
  rules/windows/privilege_escalation_windows_service_via_unusual_client.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, community, backport: auto

#3678 [FR] Update custom rules setup
  detection_rules/custom_rules.py
Labels: enhancement, python, community

#3677 [Tuning] Suspicious Microsoft 365 Mail Access by ClientAppId
  rules/integrations/o365/initial_access_microsoft_365_abnormal_clientappid.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto

#3675 [FR] Normalize yml ext to yaml
  .github/CODEOWNERS
  .github/workflows/get-target-branches.yml
  .github/workflows/manual-backport.yml
  .github/workflows/release-fleet.yml
  detection_rules/cli_utils.py
  detection_rules/devtools.py
  detection_rules/eswrap.py
  detection_rules/etc/packages.yaml
  detection_rules/etc/rule-mapping.yaml
  detection_rules/mappings.py
  detection_rules/misc.py
  detection_rules/packaging.py
  docs/rule_insights.md
  tests/test_all_rules.py
  tests/test_mappings.py
  tests/test_packages.py
Labels: enhancement, python, community, backport: auto

#3683 [FR] Normalize yaml/yml extension
  detection_rules/config.py
  detection_rules/custom_rules.py
  detection_rules/etc/_config.yaml
  detection_rules/packaging.py
  detection_rules/utils.py
  docs/custom-rules.md
  tests/test_packages.py
Labels: documentation, enhancement, python, detections-as-code

#3686 [FR] [DAC] Use Rules Config Directories If None Specified
  detection_rules/cli_utils.py
Labels: python, Area: DED, Team: TRADE, detections-as-code

#3684 [FR] [DAC] Add Flag to Enable All Prebuilt Tests
  detection_rules/custom_rules.py
Labels: enhancement, python, schema, backport: auto, Area: DED, Team: TRADE, detections-as-code

#3689 [Bug] Support spaces with capital letters
  lib/kibana/kibana/__init__.py
  lib/kibana/kibana/connector.py
  lib/kibana/pyproject.toml
Labels: bug, backport: auto, kibana-module

#3693 [FR] Add --force flag to update-lock-versions
  detection_rules/devtools.py
Labels: enhancement, python, backport: auto, Area: DED, Team: TRADE

#3691 [Rule Tuning] Suspicious Web Browser Sensitive File Access
  rules/macos/credential_access_suspicious_web_browser_sensitive_file_access.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: auto

#3627 [Rule Tuning] Add Initial SentinelOne Compatibility to Windows DRs
  detection_rules/devtools.py
  detection_rules/etc/integration-manifests.json.gz
  detection_rules/etc/integration-schemas.json.gz
  detection_rules/integrations.py
  detection_rules/schemas/definitions.py
  rules/windows/collection_email_powershell_exchange_mailbox.toml
  rules/windows/command_and_control_port_forwarding_added_registry.toml
  rules/windows/command_and_control_rdp_tunnel_plink.toml
  rules/windows/command_and_control_screenconnect_childproc.toml
  rules/windows/credential_access_domain_backup_dpapi_private_keys.toml
  rules/windows/credential_access_kirbi_file.toml
  rules/windows/credential_access_mimikatz_memssp_default_logs.toml
  rules/windows/defense_evasion_amsi_bypass_dllhijack.toml
  rules/windows/defense_evasion_hide_encoded_executable_registry.toml
  rules/windows/defense_evasion_masquerading_suspicious_werfault_childproc.toml
  rules/windows/defense_evasion_persistence_account_tokenfilterpolicy.toml
  rules/windows/defense_evasion_suspicious_zoom_child_process.toml
  rules/windows/execution_command_shell_started_by_unusual_process.toml
  rules/windows/initial_access_suspicious_ms_outlook_child_process.toml
  rules/windows/persistence_adobe_hijack_persistence.toml
  rules/windows/persistence_appcertdlls_registry.toml
  rules/windows/persistence_local_scheduled_job_creation.toml
  rules/windows/persistence_system_shells_via_services.toml
  rules/windows/persistence_via_bits_job_notify_command.toml
  rules/windows/persistence_webshell_detection.toml
  tests/test_all_rules.py
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, python, schema, backport: auto

#3591 [New Rule] AWS S3 Bucket Expiration Lifecycle Configuration Added
  rules/integrations/aws/defense_evasion_s3_bucket_lifecycle_expiration_added.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD

#3659 [FR] Update Utility Path Computation to use Pathlib
  detection_rules/__main__.py
  detection_rules/attack.py
  detection_rules/devtools.py
  detection_rules/ecs.py
  detection_rules/endgame.py
  detection_rules/integrations.py
  detection_rules/main.py
  detection_rules/mappings.py
  detection_rules/misc.py
  detection_rules/ml.py
  detection_rules/packaging.py
  detection_rules/rule_loader.py
  detection_rules/schemas/__init__.py
  detection_rules/utils.py
  detection_rules/version_lock.py
Labels: python, community, schema, backport: auto

#3700 [New Rule] AWS S3 Bucket Expiration Lifecycle Configuration Added
  rules/integrations/aws/defense_evasion_s3_bucket_lifecycle_expiration_added.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: skip, Area: RAD

#3707 [Tuning] Potential Ransomware Behavior - High count of Readme files by System
  rules/windows/impact_high_freq_file_renames_by_kernel.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#3706 Package Manifest changes to add capabilities
  detection_rules/etc/packages.yaml
  detection_rules/schemas/registry_package.py
Labels: python, schema, backport: auto

#3699 [FR] Update utility path computation to use pathlib
  detection_rules/__main__.py
  detection_rules/attack.py
  detection_rules/devtools.py
  detection_rules/ecs.py
  detection_rules/endgame.py
  detection_rules/integrations.py
  detection_rules/main.py
  detection_rules/mappings.py
  detection_rules/misc.py
  detection_rules/ml.py
  detection_rules/packaging.py
  detection_rules/rule_loader.py
  detection_rules/schemas/__init__.py
  detection_rules/utils.py
  detection_rules/version_lock.py
Labels: python, schema, backport: auto

#3033 [New RTA] Input Capture via Keylog
  rta/collection_keylog_hook_keystate.py
  rta/collection_keylog_rawinputdevice.py
Labels: RTA, OS: Windows, backport: auto, Integration: Endpoint

#3599 [New Rule] AWS EC2 VPC Security Group Rule Added for Any Address or Remote Access Ports
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/aws/defense_evasion_vpc_security_group_ingress_rule_added_for_remote_connections.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD

#3593 [New Rule] Building Block Rule - Attempt to Retrieve User Data from AWS EC2 Instance
  rules_building_block/discovery_userdata_request_from_ec2_instance.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, Area: RAD, bbr

#3652 Update rule setup instructions for UEBA packages
  rules/integrations/beaconing/command_and_control_beaconing.toml
  rules/integrations/beaconing/command_and_control_beaconing_high_confidence.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_destination_geo_country_iso_code.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_destination_ip.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_destination_port.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_destination_region_name.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_written_to_external_device.toml
  rules/integrations/ded/exfiltration_ml_high_bytes_written_to_external_device_airdrop.toml
  rules/integrations/ded/exfiltration_ml_rare_process_writing_to_external_device.toml
  rules/integrations/dga/command_and_control_ml_dga_activity_using_sunburst_domain.toml
  rules/integrations/dga/command_and_control_ml_dga_high_sum_probability.toml
  rules/integrations/dga/command_and_control_ml_dns_request_high_dga_probability.toml
  rules/integrations/dga/command_and_control_ml_dns_request_predicted_to_be_a_dga_domain.toml
  rules/integrations/lmd/lateral_movement_ml_high_mean_rdp_process_args.toml
  rules/integrations/lmd/lateral_movement_ml_high_mean_rdp_session_duration.toml
  rules/integrations/lmd/lateral_movement_ml_high_remote_file_size.toml
  rules/integrations/lmd/lateral_movement_ml_high_variance_rdp_session_duration.toml
  rules/integrations/lmd/lateral_movement_ml_rare_remote_file_directory.toml
  rules/integrations/lmd/lateral_movement_ml_rare_remote_file_extension.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_connections_from_a_source_ip.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_connections_to_a_destination_ip.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_rdp_processes.toml
  rules/integrations/lmd/lateral_movement_ml_spike_in_remote_file_transfers.toml
  rules/integrations/lmd/lateral_movement_ml_unusual_time_for_an_rdp_session.toml
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_host.toml
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_parent_process.toml
  rules/integrations/problemchild/defense_evasion_ml_rare_process_for_a_user.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event_high_probability.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_host.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_parent_process.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_user.toml
Labels: enhancement, community, backport: auto

#3715 Fix nodeenv version dependancy
  .github/workflows/backport.yml
  pyproject.toml
Labels: backport: auto

#3712 [Rule Tuning] Tune exceptions for M365 Brute Force User Attempt
  rules/integrations/o365/credential_access_microsoft_365_brute_force_user_account_attempt.toml
Labels: Domain: Cloud, Rule: Tuning, community, Integration: Microsoft 365, backport: auto

#3724 Remove unwanted backticks
  rules/integrations/dga/command_and_control_ml_dga_activity_using_sunburst_domain.toml
  rules/integrations/dga/command_and_control_ml_dga_high_sum_probability.toml
  rules/integrations/dga/command_and_control_ml_dns_request_high_dga_probability.toml
  rules/integrations/dga/command_and_control_ml_dns_request_predicted_to_be_a_dga_domain.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event_high_probability.toml
Labels: backport: auto

#3711 [New Rule] AWS GetCallerIdentity API Called for the First Time
  rules/integrations/aws/discovery_new_terms_sts_getcalleridentity.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto
