Repository elastic/detection-rules, pull requests merged in 2024-12, with the labels that each got.

#4278 Add event dataset for missing rule in Github integration
  rules/integrations/github/impact_github_repository_deleted.toml
Labels: Rule: Tuning, backport: auto, meta:rapid-merge

#4279 Add all historical versions for v8.17.0 and above packages
  detection_rules/devtools.py
  pyproject.toml
Labels: enhancement, python, backport: auto, minor

#4283 [Tuning] SDH - Possible Consent Grant Attack via Azure-Registered Application
  rules/integrations/azure/initial_access_consent_grant_attack_via_azure_registered_application.toml
Labels: Integration: Azure, Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto

#4277 [New Rule] Adding Coverage for Self-Created Login Profile for Root Accounts in AWS
  rules/integrations/aws/persistence_iam_create_login_profile_for_root.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#4292 [Rule Tuning] Remove Trailing Comma in `AWS IAM User Created Access Keys For Another User`
  rules/integrations/aws/persistence_iam_user_created_access_keys_for_another_user.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto

#4294 Minstack endpoint rules with process.group.id fields
  rules/linux/privilege_escalation_potential_suid_sgid_exploitation.toml
  rules/linux/privilege_escalation_sudo_token_via_process_injection.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, meta:rapid-merge

#4296 Update versioning support for 8.17
  docs/versioning.md
  pyproject.toml
Labels: enhancement, backport: auto, meta:rapid-merge, patch

#4297 [New Rule] Adding Coverage for `Azure Entra MFA TOTP Brute Force Attempts`
  rules/integrations/azure/credential_access_azure_entra_totp_brute_force_attempts.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, backport: auto, emerging-threat

#4280 [New Hunt] Adding Hunting Query for `AWS IAM Unusual AWS Access Key Usage for User`
  hunting/aws/docs/iam_unusual_access_key_usage_for_user.md
  hunting/aws/queries/iam_unusual_access_key_usage_for_user.toml
  hunting/index.md
  hunting/index.yml
  pyproject.toml
Labels: Integration: AWS, Domain: Cloud, backport: auto, Hunt: New, threat hunting, Hunting, patch

#4299 Enhance Readability of validation check failures
  detection_rules/rule_validators.py
  pyproject.toml
  tests/test_python_library.py
Labels: bug, python, backport: auto, patch

#4286 [Tuning] Uncommon Registry Persistence Change
  rules/windows/persistence_registry_uncommon.toml
Labels: OS: Windows, Domain: Endpoint, community, backport: auto
