Repository elastic/detection-rules, pull requests merged in 2025-02, with the labels that each got.

#4420 [Rule Tuning] Linux DR Tuning - Part 3
  rules/linux/execution_abnormal_process_id_file_created.toml
  rules/linux/execution_file_execution_followed_by_deletion.toml
  rules/linux/execution_file_transfer_or_listener_established_via_netcat.toml
  rules/linux/execution_network_event_post_compilation.toml
  rules/linux/execution_remote_code_execution_via_postgresql.toml
  rules/linux/execution_shell_openssl_client_or_server.toml
  rules/linux/execution_unix_socket_communication.toml
  rules/linux/execution_unknown_rwx_mem_region_binary_executed.toml
  rules/linux/execution_unusual_path_invocation_from_command_line.toml
  rules/linux/exfiltration_potential_data_splitting_for_exfiltration.toml
  rules/linux/impact_memory_swap_modification.toml
  rules/linux/impact_potential_linux_ransomware_note_detected.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, community, backport: auto, Team: TRADE

#4423 [Rule Tuning] Linux DR Tuning - Part 6
  rules/cross-platform/execution_suspicious_java_netcon_childproc.toml
  rules/linux/privilege_escalation_dac_permissions.toml
  rules/linux/privilege_escalation_ld_preload_shared_object_modif.toml
  rules/linux/privilege_escalation_netcon_via_sudo_binary.toml
  rules/linux/privilege_escalation_suspicious_uid_guid_elevation.toml
  rules/linux/privilege_escalation_uid_elevation_from_unknown_executable.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, community, backport: auto, Team: TRADE

#4434 [Tuning / New] Execution of a downloaded windows script
  rules/windows/command_and_control_tool_transfer_via_curl.toml
  rules/windows/defense_evasion_indirect_exec_forfiles.toml
  rules/windows/defense_evasion_network_connection_from_windows_binary.toml
  rules/windows/defense_evasion_posh_assembly_load.toml
  rules/windows/execution_powershell_susp_args_via_winscript.toml
  rules/windows/execution_windows_script_from_internet.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, community, backport: auto

#4441 Fix remaining Replace master doc URLs with current
  rules/integrations/aws/discovery_ec2_userdata_request_for_ec2_instance.toml
  rules/integrations/aws/persistence_ec2_route_table_modified_or_deleted.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, community, backport: auto, meta:rapid-merge

#4432 [Hunt Tuning] Fixing Sort Logic in Aviatrix Hunting Query
  hunting/aws/docs/iam_unusual_default_aviatrix_role_activity.md
  hunting/aws/queries/iam_unusual_default_aviatrix_role_activity.toml
Labels: Integration: AWS, Domain: Cloud, community, backport: auto, Hunt: Tuning, Hunting

#4443 [Rule Tuning] Port Scan Rules
  rules/network/discovery_potential_network_sweep_detected.toml
  rules/network/discovery_potential_port_scan_detected.toml
  rules/network/discovery_potential_syn_port_scan_detected.toml
Labels: Domain: Network, Rule: Tuning, community, backport: auto

#4406 [New Hunt] Persistence via PolicyKit
  hunting/index.md
  hunting/index.yml
  hunting/linux/docs/persistence_via_policykit.md
  hunting/linux/queries/persistence_via_policykit.toml
Labels: OS: Linux, community, Rule: Hunt, backport: auto, Team: TRADE, Hunt: New, threat hunting, Hunting, patch

#4407 [New Hunt] Persistence via Desktop Bus (D-Bus)
  hunting/index.md
  hunting/index.yml
  hunting/linux/docs/persistence_via_desktop_bus.md
  hunting/linux/queries/persistence_via_desktop_bus.toml
Labels: OS: Linux, community, Rule: Hunt, backport: auto, Team: TRADE, Hunt: New, threat hunting, Hunting, patch

#4448 [Rule Tuning] Remote Execution via File Shares
  rules/windows/lateral_movement_execution_via_file_shares_sequence.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, community, backport: auto

#4447 [Rule Tuning] Tighten Up Elastic Defend Indexes - MacOS
  rules/macos/credential_access_credentials_keychains.toml
  rules/macos/credential_access_dumping_keychain_security.toml
  rules/macos/credential_access_keychain_pwd_retrieval_security_cmd.toml
  rules/macos/credential_access_promt_for_pwd_via_osascript.toml
  rules/macos/defense_evasion_attempt_del_quarantine_attrib.toml
  rules/macos/defense_evasion_privacy_controls_tcc_database_modification.toml
  rules/macos/defense_evasion_privilege_escalation_privacy_pref_sshd_fulldiskaccess.toml
  rules/macos/discovery_users_domain_built_in_commands.toml
  rules/macos/execution_initial_access_suspicious_browser_childproc.toml
  rules/macos/execution_installer_package_spawned_network_event.toml
  rules/macos/execution_script_via_automator_workflows.toml
  rules/macos/execution_scripting_osascript_exec_followed_by_netcon.toml
  rules/macos/execution_shell_execution_via_apple_scripting.toml
  rules/macos/initial_access_suspicious_mac_ms_office_child_process.toml
  rules/macos/lateral_movement_mounting_smb_share.toml
  rules/macos/lateral_movement_vpn_connection_attempt.toml
  rules/macos/persistence_creation_change_launch_agents_file.toml
  rules/macos/persistence_creation_hidden_login_item_osascript.toml
  rules/macos/persistence_creation_modif_launch_deamon_sequence.toml
  rules/macos/persistence_crontab_creation.toml
  rules/macos/persistence_emond_rules_file_creation.toml
  rules/macos/persistence_emond_rules_process_execution.toml
  rules/macos/persistence_evasion_hidden_launch_agent_deamon_creation.toml
  rules/macos/persistence_finder_sync_plugin_pluginkit.toml
  rules/macos/persistence_folder_action_scripts_runtime.toml
  rules/macos/persistence_login_logout_hooks_defaults.toml
  rules/macos/persistence_modification_sublime_app_plugin_or_script.toml
  rules/macos/persistence_screensaver_engine_unexpected_child_process.toml
  rules/macos/persistence_screensaver_plist_file_modification.toml
  rules/macos/privilege_escalation_applescript_with_admin_privs.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, community, backport: auto

#4444 [Rule Tuning] SMB Connections via LOLBin or Untrusted Process
  rules/windows/lateral_movement_direct_outbound_smb_connection.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, community, backport: auto

#4435 chore(ci): new CI action trigger for REACT testing workflow
  .github/workflows/react-tests-dispatcher.yml
  .github/workflows/trigger-react.yml
Labels: enhancement, OS: Windows, Domain: Endpoint, community, backport: auto

#4452 [Tuning] Execution of a Downloaded Windows Script
  rules/windows/execution_windows_script_from_internet.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4451 Bumping number of versions per rule to 4 in total
  detection_rules/devtools.py
  detection_rules/integrations.py
  pyproject.toml
Labels: enhancement, python, backport: auto, meta:rapid-merge, maintenance, patch

#4445 [Rule Tuning] Event Aggregation - Fix `event.action` & `event.type` conditions
  rules/integrations/cloud_defend/execution_interactive_shell_spawned_from_inside_a_container.toml
  rules/integrations/cloud_defend/lateral_movement_ssh_process_launched_inside_a_container.toml
  rules/linux/execution_tc_bpf_filter.toml
  rules/macos/execution_scripting_osascript_exec_followed_by_netcon.toml
  rules/windows/persistence_local_scheduled_task_creation.toml
Labels: OS: Linux, OS: macOS, Rule: Tuning, OS: Windows, Domain: Endpoint, community, backport: auto, Integration: Cloud Defend

#4457 Modify Unit Test to Support Alert Suppression for EQL Sequences
  pyproject.toml
  tests/test_all_rules.py
Labels: enhancement, backport: auto, patch

#4462 [Rule Tuning] Windows - Improve Index Pattern Consistency
  rules/windows/collection_email_outlook_mailbox_via_com.toml
  rules/windows/credential_access_dollar_account_relay.toml
  rules/windows/credential_access_imageload_azureadconnectauthsvc.toml
  rules/windows/credential_access_regback_sam_security_hives.toml
  rules/windows/defense_evasion_audit_policy_disabled_winlog.toml
  rules/windows/defense_evasion_lolbas_win_cdb_utility.toml
  rules/windows/defense_evasion_windows_filtering_platform.toml
  rules/windows/execution_mofcomp.toml
  rules/windows/execution_windows_script_from_internet.toml
  rules/windows/impact_ransomware_file_rename_smb.toml
  rules/windows/impact_ransomware_note_file_over_smb.toml
  rules/windows/lateral_movement_via_wsus_update.toml
  rules/windows/privilege_escalation_persistence_phantom_dll.toml
  rules/windows/privilege_escalation_unquoted_service_path.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4459 [Rule Tuning] Account Configured with Never-Expiring Password
  rules/windows/persistence_dontexpirepasswd_account.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4470 Fix spacing in Setup information
  rules/integrations/google_workspace/defense_evasion_google_workspace_new_oauth_login_from_third_party_application.toml
  rules/integrations/google_workspace/initial_access_object_copied_to_external_drive_with_app_consent.toml
  rules/integrations/okta/initial_access_first_occurrence_user_session_started_via_proxy.toml
  rules/integrations/okta/persistence_stolen_credentials_used_to_login_to_okta_account_after_mfa_reset.toml
Labels: Domain: Cloud, Integration: Okta, Rule: Tuning, Integration: Google Workspace, backport: auto, meta:rapid-merge

#4455 [New Rule] Adding Coverage for `AWS SNS Topic Created by Rare User`
  rules/integrations/aws/resource_development_sns_topic_created_by_rare_user.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#4458 [New Hunt] Adding Hunting Queries for AWS SNS exfiltration and data collection
  hunting/aws/docs/sns_direct_to_phone_messaging_spike.md
  hunting/aws/docs/sns_email_subscription_by_rare_user.md
  hunting/aws/docs/sns_topic_created_by_rare_user.md
  hunting/aws/docs/sns_topic_message_published_by_rare_user.md
  hunting/aws/queries/sns_direct_to_phone_messaging_spike.toml
  hunting/aws/queries/sns_email_subscription_by_rare_user.toml
  hunting/aws/queries/sns_topic_created_by_rare_user.toml
  hunting/aws/queries/sns_topic_message_published_by_rare_user.toml
  hunting/index.md
  hunting/index.yml
  rules/integrations/aws/exfiltration_sns_email_subscription_by_rare_user.toml
Labels: Integration: AWS, Domain: Cloud, Rule: Tuning, backport: auto, Hunt: New, Hunting

#4469 [New Rule] Adding Coverage for `M365 OneDrive Excessive File Downloads with OAuth Token`
  rules/integrations/o365/collection_onedrive_excessive_file_downloads.toml
Labels: Domain: Cloud, Rule: New, Integration: Microsoft 365, backport: auto, emerging-threat, Domain: SaaS

#4468 [New Hunt] Adding hunting queries for Azure Device Code auth
  hunting/azure/docs/entra_authentication_attempts_from_abused_hosting_service_providers.md
  hunting/azure/docs/entra_device_code_authentication_from_unusual_principal.md
  hunting/azure/queries/entra_authentication_attempts_from_abused_hosting_service_providers.toml
  hunting/azure/queries/entra_device_code_authentication_from_unusual_principal.toml
  hunting/index.md
  hunting/index.yml
Labels: Integration: Azure, Domain: Cloud, backport: auto, emerging-threat, Hunt: New, threat hunting, Hunting

#4489 Fix typo in error message
  detection_rules/rule.py
  pyproject.toml
Labels: python, backport: auto, meta:rapid-merge, maintenance, patch

#4480 [Rule Tuning] Adapt Rules to work with Sysmon
  rules/windows/command_and_control_tool_transfer_via_curl.toml
  rules/windows/discovery_enumerating_domain_trusts_via_nltest.toml
  rules/windows/discovery_whoami_command_activity.toml
  rules/windows/lateral_movement_incoming_wmi.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4479 [Rule Tuning] MsBuild Making Network Connections
  rules/windows/defense_evasion_msbuild_making_network_connections.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4476 [New Rule] Unusual Remote File Creation
  rules/linux/lateral_movement_unusual_remote_file_creation.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE

#4473 [New Rule] High Number of Egress Network Connections from Unusual Executable
  rules/linux/command_and_control_frequent_egress_netcon_from_sus_executable.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE, esql

#4474 [New Rule] Potential Malware-Driven SSH Brute Force Attempt
  rules/linux/impact_potential_bruteforce_malware_infection.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE, esql

#4475 [New Rule] Remote File Creation in World Writeable Directory
  rules/linux/lateral_movement_remote_file_creation_world_writeable_dir.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE

#4496 [Rule Tuning] Sysmon rules that uses `event.action`
  rules/windows/defense_evasion_injection_msbuild.toml
  rules/windows/defense_evasion_timestomp_sysmon.toml
  rules/windows/privilege_escalation_via_rogue_named_pipe.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4477 [Tuning] Potential Antimalware Scan Interface Bypass via PowerShell
  rules/windows/defense_evasion_amsi_bypass_powershell.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4494 [Tuning] Remote File Copy to a Hidden Share
  rules/windows/lateral_movement_remote_file_copy_hidden_share.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4478 [New Rule] Successful SSH Authentication from Unusual SSH Public Key
  rules/linux/initial_access_first_time_public_key_authentication.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE

#4482 [New Rule] Successful SSH Authentication from Unusual IP-Address
  rules/linux/initial_access_successful_ssh_authentication_by_unusual_ip.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE

#4486 [New Rule] Unusual Base64 Encoding/Decoding Activity
  rules/linux/defense_evasion_base64_decoding_activity.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE

#4488 [New Rule] Base64 Decoded Payload Piped to Interpreter
  rules/linux/defense_evasion_interpreter_launched_from_decoded_payload.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE

#4487 [New Rule] Unusual File Transfer Utility Launched
  rules/linux/exfiltration_unusual_file_transfer_utility_launched.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE

#4485 [New Rule] Kill Command Execution
  rules/linux/defense_evasion_kill_command_executed.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE

#4503 [Rule Tuning] Remove hardcoded logic from description
  rules/network/discovery_potential_network_sweep_detected.toml
  rules/network/discovery_potential_port_scan_detected.toml
  rules/network/discovery_potential_syn_port_scan_detected.toml
Labels: Domain: Network, Rule: Tuning, backport: auto
