Repository elastic/detection-rules, pull requests merged in 2025-06, with the labels that each got.

#4753 [Tuning] AWS Access Token Used from Multiple Addresses
  rules/integrations/aws/initial_access_iam_session_token_used_from_multiple_addresses.toml
Labels: Integration: AWS, Rule: Tuning, backport: auto, Domain: Cloud

#4766 [Rule Tuning] Shell Configuration Creation or Modification
  rules/linux/persistence_shell_configuration_modification.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#4769 [New Rule] BloodHound Suite User-Agents Detected
  rules/integrations/azure/discovery_bloodhound_user_agents_detected.toml
  rules/windows/execution_posh_hacktool_functions.toml
Labels: Integration: Azure, Rule: New, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Domain: Cloud

#4765 [Rule Tuning] Loadable Kernel Module Configuration File Creation
  rules/linux/persistence_lkm_configuration_file_creation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#4778 [Rule Tunings] AWS EC2 Flow Log Deletion and Network ACL Activity
  rules/integrations/aws/defense_evasion_ec2_flow_log_deletion.toml
  rules/integrations/aws/defense_evasion_ec2_network_acl_deletion.toml
  rules/integrations/aws/persistence_ec2_network_acl_creation.toml
Labels: Integration: AWS, Rule: Tuning, backport: auto, Team: TRADE, Domain: Cloud

#4772 Add update ATT&CK coverage step in lock versions
  .github/workflows/lock-versions.yml
Labels: enhancement, backport: auto

#4735 Update Kibana MITRE workflow
  .github/workflows/kibana-mitre-update.yml
Labels: enhancement, backport: auto

#4795 [New] Potential CVE-2025-33053 Exploitation
  rules/windows/initial_access_url_cve_2025_33053.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4794 [Tuning] Downloaded URL Files
  rules/windows/execution_downloaded_url_file.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4798 [Rule Tuning] Outlook Home Page Registry Modification
  rules/windows/command_and_control_outlook_home_page.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4812 [New Rule] Kubectl Permission Discovery
  rules/linux/discovery_kubectl_permission_discovery.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, container, Team: TRADE

#4809 [Rule Tuning] Container Management Utility Run Inside A Container
  rules/linux/execution_container_management_binary_launched_inside_container.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, container, Team: TRADE

#4811 [New Rule] Kubeconfig File Discovery
  rules/linux/discovery_kubeconfig_file_discovery.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, container, Team: TRADE

#4810 [New Rule] Kubeconfig File Creation or Modification
  rules/linux/lateral_movement_kubeconfig_file_activity.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, container, Team: TRADE

#4785 [Rule Tuning] PowerShell ES|QL Rules Tuning
  rules/windows/defense_evasion_posh_obfuscation_backtick.toml
  rules/windows/defense_evasion_posh_obfuscation_high_number_proportion.toml
  rules/windows/defense_evasion_posh_obfuscation_string_concat.toml
  rules/windows/defense_evasion_posh_obfuscation_string_format.toml
  rules/windows/defense_evasion_posh_obfuscation_whitespace_special_proportion.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4784 [Rule Tuning] AWS EC2 Deprecated AMI Discovery
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/integrations/aws/discovery_ec2_deprecated_ami_discovery.toml
Labels: Integration: AWS, Rule: Tuning, backport: auto, Team: TRADE, patch, Domain: Cloud

#4788 [New Rule] AWS CloudTrail Log Evasion
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/integrations/aws/defense_evasion_cloudtrail_logging_evasion.toml
Labels: Integration: AWS, Rule: New, backport: auto, Team: TRADE, patch, Domain: Cloud

#4799 [Rule Tuning] AWS IAM Assume Role Policy Update
  rules/integrations/aws/privilege_escalation_iam_update_assume_role_policy.toml
Labels: Integration: AWS, Rule: Tuning, backport: auto, Team: TRADE, Domain: Cloud

#4815 [New Rules] SPN Spoofing / Coercion Rules
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/windows/credential_access_kerberos_coerce.toml
  rules/windows/credential_access_kerberos_coerce_dns.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, patch

#4793 [Rule Tuning] Suspicious Activity via Auth Broker On-Behalf-of Principal User
  rules/integrations/azure/defense_evasion_entra_suspicious_auth_broker_activity_on_behalf_of_principal_user.toml
  rules/integrations/azure/initial_access_entra_id_suspicious_oauth_flow_via_auth_broker_to_drs.toml
Labels: Integration: Azure, Rule: Tuning, backport: auto, Domain: Identity, Domain: Cloud

#4816 [New Rule] Kubernetes Service Account Secret Access
  rules/linux/credential_access_kubernetes_service_account_secret_access.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, container, Team: TRADE

#4837 [Tuning] Elevation via SCM rules
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/windows/privilege_escalation_krbrelayup_service_creation.toml
  rules/windows/privilege_escalation_windows_service_via_unusual_client.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, patch

#4831 [Rule Tuning] Added Kubernetes Domain Tag
  rules/linux/credential_access_kubernetes_service_account_secret_access.toml
  rules/linux/discovery_kubeconfig_file_discovery.toml
  rules/linux/discovery_kubectl_permission_discovery.toml
  rules/linux/lateral_movement_kubeconfig_file_activity.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, container, Team: TRADE

#4844 [Rule Tuning] First Time Seen NewCredentials Logon Process
  rules/windows/privilege_escalation_newcreds_logon_rare_process.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4842 [Tuning] First Time Seen Commonly Abused Remote Access Tool Execution
  rules/windows/command_and_control_new_terms_commonly_abused_rat_execution.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4845 [New Rule] Entra ID RT to PRT Transition from Same User and Device
  rules/integrations/azure/persistence_entra_id_rt_to_prt_transition_from_user_device.toml
Labels: Integration: Azure, Rule: New, backport: auto, Domain: Identity, Domain: Cloud

#4770 [New Hunt] Potential Spoofed `microsoftonline.com` via Fuzzy Match
  hunting/cross-platform/docs/potentially_spoofed_microsoft_authentication_domain.md
  hunting/cross-platform/queries/potentially_spoofed_microsoft_authentication_domain.toml
  hunting/index.md
  hunting/index.yml
Labels: Integration: Azure, Domain: Network, Domain: Endpoint, Integration: Microsoft 365, backport: auto, Hunt: New, Hunting, Domain: Identity, Domain: Cloud

#4825 [New Rule] Excessive Microsoft 365 Mailbox Items Accessed
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/integrations/o365/collection_microsoft_365_excessive_mail_items_accessed.toml
Labels: Rule: New, Integration: Microsoft 365, backport: auto, patch, Domain: Email, Domain: Cloud

#4850 [Deprecation] Suspicious File Creation in /etc for Persistence
  rules/_deprecated/persistence_etc_file_creation.toml
Labels: OS: Linux, Rule: Deprecation, backport: auto, Team: TRADE

#4848 [Rule Tunings] AWS SSM Command Document Created by Rare User
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/integrations/aws/execution_ssm_command_document_created_by_rare_user.toml
  rules/integrations/aws/execution_ssm_sendcommand_by_rare_user.toml
Labels: Integration: AWS, Rule: Tuning, backport: auto, Team: TRADE, patch, Domain: Cloud

#4836 [New Rule] Kubectl Network Configuration Modification
  rules/linux/command_and_control_kubectl_networking_modification.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, container, Team: TRADE

#4835 [New BBR] Kubectl Configuration Discovery
  rules_building_block/discovery_kubectl_configuration_discovery.toml
Labels: OS: Linux, Rule: New, backport: auto, container, Team: TRADE, bbr
