Repository elastic/detection-rules, pull requests merged in 2025-03, with the labels that each got.

#4481 [New Rule] Successful SSH Authentication from Unusual User
  rules/linux/initial_access_successful_ssh_authentication_by_unusual_user.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE

#4499 [New Rule] Python Path File (pth) Creation
  rules/linux/persistence_pth_file_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4511 Deprecate an APM BBR rule
  rules/_deprecated/initial_access_cross_site_scripting.toml
Labels: Rule: Deprecation, backport: auto, meta:rapid-merge

#3701 [New Rules] Azure OpenAI
  rules/integrations/azure_openai/azure_openai_denial_of_ml_service_detection.toml
  rules/integrations/azure_openai/azure_openai_insecure_output_handling_detection.toml
  rules/integrations/azure_openai/azure_openai_model_theft_detection.toml
Labels: Rule: New, backlog, backport: auto, esql, Integration: Azure Openai

#4498 chore: adjust paths to track in REACT test CI workflow
  .github/workflows/react-tests-dispatcher.yml
Labels: backport: auto, maintenance

#4521 fix(ci): use negative patterns in `paths` instead of `paths-ignore`
  .github/workflows/react-tests-dispatcher.yml
Labels: bug, ci/cd, backport: auto, meta:rapid-merge

#4519 Added ML detection-rules for new Security Host package
  rules/ml/ml_high_count_events_for_a_host_name.toml
  rules/ml/ml_low_count_events_for_a_host_name.toml
Labels: ML, Rule: New, backport: auto

#4512 [New Rule] Unusual Command Execution from Web Server Parent
  rules/linux/persistence_web_server_sus_command_execution.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE, esql

#4513 [New Rule] Unusual Process Spawned from Web Server Parent
  rules/linux/persistence_web_server_sus_child_spawned.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE, esql

#4510 [New/Tuning] Docker Socket Enumeration
  rules/linux/discovery_docker_socket_discovery.toml
  rules/linux/execution_unix_socket_communication.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4514 [New Rule] Unusual File Creation from Web Server Parent
  rules_building_block/persistence_web_server_sus_file_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE, bbr

#4515 [New Rule] Uncommon Destination Port Connection by Web Server
  rules/linux/persistence_web_server_sus_destination_port.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4520 Deprecation Notice to Cloud Defend Rules
  rules/integrations/cloud_defend/container_workload_protection.toml
  rules/integrations/cloud_defend/credential_access_aws_creds_search_inside_a_container.toml
  rules/integrations/cloud_defend/credential_access_collection_sensitive_files_compression_inside_a_container.toml
  rules/integrations/cloud_defend/credential_access_sensitive_keys_or_passwords_search_inside_a_container.toml
  rules/integrations/cloud_defend/defense_evasion_ld_preload_shared_object_modified_inside_a_container.toml
  rules/integrations/cloud_defend/discovery_suspicious_network_tool_launched_inside_a_container.toml
  rules/integrations/cloud_defend/execution_container_management_binary_launched_inside_a_container.toml
  rules/integrations/cloud_defend/execution_file_made_executable_via_chmod_inside_a_container.toml
  rules/integrations/cloud_defend/execution_interactive_exec_to_container.toml
  rules/integrations/cloud_defend/execution_interactive_shell_spawned_from_inside_a_container.toml
  rules/integrations/cloud_defend/execution_netcat_listener_established_inside_a_container.toml
  rules/integrations/cloud_defend/initial_access_ssh_connection_established_inside_a_container.toml
  rules/integrations/cloud_defend/lateral_movement_ssh_process_launched_inside_a_container.toml
  rules/integrations/cloud_defend/persistence_ssh_authorized_keys_modification_inside_a_container.toml
  rules/integrations/cloud_defend/privilege_escalation_debugfs_launched_inside_a_privileged_container.toml
  rules/integrations/cloud_defend/privilege_escalation_mount_launched_inside_a_privileged_container.toml
  rules/integrations/cloud_defend/privilege_escalation_potential_container_escape_via_modified_notify_on_release_file.toml
  rules/integrations/cloud_defend/privilege_escalation_potential_container_escape_via_modified_release_agent_file.toml
Labels: Rule: Deprecation, backport: auto, meta:rapid-merge

#4522 chore: use `docs-dev` instead of `docs` dir for docs
  .github/workflows/attack-coverage-update.yml
  .github/workflows/version-code-and-release.yml
  .gitignore
  CLI.md
  detection_rules/custom_rules.py
  detection_rules/devtools.py
  detection_rules/docs.py
  docs-dev/ATT&CK-coverage.md
  docs-dev/custom-rules.md
  docs-dev/deprecating.md
  docs-dev/developing.md
  docs-dev/experimental-machine-learning/DGA.md
  docs-dev/experimental-machine-learning/beaconing.md
  docs-dev/experimental-machine-learning/experimental-detections.md
  docs-dev/experimental-machine-learning/host-risk-score.md
  docs-dev/experimental-machine-learning/images/0a_host_risk_score_card.png
  docs-dev/experimental-machine-learning/images/0b_alert_summary.png
  docs-dev/experimental-machine-learning/images/0c_host_page_risk_column.png
  docs-dev/experimental-machine-learning/images/0d_host_page_hosts_by_risk_tab.png
  docs-dev/experimental-machine-learning/images/0e_host_details_page_risk_overview.png
  docs-dev/experimental-machine-learning/images/0f_host_details_page_hosts_by_risk_tab.png
  docs-dev/experimental-machine-learning/images/1_create_deployment.png
  docs-dev/experimental-machine-learning/images/2_edit_configuration.png
  docs-dev/experimental-machine-learning/images/3_edit_user_settings.png
  docs-dev/experimental-machine-learning/images/4_add_flag.png
  docs-dev/experimental-machine-learning/images/5_save_settings.png
  docs-dev/experimental-machine-learning/images/6_confirm_activity_finished.png
  docs-dev/experimental-machine-learning/problem-child.md
  docs-dev/experimental-machine-learning/readme.md
  docs-dev/experimental-machine-learning/url-spoof.md
  docs-dev/experimental-machine-learning/user-risk-score.md
  docs-dev/rule-insights.md
  docs-dev/typosquatting_rule.md
  docs-dev/versioning.md
  pyproject.toml
Labels: documentation, enhancement, python, backport: auto, meta:rapid-merge, maintenance, patch

#4518 [FR] Add Env Var DR_CLI_MAX_WIDTH and DaC Docs Updates
  CLI.md
  README.md
  detection_rules/custom_rules.py
  detection_rules/kbwrap.py
  detection_rules/main.py
  detection_rules/ml.py
  docs-dev/custom-rules-management.md
  docs-dev/detections-as-code.md
  docs-dev/experimental-machine-learning/experimental-detections.md
  pyproject.toml
Labels: documentation, enhancement, cli, python, backport: auto, detections-as-code, patch

#4526 [FR] [DaC] Update Readme with DaC Support References
  README.md
  pyproject.toml
Labels: documentation, enhancement, backport: auto, detections-as-code, patch

#4527 [New Hunt] Adding Hunting Queries for Azure Entra Sign-In Anomalies
  hunting/azure/docs/entra_authentication_attempts_behind_rare_user_agents.md
  hunting/azure/docs/entra_excessive_non_interactive_sfa_sign_ins_across_users.md
  hunting/azure/docs/entra_unusual_client_app_auth_request_on_behalf_of_user.md
  hunting/azure/queries/entra_authentication_attempts_behind_rare_user_agents.toml
  hunting/azure/queries/entra_excessive_non_interactive_sfa_sign_ins_across_users.toml
  hunting/azure/queries/entra_unusual_client_app_auth_request_on_behalf_of_user.toml
  hunting/index.md
  hunting/index.yml
Labels: Integration: Azure, Domain: Cloud, backport: auto, emerging-threat, Hunt: New, Hunting

#4525 [New Rule] Adding Coverage for `Azure Entra Rare Instance of Single-Factor Authentication for User`
  rules/integrations/azure/initial_access_entra_rare_authentication_requirement_for_principal_user.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, backport: auto, emerging-threat

#4524 [New Rule] Adding Coverage for `Azure Entra Rare App ID for Principal Authentication`
  rules/integrations/azure/initial_access_entra_rare_app_id_for_principal_auth.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, backport: auto, emerging-threat

#4523 [New Rule] Adding Coverage for `Azure Entra Password Spraying (Non-Interactive SFA)`
  rules/integrations/azure/credential_access_entra_password_spraying_non_interactive_sfa.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, backport: auto, emerging-threat

#4528 [New Rule] File Creation in /var/log via Suspicious Process
  rules/linux/defense_evasion_var_log_file_creation_by_unsual_process.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4538 Temporaily Disable Changed FIles Workflow
  .github/workflows/kibana-mitre-update.yml
  pyproject.toml
Labels: enhancement, backport: auto, patch

#4543 [Tuning] Suspicious .NET Reflection via PowerShell
  rules/windows/defense_evasion_posh_assembly_load.toml
Labels: OS: Windows, Domain: Endpoint, backport: auto

#4545 Change description and name of problemchild ML detection-rules
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_host.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_parent_process.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_process_cluster_from_user.toml
Labels: backport: auto

#4507 [ci] Add new docs-builder automation.
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Labels: documentation, enhancement, ci/cd, backport: auto

#4542 [FR] Bump changed-files Version to Patched Version
  .github/workflows/attack-coverage-update.yml
  .github/workflows/kibana-mitre-update.yml
  .github/workflows/version-code-and-release.yml
Labels: enhancement, ci/cd, backport: auto, patch

#4535 [New Rule] Adding Coverage for DynamoDB Exfiltration Behaviors
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/integrations/aws/exfiltration_dynamodb_scan_by_unusual_user.toml
  rules/integrations/aws/exfiltration_dynamodb_table_exported_to_s3.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto, meta:rapid-merge, patch

#4495 fix: removing outdated code in Kibana client auth
  detection_rules/misc.py
  detection_rules/remote_validation.py
  lib/kibana/kibana/connector.py
  lib/kibana/pyproject.toml
  pyproject.toml
Labels: bug, python, backport: auto, major

#4508 Create new detection rule set documentation to be included in the new docs.
  docs/docset.yml
  docs/index.md
Labels: documentation, enhancement, backport: auto, patch

#4568 [Rule Tuning] Added OWA (outlook for web) new AppID
  rules/integrations/o365/initial_access_microsoft_365_abnormal_clientappid.toml
Labels: Domain: Cloud, Rule: Tuning, community, Integration: Microsoft 365, backport: auto

#4556 Update Max signals value to supported limits
  pyproject.toml
  rules/integrations/endpoint/defense_evasion_elastic_memory_threat_detected.toml
  rules/integrations/endpoint/defense_evasion_elastic_memory_threat_prevented.toml
  rules/integrations/endpoint/elastic_endpoint_security.toml
  rules/integrations/endpoint/elastic_endpoint_security_behavior_detected.toml
  rules/integrations/endpoint/elastic_endpoint_security_behavior_prevented.toml
  rules/integrations/endpoint/execution_elastic_malicious_file_detected.toml
  rules/integrations/endpoint/execution_elastic_malicious_file_prevented.toml
  rules/integrations/endpoint/impact_elastic_ransomware_detected.toml
  rules/integrations/endpoint/impact_elastic_ransomware_prevented.toml
  rules/promotions/credential_access_endgame_cred_dumping_detected.toml
  rules/promotions/credential_access_endgame_cred_dumping_prevented.toml
  rules/promotions/endgame_adversary_behavior_detected.toml
  rules/promotions/endgame_malware_detected.toml
  rules/promotions/endgame_malware_prevented.toml
  rules/promotions/endgame_ransomware_detected.toml
  rules/promotions/endgame_ransomware_prevented.toml
  rules/promotions/execution_endgame_exploit_detected.toml
  rules/promotions/execution_endgame_exploit_prevented.toml
  rules/promotions/external_alerts.toml
  rules/promotions/privilege_escalation_endgame_cred_manipulation_detected.toml
  rules/promotions/privilege_escalation_endgame_cred_manipulation_prevented.toml
  rules/promotions/privilege_escalation_endgame_permission_theft_detected.toml
  rules/promotions/privilege_escalation_endgame_permission_theft_prevented.toml
  rules/promotions/privilege_escalation_endgame_process_injection_detected.toml
  rules/promotions/privilege_escalation_endgame_process_injection_prevented.toml
  rules/threat_intel/threat_intel_rapid7_threat_command.toml
  tests/test_all_rules.py
Labels: OS: Linux, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, Integration: Endpoint, patch

#4559 [Deprecation] Deprecating `Azure Virtual Network Device Modified or Deleted`
  rules/integrations/azure/impact_virtual_network_device_modified.toml
Labels: Integration: Azure, Domain: Cloud, Rule: Deprecation, backport: auto

#4558 [Rule Tuning] Tuning `Azure Conditional Access Policy Modified`
  rules/integrations/azure/persistence_azure_conditional_access_policy_modified.toml
  rules/integrations/azure/persistence_entra_conditional_access_policy_modified.toml
Labels: Integration: Azure, Domain: Cloud, Rule: Tuning, backport: auto

#4557 [Rule Tuning] Tuning Illicit Grant Consent Detections in Azure and M365
  rules/integrations/azure/initial_access_consent_grant_attack_via_azure_registered_application.toml
  rules/integrations/azure/initial_access_entra_illicit_consent_grant_via_registered_application.toml
  rules/integrations/o365/initial_access_microsoft_365_illicit_consent_grant_via_registered_application.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, Rule: Tuning, Integration: Microsoft 365, backport: auto, Domain: SaaS
