Repository elastic/detection-rules, pull requests merged in 2025-08, with the labels that each got.

#4950 [Rule Tuning] Script Execution via Microsoft HTML Application
  rules/windows/defense_evasion_script_via_html_app.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4956 fix: Allow different order of the metadata fields in ESQL queries
  detection_rules/rule.py
  pyproject.toml
  tests/test_schemas.py
Labels: bug, python, backport: auto, patch

#4945 [Bug] [DAC] Custom Rules Filter Discrepancy on Stacks Upgraded to 8.18
  detection_rules/kbwrap.py
  detection_rules/utils.py
  pyproject.toml
Labels: bug, python, backport: auto, detections-as-code, patch

#4962 [Rule Tuning] Elastic Security External Alerts
  rules/promotions/elastic_security_external_alerts.toml
Labels: Rule: Tuning, backport: auto, meta:rapid-merge

#4980 [Rule Tuning] PowerShell Script Block Logging Disabled
  rules/windows/defense_evasion_disable_posh_scriptblocklogging.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4969 Add all rule types DaC testing
  detection_rules/etc/custom-consolidated-rules.ndjson
  detection_rules/etc/test_remote_cli.bash
  pyproject.toml
Labels: enhancement, backport: auto, patch

#4999 [Rule Tuning] AWS STS AssumeRole with New MFA Device
  rules/integrations/aws/persistence_sts_assume_role_with_new_mfa.toml
Labels: Integration: AWS, Rule: Tuning, backport: auto, Team: TRADE, Domain: Cloud

#5016 [Rule Tuning] Windows 3rd Party EDR Compatibility - Part 1
  rules/windows/command_and_control_outlook_home_page.toml
  rules/windows/command_and_control_port_forwarding_added_registry.toml
  rules/windows/credential_access_mimikatz_memssp_default_logs.toml
  rules/windows/defense_evasion_amsi_bypass_dllhijack.toml
  rules/windows/defense_evasion_amsienable_key_mod.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5018 [Rule Tuning] Windows 3rd Party EDR Compatibility - Part 3
  rules/windows/defense_evasion_execution_suspicious_explorer_winword.toml
  rules/windows/defense_evasion_execution_windefend_unusual_path.toml
  rules/windows/defense_evasion_file_creation_mult_extension.toml
  rules/windows/defense_evasion_hide_encoded_executable_registry.toml
  rules/windows/defense_evasion_installutil_beacon.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5019 [Rule Tuning] Windows 3rd Party EDR Compatibility - Part 4
  rules/windows/defense_evasion_lsass_ppl_disabled_registry.toml
  rules/windows/defense_evasion_masquerading_business_apps_installer.toml
  rules/windows/defense_evasion_masquerading_communication_apps.toml
  rules/windows/defense_evasion_masquerading_renamed_autoit.toml
  rules/windows/defense_evasion_microsoft_defender_tampering.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5021 [Rule Tuning] Windows 3rd Party EDR Compatibility - Part 6
  rules/windows/defense_evasion_persistence_account_tokenfilterpolicy.toml
  rules/windows/defense_evasion_proxy_execution_via_msdt.toml
  rules/windows/defense_evasion_reg_disable_enableglobalqueryblocklist.toml
  rules/windows/defense_evasion_rundll32_no_arguments.toml
  rules/windows/defense_evasion_scheduledjobs_at_protocol_enabled.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5023 [Rule Tuning] Windows 3rd Party EDR Compatibility - Part 8
  rules/windows/defense_evasion_system_critical_proc_abnormal_file_activity.toml
  rules/windows/defense_evasion_unusual_process_network_connection.toml
  rules/windows/defense_evasion_via_filter_manager.toml
  rules/windows/defense_evasion_wdac_policy_by_unusual_process.toml
  rules/windows/defense_evasion_wsl_filesystem.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5024 [Rule Tuning] Windows 3rd Party EDR Compatibility - Part 9
  rules/windows/defense_evasion_wsl_registry_modification.toml
  rules/windows/execution_command_prompt_connecting_to_the_internet.toml
  rules/windows/execution_html_help_executable_program_connecting_to_the_internet.toml
  rules/windows/execution_powershell_susp_args_via_winscript.toml
  rules/windows/execution_psexec_lateral_movement_command.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5029 [Rule Tuning] Windows 3rd Party EDR Compatibility - Part 14
  rules/windows/persistence_suspicious_scheduled_task_runtime.toml
  rules/windows/persistence_suspicious_service_created_registry.toml
  rules/windows/persistence_time_provider_mod.toml
  rules/windows/persistence_via_hidden_run_key_valuename.toml
  rules/windows/persistence_via_lsa_security_support_provider_registry.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5028 [Rule Tuning] Windows 3rd Party EDR Compatibility - Part 13
  rules/windows/persistence_ms_office_addins_file.toml
  rules/windows/persistence_ms_outlook_vba_template.toml
  rules/windows/persistence_msoffice_startup_registry.toml
  rules/windows/persistence_netsh_helper_dll.toml
  rules/windows/persistence_powershell_profiles.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5007 [Tuning] First Occurrence of STS GetFederationToken Request by User
  rules/integrations/aws/defense_evasion_sts_get_federation_token.toml
Labels: Integration: AWS, Rule: Tuning, backport: auto, Team: TRADE, Domain: Cloud

#4997 [Rule Tuning] Microsoft Entra ID Suspicious Session Reuse to Graph Access
  rules/integrations/azure/initial_access_entra_graph_single_session_from_multiple_addresses.toml
Labels: Integration: Azure, Rule: Tuning, backport: auto, Domain: Identity, Domain: Cloud

#4928 [New Rule] Toolshell Exploit Chain Detections
  detection_rules/etc/non-ecs-schema.json
  rules_building_block/initial_access_potential_rce_via_toolshell.toml
  rules_building_block/initial_access_potential_toolshell_exploit_attempt.toml
Labels: Domain: Network, Rule: New, backport: auto, bbr, Integration: Network Traffic
