Repository elastic/detection-rules, pull requests merged in 2025-05, with the labels that each got.

#4642 [New Rule] MSFT Tenant OAuth Phishing via First-Party VSCode Client
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/integrations/azure/initial_access_entra_oauth_phishing_via_vscode_client.toml
  rules/integrations/azure/initial_access_graph_first_occurrence_of_client_request.toml
  rules/integrations/o365/initial_access_microsoft_365_entra_oauth_phishing_via_vscode_client.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, Rule: Tuning, Integration: Microsoft 365, backport: auto, emerging-threat, patch

#4689 [New Rule] Adding Coverage for `Microsoft Entra ID Protection Anonymized IP Risk Detection`
  rules/integrations/azure/command_and_control_entra_protection_anonymized_ip_reported.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, backport: auto

#4694 [New] Microsoft 365 OAuth Redirect to Device Registration for User
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/integrations/azure/initial_access_entra_protection_multi_azure_identity_protection_alerts.toml
  rules/integrations/o365/credential_access_antra_id_device_reg_via_oauth_redirection.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, Integration: Microsoft 365, backport: auto, patch

#4669 Deprecate Experimental ML command
  detection_rules/eswrap.py
  detection_rules/ml.py
  docs-dev/experimental-machine-learning/experimental-detections.md
  docs-dev/experimental-machine-learning/readme.md
  pyproject.toml
Labels: enhancement, python, backport: auto, patch

#4658 [New Rule] Potential Linux Tunneling and/or Port Forwarding via SSH Option
  rules/linux/command_and_control_linux_tunneling_via_ssh_option.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4695 [New Rule] Adding Coverage for `Microsoft Entra ID SharePoint Access for User Principal via Auth Broker`
  rules/integrations/azure/collection_entra_auth_broker_sharepoint_access_for_user_principal.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, backport: auto

#4687 [New Rule] Adding Coverage for `Suspicious Activity via Auth Broker On-Behalf-of Principal User`
  rules/integrations/azure/defense_evasion_entra_suspicious_auth_broker_activity_on_behalf_of_principal_user.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, backport: auto, emerging-threat

#4691 [New] Suspicious Microsoft 365 UserLoggedIn via OAuth Code
  rules/integrations/o365/defense_evasion_microsoft_365_susp_oauth2_authorization.toml
Labels: Domain: Cloud, Rule: New, Integration: Microsoft 365, backport: auto

#4664 [New Rule] Suspicious Path Mounted
  rules/linux/defense_evasion_suspicious_path_mounted.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4661 [New Rule] Docker Release File Creation
  rules/linux/privilege_escalation_docker_release_file_creation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4662 [New Rule] Manual Mount Discovery via /etc/exports
  rules/linux/discovery_manual_mount_discovery_via_exports_or_fstab.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4663 [New Rule] Git Repository or File Download to Suspicious Directory
  rules/linux/command_and_control_git_repo_or_file_download_to_sus_dir.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4667 [New] Rare Connection to WebDAV Target
  rules/windows/credential_access_rare_webdav_destination.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, esql

#4674 [New Rule] Potential Backdoor Execution Through PAM_EXEC
  rules/linux/persistence_pluggable_authentication_module_pam_exec_backdoor_exec.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE

#4675 [New/Tuning] Potential Hex Payload Execution via Command-Line
  rules/linux/defense_evasion_hex_payload_execution_via_commandline.toml
  rules/linux/defense_evasion_hex_payload_execution_via_utility.toml
Labels: OS: Linux, Domain: Endpoint, backport: auto, Team: TRADE

#4681 [New Rule] Suspicious Named Pipe Creation
  rules/linux/execution_suspicious_mkfifo_execution.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4682 [New Rule] System Binary Symlink to Suspicious Location
  rules/linux/defense_evasion_symlink_binary_to_writable_dir.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4609 [New Rule] Potential PowerShell Obfuscation via Reverse Keywords
  rules/windows/defense_evasion_posh_obfuscation_reverse_keyword.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4610 [New Rule] PowerShell Obfuscation via Negative Index String Reversal
  rules/windows/defense_evasion_posh_obfuscation_index_reversal.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4629 [New Rule][BBR] Potential PowerShell Obfuscation via High Special Character Proportion
  rules_building_block/defense_evasion_posh_obfuscation_proportion_special_chars.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto, bbr

#4630 [New Rule] Potential PowerShell Obfuscation via Backtick-Escaped Variable Expansion
  rules/windows/defense_evasion_posh_obfuscation_backtick_var.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4631 [New Rule] Potential PowerShell Obfuscation via High Numeric Character Proportion
  rules/windows/defense_evasion_posh_obfuscation_high_number_proportion.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4632 [New Rule] Potential PowerShell Obfuscation via Special Character Overuse
  rules/windows/defense_evasion_posh_obfuscation_whitespace_special_proportion.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4700 [Rule Tuning] Excluding `Microsoft Entra ID Service Principal Addition` Invoked by MSFT Identity
  rules/integrations/azure/persistence_entra_service_principal_created.toml
Labels: Integration: Azure, Domain: Cloud, Rule: Tuning, backport: auto

#4685 [New Rule] Unusual LD_PRELOAD/LD_LIBRARY_PATH Command Line Arguments
  rules/linux/defense_evasion_ld_preload_cmdline.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4637 [Rule Tuning] Reduce Severity from Critical to High
  rules/integrations/dga/command_and_control_ml_dga_activity_using_sunburst_domain.toml
  rules/network/command_and_control_cobalt_strike_default_teamserver_cert.toml
  rules/threat_intel/threat_intel_indicator_match_address.toml
  rules/threat_intel/threat_intel_indicator_match_email.toml
  rules/threat_intel/threat_intel_indicator_match_hash.toml
  rules/threat_intel/threat_intel_indicator_match_registry.toml
  rules/threat_intel/threat_intel_indicator_match_url.toml
  rules/threat_intel/threat_intel_rapid7_threat_command.toml
Labels: Rule: Tuning, backport: auto

#4677 [New Rule] Linux Telegram API Request
  rules/linux/command_and_control_telegram_api_request.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4683 [New Rule] Unusual Execution from Kernel Thread (kthreadd) Parent
  rules/linux/execution_unusual_kthreadd_execution.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4684 [New Rule] Unusual Exim4 Child Process
  rules/linux/persistence_unusual_exim4_child_process.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4405 [Rule Tuning] Add exceptions for non-interactive signin failures for Entra M365 Bruteforce
  rules/integrations/azure/credential_access_entra_signin_brute_force_microsoft_365.toml
Labels: Integration: Azure, Domain: Cloud, Rule: Tuning, community, backport: auto

#4650 [FR] Add check-version-lock dev command
  .github/workflows/lock-versions.yml
  detection_rules/devtools.py
  detection_rules/utils.py
  pyproject.toml
Labels: enhancement, python, backport: auto, patch

#4706 Fix new term doc broken link
  rules/integrations/azure/collection_entra_auth_broker_sharepoint_access_for_user_principal.toml
Labels: Integration: Azure, Domain: Cloud, Rule: Tuning, backport: auto, meta:rapid-merge

#4705 [Rule Tuning] Tuning `Suspicious Mailbox Permission Delegation in Exchange Online`
  rules/integrations/o365/persistence_exchange_suspicious_mailbox_permission_delegation.toml
  rules/integrations/o365/persistence_exchange_suspicious_mailbox_right_delegation.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto, Domain: SaaS

#4712 [Rule Tuning] Unusual File Creation - Alternate Data Stream
  rules/windows/defense_evasion_unusual_ads_file_creation.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4711 [New Rule] Microsoft Entra Session Reuse with Suspicious Graph Access
  rules/integrations/azure/initial_access_entra_graph_single_session_from_multiple_addresses.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, backport: auto

#4704 [New Rule] Suspicious Email Access by First-Party Application via Microsoft Graph
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/integrations/azure/collection_graph_email_access_by_unusual_public_client_via_graph.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, backport: auto, patch

#4708 [New Hunt] Microsoft Entra Infrequent Suspicious OData Client Requests
  hunting/azure/docs/entra_suspicious_odata_client_requests.md
  hunting/azure/queries/entra_suspicious_odata_client_requests.toml
  hunting/index.md
  hunting/index.yml
Labels: Integration: Azure, Domain: Cloud, backport: auto, Hunt: New, Hunting

#4715 [Rule Tuning] Backup Deletion with Wbadmin
  rules/windows/impact_deleting_backup_catalogs_with_wbadmin.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4723 [Tuning] Microsoft Azure or Mail Sign-in from a Suspicious Source
  rules/cross-platform/initial_access_azure_o365_with_network_alert.toml
Labels: Rule: Tuning, backport: auto

#4719 Resolve datetime.utcfromtimestamp deprecation
  detection_rules/utils.py
  pyproject.toml
Labels: python, community, backport: auto, patch

#4714 [Rule Tuning] Unusual Scheduled Task Update
  rules/windows/persistence_scheduled_task_updated.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4710 [Rule Tuning] Startup or Run Key Registry Modification
  rules/windows/persistence_run_key_and_startup_broad.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4734 [Tuning] Account Discovery Command via SYSTEM Account
  rules/windows/discovery_command_system_account.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4738 [Rule Tuning] Tuning Microsoft 365 Global Administrator Role Assigned
  rules/integrations/o365/persistence_microsoft_365_global_administrator_role_assign.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto, Domain: SaaS

#4742 [New Rule] Microsoft Entra ID Elevated Access to User Access Administrator
  rules/integrations/azure/privilege_escalation_entra_id_elevate_to_user_administrator_access.toml
Labels: Integration: Azure, Domain: Cloud Workloads, Rule: New, backport: auto, Domain: Cloud

#4737 [Rule Tuning] Tuning Azure Entra Sign-in Brute Force against Microsoft 365 Accounts
  rules/integrations/azure/credential_access_entra_signin_brute_force_microsoft_365.toml
  rules/integrations/o365/credential_access_microsoft_365_potential_user_account_brute_force.toml
Labels: Integration: Azure, Domain: Cloud Workloads, Rule: Tuning, Integration: Microsoft 365, backport: auto, Domain: Cloud

#4747 [New] Disabling Lsa Protection via Registry Modification
  rules/windows/defense_evasion_lsass_ppl_disabled_registry.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto
