Repository elastic/detection-rules, pull requests merged in 2025-04, with the labels that each got.

#4573 [Tuning] Microsoft Windows Defender Tampering
  rules/windows/defense_evasion_microsoft_defender_tampering.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4589 [Rule Tuning] O365 Exchange Suspicious Mailbox Right Delegation
  rules/integrations/o365/persistence_exchange_suspicious_mailbox_right_delegation.toml
Labels: Domain: Cloud, Rule: Tuning, Integration: Microsoft 365, backport: auto

#4590 [maintenance] Update docset.yml
  docs/docset.yml
Labels: enhancement, backport: auto, meta:rapid-merge, maintenance

#4569 [New] Unusual Network Connection to Suspicious Web Service
  rules/macos/command_and_control_unusual_network_connection_to_suspicious_web_service.toml
Labels: OS: macOS, Rule: New, Domain: Endpoint, backport: skip

#4563 [New] Unusual Network Connection to Suspicious Top Level Domain
  rules/macos/command_and_control_unusual_connection_to_suspicious_top_level_domain.toml
Labels: OS: macOS, Rule: New, Domain: Endpoint, backport: skip

#4592 [Rule Tuning] Add Host Metadata to ES|QL Aggregation Rules
  rules/linux/command_and_control_frequent_egress_netcon_from_sus_executable.toml
  rules/linux/defense_evasion_base64_decoding_activity.toml
  rules/linux/discovery_port_scanning_activity_from_compromised_host.toml
  rules/linux/discovery_subnet_scanning_activity_from_compromised_host.toml
  rules/linux/exfiltration_unusual_file_transfer_utility_launched.toml
  rules/linux/impact_potential_bruteforce_malware_infection.toml
  rules/linux/persistence_web_server_sus_child_spawned.toml
  rules/linux/persistence_web_server_sus_command_execution.toml
  rules_building_block/persistence_web_server_sus_file_creation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, bbr

#4599 [Rule Tuning] Suspicious Execution via Scheduled Task
  rules/windows/persistence_suspicious_scheduled_task_runtime.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4529 [FN Tuning] Shared Object Created or Changed by Previously Unknown Pr…
  rules/linux/persistence_shared_object_creation.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Team: TRADE

#4532 [D4C Conversion] Converting Compatible D4C Rules to DR
  rules/linux/credential_access_aws_creds_search_inside_container.toml
  rules/linux/credential_access_collection_sensitive_files_compression_inside_container.toml
  rules/linux/credential_access_sensitive_keys_or_passwords_search_inside_container.toml
  rules/linux/discovery_suspicious_network_tool_launched_inside_container.toml
  rules/linux/execution_container_management_binary_launched_inside_container.toml
  rules/linux/execution_file_made_executable_via_chmod_inside_container.toml
  rules/linux/execution_unusual_interactive_process_inside_container.toml
  rules/linux/lateral_movement_ssh_process_launched_inside_container.toml
  rules/linux/privilege_escalation_debugfs_launched_inside_container.toml
  rules/linux/privilege_escalation_mount_launched_inside_container.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, container, Team: TRADE

#4605 Remove Task List reference
  .github/ISSUE_TEMPLATE/new_meta.yaml
Labels: backport: auto, maintenance

#4581 [FR] Update Detection Rules MITRE Workflow to SHA Pin
  .github/workflows/kibana-mitre-update.yml
  pyproject.toml
Labels: enhancement, ci/cd, backport: auto, patch

#4591 [Rule Tuning] SSH Authorized Keys File Deletion
  rules/linux/defense_evasion_authorized_keys_file_deletion.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto

#4618 [Rule Tuning] Suspicious WMI Event Subscription Created
  rules/windows/persistence_sysmon_wmi_event_subscription.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4562 [Rule Tuning] Adjusting `Microsoft Entra ID Rare Authentication Requirement for Principal User`
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/integrations/azure/initial_access_entra_rare_authentication_requirement_for_principal_user.toml
Labels: Integration: Azure, Domain: Cloud, Rule: Tuning, backport: auto, patch

#4570 [Rule Tuning] Tuning `Azure Service Principal Credentials Added`
  detection_rules/etc/non-ecs-schema.json
  hunting/azure/docs/entra_service_principal_credentials_added_to_rare_app.md
  hunting/azure/queries/entra_service_principal_credentials_added_to_rare_app.toml
  hunting/index.md
  hunting/index.yml
  pyproject.toml
  rules/integrations/azure/impact_azure_service_principal_credentials_added.toml
  rules/integrations/azure/persistence_azure_service_principal_credentials_added.toml
Labels: Integration: Azure, Domain: Cloud, Rule: Tuning, Rule: Hunt, backport: auto, Hunt: New, threat hunting, Hunting, patch

#4593 Feature exclude tactic name
  CLI.md
  detection_rules/cli_utils.py
  detection_rules/config.py
  detection_rules/etc/_config.yaml
  detection_rules/kbwrap.py
  docs-dev/custom-rules-management.md
  pyproject.toml
Labels: python, community, backport: auto, patch

#4594 [Enhancement] Add flag to export rules via KQL search on name
  CLI.md
  detection_rules/kbwrap.py
  lib/kibana/kibana/resources.py
  lib/kibana/pyproject.toml
  pyproject.toml
Labels: enhancement, python, community, backport: auto, patch

#4567 [Bug] Update Schema Prompt to include new_terms_fields
  detection_rules/cli_utils.py
  detection_rules/utils.py
  pyproject.toml
Labels: bug, python, backport: auto, patch

#4624 [New Rule] Adding Coverage for AWS Temporary User Session Token Used from Multiple Addresses
  rules/integrations/aws/initial_access_iam_session_token_used_from_multiple_addresses.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#4546 [Tuning] MacOS DR Tuning PR
  rules/macos/credential_access_credentials_keychains.toml
  rules/macos/credential_access_dumping_hashes_bi_cmds.toml
  rules/macos/credential_access_dumping_keychain_security.toml
  rules/macos/credential_access_kerberosdump_kcc.toml
  rules/macos/credential_access_keychain_pwd_retrieval_security_cmd.toml
  rules/macos/credential_access_mitm_localhost_webproxy.toml
  rules/macos/credential_access_promt_for_pwd_via_osascript.toml
  rules/macos/credential_access_suspicious_web_browser_sensitive_file_access.toml
  rules/macos/credential_access_systemkey_dumping.toml
  rules/macos/defense_evasion_apple_softupdates_modification.toml
  rules/macos/defense_evasion_attempt_del_quarantine_attrib.toml
  rules/macos/defense_evasion_attempt_to_disable_gatekeeper.toml
  rules/macos/defense_evasion_install_root_certificate.toml
  rules/macos/defense_evasion_modify_environment_launchctl.toml
  rules/macos/defense_evasion_privacy_controls_tcc_database_modification.toml
  rules/macos/defense_evasion_privilege_escalation_privacy_pref_sshd_fulldiskaccess.toml
  rules/macos/defense_evasion_safari_config_change.toml
  rules/macos/defense_evasion_sandboxed_office_app_suspicious_zip_file.toml
  rules/macos/defense_evasion_tcc_bypass_mounted_apfs_access.toml
  rules/macos/defense_evasion_unload_endpointsecurity_kext.toml
  rules/macos/discovery_users_domain_built_in_commands.toml
  rules/macos/execution_defense_evasion_electron_app_childproc_node_js.toml
  rules/macos/execution_initial_access_suspicious_browser_childproc.toml
  rules/macos/execution_installer_package_spawned_network_event.toml
  rules/macos/execution_script_via_automator_workflows.toml
  rules/macos/execution_scripting_osascript_exec_followed_by_netcon.toml
  rules/macos/execution_shell_execution_via_apple_scripting.toml
  rules/macos/lateral_movement_credential_access_kerberos_bifrostconsole.toml
  rules/macos/lateral_movement_mounting_smb_share.toml
  rules/macos/lateral_movement_remote_ssh_login_enabled.toml
  rules/macos/lateral_movement_vpn_connection_attempt.toml
  rules/macos/persistence_account_creation_hide_at_logon.toml
  rules/macos/persistence_creation_change_launch_agents_file.toml
  rules/macos/persistence_creation_hidden_login_item_osascript.toml
  rules/macos/persistence_credential_access_authorization_plugin_creation.toml
  rules/macos/persistence_crontab_creation.toml
  rules/macos/persistence_defense_evasion_hidden_launch_agent_deamon_logonitem_process.toml
  rules/macos/persistence_directory_services_plugins_modification.toml
  rules/macos/persistence_docker_shortcuts_plist_modification.toml
  rules/macos/persistence_emond_rules_file_creation.toml
  rules/macos/persistence_emond_rules_process_execution.toml
  rules/macos/persistence_enable_root_account.toml
  rules/macos/persistence_evasion_hidden_launch_agent_deamon_creation.toml
  rules/macos/persistence_finder_sync_plugin_pluginkit.toml
  rules/macos/persistence_folder_action_scripts_runtime.toml
  rules/macos/persistence_modification_sublime_app_plugin_or_script.toml
  rules/macos/persistence_periodic_tasks_file_mdofiy.toml
  rules/macos/persistence_screensaver_plist_file_modification.toml
  rules/macos/persistence_suspicious_calendar_modification.toml
  rules/macos/persistence_via_atom_init_file_modification.toml
  rules/macos/privilege_escalation_applescript_with_admin_privs.toml
  rules/macos/privilege_escalation_explicit_creds_via_scripting.toml
  rules/macos/privilege_escalation_exploit_adobe_acrobat_updater.toml
  rules/macos/privilege_escalation_local_user_added_to_admin.toml
  rules/macos/privilege_escalation_root_crontab_filemod.toml
Labels: OS: macOS, Rule: Tuning, Domain: Endpoint, backport: skip

#4634 [New Rule] Dynamic IEX Reconstruction via Method String Access
  rules/windows/defense_evasion_posh_obfuscation_iex_string_reconstruction.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4595 [New Rule] Potential PowerShell Obfuscation via String Reordering
  rules/windows/defense_evasion_posh_obfuscation_string_format.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4547 [Deprecate] LaunchDaemon Creation or Modification and Immediate Loading
  rules/macos/persistence_creation_modif_launch_deamon_sequence.toml
Labels: OS: macOS, Rule: Deprecation, Domain: Endpoint, backport: auto

#4635 [New Rule] Potential Malicious PowerShell Based on Alert Correlation
  rules/windows/execution_posh_malicious_script_agg.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4604 [New] RemoteMonologue Attack rules
  rules/windows/defense_evasion_ntlm_downgrade.toml
  rules/windows/defense_evasion_regmod_remotemonologue.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#4639 [New] Suspicious Azure Sign-in via Visual Studio Code
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/integrations/azure/initial_access_entra_susp_visual_code_signin.toml
Labels: Integration: Azure, Domain: Cloud, Rule: New, backport: auto, patch

#4644 [New Hunt] New Hunting Queries for DPRK ByBit
  hunting/index.md
  hunting/index.yml
  hunting/macos/docs/command_and_control_suspicious_executable_file_creation_via_python.md
  hunting/macos/docs/credential_access_potential_python_stealer.md
  hunting/macos/docs/defense_evasion_python_library_load_and_delete.md
  hunting/macos/docs/defense_evasion_self_deleted_python_script_accessing_sensitive_files.md
  hunting/macos/docs/defense_evasion_self_deleting_python_script.md
  hunting/macos/docs/execution_python_script_drop_and_execute.md
  hunting/macos/docs/execution_suspicious_executable_file_modification_via_docker.md
  hunting/macos/docs/execution_suspicious_file_access_via_docker.md
  hunting/macos/docs/execution_suspicious_python_app_execution_via_streamlit.md
  hunting/macos/docs/execution_unsigned_or_untrusted_binary_execution_via_python.md
  hunting/macos/docs/execution_unsigned_or_untrusted_binary_fork_via_python.md
  hunting/macos/docs/execution_unusual_library_load_via_python.md
  hunting/macos/queries/command_and_control_suspicious_executable_file_creation_via_python.toml
  hunting/macos/queries/credential_access_potential_python_stealer.toml
  hunting/macos/queries/defense_evasion_python_library_load_and_delete.toml
  hunting/macos/queries/defense_evasion_self_deleted_python_script_accessing_sensitive_files.toml
  hunting/macos/queries/defense_evasion_self_deleting_python_script.toml
  hunting/macos/queries/execution_python_script_drop_and_execute.toml
  hunting/macos/queries/execution_suspicious_executable_file_modification_via_docker.toml
  hunting/macos/queries/execution_suspicious_file_access_via_docker.toml
  hunting/macos/queries/execution_suspicious_python_app_execution_via_streamlit.toml
  hunting/macos/queries/execution_unsigned_or_untrusted_binary_execution_via_python.toml
  hunting/macos/queries/execution_unsigned_or_untrusted_binary_fork_via_python.toml
  hunting/macos/queries/execution_unusual_library_load_via_python.toml
  pyproject.toml
Labels: OS: macOS, backport: auto, Hunt: New, threat hunting, Hunting, patch

#4641 Add 8.18 and 9.0 beats schemas
  detection_rules/etc/beats_schemas/main.json.gz
  detection_rules/etc/beats_schemas/v8.18.0.json.gz
  detection_rules/etc/beats_schemas/v9.0.0.json.gz
  detection_rules/etc/stack-schema-map.yaml
  pyproject.toml
Labels: schema, backport: auto, meta:rapid-merge, patch

#4647 [Rule Tuning] Replace legacy winlog.api usage
  rules/windows/defense_evasion_clearing_windows_security_logs.toml
  rules/windows/persistence_group_modification_by_system.toml
  rules/windows/persistence_user_account_added_to_privileged_group_ad.toml
  rules/windows/persistence_user_account_creation_event_logs.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4646 [Rule Tuning] User Added to Privileged Group in Active Directory
  rules/windows/persistence_user_account_added_to_privileged_group_ad.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#4640 Fix versions for changes in required_fileds
  rules/windows/execution_windows_script_from_internet.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, meta:rapid-merge

#4648 [Rule Tuning] O365 Exchange Suspicious Mailbox Right Delegation
  rules/integrations/o365/persistence_exchange_suspicious_mailbox_right_delegation.toml
Labels: Domain: Cloud, Rule: Tuning, OS: Windows, Domain: Endpoint, Integration: Microsoft 365, backport: auto

#4621 fix: Cleaning up the hashable content for the rule
  detection_rules/packaging.py
  detection_rules/rule.py
  pyproject.toml
  tests/test_packages.py
Labels: enhancement, python, backport: auto, detections-as-code, minor

#4645 [Tuning] Update DPRK ByBit Hunting Queries
  hunting/macos/docs/command_and_control_suspicious_executable_file_creation_via_python.md
  hunting/macos/docs/defense_evasion_self_deleted_python_script_outbound_network_connection.md
  hunting/macos/queries/command_and_control_suspicious_executable_file_creation_via_python.toml
  hunting/macos/queries/defense_evasion_self_deleted_python_script_outbound_network_connection.toml
Labels: enhancement, OS: macOS, backport: auto, Hunt: Tuning, threat hunting, Hunting, patch

#4655 fix: missed version bump
  pyproject.toml
Labels: bug, backport: auto, minor

#4628 [New Rule] Adding Coverage for `AWS IAM or STS API Calls via Temporary Session Tokens`
  rules/integrations/aws/persistence_iam_api_calls_via_user_session_token.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto

#4665 Lock versions for releases: 8.14,8.15,8.16,8.17,8.18,9.0
  detection_rules/etc/version.lock.json
  pyproject.toml
Labels: enhancement, backport: auto, meta:rapid-merge, patch

#4668 Bringing back "fix: Cleaning up the hashable content for the rule" (#4621)
  detection_rules/packaging.py
  detection_rules/rule.py
  pyproject.toml
  tests/test_packages.py
Labels: enhancement, python, backport: auto, patch

#4690 fix: Fixing leftover references to `sha256` method
  detection_rules/devtools.py
  detection_rules/rule_loader.py
  pyproject.toml
Labels: bug, python, backport: auto, patch

#4617 [New Rule] Adding Coverage for `AWS S3 Static Site JavaScript File Uploaded`
  rules/integrations/aws/impact_s3_static_site_js_file_uploaded.toml
Labels: Integration: AWS, Domain: Cloud, Rule: New, backport: auto
