Repository elastic/detection-rules, pull requests merged in 2025-09, with the labels that each got.

#5039 [Rule Tuning] Suspicious DLL Loaded for Persistence or Privilege Escalation
  rules/windows/privilege_escalation_persistence_phantom_dll.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5047 [New] Active Directory Discovery using AdExplorer
  rules/windows/discovery_ad_explorer_execution.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#5048 [Tuning] Unusual Network Activity from a Windows System Binary
  rules/windows/defense_evasion_network_connection_from_windows_binary.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5053 Tune a Tag discrepency in rule
  rules/promotions/crowdstrike_external_alerts.toml
Labels: Rule: Tuning, backport: auto, meta:rapid-merge

#5060 [Rule Tuning] Connection to Commonly Abused Web Services
  rules/windows/command_and_control_common_webservices.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5061 [Rule Tuning] Untrusted Driver Loaded
  rules/windows/defense_evasion_untrusted_driver_loaded.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5062 [Rule Tuning] Remote File Download via PowerShell
  rules/windows/command_and_control_remote_file_copy_powershell.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5041 [FR] Add negate DOES NOT MATCH capability to IM rule type (>=9.2)
  detection_rules/rule.py
  pyproject.toml
Labels: enhancement, python, schema, backport: auto, patch

#5072 [Rule Tuning] Beats & Endgame Indices
  rules/integrations/aws/privilege_escalation_iam_customer_managed_policy_attached_to_role.toml
  rules/integrations/azure/collection_graph_email_access_by_unusual_public_client_via_graph.toml
  rules/integrations/azure/initial_access_entra_id_protection_sign_in_risk_detected.toml
  rules/integrations/azure/initial_access_entra_id_protection_user_risk_detected.toml
  rules/integrations/azure/initial_access_entra_id_user_reported_risk.toml
  rules/integrations/azure/initial_access_entra_illicit_consent_grant_via_registered_application.toml
  rules/integrations/azure/initial_access_entra_protection_multi_azure_identity_protection_alerts.toml
  rules/integrations/azure/initial_access_graph_first_occurrence_of_client_request.toml
  rules/integrations/azure/persistence_entra_id_mfa_disabled_for_user.toml
  rules/integrations/o365/initial_access_entra_id_portal_login_atypical_travel.toml
  rules/integrations/o365/initial_access_entra_id_portal_login_impossible_travel.toml
  rules/integrations/o365/initial_access_microsoft_365_entra_oauth_phishing_via_vscode_client.toml
  rules/integrations/o365/initial_access_microsoft_365_illicit_consent_grant_via_registered_application.toml
  rules/integrations/o365/persistence_microsoft_365_global_administrator_role_assign.toml
  rules/integrations/okta/credential_access_multiple_auth_events_from_single_device_behind_proxy.toml
  rules/integrations/okta/initial_access_sign_in_events_via_third_party_idp.toml
  rules/integrations/okta/persistence_mfa_deactivation_with_no_reactivation.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event_high_probability.toml
  rules/integrations/problemchild/defense_evasion_ml_suspicious_windows_event_low_probability.toml
  rules/linux/initial_access_first_time_public_key_authentication.toml
Labels: Integration: AWS, Integration: Azure, OS: Linux, Integration: Okta, Rule: Tuning, OS: Windows, Domain: Endpoint, Integration: Microsoft 365, backport: auto, bbr, Domain: Cloud

#5079 Tune Rules that have unsupported versions in min_stack_version
  rules/integrations/aws/privilege_escalation_iam_customer_managed_policy_attached_to_role.toml
  rules/integrations/aws/privilege_escalation_iam_update_assume_role_policy.toml
  rules/integrations/azure/credential_access_entra_id_brute_force_activity.toml
Labels: Integration: AWS, Integration: Azure, Rule: Tuning, backport: auto, meta:rapid-merge, Domain: Cloud

#5081 Fix updated_date for tunings as part of #5079
  rules/integrations/aws/privilege_escalation_iam_customer_managed_policy_attached_to_role.toml
  rules/integrations/aws/privilege_escalation_iam_update_assume_role_policy.toml
  rules/integrations/azure/credential_access_entra_id_brute_force_activity.toml
Labels: Integration: AWS, Integration: Azure, Rule: Tuning, backport: auto, meta:rapid-merge, Domain: Cloud

#5083 Fix Ruff failures
  pyproject.toml
  tests/test_all_rules.py
Labels: enhancement, backport: auto, meta:rapid-merge, patch

#5092 [Rule Tuning] Windows High Severity - 1
  rules/windows/command_and_control_headless_browser.toml
  rules/windows/command_and_control_outlook_home_page.toml
  rules/windows/credential_access_cmdline_dump_tool.toml
  rules/windows/credential_access_mod_wdigest_security_provider.toml
  rules/windows/defense_evasion_execution_suspicious_explorer_winword.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5095 [Rule Tuning] Windows High Severity - 4
  rules/windows/initial_access_execution_from_inetcache.toml
  rules/windows/lateral_movement_evasion_rdp_shadowing.toml
  rules/windows/lateral_movement_unusual_dns_service_children.toml
  rules/windows/persistence_evasion_registry_startup_shell_folder_modified.toml
  rules/windows/persistence_priv_escalation_via_accessibility_features.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5096 [Rule Tuning] Windows High Severity - 5
  rules/windows/credential_access_spn_attribute_modified.toml
  rules/windows/discovery_high_number_ad_properties.toml
  rules/windows/impact_high_freq_file_renames_by_kernel.toml
  rules/windows/privilege_escalation_exploit_cve_202238028.toml
  rules/windows/privilege_escalation_rogue_windir_environment_var.toml
  rules/windows/privilege_escalation_uac_bypass_event_viewer.toml
  rules/windows/privilege_escalation_windows_service_via_unusual_client.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5091 [Rule Tuning] High-Severity Noisy Rules Conversion to new_terms
  rules/windows/credential_access_dcsync_replication_rights.toml
  rules/windows/credential_access_lsass_memdump_handle_access.toml
  rules/windows/lateral_movement_unusual_dns_service_file_writes.toml
  rules/windows/persistence_via_xp_cmdshell_mssql_stored_procedure.toml
  rules/windows/persistence_webshell_detection.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5115 Added handling for unauth error
  detection_rules/devtools.py
  pyproject.toml
Labels: enhancement, python, backport: auto, patch

#5125 [Bug] Annotated Fields Ignored
  detection_rules/schemas/definitions.py
  pyproject.toml
Labels: bug, python, schema, backport: auto, patch, dependencies

#5134 [Rule Tuning] Suspicious PowerShell Engine ImageLoad
  rules/windows/execution_suspicious_powershell_imgload.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5141 [New Rule] Azure Storage Account Keys Accessed by Privileged User
  rules/integrations/azure/credential_access_azure_storage_account_keys_accessed.toml
Labels: Integration: Azure, Rule: New, backport: auto, Domain: Identity, Domain: Cloud

#5131 [New Rule] Node.js Pre or Post-Install Script Execution
  rules/linux/persistence_nodejs_pre_or_post_install_script_execution.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#5161 [Rule Tuning] Potential Port Scanning Activity from Compromised Host
  rules/linux/discovery_port_scanning_activity_from_compromised_host.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, community, backport: auto, Team: TRADE

#5090 [Rule Tuning] Azure AD Global Administrator Role Assigned
  rules/integrations/azure/persistence_azure_global_administrator_role_assigned.toml
Labels: Integration: Azure, Rule: Tuning, backport: auto, Domain: Identity, Domain: Cloud
