Repository elastic/detection-rules, pull requests merged in 2025-10, with the labels that each got.

#5169 [New Rules] Potential CVE-2025-32463 Exploitation
  rules/linux/privilege_escalation_cve_2025_32463_nsswitch_file_creation.toml
  rules/linux/privilege_escalation_cve_2025_32463_sudo_chroot_execution.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, emerging-threat, Team: TRADE

#5167 [Tuning] Potential Ransomware Behavior - High count of Readme files by System
  rules/windows/impact_high_freq_file_renames_by_kernel.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5150 [New] Suspicious SeIncreaseBasePriorityPrivilege Use
  rules/windows/privilege_escalation_thread_cpu_priority_hijack.toml
Labels: Rule: New, OS: Windows, Domain: Endpoint, backport: auto

#5137 [Tuning] Startup or Run Key Registry Modification
  rules/windows/persistence_run_key_and_startup_broad.toml
Labels: Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto

#5166 [New Rule] Potential CVE-2025-41244 vmtoolsd LPE Exploitation Attempt
  rules/linux/privilege_escalation_cve_2025_41244_vmtoolsd_lpe.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, emerging-threat, Team: TRADE

#5163 [Rule Tuning] Unusual Instance Metadata Service (IMDS) API Request
  rules/linux/credential_access_unusual_instance_metadata_service_api_request.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, backport: auto, Domain: Cloud

#5136 [New Rule] Entra ID Actor Token User Impersonation Abuse
  rules/integrations/azure/initial_access_entra_id_actor_token_user_impersonation_abuse.toml
Labels: Integration: Azure, Rule: New, backport: auto, emerging-threat, Domain: Identity, Domain: Cloud

#5139 [New Rule] Azure Storage Account Blob Public Access Enabled
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/azure/collection_azure_storage_account_blob_public_access_enabled.toml
Labels: Integration: Azure, Rule: New, backport: auto, Domain: Cloud, Domain: Storage

#5180 [Rule Tuning] AWS STS Role Chaining
  rules/integrations/aws/privilege_escalation_sts_role_chaining.toml
Labels: Integration: AWS, Rule: Tuning, backport: auto, Team: TRADE, Domain: Cloud

#5173 [Rule Tuning] AWS S3 Bucket Enumeration or Brute Force
  rules/integrations/aws/impact_aws_s3_bucket_enumeration_or_brute_force.toml
Labels: Integration: AWS, Rule: Tuning, backport: auto, Team: TRADE, Domain: Cloud
