Repository elastic/detection-rules, pull requests merged in 2025-07, with the labels that each got.

#4802 [New Rule] Microsoft Entra ID Suspicious Cloud Device Registration
  detection_rules/etc/non-ecs-schema.json
  pyproject.toml
  rules/integrations/azure/persistence_entra_id_suspicious_cloud_device_registration.toml
Labels: Integration: Azure, Rule: New, backport: auto, patch, Domain: Identity, Domain: Cloud

#4849 [New Rule] Kubernetes Sensitive Configuration File Activity
  rules/linux/persistence_kubernetes_sensitive_file_activity.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, container, Team: TRADE

#4858 [Rule Tuning] Potential Linux Tunneling and/or Port Forwarding
  rules/linux/command_and_control_linux_tunneling_and_port_forwarding.toml
Labels: OS: Linux, Rule: Tuning, Domain: Endpoint, community, backport: auto, Team: TRADE

#4853 [New Rule] Kubernetes Events Deleted
  rules/integrations/kubernetes/defense_evasion_events_deleted.toml
Labels: Rule: New, backport: auto, Integration: Kubernetes, container, Team: TRADE

#4866 [Hunt] Remove Default Namespace from indexes
  hunting/windows/docs/persistence_via_startup_with_low_occurrence_frequency.md
  hunting/windows/docs/scheduled_tasks_creation_for_unique_hosts_by_task_command.md
  hunting/windows/queries/persistence_via_startup_with_low_occurrence_frequency.toml
  hunting/windows/queries/scheduled_tasks_creation_for_unique_hosts_by_task_command.toml
Labels: OS: Windows, backport: auto, Hunt: Tuning, Hunting

#4871 [New Rule] Unusual ROPC Login Attempt by User Principal
  rules/integrations/azure/initial_access_entra_id_unusual_ropc_login_attempt.toml
Labels: Integration: Azure, Rule: New, backport: auto, Domain: Identity, Domain: Cloud

#4876 [New Rule] Suspicious Entra ID OAuth User Impersonation Scope Detected
  rules/integrations/azure/defense_evasion_entra_id_oauth_user_impersonation_scope.toml
Labels: Integration: Azure, Rule: New, backport: auto, Domain: Identity, Domain: Cloud

#4886 Add investigation guides for detection rules
  rules/integrations/kubernetes/defense_evasion_events_deleted.toml
  rules/integrations/kubernetes/execution_forbidden_creation_request.toml
  rules/integrations/kubernetes/execution_forbidden_request_from_unsual_user_agent.toml
  rules/linux/command_and_control_git_repo_or_file_download_to_sus_dir.toml
  rules/linux/command_and_control_kubectl_networking_modification.toml
  rules/linux/command_and_control_linux_tunneling_via_ssh_option.toml
  rules/linux/command_and_control_telegram_api_request.toml
  rules/linux/credential_access_kubernetes_service_account_secret_access.toml
  rules/linux/credential_access_manual_memory_dumping.toml
  rules/linux/defense_evasion_hex_payload_execution_via_commandline.toml
  rules/linux/defense_evasion_ld_preload_cmdline.toml
  rules/linux/defense_evasion_potential_kubectl_masquerading.toml
  rules/linux/defense_evasion_suspicious_path_mounted.toml
  rules/linux/defense_evasion_symlink_binary_to_writable_dir.toml
  rules/linux/defense_evasion_sysctl_kernel_feature_activity.toml
  rules/linux/discovery_kubeconfig_file_discovery.toml
  rules/linux/discovery_kubectl_permission_discovery.toml
  rules/linux/discovery_manual_mount_discovery_via_exports_or_fstab.toml
  rules/linux/execution_kubectl_apply_pod_from_url.toml
  rules/linux/execution_kubernetes_direct_api_request_via_curl_or_wget.toml
  rules/linux/execution_suspicious_mkfifo_execution.toml
  rules/linux/execution_unusual_kthreadd_execution.toml
  rules/linux/exfiltration_potential_curl_data_exfiltration.toml
  rules/linux/lateral_movement_kubeconfig_file_activity.toml
  rules/linux/persistence_kubernetes_sensitive_file_activity.toml
  rules/linux/persistence_pluggable_authentication_module_pam_exec_backdoor_exec.toml
  rules/linux/persistence_unusual_exim4_child_process.toml
  rules/linux/privilege_escalation_docker_release_file_creation.toml
  rules/windows/defense_evasion_posh_obfuscation_backtick.toml
  rules/windows/defense_evasion_posh_obfuscation_backtick_var.toml
  rules/windows/defense_evasion_posh_obfuscation_char_arrays.toml
  rules/windows/defense_evasion_posh_obfuscation_concat_dynamic.toml
  rules/windows/defense_evasion_posh_obfuscation_high_number_proportion.toml
  rules/windows/defense_evasion_posh_obfuscation_iex_env_vars_reconstruction.toml
  rules/windows/defense_evasion_posh_obfuscation_iex_string_reconstruction.toml
  rules/windows/defense_evasion_posh_obfuscation_index_reversal.toml
  rules/windows/defense_evasion_posh_obfuscation_reverse_keyword.toml
  rules/windows/defense_evasion_posh_obfuscation_string_concat.toml
  rules/windows/defense_evasion_posh_obfuscation_string_format.toml
  rules/windows/defense_evasion_posh_obfuscation_whitespace_special_proportion.toml
  rules/windows/defense_evasion_run_virt_windowssandbox.toml
  rules/windows/persistence_scheduled_task_updated.toml
Labels: OS: Linux, Rule: Tuning, OS: Windows, Domain: Endpoint, backport: auto, meta:rapid-merge

#4868 [New Rule] TeamFiltration User-Agents Detected
  rules/integrations/azure/credential_access_entra_id_brute_force_activity.toml
  rules/integrations/azure/discovery_teamfiltration_user_agents_detected.toml
Labels: Integration: Azure, Rule: New, Integration: Microsoft 365, backport: auto, Domain: Email, Domain: Data, Domain: Cloud

#4910 Fix variable usage impacting schema build performance
  detection_rules/integrations.py
  pyproject.toml
Labels: bug, python, backport: auto, patch

#4901 [Rule Tuning] AWS IAM API Calls via Temporary Session Tokens
  rules/integrations/aws/persistence_iam_api_calls_via_user_session_token.toml
Labels: Integration: AWS, Rule: Tuning, backport: auto, Team: TRADE, Domain: Cloud

#4904 [Rule Tuning] Sudoers File Modification
  rules/cross-platform/privilege_escalation_sudoers_file_mod.toml
Labels: OS: Linux, Rule: Tuning, community, backport: auto, Team: TRADE

#4911 [New Rule] Unusual Kill Signal
  rules/linux/defense_evasion_unsual_kill_signal.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, Team: TRADE

#4896 [Rule Tuning] Azure Key Vault Modified
  rules/integrations/azure/credential_access_key_vault_modified.toml
  rules/integrations/azure/impact_azure_key_vault_modified.toml
Labels: Integration: Azure, Rule: Tuning, backport: auto, Domain: Identity, Domain: Cloud

#4829 [New Rule] Kubernetes Unusual Decision by User Agent
  rules/integrations/kubernetes/execution_unusual_request_response_by_user_agent.toml
Labels: OS: Linux, Rule: New, backport: auto, Integration: Kubernetes, Team: TRADE

#4892 [Rule Tunings] Reduce Usage of Flattened Fields in AWS Rules
  detection_rules/etc/non-ecs-schema.json
  rules/integrations/aws/credential_access_retrieve_secure_string_parameters_via_ssm.toml
  rules/integrations/aws/defense_evasion_vpc_security_group_ingress_rule_added_for_remote_connections.toml
  rules/integrations/aws/discovery_ec2_deprecated_ami_discovery.toml
  rules/integrations/aws/discovery_ec2_userdata_request_for_ec2_instance.toml
  rules/integrations/aws/execution_ssm_sendcommand_by_rare_user.toml
  rules/integrations/aws/exfiltration_dynamodb_table_exported_to_s3.toml
  rules/integrations/aws/impact_s3_excessive_object_encryption_with_sse_c.toml
  rules/integrations/aws/impact_s3_unusual_object_encryption_with_sse_c.toml
  rules/integrations/aws/persistence_ec2_security_group_configuration_change_detection.toml
  rules/integrations/aws/privilege_escalation_iam_customer_managed_policy_attached_to_role.toml
  rules/integrations/aws/privilege_escalation_iam_update_assume_role_policy.toml
Labels: Integration: AWS, Rule: Tuning, backport: auto, Team: TRADE, Domain: Cloud

#4913 [Rule Deprecation] Deprecated - AWS EC2 Snapshot Activity
  rules/_deprecated/exfiltration_ec2_snapshot_change_activity.toml
Labels: Integration: AWS, Rule: Deprecation, backport: auto, Team: TRADE, Domain: Cloud

#4914 [Rule Tuning] AWS EC2 AMI Shared with Another Account
  rules/integrations/aws/exfiltration_ec2_ami_shared_with_separate_account.toml
Labels: Integration: AWS, Rule: Tuning, backport: auto, Team: TRADE, Domain: Cloud

#4833 [New Rule] Potential Impersonation Attempt via Kubectl
  rules/linux/defense_evasion_potential_kubectl_impersonation.toml
Labels: OS: Linux, Rule: New, Domain: Endpoint, backport: auto, container, Team: TRADE

#4946 [Rule Tuning] Microsoft Azure or Mail Sign-in from a Suspicious Source
  rules/cross-platform/initial_access_azure_o365_with_network_alert.toml
Labels: Integration: Azure, Rule: Tuning, Integration: Microsoft 365, backport: auto, Domain: Identity, Domain: Cloud

#4948 [FR] [DAC] Add existing mitre threat information on import
  detection_rules/cli_utils.py
  pyproject.toml
Labels: bug, python, backport: auto, detections-as-code, meta:rapid-merge, patch
